Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

reduce_pushdown_masks docs
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Support nested structs in rank and dense rank (#8962)
  cpp/CMakeLists.txt
  cpp/src/groupby/sort/group_dense_rank_scan.cu
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/groupby/sort/scan.cpp
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/src/structs/utilities.cpp
  cpp/src/structs/utilities.hpp
  cpp/tests/groupby/rank_scan_tests.cpp
  cpp/tests/reductions/scan_tests.cpp
Due: clang-format

Access children of structs column by sliced child
  cpp/src/lists/drop_list_duplicates.cu
Due: clang-format

init
  cpp/include/cudf/detail/copy.hpp
  cpp/src/copying/slice.cu
  cpp/src/copying/split.cpp
  cpp/src/io/csv/writer_impl.cu
  cpp/src/reductions/reductions.cpp
  cpp/src/transpose/transpose.cu
Due: clang-format

Explicitly disable grouping on LIST.
  cpp/src/groupby/groupby.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/lists_tests.cpp
  cpp/tests/groupby/structs_tests.cpp
Due: clang-format

Add grouped_rolling test for STRUCT groupby keys.
  cpp/tests/rolling/grouped_rolling_test.cpp
Due: clang-format

initial
  cpp/include/cudf/reshape.hpp
  cpp/src/reshape/one_hot_encoding.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/reshape/one_hot_encoding_tests.cpp
Due: clang-format

move metadata comp util to test utils (un-duplicate code)
  cpp/CMakeLists.txt
  cpp/include/cudf_test/io_metadata_utilities.hpp
  cpp/tests/io/metadata_utilities.cpp
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_test.cpp
Due: clang-format

add boolean support w/ missing values
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/tests/test_df_protocol.py
Due: mypy

refactor 'convert_column_to_cupy_ndarray' and replace 'cp.array' to 'cp.asarray' to enforce zero-copy
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/tests/test_df_protocol.py
Due: mypy

Add checks & testcase where min/max stats can be null, if the column is empty
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_orc.py
Due: mypy

Add python-snappy to enable fastavro based tests
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  python/cudf/requirements/cuda-11.0/dev_requirements.txt
  python/cudf/requirements/cuda-11.2/dev_requirements.txt
  python/cudf/setup.py
Due: mypy

Use nvcomp's snappy compressor in parquet writer (#8229)
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_nvcomp.cmake
  cpp/src/io/comp/snap.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
Due: clang-format

Apply suggestions from code review
  python/cudf/cudf/core/udf/lowering.py
  python/cudf/cudf/core/udf/pipeline.py
Due: mypy

change 'copy' to 'allow_copy' code wide
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/tests/test_df_protocol.py
Due: mypy

Fix some libcudf calls not passing the stream parameter (#9220)
  cpp/src/copying/copy.cu
  cpp/src/groupby/sort/group_nunique.cu
  cpp/src/groupby/sort/group_replace_nulls.cu
  cpp/src/lists/combine/concatenate_list_elements.cu
  cpp/src/lists/copying/gather.cu
  cpp/src/merge/merge.cu
  cpp/src/replace/clamp.cu
  cpp/src/replace/replace.cu
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/rolling_detail.cuh
  cpp/src/strings/filling/fill.cu
Due: clang-format

add tests from https://github.com/rapidsai/cudf/pull/9159/
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Due: mypy

address reviews
  python/cudf/cudf/core/udf/api.py
  python/cudf/cudf/core/udf/lowering.py
  python/cudf/cudf/core/udf/pipeline.py
  python/cudf/cudf/core/udf/typing.py
  python/cudf/cudf/utils/cudautils.py
Due: mypy

remove creating buffers if the column has no mask
  python/cudf/cudf/core/frame.py
Due: mypy

Fix indirection operator.
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
Due: clang-format

Optimize `cudf.concat` for `axis=0` (#9222)
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_query.py
Due: mypy

Rewrite doxygen, rename variable, and various other small changes
  cpp/src/lists/drop_list_duplicates.cu
Due: clang-format

Add sliced input test
  cpp/tests/lists/drop_list_duplicates_tests.cpp
Due: clang-format

Apply upstream `gather.cuh`
  cpp/include/cudf/detail/gather.cuh
Due: clang-format

update yaml
  conda/recipes/libcudf/meta.yaml
Due: none

Fix import of api.
  python/cudf/cudf/__init__.py
Due: mypy

Review: Update namespace using directives.
  cpp/tests/rolling/grouped_rolling_test.cpp
Due: clang-format

Misc optimizations in `cudf` (#9203)
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/core/indexing.py
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Due: mypy

newline at EOF
  cpp/include/cudf_test/io_metadata_utilities.hpp
  cpp/tests/io/metadata_utilities.cpp
Due: clang-format

Skipping problematic test in parquet writer
  python/cudf/cudf/tests/test_parquet.py
Due: mypy

include structs in more cpp tests
  cpp/tests/io/orc_test.cpp
Due: clang-format

put buffer back in for blank mask for now
  python/cudf/cudf/core/frame.py
Due: mypy

Update dask_cudf.
  python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/sorting.py
Due: mypy

kernel clean up
  cpp/src/io/orc/stripe_enc.cu
Due: clang-format

Making use of element_equality_operator
  cpp/src/reshape/one_hot_encoding.cu
Due: clang-format

set STRUCT_AGGS to CORRELATION
  python/cudf/cudf/_lib/groupby.pyx
Due: none

Fix offsets with non-zero base
  cpp/src/lists/drop_list_duplicates.cu
Due: clang-format

Fix various missed instances.
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_column.py
Due: mypy

for empty column, ignore child pointers in shallow_hash
  cpp/src/column/column_view.cpp
Due: clang-format

rename is_shallow_equal to is_shallow_equivalent
  cpp/include/cudf/column/column_view.hpp
  cpp/src/column/column_view.cpp
  cpp/tests/column/column_view_shallow_test.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
