Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Address some comments
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
Due: clang-format

Use absolute imports in `cudf` (#8631)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/window/rolling.py
Due: mypy

Fix bug that columns only initialized once when specified `columns` and `index` in dataframe ctor (#8628)
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Add dayofyear and day_of_year to Series, DatetimeColumn, and DatetimeIndex (#8626)
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

Fix assert_eq import
  python/cudf/cudf/tests/test_pack.py
Due: mypy

Fix usage of deprecated arrow ipc API
  java/src/main/native/src/TableJni.cpp
Due: clang-format

Fix usage of deprecated arrow ipc API (#8632)
  java/src/main/native/src/TableJni.cpp
Due: clang-format

Fix for strings containing special JSON characters in get_json_object(). (#8556)
  cpp/src/strings/json/json_path.cu
  cpp/tests/strings/json_tests.cpp
Due: clang-format

struct cols with nulls test
  cpp/tests/copying/copy_if_else_nested_tests.cpp
Due: clang-format

ScalarListLeft nulls
  cpp/tests/copying/copy_if_else_nested_tests.cpp
Due: clang-format

ScalarListRight nulls
  cpp/tests/copying/copy_if_else_nested_tests.cpp
Due: clang-format

Add NVBench in CMake (#8619)
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/cmake/thirdparty/CUDF_GetNVBench.cmake
Due: none

Expose pack/unpack API to Python (#8153)
  cpp/include/cudf/copying.hpp
  python/cudf/cudf/_lib/copying.pxd
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/cpp/copying.pxd
  python/cudf/cudf/tests/test_pack.py
Due: clang-format, mypy

Run hooks again
  python/cudf/cudf/_lib/copying.pxd
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Due: mypy

Finish implementation, no unit tests implemented yet
  cpp/CMakeLists.txt
  cpp/include/cudf/aggregation.hpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_m2.cu
  cpp/src/groupby/sort/group_merge_m2.cu
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/src/groupby/sort/group_std.cu
Due: clang-format

fixed failing test, ready for initial review
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Due: mypy

fixed typo in doxygen
  cpp/include/cudf/strings/capitalize.hpp
Due: clang-format

ListColumn `__setitem__` (#8606)
  python/cudf/cudf/_lib/cpp/scalar/scalar.pxd
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/tests/test_list.py
Due: mypy

update struct creation
  python/cudf/cudf/_lib/scalar.pyx
Due: none

Build fix for CUDA 11.3
  cpp/src/io/json/reader_impl.cu
Due: clang-format

add groupby related apis
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  docs/cudf/source/api_docs/groupby.rst
  docs/cudf/source/api_docs/index.rst
  docs/cudf/source/user_guide/groupby.md
  docs/cudf/source/user_guide/index.rst
  python/cudf/setup.py
Due: mypy

Refactors scattering bitmasks, more tests
  cpp/include/cudf/detail/copy.hpp
  cpp/include/cudf/detail/null_mask.hpp
  cpp/src/copying/scatter.cu
  cpp/tests/copying/scatter_struct_scalar_tests.cpp
Due: clang-format

stupid fix
  cpp/src/io/json/reader_impl.cu
Due: clang-format

ScalarListBothInvalid
  cpp/tests/copying/copy_if_else_nested_tests.cpp
Due: clang-format

suggestions from codereview
  cpp/src/io/json/reader_impl.cu
Due: clang-format

Add Python bindings for `lists::concatenate_list_elements` and expose them as `.list.concat()` (#8006)
  python/cudf/cudf/_lib/cpp/lists/combine.pxd
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/methods.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_list.py
Due: mypy

String-to-boolean conversion is different from Pandas (#8549)
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Due: mypy

Add delimiter parameter to cudf::strings::capitalize() (#8620)
  cpp/include/cudf/strings/capitalize.hpp
  cpp/src/strings/capitalize.cu
  cpp/tests/strings/case_tests.cpp
Due: clang-format

FIX Use dynamically linked arrow
  ci/gpu/java.sh
Due: none

Remove stale includes
  cpp/src/copying/scatter.cu
Due: clang-format

More include fixes
  cpp/src/copying/scatter.cu
  cpp/tests/copying/scatter_struct_scalar_tests.cpp
Due: clang-format

Move to new statistics resource
  cpp/benchmarks/common/memory_tracking_resource.hpp
  cpp/benchmarks/io/csv/csv_reader_benchmark.cpp
  cpp/benchmarks/io/csv/csv_writer_benchmark.cpp
  cpp/benchmarks/io/orc/orc_reader_benchmark.cpp
  cpp/benchmarks/io/orc/orc_writer_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_reader_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_writer_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_writer_chunks_benchmark.cpp
Due: clang-format

update docstring with examples
  python/cudf/cudf/core/dataframe.py
Due: mypy

Ensure pyarrow version is cuda
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/cudf/meta.yaml
Due: none

initial
  ci/gpu/build.sh
Due: none

add error checking
  python/cudf/cudf/core/dataframe.py
Due: mypy

Add cudf_ROOT to cmake
  cpp/examples/build.sh
Due: none

.
  cpp/examples/build.sh
Due: none

list encoding
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
Due: clang-format
