Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Align `DataFrame.apply` signature with pandas (#9275)
  python/cudf/cudf/core/dataframe.py
Due: mypy

Revert "Use nvcomp's snappy compressor in ORC writer (#9242)"
  cpp/src/io/orc/orc_common.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Revert "Add support for struct type in ORC writer (#9025)"
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/io/orc.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/include/cudf/io/types.hpp
  cpp/include/cudf/utilities/bit.hpp
  cpp/include/cudf_test/io_metadata_utilities.hpp
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/tests/io/metadata_utilities.cpp
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_test.cpp
  java/src/main/java/ai/rapids/cudf/ORCWriterOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
  python/cudf/cudf/_lib/cpp/io/orc.pxd
  python/cudf/cudf/_lib/cpp/io/parquet.pxd
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/utils/ioutils.py
Due: clang-format, mypy

Revert "Add shallow hash function and shallow equality comparison for column_view (#9185)"
  cpp/include/cudf/column/column_view.hpp
  cpp/include/cudf/detail/hashing.hpp
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/include/cudf_test/type_lists.hpp
  cpp/src/column/column_view.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/column/column_view_shallow_test.cpp
Due: clang-format

Added deprecation warning for label_encoding
  python/cudf/cudf/core/series.py
Due: mypy

adding cython code for a,A,b,B.
  python/cudf/cudf/_lib/cpp/strings/convert/convert_datetime.pxd
  python/cudf/cudf/_lib/string_casting.pyx
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

Actually add nulls in test
  python/cudf/cudf/tests/test_parquet.py
Due: mypy

Increment null_count while reducing rather than relying on num_rows
  cpp/src/io/statistics/column_statistics.cuh
Due: clang-format

pin max dask & distributed versions
  ci/benchmark/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/custreamz/dev_requirements.txt
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Due: mypy

Fix and test
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/tests/unary/cast_tests.cpp
Due: clang-format

Apply suggestions from code review
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/custreamz/dev_requirements.txt
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Due: mypy

Remove now unused num_rows from statistics chunk
  cpp/src/io/statistics/column_statistics.cuh
  cpp/src/io/statistics/typed_statistics_chunk.cuh
Due: clang-format

make an env var
  ci/benchmark/build.sh
  ci/gpu/build.sh
Due: none

Revert "Add shallow hash function and shallow equality comparison for column_view (#9185)" (#9283)
  cpp/include/cudf/column/column_view.hpp
  cpp/include/cudf/detail/hashing.hpp
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/include/cudf_test/type_lists.hpp
  cpp/src/column/column_view.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/column/column_view_shallow_test.cpp
Due: clang-format

Update python/cudf/cudf/_lib/string_casting.pyx
  python/cudf/cudf/_lib/string_casting.pyx
Due: none

cleanup
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: mypy

fixing mypy issue,making to_iso internal,removing dead code.
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

linting.
  python/cudf/cudf/core/column/datetime.py
Due: mypy

Update python/cudf/cudf/core/index.py
  python/cudf/cudf/core/index.py
Due: mypy

Add docstring for join method.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Updated warning message
  python/cudf/cudf/core/series.py
Due: mypy

Change percentile_approx so null percentiles result in null results (per percentile).
  cpp/src/quantiles/tdigest/tdigest.cu
  cpp/tests/quantiles/percentile_approx_test.cu
Due: clang-format

adding new tests.
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

doc string changes and more params for tests.
  python/cudf/cudf/_lib/string_casting.pyx
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

Apply suggestions from code review
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

isort
  python/cudf/cudf/core/column/datetime.py
Due: mypy

Add tests when the input column contains all empty lists
  cpp/tests/lists/combine/concatenate_rows_tests.cpp
Due: clang-format

Fix bug of accessing element of empty input column
  cpp/src/lists/interleave_columns.cu
Due: clang-format

Pin max `dask` and `distributed` versions to `2021.09.1` (#9286)
  ci/benchmark/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/custreamz/dev_requirements.txt
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Due: mypy

fix docs
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
Due: mypy

Fix logic while parsing the sum statistic for numerical orc columns (#9183)
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_orc.py
Due: mypy

Update cudf timestamps: add types, static asserts and numerical limits + conssistent with cudf durations
  cpp/include/cudf/wrappers/durations.hpp
  cpp/include/cudf/wrappers/timestamps.hpp
Due: clang-format

Fix `interleave_columns` when the input string lists column having empty child column (#9292)
  cpp/src/lists/interleave_columns.cu
  cpp/tests/lists/combine/concatenate_rows_tests.cpp
Due: clang-format

Remove Series.as_index.
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_search.py
Due: mypy

Fix and tests
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/tests/groupby/mean_tests.cpp
Due: clang-format

cpp stripe API; positive tests
  cpp/include/cudf/io/orc.hpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/tests/io/orc_test.cpp
Due: clang-format

cpp stride API
  cpp/include/cudf/io/orc.hpp
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Added deprecation warning for `.label_encoding()` (#9289)
  python/cudf/cudf/core/series.py
Due: mypy

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
