Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Update cpp/tests/rolling/rolling_test.cpp
  cpp/tests/rolling/rolling_test.cpp
Due: clang-format

style
  cpp/tests/rolling/rolling_test.cpp
Due: clang-format

more refactoring
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format

undo cpp doc change
  cpp/include/cudf/datetime.hpp
Due: clang-format

fix set_object_dtypes_from_pa_schema logic
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Due: mypy

comment tweak
  python/dask_cudf/dask_cudf/io/parquet.py
Due: mypy

csv.py update to handle strings
  python/cudf/cudf/io/csv.py
Due: mypy

Leaving things in a broken state for now
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_groupby.py
Due: mypy

black style update to csv.py
  python/cudf/cudf/io/csv.py
Due: mypy

Apply suggestions from code review
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

remove not needed try/except
  python/dask_cudf/dask_cudf/backends.py
Due: mypy

refactor
  python/dask_cudf/dask_cudf/backends.py
Due: mypy

Fix variable name in Java build script
  java/ci/build-in-docker.sh
Due: none

match pandas behavior
  python/cudf/cudf/core/dataframe.py
Due: mypy

Remove redundant if TARGET check in cuco cmake
  cpp/cmake/thirdparty/get_cucollections.cmake
Due: none

TEMPORARY - will revert later
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
  cpp/cmake/thirdparty/CUDF_GetLibcudacxx.cmake
  cpp/src/binaryop/binaryop.cpp
Due: clang-format

Review: Reformatting, polish.
  cpp/src/structs/utilities.hpp
  cpp/tests/structs/utilities_tests.cpp
Due: clang-format

Review: Doxygen.
  cpp/src/structs/utilities.hpp
Due: clang-format

Update python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

Fix `name` drop issue
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

Add decimal precision after reading from parquet files
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/tests/test_parquet.py
Due: mypy

add conditional xfail
  python/cudf/cudf/tests/test_multiindex.py
Due: mypy

detect verflow using min/max; cpp test
  cpp/src/io/statistics/typed_statistics_chunk.cuh
  cpp/tests/io/orc_test.cpp
Due: clang-format

Review: Rephrasing docs.
  cpp/src/structs/utilities.hpp
Due: clang-format

style fix
  cpp/tests/io/orc_test.cpp
Due: clang-format

Fix variable name in Java build script (#9161)
  java/ci/build-in-docker.sh
Due: none

add comment
  cpp/src/io/statistics/typed_statistics_chunk.cuh
Due: clang-format

prep clean up in encode_nested_null_mask
  cpp/src/io/orc/stripe_enc.cu
Due: clang-format

Allow some str freq, update pytest fixture
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

create new PR for pearson groupby correlation
  python/cudf/cudf/_lib/cpp/aggregation.pxd
Due: none

temp commit
  ci/gpu/build.sh
Due: none

fix cufilejni build include path
  java/src/main/native/CMakeLists.txt
Due: none

tmp
  ci/gpu/build.sh
Due: none

Fix cufilejni build include path (#9168)
  java/src/main/native/CMakeLists.txt
Due: none

Reorder logics, more comments
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

created python isocalendar method, added changes in python for new datetime chnages in libcudf.
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

fixing style issues.
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

Update python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/parquet.pyx
Due: none

Superimpose null masks for STRUCT columns. (#9144)
  cpp/src/structs/utilities.cpp
  cpp/src/structs/utilities.hpp
  cpp/tests/structs/utilities_tests.cpp
Due: clang-format
