Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

workflow paragraph update
  CONTRIBUTING.md
Due: none

update `Any contributor` title
  CONTRIBUTING.md
Due: none

remove `build` in `dask-cudf` installation paragraph
  CONTRIBUTING.md
Due: none

Remove `cd $CUDF_HOME` in build-from-source
  CONTRIBUTING.md
Due: none

update other libraries paragraph in build-from-source section
  CONTRIBUTING.md
Due: none

Correct style issues found by ci
  cpp/src/interop/detail/arrow_allocator.cpp
  cpp/src/interop/detail/arrow_allocator.hpp
  cpp/src/interop/to_arrow.cu
Due: clang-format

reeneable parallel cython build
  build.sh
Due: none

Migrate dask-cudf CudfEngine to leverage ArrowDatasetEngine (#8871)
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Due: mypy

Add `DecimalBaseColumn` and move `as_decimal_column` (#9001)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/tests/test_decimal.py
Due: mypy

handle nested dicts in groupby operations
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

Remove duplicate `set_categories` code (#9018)
  python/cudf/cudf/core/column/categorical.py
Due: mypy

Rename JoinKind and swap operator LESS_EQUAL for operator LESS.
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join_kernels.cuh
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

emphasis on cudf_dev_cuda*.yml
  CONTRIBUTING.md
Due: none

Avoid rebuilding cython in build.sh (#9034)
  build.sh
Due: none

Consolidated try-except blocks into single block, and implemented appropriate error handling
  python/dask_cudf/dask_cudf/accessors.py
Due: mypy

Use indexalator for scalar too.
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

add step in dask_cudf install
  CONTRIBUTING.md
Due: none

Change operator back to LESS.
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

Fix nested dict redirect case
  python/dask_cudf/dask_cudf/groupby.py
Due: mypy

replace update_target_element with reduce_by_key in sort groupby
  cpp/benchmarks/groupby/group_sum_benchmark.cu
  cpp/src/groupby/sort/group_argmax.cu
  cpp/src/groupby/sort/group_argmin.cu
  cpp/src/groupby/sort/group_max.cu
  cpp/src/groupby/sort/group_min.cu
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
Due: clang-format

Fixed index failed cases
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/utils/dtypes.py
Due: mypy

ENH Allow arbitrary CMake config options in build.sh (#8996)
  build.sh
Due: none

Remove unnecessary copy
  python/dask_cudf/dask_cudf/groupby.py
Due: mypy

Generate aggs and res_cols in one loop
  python/dask_cudf/dask_cudf/groupby.py
Due: mypy

Fix recursive call in _is_supported
  python/dask_cudf/dask_cudf/groupby.py
Due: mypy

Expose conditional join size calculation (#8928)
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/include/cudf/join.hpp
  cpp/include/cudf/transform.hpp
  cpp/src/ast/expression_parser.cpp
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join.cuh
  cpp/src/join/conditional_join.hpp
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/transform/compute_column.cu
  cpp/tests/join/conditional_join_tests.cu
  java/src/test/java/ai/rapids/cudf/ast/CompiledExpressionTest.java
Due: clang-format

addressed review comments
  cpp/tests/io/csv_test.cpp
Due: clang-format

Use correct index when returning Series from `GroupBy.apply()` (#9016)
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Due: mypy

Make sure to grab all aggs from normalized spec
  python/dask_cudf/dask_cudf/groupby.py
Due: mypy

Various multiindex related fixes
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_multiindex.py
Due: mypy

Fix memory read error in get_dremel_data in page_enc.cu (#8995)
  cpp/src/io/parquet/page_enc.cu
Due: clang-format

Fix duplicate name handling in multiindex ctor
  python/cudf/cudf/core/multiindex.py
Due: mypy

Map support for ParquetWriter (#9013)
  cpp/src/io/parquet/writer_impl.cu
  java/pom.xml
  java/src/main/java/ai/rapids/cudf/ParquetColumnWriterOptions.java
  java/src/main/java/ai/rapids/cudf/ParquetWriterOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: clang-format

support lists of dictionaries
  python/cudf/cudf/core/dtypes.py
Due: mypy

Fix cuda-memcheck errors for some libcudf functions (#8941)
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/utilities/parsing_utils.cuh
  cpp/src/quantiles/quantiles_util.hpp
  cpp/src/strings/convert/convert_durations.cu
  cpp/src/text/subword/subword_tokenize.cu
Due: clang-format

change dtype extraction logic
  python/cudf/cudf/_lib/csv.pyx
Due: none

use correct namespace in cuio code examples
  cpp/include/cudf/io/avro.hpp
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/json.hpp
  cpp/include/cudf/io/orc.hpp
  cpp/include/cudf/io/parquet.hpp
Due: clang-format

remove extra ... in code example
  cpp/include/cudf/io/avro.hpp
  cpp/include/cudf/io/json.hpp
  cpp/include/cudf/io/orc.hpp
  cpp/include/cudf/io/parquet.hpp
Due: clang-format

Remove detail header for expressions and move node class out of detail namespace.
  cpp/include/cudf/ast/detail/expressions.hpp
  cpp/include/cudf/ast/expressions.hpp
  cpp/src/ast/expression_parser.cpp
  cpp/src/ast/nodes.cpp
Due: clang-format
