Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

update conf.py
  docs/cudf/source/conf.py
Due: mypy

Address PR comments.
  cpp/include/cudf/ast/detail/expression_parser.hpp
Due: clang-format

clean up multibyte_split code
  cpp/include/cudf/io/text/data_chunk_source.hpp
  cpp/include/cudf/io/text/data_chunk_source_factories.hpp
  cpp/include/cudf/io/text/multibyte_split.hpp
  cpp/include/cudf/io/text/multistate.hpp
  cpp/include/cudf/io/text/superstate.hpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/io/text/superstate_test.cpp
  cpp/tests/io/text/trie_test.cpp
Due: clang-format

adjust copyright
  cpp/benchmarks/io/text/multibyte_split_benchmark.cpp
  cpp/include/cudf/io/text/trie.hpp
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

remove confusing test case in multibyte_split
  cpp/include/cudf/io/text/trie.hpp
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

fix decimal creation
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_decimal.py
Due: mypy

add error tests
  python/cudf/cudf/tests/test_decimal.py
Due: mypy

Add missing include<optional> in binops (#8864)
  cpp/src/binaryop/compiled/util.cpp
Due: clang-format

use column instead of iterator for detail::gather call
  cpp/src/join/semi_join.cu
Due: clang-format

warnings for valid `kind` values
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_sorting.py
Due: mypy

Apply suggestions from code review
  python/cudf/cudf/core/dataframe.py
Due: mypy

remove try/except
  python/cudf/cudf/core/column/column.py
Due: mypy

Fix all instances of west const.
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/include/cudf/ast/nodes.hpp
  cpp/src/ast/expression_parser.cpp
  cpp/src/join/conditional_join.cuh
  cpp/src/join/conditional_join_kernels.cuh
Due: clang-format

Apply suggestions from code review
  cpp/include/cudf/datetime.hpp
Due: clang-format

make all nvcc warnings into errors
  cpp/cmake/Modules/ConfigureCUDA.cmake
Due: none

apply reviews
  cpp/tests/datetime/datetime_ops_test.cpp
Due: clang-format

Avoid index equality check in from_py_table
  python/cudf/cudf/_lib/copying.pyx
Due: none

Add Cython bindings to new date_range
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/datetime.pyx
Due: none

Make add_calendrical_months_functor_impl not a functor
  cpp/include/cudf/detail/date_offsets.cuh
  cpp/include/cudf/detail/datetime_ops.cuh
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

Rename add_calendrical_months_functor_impl -> add_calendrical_months_impl
  cpp/include/cudf/detail/date_offsets.cuh
  cpp/include/cudf/detail/datetime_ops.cuh
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

Update cpp/include/cudf/datetime.hpp
  cpp/include/cudf/datetime.hpp
Due: clang-format

added test for large inputs
  cpp/tests/interop/to_arrow_test.cpp
Due: clang-format

move more inline utilities to join_utils.cu
  cpp/CMakeLists.txt
  cpp/src/join/join.cu
  cpp/src/join/join_common_utils.cuh
  cpp/src/join/join_utils.cu
Due: clang-format

Remove join kernels
  cpp/src/join/join_kernels.cuh
Due: clang-format

Go back to a functor
  cpp/include/cudf/detail/date_offsets.cuh
  cpp/include/cudf/detail/datetime_ops.cuh
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

test tweak
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Due: mypy

Revert "Rename add_calendrical_months_functor_impl -> add_calendrical_months_impl"
  cpp/include/cudf/detail/date_offsets.cuh
  cpp/include/cudf/detail/datetime_ops.cuh
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

Revert "Go back to a functor"
  cpp/include/cudf/detail/date_offsets.cuh
  cpp/include/cudf/detail/datetime_ops.cuh
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

Avoid index equality check in `_CPackedColumns.from_py_table()` (#8917)
  python/cudf/cudf/_lib/copying.pyx
Due: none

generate default column names
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Due: clang-format

fix Index
  docs/cudf/source/api_docs/index_objects.rst
  docs/cudf/source/conf.py
Due: mypy

initial python api
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

limit multibyte_split to 32 threads, because of a bug that needs fixing. add overlapping matches test, which also fails
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

fix error in docs
  docs/cudf/source/api_docs/dataframe.rst
  docs/cudf/source/api_docs/groupby.rst
  docs/cudf/source/api_docs/index_objects.rst
  docs/cudf/source/api_docs/series.rst
  docs/cudf/source/user_guide/index.rst
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
Due: mypy

fix emoji bits documentation
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

binary ops ref fix
  cpp/src/binaryop/compiled/binary_ops.cu
Due: clang-format

zero size list disable scatter_if
  cpp/tests/utilities/column_utilities.cu
Due: clang-format

char column size fix in unit test
  cpp/tests/copying/concatenate_tests.cu
Due: clang-format

Use exclusive scan instead of inclusive scan
  cpp/src/strings/convert/convert_urls.cu
Due: clang-format

Make immutable variables const
  cpp/src/strings/convert/convert_urls.cu
Due: clang-format

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
