Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Update python/cudf/cudf/tests/test_dtypes.py
  python/cudf/cudf/tests/test_dtypes.py
Due: mypy

reviews
  python/cudf/cudf/core/index.py
Due: mypy

Handle the case where another CMake library has introduced the arrow targets before cuDF
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/CUDF_GetArrow.cmake
Due: none

cudf.NA fix
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Fix memory read/write error in concatenate_lists_ignore_null
  cpp/src/lists/combine/concatenate_list_elements.cu
Due: clang-format

Merge tdigest aggregation working fully.
  cpp/include/cudf/detail/copy.hpp
  cpp/src/copying/slice.cu
  cpp/src/groupby/sort/group_tdigest.cu
Due: clang-format

Series string repeat (#8882)
  python/cudf/cudf/_lib/cpp/strings/repeat.pxd
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/_lib/strings/repeat.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Due: mypy

fix compile error
  cpp/tests/io/csv_test.cpp
Due: clang-format

fix out-of-bounds when size==0 in select_quantile_data
  cpp/src/quantiles/quantiles_util.hpp
Due: clang-format

Build breakage caused by merge
  cpp/src/io/parquet/chunk_dict.cu
Due: clang-format

Fix debug compile error for csv_test.cpp
  cpp/tests/io/csv_test.cpp
Due: clang-format

Fix concatenation of `cudf.RangeIndex` (#8970)
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Due: mypy

Add join size to tests.
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

frame._column_names + test update
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Cleanup and documentation.
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/copy.hpp
  cpp/include/cudf/detail/merge.cuh
  cpp/include/cudf/detail/quantiles.hpp
  cpp/include/cudf/detail/sorting.hpp
  cpp/include/cudf/quantiles.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/copying/slice.cu
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/src/groupby/sort/group_tdigest.cu
  cpp/src/quantiles/quantiles.cu
Due: clang-format

Use make_transform_iterator instead of naive declarations
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
Due: clang-format

remove modindex
  docs/cudf/source/index.rst
Due: none

style update
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

change assert to ASSERT_EQ or ASSERT_TRUE
  cpp/tests/io/csv_test.cpp
Due: clang-format

undo csv_test.cpp change
  cpp/tests/io/csv_test.cpp
Due: clang-format

added ceil for all resolutions
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/wrappers/durations.hpp
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

Fix bug in test spec.
  cpp/src/join/conditional_join.cu
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

fix API page content
  docs/cudf/source/api_docs/index.rst
Due: none

fix UB in multibyte_split concurrent kernel execution, improve perf
  cpp/include/cudf/io/text/detail/tile_state.hpp
  cpp/include/cudf/io/text/multibyte_split.hpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

fix
  cpp/src/structs/copying/concatenate.cu
Due: clang-format

Add deprecation warning for `Series.set_mask` API (#8943)
  python/cudf/cudf/core/series.py
Due: mypy

add error messages to multibyte_split to indicate unsupported use cases
  cpp/include/cudf/io/text/detail/multistate.hpp
  cpp/include/cudf/io/text/detail/trie.hpp
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

Fix debug compile error for csv_test.cpp (#8981)
  cpp/tests/io/csv_test.cpp
Due: clang-format

Fix concatenate empty structs (#8947)
  cpp/src/structs/copying/concatenate.cu
  cpp/tests/copying/concatenate_tests.cu
Due: clang-format

reuse row_size_iter
  cpp/tests/utilities/column_utilities.cu
Due: clang-format

testing
  cpp/include/cudf/transform.hpp
  cpp/src/transform/transform.cpp
  python/cudf/cudf/_lib/cpp/transform.pxd
  python/cudf/cudf/_lib/transform.pyx
Due: clang-format

address review
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_interpolate.py
Due: mypy

Update python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/frame.py
Due: mypy

Confirming that newest version fixes CI for pascal
  cpp/src/io/parquet/chunk_dict.cu
Due: clang-format

Make Java AstNode public (#8953)
  java/src/main/java/ai/rapids/cudf/ast/AstNode.java
Due: none

Java conditional joins should not require matching column counts (#8955)
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

A small optimization for JNI copy column view to column vector
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
Due: none

Fix concatenation of `cudf.RangeIndex` (#8970) (#8984)
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Due: mypy

Add cuIO plumbing for read_text
  cpp/CMakeLists.txt
  cpp/include/cudf/io/detail/text.hpp
  cpp/include/cudf/io/text.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/text/reader_impl.cu
  cpp/src/io/text/reader_impl.hpp
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/cpp/io/text.pxd
  python/cudf/cudf/_lib/text.pyx
  python/cudf/cudf/io/__init__.py
  python/cudf/cudf/io/text.py
  python/cudf/cudf/utils/ioutils.py
Due: clang-format, mypy

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
