Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Move function under transform
  cpp/CMakeLists.txt
  cpp/include/cudf/transform.hpp
  cpp/src/transform/one_hot_encode.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/transform/one_hot_encode_tests.cpp
Due: clang-format

Remove reshape header
  cpp/include/cudf/reshape.hpp
Due: clang-format

writer clean up pt1
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Fix last erroneous replacement.
  python/cudf/cudf/core/frame.py
Due: mypy

Row equality checks moved to row_equality_comparator.
  cpp/include/cudf/table/row_operators.cuh
  cpp/src/groupby/groupby.cu
Due: clang-format

Add parameter to allow user to specify output column type for percentile_approx. Properly handle fixed-point when generating tdigests. Add tests.
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/quantiles.hpp
  cpp/include/cudf/detail/tdigest/tdigest.hpp
  cpp/include/cudf/quantiles.hpp
  cpp/src/groupby/sort/group_tdigest.cu
  cpp/src/quantiles/tdigest/tdigest.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/tdigest_tests.cu
Due: clang-format

Initial python bindings and handling zero inputs on cpp side
  cpp/src/transform/one_hot_encode.cu
  cpp/tests/transform/one_hot_encode_tests.cpp
  python/cudf/cudf/_lib/cpp/reshape.pxd
  python/cudf/cudf/_lib/cpp/transform.pxd
  python/cudf/cudf/_lib/reshape.pyx
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/core/series.py
Due: clang-format, mypy

Docstrings, remove unused header, add error message to over size limitation case
  cpp/include/cudf/reshape.hpp
  cpp/include/cudf/transform.hpp
  python/cudf/cudf/core/series.py
Due: clang-format, mypy

Add missing param and throw message
  cpp/include/cudf/transform.hpp
Due: clang-format

writer clean up pt2
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Fix Java build after ORC struct write change
  java/src/main/java/ai/rapids/cudf/ORCWriterOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: clang-format

Temporarily disabling problematic test in parquet writer (#9230)
  python/cudf/cudf/tests/test_parquet.py
Due: mypy

Fix incorrect change in dask_cudf.
  python/dask_cudf/dask_cudf/io/parquet.py
Due: mypy

Address PR review comments.
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/quantiles.hpp
  cpp/src/groupby/sort/group_tdigest.cu
  cpp/src/quantiles/tdigest/tdigest.cu
Due: clang-format

Comment update.
  cpp/include/cudf/aggregation.hpp
Due: clang-format

optimize DataFrame.sort_index
  python/cudf/cudf/core/dataframe.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Due: mypy

Moved equality_comparable checks back to groupby.
  cpp/include/cudf/table/row_operators.cuh
  cpp/src/groupby/groupby.cu
Due: clang-format

Add grouped_rolling test with STRUCT groupby keys. (#9228)
  cpp/tests/rolling/grouped_rolling_test.cpp
Due: clang-format

Remove Cython APIs for table view generation (#9199)
  python/cudf/cudf/_lib/concat.pyx
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/filling.pyx
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/_lib/hash.pyx
  python/cudf/cudf/_lib/interop.pyx
  python/cudf/cudf/_lib/join.pyx
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/_lib/merge.pyx
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/partitioning.pyx
  python/cudf/cudf/_lib/quantiles.pyx
  python/cudf/cudf/_lib/reshape.pyx
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/_lib/search.pyx
  python/cudf/cudf/_lib/sort.pyx
  python/cudf/cudf/_lib/stream_compaction.pyx
  python/cudf/cudf/_lib/strings/combine.pyx
  python/cudf/cudf/_lib/table.pxd
  python/cudf/cudf/_lib/table.pyx
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/_lib/transpose.pyx
  python/cudf/cudf/_lib/utils.pxd
  python/cudf/cudf/_lib/utils.pyx
Due: none

Use nvcomp's snappy decompression in parquet reader (#8252)
  cpp/src/io/parquet/reader_impl.cu
Due: clang-format

Apply review comments, and remove stale change in reshape.pyx
  cpp/src/transform/one_hot_encode.cu
  python/cudf/cudf/_lib/reshape.pyx
Due: clang-format

Add python bindings to fixed-size window and groupby `rolling.var`, `rolling.std` (#9097)
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/rolling.pyx
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_rolling.py
Due: mypy

Always ignore index.
  python/cudf/cudf/core/multiindex.py
Due: mypy

Support scalar `months` in `add_calendrical_months`, extends API to INT32 support (#8991)
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/detail/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
  cpp/tests/datetime/datetime_ops_test.cpp
Due: clang-format

updates and null handling
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format

precision; null mask offset
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

fix sort_index
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_sorting.py
Due: mypy

doc
  python/cudf/cudf/core/frame.py
Due: mypy

legacy_transfer fix
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/utils/ioutils.py
Due: mypy

Fix out-of-bounds memory read in orc gpuEncodeOrcColumnData (#9196)
  cpp/include/cudf/column/column_device_view.cuh
  cpp/src/io/orc/stripe_enc.cu
Due: clang-format

Name "labels" as "categories", add detail interface
  cpp/include/cudf/detail/transform.hpp
  cpp/include/cudf/transform.hpp
  cpp/src/transform/one_hot_encode.cu
Due: clang-format

const dec a few things, remove default mr
  cpp/src/transform/one_hot_encode.cu
Due: clang-format

Update cpp/include/cudf/transform.hpp
  cpp/include/cudf/transform.hpp
Due: clang-format

updates per review
  python/cudf/cudf/_lib/text.pyx
  python/cudf/cudf/io/text.py
  python/cudf/cudf/tests/test_text.py
  python/cudf/cudf/utils/ioutils.py
Due: mypy

rename bit_is_set_or
  cpp/include/cudf/utilities/bit.hpp
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Remove unnecessary call to device_uvector::release()
  cpp/include/cudf/lists/detail/gather.cuh
Due: clang-format

added ctypedef correlation_type. need to add tests
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/cpp/aggregation.pxd
Due: none

More refactoring of `splits` usage
  cpp/src/copying/sample.cu
  cpp/src/dictionary/encode.cu
  cpp/src/strings/copying/copying.cu
  cpp/src/strings/copying/shift.cu
Due: clang-format

add tests
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
