Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

nested types statistics
  cpp/src/io/statistics/column_statistics.cuh
  cpp/src/io/statistics/statistics_type_identification.cuh
  cpp/src/io/statistics/typed_statistics_chunk.cuh
Due: clang-format

restore tests
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_repr.py
Due: mypy

change to conda
  ci/cpu/build.sh
Due: none

version
  conda/recipes/libcudf_kafka/meta.yaml
Due: none

Support MERGE_LISTS and MERGE_SETS in Java package (#8516)
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/native/src/AggregationJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: clang-format

.
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
Due: mypy

add build number
  conda/recipes/libcudf_kafka/meta.yaml
Due: none

restore tests
  python/cudf/cudf/tests/test_replace.py
Due: mypy

conda
  conda/recipes/libcudf_kafka/meta.yaml
Due: none

added str_to_boolean method
  python/cudf/cudf/core/column/string.py
Due: mypy

Additional formatting
  cpp/include/cudf/io/csv.hpp
  cpp/src/io/csv/reader_impl.cu
  cpp/tests/copying/pack_tests.cpp
Due: clang-format

test
  conda/recipes/libcudf_kafka/meta.yaml
Due: none

Align macros
  cpp/benchmarks/reduction/anyall_benchmark.cpp
  cpp/benchmarks/reduction/dictionary_benchmark.cpp
  cpp/benchmarks/reduction/minmax_benchmark.cpp
  cpp/benchmarks/reduction/reduce_benchmark.cpp
  cpp/benchmarks/stream_compaction/drop_duplicates_benchmark.cpp
  cpp/include/cudf/types.hpp
  cpp/include/cudf/utilities/error.hpp
  cpp/include/cudf_test/cudf_gtest.hpp
  cpp/src/io/comp/cpu_unbz2.cpp
  cpp/src/io/comp/unbz2.h
  cpp/tests/groupby/collect_set_tests.cpp
Due: clang-format

unpin librdkafka
  conda/recipes/libcudf_kafka/meta.yaml
Due: none

Changes to .clang-format file
  cpp/.clang-format
Due: none

Run pre-commit hooks again
  java/src/main/native/src/AggregationJni.cpp
Due: clang-format

Retain old import style with isort skip
  python/dask_cudf/dask_cudf/io/tests/test_json.py
Due: mypy

Not using pointers for more clearer code
  cpp/src/copying/get_element.cu
Due: clang-format

list scalar test
  cpp/tests/copying/copy_if_else_nested_tests.cpp
Due: clang-format

more list scalar tests
  cpp/tests/copying/copy_if_else_nested_tests.cpp
Due: clang-format

split comparison ops to seperate files (for performance improvement)
  cpp/CMakeLists.txt
  cpp/src/binaryop/compiled/Greater.cu
  cpp/src/binaryop/compiled/GreaterEqual.cu
  cpp/src/binaryop/compiled/Less.cu
  cpp/src/binaryop/compiled/LessEqual.cu
  cpp/src/binaryop/compiled/binops_custom.cu
  cpp/src/binaryop/compiled/comparison_ops.cu
Due: clang-format

fixing style issues.
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/series.py
Due: mypy

replace store_as_result with is_bool_result()
  cpp/src/binaryop/compiled/binops_custom.cuh
  cpp/src/binaryop/compiled/equality_ops.cu
Due: clang-format

Fix missed renumbering of Aggregation values
  java/src/main/native/src/AggregationJni.cpp
Due: clang-format

refactor as_device_scalar
  python/cudf/cudf/_lib/scalar.pyx
Due: none

Fix missed renumbering of Aggregation values (#8600)
  java/src/main/native/src/AggregationJni.cpp
Due: clang-format

Addressed review comments
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/NaNEquality.java
  java/src/main/java/ai/rapids/cudf/NullEquality.java
  java/src/main/java/ai/rapids/cudf/NullPolicy.java
  java/src/main/java/ai/rapids/cudf/ReplacePolicy.java
  java/src/main/java/ai/rapids/cudf/ScanType.java
Due: none

Add aggregation definitions
  cpp/include/cudf/aggregation.hpp
Due: clang-format

fix logic error in while loop
  cpp/include/cudf/strings/string_view.cuh
Due: clang-format

add -G option in dev guide
  cpp/docs/DEVELOPER_GUIDE.md
Due: none

add more brackets
  cpp/src/strings/replace/backref_re.cuh
Due: clang-format

Update cpp/src/copying/get_element.cu
  cpp/src/copying/get_element.cu
Due: clang-format

bump librdkafka
  ci/gpu/build.sh
  conda/recipes/libcudf_kafka/meta.yaml
  python/cudf/cudf/tests/test_cuda_array_interface.py
Due: mypy

Added test cases
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_struct.py
Due: mypy

Bump copyright on affected files
  cpp/libcudf_kafka/tests/kafka_consumer_tests.cpp
  cpp/scripts/run-clang-format.py
  java/src/main/native/src/HostMemoryBufferNativeUtilsJni.cpp
  java/src/main/native/src/NvcompJni.cpp
  java/src/main/native/src/NvtxRangeJni.cpp
  python/cudf/cudf/_lib/cpp/strings/extract.pxd
Due: clang-format, mypy

Reenabled example Cmake CUDA due to cmake 3.22 bug
  cpp/examples/basic/CMakeLists.txt
Due: none

move definition of string_character_types OR operators to .cu
  cpp/include/cudf/strings/char_types/char_types.hpp
  cpp/src/strings/char_types/char_types.cu
Due: clang-format

Add sequence_type parameter to cudf::strings::title function
  cpp/include/cudf/strings/capitalize.hpp
  cpp/src/strings/capitalize.cu
  cpp/tests/strings/case_tests.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
