Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Remove header that was accidentally included in the rebase.
  cpp/include/cudf/ast/detail/evaluator.cuh
Due: clang-format

Implemented some suggestions from Rick Zamora; thank you, Rickgit status
  python/dask_cudf/dask_cudf/accessors.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Due: mypy

Fix meta.yaml.
  conda/recipes/libcudf/meta.yaml
Due: none

Gtests
  cpp/src/io/parquet/reader_impl.cu
  cpp/tests/io/parquet_test.cpp
Due: clang-format

Fix formatting.
  cpp/include/cudf/ast/nodes.hpp
  cpp/src/ast/expression_parser.cpp
  cpp/src/join/conditional_join.cuh
Due: clang-format

replace device_pointer with get_value
  cpp/src/strings/copying/concatenate.cu
  cpp/tests/scalar/scalar_test.cpp
Due: clang-format

Apply suggestions from code review
  cpp/src/rolling/rolling_detail.cuh
  cpp/tests/rolling/rolling_test.cpp
Due: clang-format

Apply suggestions from code review
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

docs, address review comments
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

Enable casting to pandas nullable dtypes (#8889)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_joining.py
Due: mypy

Add a test for decimal32 to_arrow in libcudf
  cpp/tests/interop/to_arrow_test.cpp
Due: clang-format

Move structs_column_tests.cu to .cpp.
  cpp/tests/CMakeLists.txt
  cpp/tests/structs/structs_column_tests.cpp
Due: clang-format

datetime_ops cleanups, use last impl
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

added deciaml32 implem. of pyarrow
  cpp/src/interop/to_arrow.cu
  cpp/tests/interop/to_arrow_test.cpp
Due: clang-format

Add Java bindings for conditional join gather maps (#8888)
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/ast/CompiledExpression.java
  java/src/main/native/src/CompiledExpression.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/main/native/src/jni_compiled_expr.hpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: clang-format

Remove outdated TODO
  cpp/include/cudf/ast/nodes.hpp
Due: clang-format

copyright update
  python/cudf/cudf/_lib/cpp/strings/repeat.pxd
  python/cudf/cudf/_lib/strings/repeat.pyx
Due: none

metadata
  cpp/tests/io/orc_test.cpp
Due: clang-format

Added tests to ensure correct errors being raised when accessing non-existent struct fields
  python/cudf/cudf/tests/test_struct.py
Due: mypy

Rename FixedPointTestBothReps
  cpp/tests/binaryop/binop-integration-test.cpp
  cpp/tests/copying/concatenate_tests.cu
  cpp/tests/copying/scatter_tests.cpp
  cpp/tests/fixed_point/fixed_point_tests.cpp
  cpp/tests/fixed_point/fixed_point_tests.cu
  cpp/tests/groupby/count_scan_tests.cpp
  cpp/tests/groupby/count_tests.cpp
  cpp/tests/groupby/max_scan_tests.cpp
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/min_scan_tests.cpp
  cpp/tests/groupby/min_tests.cpp
  cpp/tests/groupby/sum_scan_tests.cpp
  cpp/tests/groupby/sum_tests.cpp
  cpp/tests/merge/merge_test.cpp
  cpp/tests/reductions/reduction_tests.cpp
  cpp/tests/replace/replace_tests.cpp
  cpp/tests/reshape/interleave_columns_tests.cpp
  cpp/tests/search/search_test.cpp
  cpp/tests/sort/sort_test.cpp
Due: clang-format

Move `structs_column_tests.cu` to `.cpp`. (#8902)
  cpp/tests/CMakeLists.txt
  cpp/tests/structs/structs_column_tests.cpp
Due: clang-format

chunked metadata test fix; nullable getter fix
  cpp/src/io/orc/writer_impl.cu
  cpp/tests/io/orc_test.cpp
Due: clang-format

add list column to a metadata test
  cpp/tests/io/orc_test.cpp
Due: clang-format

Refactor probe_join_hash_table and get_full_join_size to use cuco multimap
  cpp/src/join/hash_join.cu
Due: clang-format

Cleanups: get rid of join kernels
  cpp/src/join/hash_join.cuh
  cpp/src/join/join_kernels.cuh
Due: clang-format

Add groupby_aggregation and groupby_scan_aggregation classes and force their usage when calling the groupby object.
  cpp/benchmarks/groupby/group_nth_benchmark.cu
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/groupby.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/common/utils.hpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/sort/scan.cpp
  cpp/src/io/json/reader_impl.cu
  cpp/tests/groupby/argmax_tests.cpp
  cpp/tests/groupby/argmin_tests.cpp
  cpp/tests/groupby/collect_list_tests.cpp
  cpp/tests/groupby/collect_set_tests.cpp
  cpp/tests/groupby/count_scan_tests.cpp
  cpp/tests/groupby/count_tests.cpp
  cpp/tests/groupby/groupby_test_util.hpp
  cpp/tests/groupby/keys_tests.cpp
  cpp/tests/groupby/m2_tests.cpp
  cpp/tests/groupby/max_scan_tests.cpp
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/mean_tests.cpp
  cpp/tests/groupby/median_tests.cpp
  cpp/tests/groupby/merge_lists_tests.cpp
  cpp/tests/groupby/merge_m2_tests.cpp
  cpp/tests/groupby/merge_sets_tests.cpp
  cpp/tests/groupby/min_scan_tests.cpp
  cpp/tests/groupby/min_tests.cpp
  cpp/tests/groupby/nth_element_tests.cpp
  cpp/tests/groupby/nunique_tests.cpp
  cpp/tests/groupby/product_tests.cpp
  cpp/tests/groupby/quantile_tests.cpp
  cpp/tests/groupby/rank_scan_tests.cpp
  cpp/tests/groupby/std_tests.cpp
  cpp/tests/groupby/sum_of_squares_tests.cpp
  cpp/tests/groupby/sum_scan_tests.cpp
  cpp/tests/groupby/sum_tests.cpp
  cpp/tests/groupby/var_tests.cpp
Due: clang-format

Move template param to function param in cudf::detail::left_semi_anti_join
  cpp/src/join/semi_join.cu
Due: clang-format

make is_trivial_join utility not inline
  cpp/src/join/join.cu
  cpp/src/join/join_common_utils.hpp
Due: clang-format

updates with ymdl implementation
  cpp/src/datetime/datetime_ops.cu
  cpp/tests/datetime/datetime_ops_test.cpp
Due: clang-format

Revert "add list column to a metadata test"
  cpp/tests/io/orc_test.cpp
Due: clang-format

header cleanup
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

Add nan tests
  cpp/tests/rolling/rolling_test.cpp
Due: clang-format

refactor regular and chunked orc writer options
  python/cudf/cudf/_lib/cpp/io/orc.pxd
  python/cudf/cudf/_lib/orc.pyx
Due: none

Remove auto generated column test
  cpp/tests/rolling/rolling_test.cpp
Due: clang-format

add the metadata + list test again
  cpp/tests/io/orc_test.cpp
Due: clang-format

add index template
  docs/cudf/source/_templates/autosummary/class_without_autosummary.rst
  docs/cudf/source/api_docs/index_objects.rst
  docs/cudf/source/conf.py
Due: mypy

upgrade arrow
  ci/cpu/build.sh
  ci/gpu/build.sh
  ci/gpu/java.sh
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
  cpp/cmake/thirdparty/CUDF_GetArrow.cmake
Due: none

First pass at adding dot binop
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_binops.py
Due: mypy

misc
  docs/cudf/source/api_docs/dataframe.rst
  docs/cudf/source/conf.py
Due: mypy

add docstrings
  python/cudf/cudf/core/index.py
Due: mypy
