Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

re-committing from before
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/utils/dtypes.py
Due: mypy

FIX Generalize error message, simplify formatting check
  build.sh
Due: none

More cmake review fixes
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/CUDF_GetcuCollections.cmake
Due: none

Remove _copy_construct factory (#8999)
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/window/rolling.py
Due: mypy

Replace allocate with device_uvector for subword_tokenize internal tables (#8952)
  cpp/src/text/subword/load_hash_file.cu
Due: clang-format

saving state
  python/dask_cudf/dask_cudf/io/orc.py
Due: mypy

.
  cpp/tests/io/csv_test.cpp
Due: clang-format

More cmake fix
  cpp/CMakeLists.txt
Due: none

Add another assert in pop
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Review fix for pytest
  python/cudf/cudf/tests/test_parquet.py
Due: mypy

Reenable cumulative ops for axis 1 correctly.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Move scan implementation up to Frame and reuse for DataFrame.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy

Stop expecting axis=1 to fail.
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Unify scan implementations for Series.
  python/cudf/cudf/core/series.py
Due: mypy

Document axis, initial implementation of DataFrame._scan.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Enable axis=1 for scans.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Move Series scan impl to SingleColumnFrame to enable for Index types.
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy

Move all scan implementations into Frame.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy

up and running!
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/reductions/scan/scan.cuh
  cpp/src/reductions/scan/scan_inclusive.cu
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/cpp/aggregation.pxd
  python/cudf/cudf/core/window/ewm.py
Due: clang-format, mypy

Resolve circular import issues
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/_lib/string_casting.pyx
  python/cudf/cudf/_lib/strings/convert/convert_fixed_point.pyx
  python/cudf/cudf/_lib/table.pyx
  python/cudf/cudf/core/column/categorical.py
Due: mypy

Allow `where()` to work with a Series and `other=cudf.NA` (#9019)
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/utils/dtypes.py
Due: mypy

Passing categorical.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_categorical.py
Due: mypy

Add axis=1 tests and get most of them working.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Get all possible axis=1 tests working and filter properly.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

final isort changes
  python/cudf/cudf/_lib/io/datasource.pxd
  python/cudf/cudf/_lib/io/datasource.pyx
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/io/csv.py
Due: mypy

Fixed `cut`, now on index
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/cut.py
  python/cudf/cudf/tests/test_index.py
Due: mypy

docs
  cpp/include/cudf/datetime.hpp
Due: clang-format

Finished implementation, test failing
  cpp/tests/io/csv_test.cpp
Due: clang-format

fetch correct grouping keys
  python/dask_cudf/dask_cudf/groupby.py
Due: mypy

generate nested column names; footer subtypes
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Due: clang-format

linting.
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

doc restructuration
  CONTRIBUTING.md
Due: none

Remove debug print statements from gtests
  cpp/tests/encode/encode_tests.cpp
  cpp/tests/rolling/grouped_rolling_test.cpp
  cpp/tests/rolling/rolling_test.cpp
  cpp/tests/structs/structs_column_tests.cpp
Due: clang-format

Fix libcudf memory errors (#8884)
  cpp/src/dictionary/detail/merge.cu
  cpp/src/scalar/scalar.cpp
  cpp/src/structs/utilities.cpp
  cpp/tests/copying/concatenate_tests.cu
  cpp/tests/utilities/column_utilities.cu
Due: clang-format

Series datetime is_year_end and is_year_start (#8954)
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

Unused import
  python/cudf/cudf/_lib/copying.pyx
Due: none

Space
  python/cudf/cudf/_lib/transform.pyx
Due: none

Add interval tests
  python/cudf/cudf/tests/test_dtypes.py
Due: mypy
