Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

change dask max bounds
  ci/benchmark/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/custreamz/dev_requirements.txt
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Due: mypy

python side
  cpp/examples/basic/src/process_csv.cpp
  python/cudf/cudf/_lib/cpp/io/orc.pxd
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

merge fix
  cpp/src/groupby/sort/aggregate.cpp
Due: clang-format

remove default stride
  cpp/src/io/orc/orc_common.h
  cpp/src/io/orc/writer_impl.hpp
Due: clang-format

Rename to_datetime to to_timestamp
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/csv/datetime.cuh
  cpp/src/io/json/json_gpu.cu
Due: clang-format

generate column names when metadata is not provided
  cpp/src/io/csv/writer_impl.cu
  cpp/tests/io/csv_test.cpp
Due: clang-format

simplified test example
  cpp/tests/io/csv_test.cpp
Due: clang-format

add a new memory buffer that directly allocates with cudaMalloc
  java/src/main/java/ai/rapids/cudf/CudaMemoryBuffer.java
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/native/src/RmmJni.cpp
  java/src/test/java/ai/rapids/cudf/RmmTest.java
Due: clang-format

Refactor to_time_delta: rename to to_duration, change return type, update docs
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/csv/datetime.cuh
  cpp/src/io/json/json_gpu.cu
Due: clang-format

fix copyright
  java/src/main/java/ai/rapids/cudf/CudaMemoryBuffer.java
Due: none

Use cudf duration & timestamp types for parquet
  cpp/src/io/parquet/page_enc.cu
Due: clang-format

cleanup test
  java/src/test/java/ai/rapids/cudf/RmmTest.java
Due: none

Remove all uses of Table in Cython.
  python/cudf/cudf/_lib/avro.pyx
  python/cudf/cudf/_lib/concat.pyx
  python/cudf/cudf/_lib/copying.pxd
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/filling.pyx
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/_lib/hash.pyx
  python/cudf/cudf/_lib/interop.pyx
  python/cudf/cudf/_lib/io/utils.pxd
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/_lib/join.pyx
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/_lib/merge.pyx
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/partitioning.pyx
  python/cudf/cudf/_lib/quantiles.pyx
  python/cudf/cudf/_lib/reshape.pyx
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/_lib/search.pyx
  python/cudf/cudf/_lib/sort.pyx
  python/cudf/cudf/_lib/stream_compaction.pyx
  python/cudf/cudf/_lib/strings/combine.pyx
  python/cudf/cudf/_lib/strings/extract.pyx
  python/cudf/cudf/_lib/strings/findall.pyx
  python/cudf/cudf/_lib/strings/split/partition.pyx
  python/cudf/cudf/_lib/strings/split/split.pyx
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/_lib/transpose.pyx
  python/cudf/cudf/_lib/utils.pxd
  python/cudf/cudf/_lib/utils.pyx
Due: none

Remove references to Table outside Frame.
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
Due: mypy

Remove Table class.
  python/cudf/cudf/_lib/table.pxd
  python/cudf/cudf/_lib/table.pyx
  python/cudf/cudf/core/frame.py
Due: mypy

Move table_view generators into utils.
  python/cudf/cudf/_lib/concat.pyx
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/filling.pyx
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/_lib/hash.pyx
  python/cudf/cudf/_lib/interop.pyx
  python/cudf/cudf/_lib/join.pyx
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/_lib/merge.pyx
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/partitioning.pyx
  python/cudf/cudf/_lib/quantiles.pyx
  python/cudf/cudf/_lib/reshape.pyx
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/_lib/search.pyx
  python/cudf/cudf/_lib/sort.pyx
  python/cudf/cudf/_lib/stream_compaction.pyx
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/_lib/transpose.pyx
  python/cudf/cudf/_lib/utils.pxd
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/frame.py
Due: mypy

Remove table files.
  python/cudf/cudf/_lib/table.pxd
  python/cudf/cudf/_lib/table.pyi
  python/cudf/cudf/_lib/table.pyx
  python/cudf/cudf/core/frame.py
Due: mypy

minor comment corrections
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_correlation.cu
Due: clang-format

fixing cython issues.
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/string_casting.pyx
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/udf/__init__.py
  python/custreamz/custreamz/tests/conftest.py
  python/custreamz/custreamz/tests/test_dataframes.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/io/tests/test_csv.py
  python/dask_cudf/dask_cudf/io/tests/test_orc.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
  python/dask_cudf/dask_cudf/tests/test_core.py
  python/dask_cudf/dask_cudf/tests/test_delayed_io.py
  python/dask_cudf/dask_cudf/tests/test_distributed.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
  python/dask_cudf/dask_cudf/tests/test_join.py
  python/dask_cudf/dask_cudf/tests/test_onehot.py
  python/dask_cudf/dask_cudf/tests/test_reductions.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
  python/dask_cudf/dask_cudf/tests/test_struct.py
Due: mypy

fixing merge branch switching issues.
  python/cudf/cudf/_lib/string_casting.pyx
  python/cudf/cudf/core/column/datetime.py
Due: mypy

fixing branch switching errors.
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/udf/__init__.py
  python/custreamz/custreamz/tests/conftest.py
  python/custreamz/custreamz/tests/test_dataframes.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/io/tests/test_csv.py
  python/dask_cudf/dask_cudf/io/tests/test_orc.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
  python/dask_cudf/dask_cudf/tests/test_core.py
  python/dask_cudf/dask_cudf/tests/test_delayed_io.py
  python/dask_cudf/dask_cudf/tests/test_distributed.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
  python/dask_cudf/dask_cudf/tests/test_join.py
  python/dask_cudf/dask_cudf/tests/test_onehot.py
  python/dask_cudf/dask_cudf/tests/test_reductions.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
  python/dask_cudf/dask_cudf/tests/test_struct.py
Due: mypy

fixing more merge conflicts.
  CHANGELOG.md
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  cpp/CMakeLists.txt
  cpp/doxygen/Doxyfile
  cpp/examples/basic/CMakeLists.txt
  cpp/libcudf_kafka/CMakeLists.txt
  docs/cudf/source/conf.py
  java/src/main/native/CMakeLists.txt
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/core/udf/__init__.py
Due: mypy

Apply suggestions from code review
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/custreamz/dev_requirements.txt
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Due: mypy

more merge conflict changes.
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/core/udf/__init__.py
  python/custreamz/custreamz/tests/conftest.py
  python/custreamz/custreamz/tests/test_dataframes.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/io/tests/test_csv.py
  python/dask_cudf/dask_cudf/io/tests/test_orc.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
  python/dask_cudf/dask_cudf/tests/test_core.py
  python/dask_cudf/dask_cudf/tests/test_delayed_io.py
  python/dask_cudf/dask_cudf/tests/test_distributed.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
  python/dask_cudf/dask_cudf/tests/test_join.py
  python/dask_cudf/dask_cudf/tests/test_onehot.py
  python/dask_cudf/dask_cudf/tests/test_reductions.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
  python/dask_cudf/dask_cudf/tests/test_struct.py
Due: mypy

changes to style for branch-21.12
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_lib/__init__.py
  python/custreamz/custreamz/tests/conftest.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/io/tests/test_csv.py
  python/dask_cudf/dask_cudf/io/tests/test_orc.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
  python/dask_cudf/dask_cudf/tests/test_core.py
  python/dask_cudf/dask_cudf/tests/test_delayed_io.py
  python/dask_cudf/dask_cudf/tests/test_distributed.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
  python/dask_cudf/dask_cudf/tests/test_join.py
  python/dask_cudf/dask_cudf/tests/test_onehot.py
  python/dask_cudf/dask_cudf/tests/test_reductions.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
  python/dask_cudf/dask_cudf/tests/test_struct.py
Due: mypy

more style changes.
  CHANGELOG.md
  python/cudf/cudf/_lib/__init__.py
  python/custreamz/custreamz/tests/test_dataframes.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
Due: mypy

more style changes.
  python/dask_cudf/dask_cudf/io/tests/test_orc.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
  python/dask_cudf/dask_cudf/tests/test_join.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
Due: mypy

add a new memory buffer that directly allocates with cudaMalloc (#9311)
  java/src/main/java/ai/rapids/cudf/CudaMemoryBuffer.java
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/native/src/RmmJni.cpp
  java/src/test/java/ai/rapids/cudf/RmmTest.java
Due: clang-format

avoid casting for list and struct dtypes
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Due: mypy

Unpin `dask` and `distributed` in CI (#9307)
  ci/benchmark/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/custreamz/dev_requirements.txt
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Due: mypy

Move powers_of_ten to time utils header
  cpp/src/io/csv/datetime.cuh
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/utilities/time_utils.cuh
Due: clang-format

add explicit list/struct check
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Due: mypy

add device-span version of detail scatter and gather
  cpp/include/cudf/detail/gather.hpp
  cpp/include/cudf/detail/scatter.hpp
  cpp/src/copying/gather.cu
  cpp/src/copying/scatter.cu
Due: clang-format

use device-span interface where possible
  cpp/include/cudf/detail/copy_if.cuh
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/group_nth_element.cu
  cpp/src/groupby/sort/group_replace_nulls.cu
  cpp/src/lists/combine/concatenate_list_elements.cu
  cpp/src/replace/nulls.cu
Due: clang-format

SFINAE instead of explicit specializations
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/json/json_gpu.cu
Due: clang-format

Remove TODO
  python/cudf/cudf/core/frame.py
Due: mypy

running pre-commit
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/udf/__init__.py
Due: mypy

use pa instance checks
  python/dask_cudf/dask_cudf/io/parquet.py
Due: mypy

Fix missed import.
  python/cudf/cudf/_lib/strings/combine.pyx
Due: none
