Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Remove from_unique_ptr.
  python/cudf/cudf/_lib/table.pxd
  python/cudf/cudf/_lib/table.pyx
Due: none

Remove from_table_view.
  python/cudf/cudf/_lib/table.pxd
  python/cudf/cudf/_lib/table.pyx
Due: none

Remove from_table_view from copying.pyx and fix calls.
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/utils.pxd
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
Due: mypy

Rewrite _from_table in terms of _from_data for Index types.
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
Due: mypy

Remove usage of Table.from_table_view.
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/_lib/transpose.pyx
  python/cudf/cudf/core/dataframe.py
Due: mypy

Update groupby replace_nulls.
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/core/groupby/groupby.py
Due: mypy

Implement groupby aggregations `M2` and `MERGE_M2` (#8605)
  cpp/CMakeLists.txt
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_m2.cu
  cpp/src/groupby/sort/group_merge_m2.cu
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/m2_tests.cpp
  cpp/tests/groupby/merge_m2_tests.cpp
Due: clang-format

repro
  cpp/tests/copying/copy_if_else_nested_tests.cpp
Due: clang-format

repro2
  cpp/tests/copying/copy_if_else_nested_tests.cpp
Due: clang-format

remove has_common_type_v to main traits.hpp
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/binaryop/compiled/operation.cuh
  cpp/src/binaryop/compiled/traits.hpp
  cpp/src/binaryop/compiled/util.cpp
Due: clang-format

templatized experiemental::detail::binary_operation
  cpp/src/binaryop/binaryop.cpp
Due: clang-format

wip
  cpp/tests/copying/copy_if_else_nested_tests.cpp
Due: clang-format

test fix
  cpp/tests/copying/copy_if_else_nested_tests.cpp
Due: clang-format

Fix merge conflicts
  python/cudf/cudf/_lib/io/utils.pxd
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
Due: none

JNI build no longer looks for Arrow in conda environment (#8686)
  java/src/main/native/CMakeLists.txt
Due: none

remove comment
  python/dask_cudf/dask_cudf/tests/test_struct.py
Due: mypy

Add DeprecationWarning to `ser.str.subword_tokenize` (#8603)
  python/cudf/cudf/core/column/string.py
Due: mypy

Standardize from_data implementations further.
  python/cudf/cudf/_lib/table.pyi
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy

cleanup unit tests
  cpp/tests/binaryop/binop-compiled-test.cpp
Due: clang-format

use rapids conda env
  ci/checks/style.sh
Due: none

Remove unnecessary ColumnAccessor conversions in Python code.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/io/avro.py
  python/cudf/cudf/io/json.py
  python/cudf/cudf/io/orc.py
Due: mypy

Remove unnecessary ColumnAccessor conversions in Cython code.
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/parquet.pyx
Due: none

Remove now outdated TODO.
  python/cudf/cudf/_lib/utils.pyx
Due: none

Finish implementation
  cpp/include/cudf/strings/repeat_strings.hpp
  cpp/src/strings/repeat_strings.cu
  cpp/tests/strings/repeat_strings_tests.cpp
Due: clang-format

Implement categorical- and null-safe version of comparison.
  python/cudf/cudf/testing/testing.py
Due: mypy

Fix style issues.
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/core/multiindex.py
Due: mypy

style
  cpp/include/cudf/detail/null_mask.hpp
Due: clang-format

Try moving ignore to see if that makes mypy happy.
  python/cudf/cudf/core/multiindex.py
Due: mypy

Fix JNI
  java/src/main/native/src/ScalarJni.cpp
Due: clang-format

Update `conda` environment name for CI (#8692)
  ci/checks/style.sh
Due: none

Cleanup
  cpp/include/cudf/strings/repeat_strings.hpp
  cpp/src/strings/repeat_strings.cu
  cpp/tests/strings/repeat_strings_tests.cpp
Due: clang-format

Add options to build Arrow with Python and Parquet support (#8670)
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/CUDF_GetArrow.cmake
Due: none

Add post processing steps to dask-cudf series groupby
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

cub block scan superstates
  cpp/include/cudf/io/text/superstate.hpp
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

Simplify groupby APIs by constructing Indexes at the call site.
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/core/groupby/groupby.py
Due: mypy

PR review fixes
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/group_dense_rank_scan.cu
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format

Improve testing, include disabled struct and list tests
  cpp/tests/groupby/rank_scan_tests.cpp
  cpp/tests/reductions/scan_tests.cpp
Due: clang-format

Fix categorical index metadata copying.
  python/cudf/cudf/core/frame.py
Due: mypy

use zero initialized buffers for string dictionaries
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
