Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Missing formatting
  cpp/include/cudf/strings/string_view.cuh
  cpp/src/io/utilities/hostdevice_vector.hpp
Due: clang-format

more spell fix in comments
  cpp/include/cudf/column/column.hpp
  cpp/include/cudf/groupby.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/src/bitmask/null_mask.cu
  cpp/src/dictionary/replace.cu
  cpp/src/hash/concurrent_unordered_multimap.cuh
  cpp/src/interop/from_arrow.cu
  cpp/src/interop/to_arrow.cu
  cpp/src/io/parquet/page_data.cu
  cpp/src/jit/parser.hpp
  cpp/src/strings/convert/convert_floats.cu
  cpp/src/strings/replace/multi_re.cu
  cpp/tests/io/csv_test.cpp
  cpp/tests/io/parquet_test.cpp
  cpp/tests/utilities/column_utilities.cu
Due: clang-format

fix param to tparam
  cpp/src/io/orc/stripe_enc.cu
Due: clang-format

Fix double counting of selected columns in CSV reader (#8508)
  cpp/src/io/csv/reader_impl.cu
  cpp/tests/io/csv_test.cpp
Due: clang-format

Fix repeated mangled names in read_csv with duplicate column names (#8645)
  cpp/src/io/csv/reader_impl.cu
  python/cudf/cudf/tests/test_csv.py
Due: clang-format, mypy

use ternary syntax in kernels
  cpp/include/cudf/aggregation.hpp
  cpp/src/groupby/sort/group_dense_rank_scan.cu
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/reductions/scan/scan.cuh
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format

Building libcudf examples using libcudf conda source
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/recipes/libcudf_example/build.sh
  conda/recipes/libcudf_example/meta.yaml
Due: none

Update build.sh
  ci/cpu/build.sh
Due: none

Add documentation
  cpp/src/strings/convert/convert_urls.cu
Due: clang-format

Apply suggestions from code review
  cpp/src/copying/scatter.cu
Due: clang-format

make more declarative
  cpp/src/copying/scatter.cu
Due: clang-format

doc
  cpp/src/copying/scatter.cu
Due: clang-format

use static_cast instead of dynamic_cast
  cpp/src/strings/copying/shift.cu
Due: clang-format

Rework column equivalency checks to handle list columns that have arbitrarily different data (offsets, values) in null rows.
  cpp/tests/utilities/column_utilities.cu
Due: clang-format

removed debugging statement
  python/cudf/cudf/_lib/scalar.pyx
Due: none

Rewrite doxygen
  cpp/include/cudf/aggregation.hpp
  cpp/src/groupby/sort/group_merge_m2.cu
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/tests/groupby/merge_m2_tests.cpp
Due: clang-format

Fix formatting
  cpp/src/groupby/sort/group_merge_m2.cu
Due: clang-format

Update cpp/benchmarks/join/generate_input_tables.cuh
  cpp/benchmarks/join/generate_input_tables.cuh
Due: clang-format

add options to build Arrow with Python and Parquet support
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/CUDF_GetArrow.cmake
Due: none

copy parquet_version.h
  cpp/cmake/thirdparty/CUDF_GetArrow.cmake
Due: none

add CUDA_TOOLKIT_ROOT_DIR for Arrow v4.0.1 CMake changes
  cpp/cmake/thirdparty/CUDF_GetArrow.cmake
Due: none

rename CUDF_USE_ARROW_* -> CUDF_ENABLE_ARROW_*
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/CUDF_GetArrow.cmake
Due: none

Remove flatbuffers dependency
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  python/cudf/requirements/cuda-11.0/dev_requirements.txt
  python/cudf/requirements/cuda-11.2/dev_requirements.txt
Due: none

Update nvbench install directory
  cpp/benchmarks/CMakeLists.txt
Due: none

superstate + tests
  cpp/include/cudf/io/text/superstate.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/text/superstate_test.cpp
Due: clang-format

Place all benchmarks in a new directory
  cpp/benchmarks/CMakeLists.txt
Due: none

added device trie
  cpp/include/cudf/io/text/trie.hpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/superstate_test.cpp
  cpp/tests/io/text/trie_test.cpp
Due: clang-format

Remove flatbuffers dependency (#8671)
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  python/cudf/requirements/cuda-11.0/dev_requirements.txt
  python/cudf/requirements/cuda-11.2/dev_requirements.txt
Due: none

Add an optional column of pre-computed output strings offsets
  cpp/include/cudf/strings/repeat_strings.hpp
  cpp/src/strings/repeat_strings.cu
  cpp/tests/strings/repeat_strings_tests.cpp
Due: clang-format

.
  python/cudf/cudf/_lib/types.pyx
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/utils/dtypes.py
Due: mypy

add superstate to multibyte_split
  cpp/include/cudf/io/text/trie.hpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

review change
  cpp/src/copying/scatter.cu
Due: clang-format

Add ConfigureNVBench to avoid concurrent main() entry points (#8662)
  cpp/benchmarks/CMakeLists.txt
Due: none

allocate correct bufer for children
  python/cudf/cudf/core/column/column.py
Due: mypy

update child buffer creation
  python/cudf/cudf/core/column/column.py
  python/dask_cudf/dask_cudf/tests/test_struct.py
Due: mypy

set CUDA_LIB_PATH for Arrow's use of legacy FindCUDA when not building with nvidia-container-runtime
  cpp/cmake/thirdparty/CUDF_GetArrow.cmake
Due: none

capture libcudacxx version for debugging
  ci/gpu/build.sh
Due: none

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
