Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Don't unnecessarily read string offsets when doing concatenate overflow checking. (#8968)
  cpp/src/copying/concatenate.cu
Due: clang-format

REL v21.08.01 release
  cpp/CMakeLists.txt
  cpp/doxygen/Doxyfile
  cpp/libcudf_kafka/CMakeLists.txt
  docs/cudf/source/conf.py
  java/src/main/native/CMakeLists.txt
Due: mypy

A small optimization for JNI copy column view to column vector (#8985)
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
Due: none

Consistently use std::size_t rather than size_t to avoid ABI incompatibilities and swap order of inputs to verification to catch previously missed bugs.
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

Move pair equality functor to cuh header
  cpp/src/join/join_common_utils.cuh
  cpp/src/join/join_common_utils.hpp
Due: clang-format

Include `cpack`, Fix CMake Issues (#8976)
  cpp/CMakeLists.txt
  cpp/cmake/cudf-build-config.cmake.in
  cpp/cmake/thirdparty/CUDF_GetArrow.cmake
Due: none

CUDF installed CMake files use the same destination as libcudf
  cpp/CMakeLists.txt
Due: none

Some fixes
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/testing/dataset_generator.py
Due: mypy

Add more tests in dask_cudf
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

Support bracket syntax for cudf::strings::replace_with_backrefs group index values (#8841)
  cpp/include/cudf/strings/replace_re.hpp
  cpp/src/strings/replace/backref_re.cu
  cpp/tests/strings/replace_regex_tests.cpp
Due: clang-format

Added support and tests for Series.dt.is_month_end
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

flake8
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

ENH Allow arbitrary CMake configurations arguments to be used
  build.sh
Due: none

FIX Clarify usage of --cmake-args option
  build.sh
Due: none

CUDF installed CMake files use the same destination as libcudf (#8988)
  cpp/CMakeLists.txt
Due: none

REL v21.08.02 release
  cpp/CMakeLists.txt
  cpp/doxygen/Doxyfile
  cpp/libcudf_kafka/CMakeLists.txt
  docs/cudf/source/conf.py
  java/src/main/native/CMakeLists.txt
Due: mypy

Expose `days_in_month` function in libcudf and add python bindings (#8892)
  cpp/include/cudf/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
  cpp/tests/datetime/datetime_ops_test.cpp
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: clang-format, mypy

Don't assume that the left operand always uses the left row index when resolving inputs.
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/src/ast/expression_parser.cpp
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

Clarify indexing structure.
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
Due: clang-format

Remove full join size calculation.
  cpp/include/cudf/join.hpp
  cpp/src/join/conditional_join.cu
Due: clang-format

enforce table borders
  docs/cudf/source/_static/params.css
Due: none

Remove now superfluous output_size optional argument to full join calc and switch to using a thrust::optional for the right_row_index in resolve_input.
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/include/cudf/join.hpp
  cpp/src/join/conditional_join.cu
Due: clang-format

Fix a wrong logic in full_join
  cpp/src/join/hash_join.cu
Due: clang-format

Remove mistaken change to sum_tests.
  cpp/tests/groupby/sum_tests.cpp
Due: clang-format

Add tests for more index reductions.
  python/cudf/cudf/tests/test_index.py
Due: mypy

Minor improvement: use constexpr
  cpp/src/join/hash_join.cu
Due: clang-format

initial
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/detail/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

Fix a bug in JoinDictionaryTest.InnerJoinNoNulls: sort before compare
  cpp/tests/join/join_tests.cpp
Due: clang-format

Add tests
  cpp/src/datetime/datetime_ops.cu
  cpp/tests/datetime/datetime_ops_test.cpp
Due: clang-format

Refactor Frame reductions (#8944)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_reductions.py
Due: mypy

Move fix to overridden apply method
  python/cudf/cudf/core/groupby/groupby.py
Due: mypy

Move compute_column API out of ast namespace (#8957)
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/benchmarks/ast/transform_benchmark.cpp
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/include/cudf/ast/transform.hpp
  cpp/include/cudf/detail/transform.hpp
  cpp/include/cudf/transform.hpp
  cpp/src/join/conditional_join.cuh
  cpp/src/transform/compute_column.cu
  cpp/tests/ast/transform_tests.cpp
  java/src/main/native/src/CompiledExpression.cpp
Due: clang-format

updated tests
  cpp/tests/datetime/datetime_ops_test.cpp
Due: clang-format

fixed styling
  python/cudf/cudf/_lib/datetime.pyx
Due: none

fixed styling
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

remove __threadfence() in favor of cuda::atomic
  cpp/include/cudf/io/text/detail/tile_state.hpp
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

Add missing syncthreads
  cpp/src/io/parquet/chunk_dict.cu
  cpp/tests/io/parquet_test.cpp
Due: clang-format

Remaining failures
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_dtypes.py
Due: mypy

Fix memory write error in get_list_child_to_list_row_mapping utility
  cpp/src/rolling/rolling_collect_list.cuh
Due: clang-format

Sort before compare for all JoinDictionaryTest tests
  cpp/tests/join/join_tests.cpp
Due: clang-format
