Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

remove filepath logic from avro, parquet, orc readers
  cpp/include/cudf/io/detail/avro.hpp
  cpp/include/cudf/io/detail/orc.hpp
  cpp/include/cudf/io/detail/parquet.hpp
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/parquet/reader_impl.cu
Due: clang-format

add kafka and custreamz sections
  CONTRIBUTING.md
Due: none

add section for each library
  CONTRIBUTING.md
Due: none

update
  cpp/include/cudf/scalar/scalar_factories.hpp
  cpp/src/reductions/reductions.cpp
  cpp/src/scalar/scalar_factories.cpp
  cpp/tests/groupby/nth_element_tests.cpp
  cpp/tests/reductions/reduction_tests.cpp
Due: clang-format

Fix incorrect reflect computation
  python/cudf/cudf/core/frame.py
Due: mypy

Use item() to get the scalar from a 0-d array
  python/cudf/cudf/core/frame.py
Due: mypy

refactored code
  cpp/include/cudf/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

refactored code
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

Improve docstring description for 'reflect'
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/frame.py
Due: mypy

updated doc
  cpp/include/cudf/datetime.hpp
Due: clang-format

Added Series.dt.is_quarter_start and Series.dt.is_quarter_end (#9046)
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

move types to a map
  python/cudf/cudf/_lib/csv.pyx
Due: none

Update all Java code.
  java/src/main/java/ai/rapids/cudf/ast/AstNode.java
  java/src/main/java/ai/rapids/cudf/ast/BinaryExpression.java
  java/src/main/java/ai/rapids/cudf/ast/BinaryOperator.java
  java/src/main/java/ai/rapids/cudf/ast/ColumnReference.java
  java/src/main/java/ai/rapids/cudf/ast/Expression.java
  java/src/main/java/ai/rapids/cudf/ast/Literal.java
  java/src/main/java/ai/rapids/cudf/ast/UnaryExpression.java
  java/src/main/java/ai/rapids/cudf/ast/UnaryOperator.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
  java/src/test/java/ai/rapids/cudf/ast/CompiledExpressionTest.java
Due: clang-format

Rename files to match classes, update imports, and fix tests.
  java/src/main/java/ai/rapids/cudf/ast/AstExpression.java
  java/src/main/java/ai/rapids/cudf/ast/BinaryOperation.java
  java/src/main/java/ai/rapids/cudf/ast/Operation.java
  java/src/main/java/ai/rapids/cudf/ast/UnaryOperation.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
  java/src/test/java/ai/rapids/cudf/ast/CompiledExpressionTest.java
Due: none

Update copyright.
  cpp/src/ast/expressions.cpp
Due: clang-format

Add more testing for dot, xfail null cases
  python/cudf/cudf/tests/test_binops.py
Due: mypy

Add test case for nested input structs columns
  cpp/tests/reshape/interleave_columns_tests.cpp
Due: clang-format

Refactor Frame scans (#9021)
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Remove missing dot func case for indexes
  python/cudf/cudf/tests/test_array_function.py
Due: mypy

Forward NotImplemented through correctly.
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
Due: mypy

Add tests and address reviews
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_timedelta.py
  python/dask_cudf/dask_cudf/backends.py
Due: mypy

Change the logic so that . can be in col name
  cpp/src/io/parquet/reader_impl.cu
  python/cudf/cudf/tests/test_parquet.py
Due: clang-format, mypy

Apply suggestions from code review
  python/cudf/cudf/_lib/csv.pyx
Due: none

simplify multibyte_split api to accept only a single delimiter
  cpp/benchmarks/io/text/multibyte_split_benchmark.cpp
  cpp/include/cudf/io/text/multibyte_split.hpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

Update gather map size JNI APIs.
  java/src/main/native/src/TableJni.cpp
Due: clang-format

Change compiled_expr to store a single list of expression.
  java/src/main/native/src/jni_compiled_expr.hpp
Due: clang-format

Fix new tests using old BinaryExpression API.
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

remove transform_output_writer_iterator
  cpp/include/cudf/utilities/output_writer_iterator.cuh
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
Due: clang-format

Revert select columns API to single str
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/tests/io/arrow_io_source_test.cpp
  cpp/tests/io/parquet_test.cpp
Due: clang-format

Revert API in python
  python/cudf/cudf/_lib/cpp/io/parquet.pxd
  python/cudf/cudf/_lib/parquet.pyx
Due: none

cudf resolve nvcc 11.0 compiler crashes during codegen (#9028)
  cpp/CMakeLists.txt
  cpp/src/interop/detail/arrow_allocator.cpp
  cpp/src/interop/detail/arrow_allocator.hpp
  cpp/src/interop/to_arrow.cu
Due: clang-format

Move compile to AstExpression, remove Operation, and update all associated calls.
  java/src/main/java/ai/rapids/cudf/ast/AstExpression.java
  java/src/main/java/ai/rapids/cudf/ast/BinaryOperation.java
  java/src/main/java/ai/rapids/cudf/ast/Operation.java
  java/src/main/java/ai/rapids/cudf/ast/UnaryOperation.java
  java/src/main/native/src/CompiledExpression.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/main/native/src/jni_compiled_expr.hpp
Due: clang-format

add missing stream, mr
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
Due: clang-format

typo fix
  cpp/src/io/orc/stripe_enc.cu
Due: clang-format

Remove some debug print statements from gtests (#9048)
  cpp/tests/encode/encode_tests.cpp
  cpp/tests/rolling/grouped_rolling_test.cpp
  cpp/tests/rolling/rolling_test.cpp
  cpp/tests/structs/structs_column_tests.cpp
Due: clang-format

remove debug rmm_mode=cuda cmake change
  cpp/tests/CMakeLists.txt
  cpp/tests/binaryop/binop-compiled-fixed_point-test.cpp
Due: clang-format

Add handling for nested dicts in dask-cudf groupby
  python/cudf/cudf/core/dataframe.py
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

Add support for percentile dispatch in `dask_cudf` (#9031)
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/tests/test_datetime.py
  python/cudf/cudf/tests/test_timedelta.py
  python/dask_cudf/dask_cudf/backends.py
Due: mypy

Implement `interleave_columns` for structs columns (#9012)
  cpp/src/reshape/interleave_columns.cu
  cpp/tests/reshape/interleave_columns_tests.cpp
Due: clang-format

Review fixes
  cpp/src/io/parquet/chunk_dict.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
Due: clang-format
