Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Fix empty left table behavior for all inner and left joins.
  cpp/src/join/conditional_join.cu
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

fix initial pass of issues related to pandas 1.3 upgrade.
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_multiindex.py
Due: mypy

Superimpose null masks for STRUCT columns.
  cpp/src/structs/utilities.cpp
  cpp/src/structs/utilities.hpp
  cpp/tests/structs/utilities_tests.cpp
Due: clang-format

impl
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/udf/pipeline.py
Due: mypy

add IO docs page.
  docs/cudf/source/api_docs/index.rst
  python/cudf/cudf/utils/ioutils.py
Due: mypy

add IO docs page.
  docs/cudf/source/api_docs/io.rst
Due: none

purge c++ code
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
  cpp/include/cudf/transform.hpp
  cpp/src/transform/jit/masked_udf_kernel.cu
  cpp/src/transform/transform.cpp
  python/cudf/cudf/_lib/cpp/transform.pxd
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/core/udf/pipeline.py
Due: clang-format, mypy

enable cuda 11.0
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: mypy

enable tests for __pow__
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: mypy

fix doxygen comment per review
  cpp/include/cudf/strings/convert/convert_datetime.hpp
Due: clang-format

Fix header, add license
  cpp/include/cudf/detail/calendrical_month_sequence.cuh
Due: clang-format

Use mutable_view() method and use uref to escape unused argument warnings
  cpp/include/cudf/detail/calendrical_month_sequence.cuh
Due: clang-format

Add pragma once and license
  cpp/include/cudf/detail/datetime_ops.cuh
Due: clang-format

Apply suggestions from code review
  cpp/include/cudf/detail/datetime_ops.cuh
  cpp/include/cudf/filling.hpp
Due: clang-format

Filling.hpp doc improvements
  cpp/include/cudf/filling.hpp
Due: clang-format

Add license
  cpp/src/filling/calendrical_month_sequence.cu
Due: clang-format

Fix #includes, formatting.
  cpp/src/structs/utilities.cpp
  cpp/tests/structs/utilities_tests.cpp
Due: clang-format

Making calendrical month detail function more succinct
  cpp/include/cudf/detail/calendrical_month_sequence.cuh
  cpp/src/filling/calendrical_month_sequence.cu
Due: clang-format

Header cleanup with calendrical_month_sequence
  cpp/src/filling/calendrical_month_sequence.cu
Due: clang-format

revert datetimes doc change
  cpp/include/cudf/datetime.hpp
Due: clang-format

meta.yaml reordering
  conda/recipes/libcudf/meta.yaml
Due: none

cmakefile ordering
  cpp/CMakeLists.txt
Due: none

Consolidate Several Series and Dataframe Methods (#9059)
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy

Ensure that complementary indices are added for full joins as well.
  cpp/src/join/conditional_join.cu
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

rowgroup alignment complete
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Remove type_dispatch for fetching head().
  cpp/src/structs/utilities.cpp
Due: clang-format

Skip kernel execution entirely for empty left tables.
  cpp/src/join/conditional_join.cu
Due: clang-format

Add default cg size = 2
  cpp/src/join/join_common_utils.hpp
Due: clang-format

ddof > count situation is valid but nan
  cpp/src/rolling/rolling_detail.cuh
  cpp/tests/rolling/rolling_test.cpp
Due: clang-format

Add IO docs page in `cudf` documentation (#9145)
  docs/cudf/source/api_docs/index.rst
  docs/cudf/source/api_docs/io.rst
  python/cudf/cudf/utils/ioutils.py
Due: mypy

added test skeleton
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

fix failures.
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_rank.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/tests/test_timedelta.py
Due: mypy

Simplify read_avro by removing unnecessary writer/impl classes (#9090)
  cpp/include/cudf/io/detail/avro.hpp
  cpp/src/io/avro/avro_gpu.cu
  cpp/src/io/avro/avro_gpu.h
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/avro/reader_impl.hpp
  cpp/src/io/functions.cpp
Due: clang-format

cudf now leverages rapids-cmake to reduce CMake boilerplate (#9030)
  build.sh
  cpp/CMakeLists.txt
  cpp/cmake/Modules/ConfigureCUDA.cmake
  cpp/cmake/Modules/EvalGPUArchs.cmake
  cpp/cmake/Modules/SetGPUArchs.cmake
  cpp/cmake/cudf-build-config.cmake.in
  cpp/cmake/cudf-config.cmake.in
  cpp/cmake/install/FindThrust.cmake
  cpp/cmake/thirdparty/CUDF_GetCPM.cmake
  cpp/cmake/thirdparty/CUDF_GetDLPack.cmake
  cpp/cmake/thirdparty/CUDF_GetGTest.cmake
  cpp/cmake/thirdparty/CUDF_GetRMM.cmake
  cpp/cmake/thirdparty/get_arrow.cmake
  cpp/cmake/thirdparty/get_cucollections.cmake
  cpp/cmake/thirdparty/get_dlpack.cmake
  cpp/cmake/thirdparty/get_gtest.cmake
  cpp/cmake/thirdparty/get_jitify.cmake
  cpp/cmake/thirdparty/get_libcudacxx.cmake
  cpp/cmake/thirdparty/get_rmm.cmake
  cpp/cmake/thirdparty/get_thrust.cmake
  cpp/libcudf_kafka/CMakeLists.txt
  cpp/libcudf_kafka/cmake/thirdparty/get_cudf.cmake
  cpp/libcudf_kafka/cmake/thirdparty/get_rdkafka.cmake
  cpp/libcudf_kafka/tests/CMakeLists.txt
  java/src/main/native/CMakeLists.txt
  java/src/main/native/cmake/EvalGpuArchs.cmake
  java/src/main/native/cmake/Modules/ConfigureNvcomp.cmake
Due: none

Import rapids-cmake modules using the correct cmake variable.
  cpp/CMakeLists.txt
Due: none

add handling for missing partitioning arg
  python/dask_cudf/dask_cudf/io/parquet.py
Due: mypy

solve multiple problems
  python/cudf/cudf/core/udf/pipeline.py
Due: mypy

Support additional format specifiers in from_timestamps (#9047)
  cpp/include/cudf/strings/convert/convert_datetime.hpp
  cpp/include/cudf/strings/detail/converters.hpp
  cpp/src/io/csv/writer_impl.cu
  cpp/src/strings/convert/convert_datetime.cu
  cpp/tests/strings/datetime_tests.cpp
Due: clang-format

update tests
  java/rmm_log.txt
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
