Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

update yaml
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/detail/utilities/visitor_overload.hpp
Due: clang-format

Make groupby transform-like op order match original data order (#8720)
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Due: mypy

fix pymod index creation
  docs/cudf/source/conf.py
Due: mypy

Using cuda::std:: for utility functions
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/include/cudf/detail/utilities/integer_utils.hpp
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/include/cudf/fixed_point/temporary.hpp
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/reductions/scan/scan_exclusive.cu
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/src/round/round.cu
  cpp/src/strings/convert/utilities.cuh
  cpp/tests/reductions/reduction_tests.cpp
Due: clang-format

fix concat struct columns with empty children
  cpp/src/structs/copying/concatenate.cu
  cpp/tests/copying/concatenate_tests.cu
Due: clang-format

fix clang style
  cpp/tests/copying/concatenate_tests.cu
Due: clang-format

remove data_chunk in favor of device_span until it becomes clear an raii type is required
  cpp/include/cudf/io/text/data_chunk_source.hpp
  cpp/include/cudf/io/text/data_chunk_source_factories.hpp
Due: clang-format

use std::vector<cuda_stream_view> instread of stream_pool
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

rename ticket to h_ticket
  cpp/include/cudf/io/text/data_chunk_source_factories.hpp
Due: clang-format

Replace cudf.dtype -> np.dtype
  python/cudf/cudf/__init__.py
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/testing/dataset_generator.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_contains.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_label_encode.py
  python/cudf/cudf/tests/test_numerical.py
  python/cudf/cudf/tests/test_reductions.py
  python/cudf/cudf/tests/test_repr.py
  python/cudf/cudf/tests/test_scalar.py
  python/cudf/cudf/tests/test_udf_binops.py
  python/cudf/cudf/tests/test_unaops.py
  python/cudf/cudf/utils/dtypes.py
  python/cudf/cudf/utils/utils.py
Due: mypy

JNI Aggregation Type Changes (#8919)
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/java/ai/rapids/cudf/AggregationOverWindow.java
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/GroupByAggregation.java
  java/src/main/java/ai/rapids/cudf/GroupByAggregationOnColumn.java
  java/src/main/java/ai/rapids/cudf/GroupByScanAggregation.java
  java/src/main/java/ai/rapids/cudf/GroupByScanAggregationOnColumn.java
  java/src/main/java/ai/rapids/cudf/ReductionAggregation.java
  java/src/main/java/ai/rapids/cudf/RollingAggregation.java
  java/src/main/java/ai/rapids/cudf/RollingAggregationOnColumn.java
  java/src/main/java/ai/rapids/cudf/ScanAggregation.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/ReductionTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

First stab at cudf.dtype
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/tests/test_dtypes.py
Due: mypy

Handle datetimes/timedeltas in cudf.dtype
  python/cudf/cudf/api/types.py
  python/cudf/cudf/tests/test_dtypes.py
Due: mypy

update changelog
  CHANGELOG.md
Due: none

REL v21.08.00 release
  docs/cudf/source/conf.py
Due: mypy

Replace allocate with device_uvector for subword_tokenizer internal tables
  cpp/src/text/subword/load_hash_file.cu
Due: clang-format

Update python/cudf/cudf/core/index.py
  python/cudf/cudf/core/index.py
Due: mypy

Fix test
  python/cudf/cudf/tests/test_binops.py
Due: mypy

Make Java AstNode public
  java/src/main/java/ai/rapids/cudf/ast/AstNode.java
Due: none

adding is_year_end and is_year_start, and tests.
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

cudf::fill(_in_place) fix for decimal128
  cpp/src/filling/fill.cu
  cpp/tests/filling/fill_tests.cpp
Due: clang-format

fixing style issues.
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

add option to build arrow orc adapter
  cpp/CMakeLists.txt
  cpp/cmake/cudf-build-config.cmake.in
  cpp/cmake/thirdparty/CUDF_GetArrow.cmake
Due: none

Java conditional joins should not require matching column counts
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

set arrow dependencies to auto, thrift to bundled
  cpp/cmake/thirdparty/CUDF_GetArrow.cmake
Due: none

Disable reductions for index types.
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
Due: mypy

Move AST evaluator into a separate header (#8930)
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/ast/transform.cu
  cpp/src/join/conditional_join_kernels.cuh
Due: clang-format

Support "unflatten" of columns flattened via `flatten_nested_columns()`:
  cpp/src/structs/utilities.cpp
  cpp/src/structs/utilities.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/sum_tests.cpp
  cpp/tests/structs/utilities_tests.cpp
Due: clang-format

Move compute_column detail API to preexisting transform namespace.
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/include/cudf/detail/transform.hpp
  cpp/src/ast/transform.cu
  cpp/src/join/conditional_join.cuh
Due: clang-format

Move compute_column API to preexisting transform namespace.
  cpp/benchmarks/ast/transform_benchmark.cpp
  cpp/include/cudf/ast/transform.hpp
  cpp/include/cudf/detail/transform.hpp
  cpp/include/cudf/transform.hpp
  cpp/src/ast/transform.cu
  cpp/tests/ast/transform_tests.cpp
Due: clang-format

Move compute_column source to transform.
  cpp/CMakeLists.txt
  cpp/src/transform/compute_column.cu
Due: clang-format

Fix some typos that have slipped through.
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/include/cudf/ast/detail/expression_parser.hpp
Due: clang-format

Update Java bindings for compute_column.
  java/src/main/native/src/CompiledExpression.cpp
Due: clang-format

Super rough draft.
  cpp/CMakeLists.txt
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/merge.cuh
  cpp/include/cudf/detail/quantiles.hpp
  cpp/include/cudf/detail/sorting.hpp
  cpp/include/cudf/quantiles.hpp
  cpp/include/cudf/sorting.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/src/groupby/sort/group_tdigest.cu
  cpp/src/quantiles/quantiles.cu
  cpp/src/sort/sort.cu
  cpp/src/sort/stable_sort.cu
Due: clang-format

Fix meta.yaml.
  conda/recipes/libcudf/meta.yaml
Due: none

Add missing default stream.
  cpp/include/cudf/detail/transform.hpp
Due: clang-format

Get rid of const reference
  cpp/src/join/hash_join.cuh
Due: clang-format

fix copyright year
  cpp/include/cudf/detail/utilities/visitor_overload.hpp
Due: clang-format

Support `end`, `freq`, `periods` combo.
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

Trying to make (start, end, freq) work
  cpp/include/cudf/detail/date_offsets.cuh
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/tools/datetimes.py
Due: clang-format, mypy

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
