Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Move compute_column source to transform.
  cpp/CMakeLists.txt
  cpp/src/transform/compute_column.cu
Due: clang-format

Move most conditional join implementation into source file from header.
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join.cuh
  cpp/src/join/conditional_join.hpp
Due: clang-format

Remove some more includes.
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/join/join_kernels.cuh
  cpp/src/transform/compute_column.cu
Due: clang-format

Move all node APIs requiring components of detail out of public header to recompilation of AST-consuming code when AST internals change.
  cpp/CMakeLists.txt
  cpp/include/cudf/ast/detail/linearizer.hpp
  cpp/include/cudf/ast/detail/nodes.hpp
  cpp/include/cudf/ast/nodes.hpp
  cpp/src/ast/linearizer.cpp
  cpp/src/ast/nodes.cpp
Due: clang-format

Move public-facing operators to nodes.hpp and remove operators header.
  cpp/benchmarks/join/conditional_join_benchmark.cu
  cpp/include/cudf/ast/detail/evaluator.cuh
  cpp/include/cudf/ast/detail/linearizer.hpp
  cpp/include/cudf/ast/detail/operators.hpp
  cpp/include/cudf/ast/nodes.hpp
  cpp/include/cudf/ast/operators.hpp
  cpp/src/ast/linearizer.cpp
  cpp/tests/ast/transform_tests.cpp
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

Rename nodes to expressions.
  cpp/benchmarks/join/conditional_join_benchmark.cu
  cpp/include/cudf/ast/detail/evaluator.cuh
  cpp/include/cudf/ast/detail/expressions.hpp
  cpp/include/cudf/ast/detail/linearizer.hpp
  cpp/include/cudf/ast/detail/operators.hpp
  cpp/include/cudf/ast/expressions.hpp
  cpp/include/cudf/detail/transform.hpp
  cpp/include/cudf/join.hpp
  cpp/include/cudf/transform.hpp
  cpp/src/ast/linearizer.cpp
  cpp/src/ast/nodes.cpp
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join.hpp
  cpp/src/transform/compute_column.cu
  cpp/tests/ast/transform_tests.cpp
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

Rename linearizer to expression_parser.
  cpp/CMakeLists.txt
  cpp/include/cudf/ast/detail/evaluator.cuh
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/include/cudf/ast/detail/expressions.hpp
  cpp/include/cudf/ast/expressions.hpp
  cpp/src/ast/expression_parser.cpp
  cpp/src/ast/expressions.cpp
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/transform/compute_column.cu
Due: clang-format

Combine ast_plan and expression_parser.
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/src/join/conditional_join.cu
  cpp/src/transform/compute_column.cu
Due: clang-format

Remove some now unnecessary APIs.
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/src/ast/expression_parser.cpp
  cpp/src/join/conditional_join.cu
  cpp/src/transform/compute_column.cu
Due: clang-format

Rename plan variables to parser.
  cpp/src/join/conditional_join.cu
  cpp/src/transform/compute_column.cu
Due: clang-format

Fix expression_parser's check of widest data type fitting in intermediate shared mem story to account for nullability.
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/src/ast/expression_parser.cpp
Due: clang-format

Make expression data variable names constant.
  cpp/include/cudf/ast/detail/evaluator.cuh
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/transform/compute_column.cu
Due: clang-format

Add missing docstrings.
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/include/cudf/ast/detail/expressions.hpp
  cpp/src/ast/expression_parser.cpp
Due: clang-format

Move evaluator.cuh to expression_evaluator.cuh for consistency in naming.
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/transform/compute_column.cu
Due: clang-format

Fix a possible cause of UB and add a check for join output sizes that exceed cudf limits.
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/src/join/conditional_join.cu
Due: clang-format

make optimizations
  python/cudf/cudf/core/column/lists.py
Due: mypy

Fix failures when performing binary operations on DataFrames with empty columns (#8452)
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_binops.py
Due: mypy

Support header with embedded delimiter in csv writer
  cpp/src/io/csv/writer_impl.cu
  cpp/tests/io/csv_test.cpp
Due: clang-format

More appropriate names for tests.
  cpp/tests/transform/row_bit_count_test.cu
Due: clang-format

remove strike through copy button
  docs/cudf/source/_static/copybutton_pydocs.js
  docs/cudf/source/_static/params.css
  docs/cudf/source/conf.py
Due: mypy

Clang-format
  cpp/tests/strings/fixed_point_tests.cpp
Due: clang-format

Nested scalar support for copy if else (#8588)
  cpp/src/copying/copy.cu
  cpp/tests/copying/copy_if_else_nested_tests.cpp
Due: clang-format

cleanup
  docs/cudf/source/api_docs/cudf.DataFrame.drop.rst
  docs/cudf/source/api_docs/cudf.DataFrame.where.rst
  docs/cudf/source/api_docs/pandas.DataFrame.drop.rst
  docs/cudf/source/api_docs/pandas.DataFrame.groupby.rst
  docs/cudf/source/cudf.DataFrame.drop.rst
  docs/cudf/source/cudf.DataFrame.where.rst
  docs/cudf/source/index.rst
Due: none

remove files
  docs/cudf/source/api/cudf.core.dataframe.DataFrame.rst
  docs/cudf/source/api/cudf.core.dataframe.extract_col.rst
  docs/cudf/source/api/cudf.core.dataframe.from_pandas.rst
  docs/cudf/source/api/cudf.core.dataframe.merge.rst
Due: none

cleanup
  docs/cudf/source/_static/params.css
Due: none

cleanup
  docs/cudf/source/generated/cudf.DataFrame.drop.rst
  docs/cudf/source/generated/cudf.DataFrame.where.rst
  docs/cudf/source/generated/pandas.DataFrame.drop.rst
  docs/cudf/source/generated/pandas.DataFrame.groupby.rst
  docs/cudf/source/generated/pandas.Series.array.rst
Due: none

add lists
  docs/cudf/source/api_docs/series.rst
Due: none

update gitignore
  .gitignore
Due: none

Replace some instances of std::size_t with size_t
  cpp/src/copying/concatenate.cu
Due: clang-format

Cleanup header
  cpp/src/strings/repeat_strings.cu
Due: clang-format

remove stale file
  docs/cudf/source/api_docs/api.rst
Due: none

Also copy in to_struct()
  python/cudf/cudf/core/dataframe.py
Due: mypy

Removed using directives for cudf, cudf::test.
  cpp/tests/transform/row_bit_count_test.cu
Due: clang-format

Test it
  python/cudf/cudf/tests/test_struct.py
Due: mypy

2dvector
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

Add Notes section to docstrings. Explicit deep=True in call to `copy()`.
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/dataframe.py
Due: mypy

Another deep=True
  python/cudf/cudf/core/column/struct.py
Due: mypy

move files
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  docs/cudf/source/10min-cudf-cupy.ipynb
  docs/cudf/source/10min.ipynb
  docs/cudf/source/Working-with-missing-data.ipynb
  docs/cudf/source/api.rst
  docs/cudf/source/api_docs/window.rst
  docs/cudf/source/basics.rst
  docs/cudf/source/basics/dask-cudf.md
  docs/cudf/source/basics/dask-cudf.rst
  docs/cudf/source/basics/index.rst
  docs/cudf/source/basics/internals.md
  docs/cudf/source/basics/internals.rst
  docs/cudf/source/basics/io-gds-integration.rst
  docs/cudf/source/basics/io-supported-types.rst
  docs/cudf/source/basics/io.rst
  docs/cudf/source/conf.py
  docs/cudf/source/groupby.rst
  docs/cudf/source/guide-to-udfs.ipynb
  docs/cudf/source/io-supported-types.rst
  docs/cudf/source/io.rst
  docs/cudf/source/user_guide/10min.ipynb
  docs/cudf/source/user_guide/groupby.md
  docs/cudf/source/user_guide/index.rst
  python/cudf/requirements/cuda-11.0/dev_requirements.txt
  python/cudf/requirements/cuda-11.2/dev_requirements.txt
Due: mypy

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
