Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Update cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.cu
Due: clang-format

fallback to upstream dask code-path if list of Series is given
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

Add in cast that was lost in the scramble.
  python/cudf/cudf/core/frame.py
Due: mypy

cudf works around nvcc 11.0 compiler crashes during codegen
  cpp/CMakeLists.txt
  cpp/src/interop/detail/arrow_allocator.cpp
  cpp/src/interop/detail/arrow_allocator.hpp
  cpp/src/interop/to_arrow.cu
Due: clang-format

FIX Tabs to spaces in help text
  build.sh
Due: none

:(
  python/cudf/cudf/_lib/copying.pyx
Due: none

refactored test cases
  cpp/tests/datetime/datetime_ops_test.cpp
Due: clang-format

Update cpp/src/interop/detail/arrow_allocator.cpp
  cpp/src/interop/detail/arrow_allocator.cpp
Due: clang-format

Update cpp/src/interop/detail/arrow_allocator.hpp
  cpp/src/interop/detail/arrow_allocator.hpp
Due: clang-format

Review cpp fixes
  cpp/src/io/parquet/reader_impl.cu
Due: clang-format

Review: Streamline construction of vector<children>.
  cpp/src/structs/utilities.cpp
Due: clang-format

removed the requirement for the client to set the key and value names
  cpp/src/io/parquet/writer_impl.cu
  java/src/main/java/ai/rapids/cudf/ParquetColumnWriterOptions.java
Due: clang-format

no more camelCase
  cpp/src/io/parquet/chunk_dict.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
Due: clang-format

removed the const from table_input_meta to avoid the copy
  cpp/src/io/parquet/writer_impl.cu
Due: clang-format

ran clang
  cpp/src/io/parquet/writer_impl.cu
Due: clang-format

Fail flattener on LIST columns.
  cpp/src/structs/utilities.cpp
  cpp/tests/structs/utilities_tests.cpp
Due: clang-format

fixed indentation
  java/src/main/java/ai/rapids/cudf/ParquetColumnWriterOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

missed indentation fix
  java/rmm_log.txt
  java/src/main/java/ai/rapids/cudf/ParquetColumnWriterOptions.java
Due: none

removed rmm_log.txt
  java/rmm_log.txt
Due: none

Apply suggestions from code review
  cpp/include/cudf/datetime.hpp
Due: clang-format

add support for percentile_dispatch in dask_cudf
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
  python/dask_cudf/dask_cudf/backends.py
Due: mypy

misc
  python/dask_cudf/dask_cudf/backends.py
Due: mypy

docs
  cpp/include/cudf/datetime.hpp
Due: clang-format

Use unallocated
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

Add support for Sequences, move implementation to Frame
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy

Add reference to dot() in docstrings
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
Due: mypy

Remove dot product from missing func test
  python/cudf/cudf/tests/test_array_function.py
Due: mypy

Use indexalator for months column api
  cpp/src/datetime/datetime_ops.cu
  cpp/tests/datetime/datetime_ops_test.cpp
Due: clang-format

Waiting to unblock scalars
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

improve multibyte_split benchmarks
  cpp/benchmarks/io/text/multibyte_split_benchmark.cpp
Due: clang-format

provide explicit memory_order for tile state status stores.
  cpp/include/cudf/io/text/detail/tile_state.hpp
Due: clang-format

update dask-cudf orc api for latest dask changes
  python/dask_cudf/dask_cudf/io/orc.py
Due: mypy

Upgrade `arrow` & `pyarrow` to `5.0.0` (#8908)
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
  cpp/cmake/thirdparty/CUDF_GetArrow.cmake
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_decimal.py
Due: mypy

style
  python/cudf/cudf/tests/test_decimal.py
Due: mypy

dependency + build-from-source updates
  CONTRIBUTING.md
Due: none

emphasis on env files
  CONTRIBUTING.md
Due: none

build-from-source instruction updates
  CONTRIBUTING.md
Due: none

Fetch correct grouping keys `agg` of dask groupby (#9022)
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

Update `Python cudf contributor` title
  CONTRIBUTING.md
Due: none

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
