Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

style
  python/cudf/cudf/tests/test_categorical.py
Due: mypy

Add CUDF_GetCUCO CMake file
  cpp/cmake/thirdparty/CUDF_GetCUCO.cmake
Due: none

Simplify implementation of setdefault_kwargs.
  python/cudf/cudf/core/index.py
Due: mypy

Add cuco CPM build options
  cpp/cmake/thirdparty/CUDF_GetCUCO.cmake
Due: none

updated testing
  cpp/tests/copying/reverse_tests.cpp
Due: clang-format

Simplify implementations of copy.
  python/cudf/cudf/core/index.py
Due: mypy

Change out_validity_size to num_elements for clarity.
  cpp/src/merge/merge.cu
Due: clang-format

Move struct dtype test
  python/cudf/cudf/tests/test_serialize.py
  python/cudf/cudf/tests/test_struct.py
Due: mypy

Remove unnecessary function.
  python/cudf/cudf/core/index.py
Due: mypy

Update type annotation for NumericIndex._dtype.
  python/cudf/cudf/core/index.py
Due: mypy

Incorrect map size in scatter_to_gather corrupts struct columns (#8507)
  cpp/include/cudf/detail/scatter.cuh
  cpp/src/copying/copy.cu
  cpp/tests/copying/copy_if_else_nested_tests.cpp
  cpp/tests/copying/scatter_struct_tests.cpp
Due: clang-format

Use Arrow URI FileSystem backed instance to retrieve remote files (#7709)
  cpp/cmake/thirdparty/CUDF_GetArrow.cmake
  cpp/include/cudf/io/datasource.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/io/arrow_io_source_test.cpp
Due: clang-format

Add cuco include dir
  cpp/CMakeLists.txt
Due: none

Bug/correct unused parameters in reshape and text (#8495)
  cpp/src/reshape/byte_cast.cu
  cpp/src/reshape/interleave_columns.cu
  cpp/src/text/detokenize.cu
  cpp/src/text/normalize.cu
  cpp/src/text/stemmer.cu
Due: clang-format

Correct unused parameter warnings in labelling and list algorithms (#8493)
  cpp/src/labeling/label_bins.cu
  cpp/src/lists/contains.cu
  cpp/src/lists/interleave_columns.cu
Due: clang-format

replace_nulls properly propagates memory resource to gather calls (#8500)
  cpp/src/replace/nulls.cu
Due: clang-format

Correct unused parameter warnings in string algorithms (#8509)
  cpp/src/strings/convert/convert_datetime.cu
  cpp/src/strings/convert/convert_durations.cu
  cpp/src/strings/split/split.cu
  cpp/src/strings/substring.cu
Due: clang-format

Add functionality to apply `Dtype` metadata to `ColumnBase` (#8373)
  python/cudf/cudf/core/column/__init__.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/utils/dtypes.py
Due: mypy

removed loops from tests
  cpp/tests/copying/reverse_tests.cpp
Due: clang-format

Fix circular import issues.
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/dtypes.py
Due: mypy

Additional formatting
  cpp/include/cudf/io/datasource.hpp
Due: clang-format

Somewhere in the middle
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/core/column/__init__.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_categorical.py
Due: mypy

move dict len to RLE part of the streams
  cpp/src/io/orc/writer_impl.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

fix typo
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

jni wrapper for collect_merge
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/native/src/AggregationJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: clang-format

added unit test for reading zip-compressed CSV
  cpp/tests/io/csv_test.cpp
Due: clang-format

replaced underflow handling
  cpp/src/io/comp/uncomp.cpp
Due: clang-format

style fixes
  cpp/src/transform/transform.cpp
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/udf/lowering.py
  python/cudf/cudf/core/udf/pipeline.py
  python/cudf/cudf/core/udf/typing.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: clang-format, mypy

more style fixes
  python/cudf/cudf/core/dataframe.py
Due: mypy

update tests and _ops
  python/cudf/cudf/core/udf/_ops.py
  python/cudf/cudf/tests/test_extension_compilation.py
Due: mypy

removing stale code and fixing copying issue in repr.
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/series.py
Due: mypy

style issues.
  python/cudf/cudf/core/column/categorical.py
Due: mypy

Added test for multiple inputs and read_json
  python/cudf/cudf/io/json.py
  python/cudf/cudf/tests/test_json.py
Due: mypy

Use metadata apply in pack/unpack
  python/cudf/cudf/_lib/copying.pyx
Due: none

Fix categorical test
  python/cudf/cudf/tests/test_pack.py
Due: mypy

Correct unused parameter warnings in transform and unary ops
  cpp/src/transform/row_bit_count.cu
  cpp/src/unary/cast_ops.cu
  cpp/src/unary/math_ops.cu
Due: clang-format

fix imports
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/io/csv.py
Due: mypy

Add cudf::strings::integer_to_hex convert API (#8450)
  cpp/include/cudf/strings/convert/convert_integers.hpp
  cpp/src/strings/convert/convert_hex.cu
  cpp/tests/strings/integers_tests.cpp
  python/cudf/cudf/_lib/cpp/strings/convert/convert_integers.pxd
  python/cudf/cudf/_lib/string_casting.pyx
Due: clang-format

replace children-pair with struct bindings
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/replace/backref_re.cuh
Due: clang-format

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
