Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Address reviews
  python/cudf/cudf/core/udf/classes.py
  python/cudf/cudf/core/udf/lowering.py
  python/cudf/cudf/core/udf/typing.py
Due: mypy

Apply suggestions from code review
  python/cudf/cudf/core/udf/lowering.py
  python/cudf/cudf/core/udf/typing.py
Due: mypy

address more revies
  python/cudf/cudf/core/udf/lowering.py
Due: mypy

simplify masked/unmasked typing logic
  python/cudf/cudf/core/udf/typing.py
Due: mypy

JNI support for capitalize (#8624)
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Due: clang-format

initial
  docs/cudf/source/PandasCompat.rst
  docs/cudf/source/_ext/PandasCompat.py
  docs/cudf/source/conf.py
  docs/cudf/source/index.rst
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/multiindex.py
Due: mypy

Simple Demo
  docs/cudf/source/PandasCompat.rst
  docs/cudf/source/_ext/PandasCompat.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/multiindex.py
Due: mypy

fix stats
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/statistics/column_statistics.cuh
Due: clang-format

fix double counting of columns in select indices
  cpp/src/io/csv/reader_impl.cu
Due: clang-format

unit test for duplicates in select indices, select column names
  cpp/tests/io/csv_test.cpp
Due: clang-format

Update conda/recipes/cudf/meta.yaml
  conda/recipes/cudf/meta.yaml
Due: none

Ensure arrow-cpp package for libcudf recipe
  conda/recipes/libcudf/meta.yaml
Due: none

style fixes
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/udf/lowering.py
  python/cudf/cudf/core/udf/typing.py
Due: mypy

fix repeated names for mangle duplicate names
  cpp/src/io/csv/reader_impl.cu
Due: clang-format

Add variable for iterator difference
  cpp/src/io/csv/reader_impl.cu
Due: clang-format

FIX Define CUDF root for maven build, reduce console output
  ci/gpu/java.sh
Due: none

Temporarily disable libcudf example build tests (#8642)
  ci/gpu/build.sh
Due: none

Support multi-char case conversion in capitalize function
  cpp/src/strings/capitalize.cu
  cpp/tests/strings/case_tests.cpp
Due: clang-format

Add proper support for tolerances in testing methods.
  python/cudf/cudf/testing/testing.py
Due: mypy

Ensure dev environment uses Arrow GPU packages (#8637)
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
Due: none

Add strings support to cudf::shift function
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/detail/copying.hpp
  cpp/src/copying/shift.cu
  cpp/src/strings/copying/shift.cu
  cpp/tests/copying/shift_tests.cpp
Due: clang-format

review feedback
  cpp/src/copying/copy.cu
Due: clang-format

Update python/cudf/cudf/tests/test_stats.py
  python/cudf/cudf/tests/test_stats.py
Due: mypy

Added pct_change function and tests for Series
  notebooks/test-pct_change.ipynb
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_stats.py
Due: mypy

Update python/cudf/cudf/core/series.py
  python/cudf/cudf/core/series.py
Due: mypy

Added test for consecutive Nones to pct_change pytest and reformatted code to conform to flake8
  notebooks/test-pct_change.ipynb
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_stats.py
Due: mypy

flake8
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_stats.py
Due: mypy

row group fix
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_init.cu
Due: clang-format

Finish unit tests for M2 aggregation
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_m2.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/m2_tests.cpp
Due: clang-format

Rewrite doxygen
  cpp/include/cudf/aggregation.hpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_reductions.hpp
Due: clang-format

Fix `MERGE_M2`implementation
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/groupby/sort/group_merge_m2.cu
Due: clang-format

Finish unit tests for `MERGE_M2`
  cpp/tests/groupby/merge_m2_tests.cpp
Due: clang-format

Fix copyright header
  cpp/src/groupby/sort/group_m2.cu
Due: clang-format

refactor lowering for reflected const ops
  python/cudf/cudf/core/udf/lowering.py
Due: mypy

Rename functor
  cpp/src/groupby/sort/group_m2.cu
Due: clang-format

ENH Add Java CI build script (#8627)
  ci/gpu/java.sh
Due: none

Flatten nested groupby collect result
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

cleanup
  python/cudf/cudf/core/udf/classes.py
Due: mypy

Source link in the box
  docs/cudf/source/_ext/PandasCompat.py
Due: mypy

Added pct_change to Series
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_stats.py
Due: mypy
