Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Add test comparing to hash join result for joining using the NULL_EQUALs operator.
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

Add support for passing different null equalities through to joins and test both EQUAL and NULL_EQUAL joins for different desired null equalities.
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

Remove now obselete special handling for EQUAL.
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
Due: clang-format

Clean up and add more tests of nullable columns.
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

Add some using declarations for various complicated compound types.
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

Change percentages
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

Detail docs over pandas vs cudf difference on uniform windows
  python/cudf/cudf/tests/test_rolling.py
Due: mypy

adjust multibyte_split benchmark deviation math to be representative of intent.
  cpp/benchmarks/io/text/multibyte_split_benchmark.cpp
Due: clang-format

move upstream refactor into dask-cudf
  python/dask_cudf/dask_cudf/io/orc.py
Due: mypy

roll back to_orc changes (need kwargs mechanism)
  python/dask_cudf/dask_cudf/io/orc.py
Due: mypy

Fix newly introduced use of Index._from_data from upstream merging.
  python/cudf/cudf/_lib/groupby.pyx
Due: none

Move BaseIndex into a separate module.
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/index.py
Due: mypy

.
  cpp/tests/io/csv_test.cpp
Due: clang-format

Support nested types for nth_element reduction (#9043)
  cpp/include/cudf/scalar/scalar_factories.hpp
  cpp/src/reductions/reductions.cpp
  cpp/src/scalar/scalar_factories.cpp
  cpp/tests/groupby/nth_element_tests.cpp
  cpp/tests/reductions/reduction_tests.cpp
Due: clang-format

moved read_orc and to_orc improvements to dask-cudf
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/orc.py
Due: mypy

moved read_orc and to_orc improvements to dask-cudf
  python/cudf/cudf/io/utils.py
Due: mypy

copy temporary ORCFunctionWrapper changes into dask-cudf
  python/dask_cudf/dask_cudf/io/orc.py
Due: mypy

Fix MultiIndex drop.
  python/cudf/cudf/core/frame.py
Due: mypy

more changes for crosstab.
  python/cudf/cudf/core/reshape.py
Due: mypy

Update to UCX-Py 0.22
  ci/gpu/build.sh
  ci/gpu/java.sh
Due: none

remove extra is from doxygen comment wording
  cpp/include/cudf/strings/detail/convert/fixed_point.cuh
Due: clang-format

simplify timestamp_from_parts subsecond logic
  cpp/src/strings/convert/convert_datetime.cu
Due: clang-format

Fix compile warnings found using nvcc 11.4
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/src/io/orc/reader_impl.cu
  cpp/src/merge/merge.cu
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

Update out of date copyright year ranges
  cpp/cmake/thirdparty/get_libcudacxx.cmake
  cpp/libcudf_kafka/CMakeLists.txt
  java/src/main/native/cmake/Modules/ConfigureNvcomp.cmake
Due: none

general partitioning and filtering working
  python/cudf/cudf/io/orc.py
  python/dask_cudf/dask_cudf/io/orc.py
Due: mypy

minor style adjustments
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/csv/reader_impl.cu
Due: clang-format

add all-specifiers test for from_timestamp
  cpp/tests/strings/datetime_tests.cpp
Due: clang-format

progress, some failing tests
  python/cudf/cudf/core/window/ewm.py
  python/cudf/cudf/tests/test_ewm.py
Due: mypy

Update to UCX-Py 0.22 (#9099)
  ci/gpu/build.sh
  ci/gpu/java.sh
Due: none

add test coverage
  python/dask_cudf/dask_cudf/io/orc.py
  python/dask_cudf/dask_cudf/io/tests/test_orc.py
Due: mypy

multibyte_split: replace typedef with using and replace uint32_t with std::size_t where appropriate
  cpp/include/cudf/io/text/data_chunk_source.hpp
  cpp/include/cudf/io/text/data_chunk_source_factories.hpp
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

make data_chunk_reader::get_next_chunk docs more informative.
  cpp/include/cudf/io/text/data_chunk_source.hpp
Due: clang-format

fix style
  cpp/include/cudf/io/text/data_chunk_source_factories.hpp
Due: clang-format

test sample_data
  python/dask_cudf/dask_cudf/io/tests/test_orc.py
Due: mypy

add comments
  python/dask_cudf/dask_cudf/io/orc.py
Due: mypy

add legacy testing
  python/dask_cudf/dask_cudf/io/tests/test_orc.py
Due: mypy

fix files_per_metadata_tasks name
  python/dask_cudf/dask_cudf/io/orc.py
Due: mypy

removing column counts
  python/cudf/cudf/core/dataframe.py
Due: mypy

Update python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dataframe.py
Due: mypy

move filepath and mmap logic out of json/csv up to functions.cpp (#9040)
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/detail/avro.hpp
  cpp/include/cudf/io/detail/orc.hpp
  cpp/include/cudf/io/detail/parquet.hpp
  cpp/include/cudf/io/json.hpp
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/comp/io_uncomp.h
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/csv/reader_impl.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/utilities/parsing_utils.cu
  cpp/src/io/utilities/parsing_utils.cuh
  python/cudf/cudf/_lib/csv.pyx
Due: clang-format

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
