Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                # Added to simplify invocation of all other hooks
                # simultaneously (via any other hook stage).  This can be
                # removed if we also move to running clang-format entirely
                # through pre-commit.
                stages: [commit]
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Refactor buffer and hash_step callbacks.
  cpp/src/hash/md5_hash.cu
Due: clang-format

Move processing functions around.
  cpp/src/hash/md5_hash.cu
Due: clang-format

Fix test failures from upstream merge
  python/dask_cudf/dask_cudf/sorting.py
Due: mypy

Remove commented out partitions setting
  python/dask_cudf/dask_cudf/sorting.py
Due: mypy

Update to canonical pre-commit hook URLs.
  .pre-commit-config.yaml
Due: none

Greatly simplify null position handling
  python/dask_cudf/dask_cudf/sorting.py
Due: mypy

Remove na_position from tests where it's unnecessary
  python/dask_cudf/dask_cudf/tests/test_sort.py
Due: mypy

Update pydocstyle hook to 6.1.1.
  .pre-commit-config.yaml
Due: none

Update isort hook to 5.9.3.
  .pre-commit-config.yaml
Due: none

Update flake8 hook to 4.0.1.
  .pre-commit-config.yaml
Due: none

progress? idk
  python/cudf/cudf/core/udf/_ops.py
  python/cudf/cudf/core/udf/pipeline.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: mypy

MD5Hasher now owns its hash state.
  cpp/src/hash/md5_hash.cu
Due: clang-format

fixing bug with float columns when 'enough' data was present. Updated function names
  cpp/benchmarks/row_conversion/row_conversion.cpp
  cpp/include/cudf/row_conversion.hpp
  cpp/src/row_conversion/row_conversion.cu
  cpp/tests/row_conversion/row_conversion.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/main/native/src/row_conversion.cu
  java/src/main/native/src/row_conversion.hpp
Due: clang-format

Generalize handling of _MultiIndexColumnName.
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/multiindex.py
Due: mypy

verify output columns names are correct, as well
  cpp/src/io/csv/writer_impl.cu
  cpp/tests/io/csv_test.cpp
Due: clang-format

Fix all bugs but one repr issue.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_repr.py
  python/cudf/cudf/tests/test_rolling.py
Due: mypy

Add IndexedFrame class and move SingleColumnFrame to a separate module (#9378)
  python/.flake8
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexed_frame.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/single_column_frame.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/utils/utils.py
Due: mypy

Passing all tests!
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_onehot.py
Due: mypy

fixing last minute breakage
  python/cudf/cudf/_lib/transform.pyx
Due: none

Update python/dask_cudf/dask_cudf/tests/test_sort.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
Due: mypy

Make sure sorting is being checked
  python/dask_cudf/dask_cudf/tests/test_sort.py
Due: mypy

Fix quantile division / partition handling for dask-cudf sort on null dataframes (#9259)
  python/dask_cudf/dask_cudf/sorting.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
Due: mypy

Use HasherDispatcher to avoid unexpected memory access error with type dispatch.
  cpp/src/hash/md5_hash.cu
Due: clang-format

Move methods from md5_hash_state to MD5Hasher class.
  cpp/src/hash/md5_hash.cu
Due: clang-format

add more unary ops and test them
  python/cudf/cudf/core/udf/_ops.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: mypy

address reviews
  python/cudf/cudf/core/udf/typing.py
Due: mypy

type annotations, internal docs, use keyword args
  python/cudf/cudf/core/reshape.py
Due: mypy

add missing stream to scalar.is_valid() wherever stream is available
  cpp/src/binaryop/binaryop.cpp
  cpp/src/column/column_factories.cpp
  cpp/src/column/column_factories.cu
  cpp/src/copying/copy.cu
  cpp/src/copying/segmented_shift.cu
  cpp/src/dictionary/replace.cu
  cpp/src/dictionary/search.cu
  cpp/src/filling/fill.cu
  cpp/src/filling/repeat.cu
  cpp/src/reductions/simple.cuh
  cpp/src/replace/clamp.cu
  cpp/src/replace/nulls.cu
  cpp/src/scalar/scalar.cpp
  cpp/src/search/search.cu
  cpp/src/strings/char_types/char_types.cu
  cpp/src/strings/combine/concatenate.cu
  cpp/src/strings/combine/join.cu
  cpp/src/strings/combine/join_list_elements.cu
  cpp/src/strings/convert/convert_booleans.cu
  cpp/src/strings/filter_chars.cu
  cpp/src/strings/find.cu
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/replace/replace_re.cu
  cpp/src/strings/split/partition.cu
  cpp/src/strings/split/split.cu
  cpp/src/strings/split/split_record.cu
  cpp/src/strings/strip.cu
  cpp/src/strings/substring.cu
  cpp/src/text/detokenize.cu
  cpp/src/text/generate_ngrams.cu
  cpp/src/text/ngrams_tokenize.cu
  cpp/src/text/replace.cu
  cpp/src/text/tokenize.cu
Due: clang-format

Update cpp/src/scalar/scalar.cpp
  cpp/src/scalar/scalar.cpp
Due: clang-format

Provide na_position to final map_partitions call
  python/dask_cudf/dask_cudf/sorting.py
Due: mypy

Make Series.hash_encode results reproducible. (#9366)
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Revert "Fix quantile division / partition handling for dask-cudf sort on null dataframes (#9259)"
  python/dask_cudf/dask_cudf/sorting.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
Due: mypy

Fix formatting errors
  java/src/main/native/src/check_nvcomp_output_sizes.cu
  java/src/main/native/src/check_nvcomp_output_sizes.hpp
Due: clang-format

Checkpoint: C++, Cython, and Python compiling working. Callback object generated
  cpp/libcudf_kafka/include/cudf_kafka/kafka_consumer.hpp
  cpp/libcudf_kafka/src/kafka_consumer.cpp
  python/cudf_kafka/cudf_kafka/_lib/kafka.pyx
Due: clang-format

Some initial work on exposing OO interface
  python/cudf/cudf/_lib/cpp/join.pxd
  python/cudf/cudf/_lib/join.pyx
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/join/join.py
Due: mypy

moved configuration building and validating logic to its own method
  cpp/libcudf_kafka/include/cudf_kafka/kafka_consumer.hpp
  cpp/libcudf_kafka/src/kafka_consumer.cpp
  python/custreamz/custreamz/kafka.py
Due: clang-format, mypy

start to reorganize and refactor things
  python/cudf/cudf/core/udf/pipeline.py
Due: mypy

refactoring continues
  python/cudf/cudf/core/udf/pipeline.py
Due: mypy

BUG FIX: CSV Writer ignores the header parameter when no metadata is provided (#8740)
  cpp/src/io/csv/writer_impl.cu
  cpp/tests/io/csv_test.cpp
Due: clang-format
