Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

More constructor simplifications.
  python/cudf/cudf/core/multiindex.py
Due: mypy

Simplify some input checking.
  python/cudf/cudf/core/multiindex.py
Due: mypy

Inline _popn and delete unused _level_name_from_level.
  python/cudf/cudf/core/multiindex.py
Due: mypy

Remove some unused functions and standardize others in Frame.
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
Due: mypy

Remove long deprecated labels parameter to constructor.
  python/cudf/cudf/core/multiindex.py
Due: mypy

Simplify getitem.
  python/cudf/cudf/core/multiindex.py
Due: mypy

Add back accidentally removed MultiIndex.size computation.
  python/cudf/cudf/core/multiindex.py
Due: mypy

Various minor improvements.
  python/cudf/cudf/core/multiindex.py
Due: mypy

Rewrite constructor to use dict, import is_list_like at module level, and remove unnecessary mask method.
  python/cudf/cudf/core/multiindex.py
Due: mypy

Fix signature of __deepcopy__.
  python/cudf/cudf/core/frame.py
Due: mypy

Fix behavior of string cat index retention.
  python/cudf/cudf/core/column/string.py
Due: mypy

Some minor simplifications to the internals of _index_and_downcast.
  python/cudf/cudf/core/multiindex.py
Due: mypy

Rewrite difference and fix bug.
  python/cudf/cudf/core/multiindex.py
Due: mypy

Add back comment for iter.
  python/cudf/cudf/core/frame.py
Due: mypy

Refactor gpuOutputInt96Timestamp with chrono + update copyright
  cpp/src/io/parquet/page_data.cu
Due: clang-format

Add tests of difference.
  python/cudf/cudf/tests/test_multiindex.py
Due: mypy

Address PR comments.
  python/cudf/cudf/core/multiindex.py
Due: mypy

Remove accidentally added test from 21.10 merge that will conflict with version from 21.10 to prevent forward merge issues.
  python/cudf/cudf/tests/test_multiindex.py
Due: mypy

Use uint32_t consistently to avoid mixing signed/unsigned types.
  cpp/src/hash/sha_hash.cu
Due: clang-format

Simplify word size.
  cpp/src/hash/sha_hash.cu
Due: clang-format

Add number_of_values test in orc to ensure we dont break anything
  python/cudf/cudf/tests/test_orc.py
Due: mypy

Wrap up parquet refactoring
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/reader_impl.cu
Due: clang-format

Wrap up csv refactoring
  cpp/src/io/csv/csv_gpu.cu
Due: clang-format

Minor improvements to constness.
  cpp/src/hash/sha_hash.cu
Due: clang-format

Add tests for empty tables.
  cpp/src/hash/sha_hash.cu
  cpp/tests/hashing/hash_test.cpp
Due: clang-format

Replace magic number 3 with BLOCK_HEADER_SIZE
  cpp/src/io/orc/orc_common.h
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Various internal MultiIndex improvements (#9243)
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_multiindex.py
Due: mypy

changes from review
  java/src/main/native/src/map_lookup.cu
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Due: clang-format

removing whitespace addition
  java/src/main/native/src/map_lookup.cu
Due: clang-format

make "from_dataframe" accessible cudf: cudf.from_dataframe
  python/cudf/cudf/__init__.py
Due: mypy

Temporary fix for chrono groupby min_tests
  cpp/include/cudf/detail/utilities/device_operators.cuh
Due: clang-format

updating copyright
  java/src/main/native/src/map_lookup.cu
Due: clang-format

maintaining index values.
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

Copyright updates
  cpp/src/io/orc/orc_common.h
  cpp/src/io/orc/stripe_init.cu
Due: clang-format

Enable debug mode on sha_hash.cu so that CI can compile.
  cpp/CMakeLists.txt
Due: none

Fix Java column leak in testParquetWriteMap
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

Update cudf java bindings to 21.12.0-SNAPSHOT (#9248)
  java/ci/README.md
  java/pom.xml
  java/src/main/native/CMakeLists.txt
Due: none

Build and install cudf-config provide same arrow target names
  cpp/cmake/thirdparty/get_arrow.cmake
Due: none

Update python/cudf/cudf/core/index.py
  python/cudf/cudf/core/index.py
Due: mypy

Update python/cudf/cudf/core/series.py
  python/cudf/cudf/core/series.py
Due: mypy

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
