Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Remove extra header
  cpp/benchmarks/io/csv/csv_reader_benchmark.cpp
  cpp/benchmarks/io/csv/csv_writer_benchmark.cpp
  cpp/benchmarks/io/orc/orc_reader_benchmark.cpp
  cpp/benchmarks/io/orc/orc_writer_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_reader_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_writer_chunks_benchmark.cpp
Due: clang-format

Refine join benchmarks to use the common API
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/join/join_benchmark.cu
  cpp/benchmarks/join/join_nvbench.cu
Due: clang-format

Generalized null support in user defined functions (#8213)
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
  cpp/include/cudf/transform.hpp
  cpp/src/transform/jit/masked_udf_kernel.cu
  cpp/src/transform/transform.cpp
  python/cudf/cudf/_lib/cpp/transform.pxd
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/core/__init__.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/udf/__init__.py
  python/cudf/cudf/core/udf/_ops.py
  python/cudf/cudf/core/udf/classes.py
  python/cudf/cudf/core/udf/lowering.py
  python/cudf/cudf/core/udf/pipeline.py
  python/cudf/cudf/core/udf/typing.py
  python/cudf/cudf/tests/test_extension_compilation.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
  python/cudf/cudf/utils/cudautils.py
Due: clang-format, mypy

Bump isort version in env/requirement files
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  python/cudf_kafka/dev_requirements.txt
  python/custreamz/dev_requirements.txt
  python/dask_cudf/dev_requirements.txt
Due: none

add reusable tilestate callback to `multibyte_split`
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

Add rmm_pool_raii class
  cpp/benchmarks/fixture/rmm_pool_raii.hpp
  cpp/benchmarks/join/join_nvbench.cu
Due: clang-format

Handle sliced nested type columns properly in concatenation bounds checking code.
  cpp/src/copying/concatenate.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/concatenate_tests.cu
Due: clang-format

Cleanup new test names.
  cpp/tests/copying/concatenate_tests.cu
Due: clang-format

Docs and Cleanups
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/utilities/file_io_utilities.hpp
Due: clang-format

begin working on warp-reduce window aggregation of tile state in multibyte_split
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

Incorporate conditional join logic in the common API
  cpp/benchmarks/join/join_benchmark_common.hpp
Due: clang-format

Fix issues with `MultiIndex` in `dropna`, `stack` & `reset_index` (#8753)
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_reshape.py
Due: mypy

Review changes
  python/cudf/cudf/_lib/utils.pyx
Due: none

Update utils.pyx
  python/cudf/cudf/_lib/utils.pyx
Due: none

Update cpp/benchmarks/fixture/benchmark_fixture.hpp
  cpp/benchmarks/fixture/benchmark_fixture.hpp
Due: clang-format

Bump `isort` to `5.6.4` and remove `isort` overrides made for 5.0.7 (#8755)
  ci/checks/style.sh
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  python/cudf/cudf/__init__.py
  python/cudf_kafka/dev_requirements.txt
  python/custreamz/dev_requirements.txt
  python/dask_cudf/dask_cudf/io/tests/test_json.py
  python/dask_cudf/dev_requirements.txt
Due: mypy

.
  python/cudf/cudf/core/column/categorical.py
Due: mypy

review fixes and remove namespace in touched files
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/groupby/sort_helper.hpp
  cpp/src/groupby/sort/group_dense_rank_scan.cu
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/groupby/sort/group_scan.hpp
  cpp/src/reductions/scan/scan.cuh
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/tests/groupby/rank_scan_tests.cpp
  cpp/tests/reductions/scan_tests.cpp
Due: clang-format

Add M2 and MERGE_M2 aggregation
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/native/src/AggregationJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: clang-format

Write pandas extension types to parquet file metadata (#8749)
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/tests/test_parquet.py
Due: mypy

Change equality and equivalence functions to return a bool instead of void. Change the print_all_differences parameter to be an enum with 3 values : FIRST_ERROR, ALL_ERRORS and QUIET.
  cpp/include/cudf_test/column_utilities.hpp
  cpp/tests/ast/transform_tests.cpp
  cpp/tests/binaryop/binop-integration-test.cpp
  cpp/tests/copying/reverse_tests.cpp
  cpp/tests/copying/scatter_struct_scalar_tests.cpp
  cpp/tests/copying/scatter_struct_tests.cpp
  cpp/tests/datetime/datetime_ops_test.cpp
  cpp/tests/filling/repeat_tests.cpp
  cpp/tests/groupby/groupby_test_util.hpp
  cpp/tests/groupby/m2_tests.cpp
  cpp/tests/groupby/merge_lists_tests.cpp
  cpp/tests/groupby/merge_m2_tests.cpp
  cpp/tests/groupby/merge_sets_tests.cpp
  cpp/tests/hashing/hash_test.cpp
  cpp/tests/io/orc_test.cpp
  cpp/tests/lists/combine/concatenate_list_elements_tests.cpp
  cpp/tests/lists/combine/concatenate_rows_tests.cpp
  cpp/tests/reshape/interleave_columns_tests.cpp
  cpp/tests/search/search_struct_test.cpp
  cpp/tests/strings/combine/concatenate_tests.cpp
  cpp/tests/strings/combine/join_list_elements_tests.cpp
  cpp/tests/strings/floats_tests.cpp
  cpp/tests/strings/repeat_strings_tests.cpp
  cpp/tests/strings/substring_tests.cpp
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities_tests/column_utilities_tests.cpp
Due: clang-format

remove extra file
  java/rmm_log.txt
Due: none

isort style fix
  python/cudf/cudf/_lib/utils.pyx
Due: none

remove optionals from append_orc_column
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

typo fix
  cpp/src/io/orc/writer_impl.hpp
Due: clang-format

review feedback 2
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

add test with many rows in child column (over stripe row limit)
  python/cudf/cudf/tests/test_orc.py
Due: mypy

yet another style fix
  python/cudf/cudf/tests/test_orc.py
Due: mypy

fix multibyte_split bug where non-streaming approach would hang
  cpp/benchmarks/io/text/multibyte_split_benchmark.cpp
  cpp/src/io/text/host_device_istream.cpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

primary changes
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/structs/structs_column_factories.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

primary changes
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

interleaved streaming io for multibyte_split
  cpp/benchmarks/io/text/multibyte_split_benchmark.cpp
  cpp/src/io/text/host_device_istream.cpp
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

use no-copy string column construction in multibyte_split
  cpp/benchmarks/io/text/multibyte_split_benchmark.cpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

test cases working
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

document multibyte_split minimum tile count requirements
  cpp/benchmarks/io/text/multibyte_split_benchmark.cpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

move type_kind out of Stream to stay consistent with the spec
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Due: clang-format

make a few lines more readable
  cpp/src/io/orc/stripe_enc.cu
Due: clang-format

add nulls to child columns in a test
  python/cudf/cudf/tests/test_orc.py
Due: mypy

Add peak memory usage tracking to cuIO benchmarks (#7770)
  cpp/benchmarks/fixture/benchmark_fixture.hpp
  cpp/benchmarks/io/csv/csv_reader_benchmark.cpp
  cpp/benchmarks/io/csv/csv_writer_benchmark.cpp
  cpp/benchmarks/io/orc/orc_reader_benchmark.cpp
  cpp/benchmarks/io/orc/orc_writer_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_reader_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_writer_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_writer_chunks_benchmark.cpp
Due: clang-format

updates
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy
