Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Update python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

decimal128 comparision tests
  cpp/tests/binaryop/binop-integration-test.cpp
Due: clang-format

Enhance decimal128 comparison tests
  cpp/tests/binaryop/binop-integration-test.cpp
Due: clang-format

small cleanup
  cpp/tests/binaryop/binop-integration-test.cpp
Due: clang-format

Minor updates + docs
  cpp/src/io/parquet/page_data.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/reader_impl.cu
Due: clang-format

Fix call to thrust::reduce_by_key in argmin/argmax libcudf groupby (#9263)
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
Due: clang-format

catching error if not an index or series.
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

fixing style issues.
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

Explicit about bitwidth difference between cudf boolean and arrow boolean (#9192)
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_dtypes.py
  python/cudf/cudf/utils/dtypes.py
Due: mypy

adding format params in test_datetime_strftime.
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

Null percentiles return the minimum value. Empty percentiles return null return rows.
  cpp/include/cudf/detail/quantiles.hpp
  cpp/include/cudf/quantiles.hpp
  cpp/src/quantiles/tdigest/tdigest.cu
  cpp/tests/quantiles/percentile_approx_test.cu
Due: clang-format

change dummy to local
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/utils/ioutils.py
Due: mypy

Fix Java column leak in testParquetWriteMap (#9271)
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

add comments
  python/cudf/cudf/io/parquet.py
Due: mypy

Refactor to_clockrate
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

Fixing empty input to getMapValue crashing (#9262)
  java/src/main/native/src/map_lookup.cu
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Due: clang-format

First attempt at fixing the bug
  cpp/src/io/statistics/typed_statistics_chunk.cuh
Due: clang-format

Use nvcomp's snappy compressor in ORC writer (#9242)
  cpp/src/io/orc/orc_common.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Add `dseries.struct.explode` (#9086)
  python/dask_cudf/dask_cudf/accessors.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Due: mypy

simplify PR to require NativeFile input (no more uri inference for now)
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/utils/ioutils.py
Due: mypy

partial
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format

Wave of review changes. Notably: add tdigest namespace to help group some internal constants and functions together; removed the ability to specify an output type from percentile_approx.
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/quantiles.hpp
  cpp/include/cudf/detail/tdigest/tdigest.hpp
  cpp/include/cudf/quantiles.hpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/src/groupby/sort/group_tdigest.cu
  cpp/src/quantiles/tdigest/tdigest.cu
  cpp/tests/groupby/tdigest_tests.cu
  cpp/tests/quantiles/percentile_approx_test.cu
Due: clang-format

Convert columns to index before setting in _init_from_series_list.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Add shallow hash function and shallow equality comparison for column_view (#9185)
  cpp/include/cudf/column/column_view.hpp
  cpp/include/cudf/detail/hashing.hpp
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/include/cudf_test/type_lists.hpp
  cpp/src/column/column_view.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/column/column_view_shallow_test.cpp
Due: clang-format

update signature
  python/cudf/cudf/core/dataframe.py
Due: mypy

Optimized fsspec data transfer for remote file-systems (#9265)
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_gcs.py
  python/cudf/cudf/tests/test_s3.py
  python/cudf/cudf/utils/ioutils.py
  python/dask_cudf/dask_cudf/io/parquet.py
Due: mypy

Update nvcomp
  cpp/cmake/thirdparty/get_nvcomp.cmake
Due: none

Stop CMake from marking cudf's libcudacxx and thrust includes as system
  cpp/CMakeLists.txt
Due: none

Misc PR review changes. Use 'centroid' instead of 'centroid_tuple' in tdigest aggregations. Change 'delta' to 'max_centroids' in externally facing interfaces to tdigest aggregations.
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/src/groupby/sort/group_tdigest.cu
  cpp/src/quantiles/tdigest/tdigest.cu
Due: clang-format

more fixes
  python/cudf/cudf/core/frame.py
Due: mypy

Refactor ORC stripe data
  cpp/src/io/orc/stripe_data.cu
Due: clang-format

Add support for struct type in ORC writer (#9025)
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/io/orc.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/include/cudf/io/types.hpp
  cpp/include/cudf/utilities/bit.hpp
  cpp/include/cudf_test/io_metadata_utilities.hpp
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/tests/io/metadata_utilities.cpp
  cpp/tests/io/orc_test.cpp
  cpp/tests/io/parquet_test.cpp
  java/src/main/java/ai/rapids/cudf/ORCWriterOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
  python/cudf/cudf/_lib/cpp/io/orc.pxd
  python/cudf/cudf/_lib/cpp/io/parquet.pxd
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/utils/ioutils.py
Due: clang-format, mypy

Refactor the guts of the percentile_approx kernel to be considerably cleaner.
  cpp/src/quantiles/tdigest/tdigest.cu
Due: clang-format

Update nvcomp to include fixes for installation of headers (#9276)
  cpp/cmake/thirdparty/get_nvcomp.cmake
Due: none

update java bindings for approx percentile
  java/src/main/native/src/AggregationJni.cpp
  java/src/main/native/src/ColumnViewJni.cpp
Due: clang-format

Add time_utils header
  cpp/src/io/utilities/time_utils.cuh
Due: clang-format

Minor improvement: use time_utils header
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/parquet/reader_impl.cu
Due: clang-format

Minor corrections: use period::den
  cpp/src/io/parquet/page_data.cu
Due: clang-format

Another round of review changes.
  cpp/src/groupby/sort/group_tdigest.cu
Due: clang-format

cleanup
  cpp/src/aggregation/aggregation.cu
  cpp/src/groupby/hash/groupby.cu
Due: clang-format
