Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

fix pytest
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: mypy

Fix instructions for running cuDF/dask-cuDF tests in CONTRIBUTING.md (#8724)
  CONTRIBUTING.md
Due: none

handle index from multiple parquet files
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Due: mypy

Move copyright
  python/cudf/cudf/core/column/__init__.py
Due: mypy

very basic stuff
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
Due: mypy

Fix merge conflicts
  python/cudf/cudf/_lib/scalar.pyx
Due: none

Add a to_struct() method
  python/cudf/cudf/core/dataframe.py
Due: mypy

Added support for 'pad' and 'backfill' as options for fill_method
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_stats.py
Due: mypy

Add DataFrame.to_struct() method
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_struct.py
Due: mypy

Use mt19937 random number generator
  cpp/tests/strings/urls_tests.cpp
Due: clang-format

Add struct.explode() method
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/tests/test_struct.py
Due: mypy

multibyte_split add multi-block support
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

Moved 'pad' and 'backfil' support to Frame
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy

forgot test
  python/cudf/cudf/tests/test_interpolate.py
Due: mypy

add unit tests to replicate the issue #8717
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/min_tests.cpp
Due: clang-format

replace gather with gather_if on indices to fix missing SENTINEL values for argmin, argmax
  cpp/src/groupby/sort/group_argmax.cu
  cpp/src/groupby/sort/group_argmin.cu
Due: clang-format

update copyright year
  cpp/src/groupby/sort/group_argmax.cu
  cpp/src/groupby/sort/group_argmin.cu
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/min_tests.cpp
Due: clang-format

use begin
  cpp/src/groupby/sort/group_argmax.cu
  cpp/src/groupby/sort/group_argmin.cu
Due: clang-format

flake8
  python/cudf/cudf/core/frame.py
Due: mypy

style fix maybe?
  python/cudf/cudf/tests/test_orc.py
Due: mypy

Change all io benchmarks to use RAII stats logger
  cpp/benchmarks/io/csv/csv_reader_benchmark.cpp
  cpp/benchmarks/io/csv/csv_writer_benchmark.cpp
  cpp/benchmarks/io/orc/orc_reader_benchmark.cpp
  cpp/benchmarks/io/orc/orc_writer_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_reader_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_writer_benchmark.cpp
  cpp/benchmarks/io/parquet/parquet_writer_chunks_benchmark.cpp
Due: clang-format

docs
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Due: clang-format

Build JOIN_NVBENCH in CMake
  cpp/benchmarks/CMakeLists.txt
Due: none

Parent is not optional
  python/cudf/cudf/core/column/string.py
Due: mypy

docs fixes
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/timezone.cuh
Due: clang-format

Fix issue in slice() where columns with a positive offset were computing a null count based on the wrong range of validity bits.
  cpp/src/copying/slice.cpp
  cpp/tests/copying/slice_tests.cpp
Due: clang-format

rename BYTES_PER_TILE to ITEMS_PER_TILE
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

Add the first test case in JOIN_NVBENCH
  cpp/benchmarks/join/join_nvbench.cu
Due: clang-format

style fix, third attempt
  python/cudf/cudf/tests/test_orc.py
Due: mypy

Initial
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

Handle sliced struct columns in contiguous_split.
  cpp/src/copying/contiguous_split.cu
  cpp/tests/copying/pack_tests.cpp
  cpp/tests/copying/split_tests.cpp
Due: clang-format

remove _obj_1d_constructor
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/series.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

implemented __setitem__
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_struct.py
Due: mypy

implemented __setitem__
  python/cudf/cudf/_lib/scalar.pyx
Due: none

move things to frame
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_interpolate.py
Due: mypy

kernel clean up
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/stripe_enc.cu
Due: clang-format

Formatting fix.
  cpp/tests/copying/slice_tests.cpp
Due: clang-format

Apply suggestions from code review
  cpp/src/transform/transform.cpp
Due: clang-format

partially address reviews
  cpp/src/transform/jit/masked_udf_kernel.cu
  cpp/src/transform/transform.cpp
Due: clang-format
