Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Fix `Dataframe` indexer setitem when array is passed (#9006)
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Remove usage of string based `set_dtypes` for `csv` & `json` readers (#9049)
  python/cudf/cudf/_lib/cpp/io/csv.pxd
  python/cudf/cudf/_lib/cpp/io/json.pxd
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_json.py
Due: mypy

Apply suggestions from code review
  cpp/include/cudf/scalar/scalar_factories.hpp
  cpp/src/reductions/reductions.cpp
Due: clang-format

Initial
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy

fix style
  cpp/src/reductions/reductions.cpp
Due: clang-format

make serialization function more alike
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
Due: mypy

changes
  cpp/src/io/orc/reader_impl.cu
  python/cudf/cudf/tests/data/orc/TestOrcFile.NoIndStrm.IntWithNulls.orc
  python/cudf/cudf/tests/data/orc/TestOrcFile.NoIndStrm.StructAndIntWithNulls.TwoStripes.orc
  python/cudf/cudf/tests/data/orc/TestOrcFile.NoIndStrm.StructAndIntWithNulls.orc
  python/cudf/cudf/tests/data/orc/TestOrcFile.NoIndStrm.StructWithNulls.orc
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

changes
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

added method to remove null_masks if the column has no nulls
  java/src/main/native/src/TableJni.cpp
Due: clang-format

removed inline keyword
  java/src/main/native/src/TableJni.cpp
Due: clang-format

testing crosstab.
  python/cudf/cudf/core/reshape.py
Due: mypy

adding missing test file
  python/cudf/cudf/tests/data/orc/TestOrcFile.NoIndStrm.StructWithNoNulls.orc
  python/cudf/cudf/tests/data/orc/TestOrcFile.NoIndStrm.StructWithNulls.orc
Due: none

Update file_io_utilities.hpp
  cpp/src/io/utilities/file_io_utilities.hpp
Due: clang-format

Normalize nested dict aggs in one pass
  python/dask_cudf/dask_cudf/groupby.py
Due: mypy

Allow errors from invalid field keys to be thrown from cudf, instead of raising them at the dask-cudf layer
  python/dask_cudf/dask_cudf/accessors.py
Due: mypy

Add multiIndex test
  python/cudf/cudf/tests/test_multiindex.py
Due: mypy

Remove explicit UnaryOperator.IDENTITY for col ref and literals, and add support for this in expression compilation.
  java/src/main/native/src/CompiledExpression.cpp
  java/src/main/native/src/jni_compiled_expr.hpp
  java/src/test/java/ai/rapids/cudf/ast/CompiledExpressionTest.java
Due: clang-format

avoid reusing name var
  python/cudf/cudf/core/multiindex.py
Due: mypy

Call compile_expression from compile_serialized_ast to reduce duplication.
  java/src/main/native/src/CompiledExpression.cpp
Due: clang-format

updated format
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

Update JNI java CSV APIs to not use deprecated API
  java/src/main/java/ai/rapids/cudf/DType.java
  java/src/main/java/ai/rapids/cudf/Schema.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
Due: clang-format

Fix nvcc warnings in ORC writer (#8975)
  cpp/include/cudf/column/column_device_view.cuh
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Fix memcheck read error in libcudf contiguous_split
  cpp/src/copying/contiguous_split.cu
Due: clang-format

Fixed Style
  java/src/main/native/src/TableJni.cpp
Due: clang-format

Cleaned up tests through removal of repeat definitions of struct data used for testing
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Due: mypy

Removal of commented-out import statement
  python/dask_cudf/dask_cudf/accessors.py
Due: mypy

Review fixes
  cpp/src/io/parquet/reader_impl.cu
Due: clang-format

Consolidate kurtosis and skew definitions into Frame.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy

Expose expression base class publicly and simplify public AST API (#9045)
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/benchmarks/ast/transform_benchmark.cpp
  cpp/benchmarks/join/conditional_join_benchmark.cu
  cpp/benchmarks/join/join_benchmark_common.hpp
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/include/cudf/ast/detail/operators.hpp
  cpp/include/cudf/ast/expressions.hpp
  cpp/include/cudf/ast/operators.hpp
  cpp/include/cudf/detail/transform.hpp
  cpp/include/cudf/join.hpp
  cpp/include/cudf/transform.hpp
  cpp/src/ast/expression_parser.cpp
  cpp/src/ast/expressions.cpp
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join.hpp
  cpp/src/transform/compute_column.cu
  cpp/tests/ast/transform_tests.cpp
  cpp/tests/join/conditional_join_tests.cu
  java/src/main/java/ai/rapids/cudf/ast/AstExpression.java
  java/src/main/java/ai/rapids/cudf/ast/BinaryOperation.java
  java/src/main/java/ai/rapids/cudf/ast/BinaryOperator.java
  java/src/main/java/ai/rapids/cudf/ast/ColumnReference.java
  java/src/main/java/ai/rapids/cudf/ast/Literal.java
  java/src/main/java/ai/rapids/cudf/ast/UnaryExpression.java
  java/src/main/java/ai/rapids/cudf/ast/UnaryOperation.java
  java/src/main/java/ai/rapids/cudf/ast/UnaryOperator.java
  java/src/main/native/src/CompiledExpression.cpp
  java/src/main/native/src/jni_compiled_expr.hpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
  java/src/test/java/ai/rapids/cudf/ast/CompiledExpressionTest.java
Due: clang-format

Rewrite count to avoid use of _apply_support_method.
  python/cudf/cudf/core/dataframe.py
Due: mypy

change interface to accept strings-column of names
  cpp/include/cudf/strings/convert/convert_datetime.hpp
  cpp/include/cudf/strings/detail/converters.hpp
  cpp/src/io/csv/writer_impl.cu
  cpp/src/strings/convert/convert_datetime.cu
  cpp/tests/strings/datetime_tests.cpp
Due: clang-format

Delete now unnecessary _apply_support_method and _apply_support_method_axis_0 methods.
  python/cudf/cudf/core/dataframe.py
Due: mypy

move range size padding calculation out of json/csv reader and in to json/csv options
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/json.hpp
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/functions.cpp
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
  python/cudf/cudf/tests/test_csv.py
Due: clang-format, mypy

remove filepaths from json reader
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
Due: clang-format

Fix dict handling in _redirect_aggs, add test case to reflect this
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

Update cpp/src/io/parquet/chunk_dict.cu
  cpp/src/io/parquet/chunk_dict.cu
Due: clang-format

Remove unused imports
  python/cudf/cudf/core/series.py
Due: mypy

Avoid using _make_name for agg renames setting/getting
  python/dask_cudf/dask_cudf/groupby.py
Due: mypy

Add first() and last() to GroupbyAggregation. Remove some old code made obsolete by #7611
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/groupby.pyx
Due: none

Update cpp/src/datetime/datetime_ops.cu
  cpp/src/datetime/datetime_ops.cu
Due: clang-format
