Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Remove device debug symbols from cmake CUDF_CUDA_FLAGS
  cpp/cmake/Modules/ConfigureCUDA.cmake
Due: none

fixed import typo
  python/dask_cudf/dask_cudf/core.py
Due: mypy

Wrap Cython packed columns in serializable Python class
  python/cudf/cudf/_lib/copying.pxd
  python/cudf/cudf/_lib/copying.pyx
Due: none

fixing test failures and correcting dropna test.
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_series.py
Due: mypy

Temporary fix for style failures
  ci/checks/style.sh
  python/dask_cudf/dask_cudf/io/tests/test_json.py
Due: mypy

updates
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

Use cmake 3.20.1 as it is now required by rmm
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
Due: none

adding deprecated attribute to the string-based dtype interface
  cpp/include/cudf/io/csv.hpp
Due: clang-format

Use cmake 3.20.1 as it is now required by rmm
  CONTRIBUTING.md
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/libcudf/meta.yaml
  conda/recipes/libcudf_kafka/meta.yaml
Due: none

Add repeat_strings_benchmark.cpp
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/repeat_strings_benchmark.cpp
Due: clang-format

Add serialization roundtrip tests, centralize in test_pack.py
  python/cudf/cudf/tests/test_pack.py
  python/cudf/cudf/tests/test_pickling.py
Due: mypy

Fix string offsets computation
  cpp/src/strings/repeat_strings.cu
Due: clang-format

wip
  cpp/src/copying/copy.cu
  cpp/tests/copying/copy_if_else_nested_tests.cpp
Due: clang-format

Support for user defined columns they wish to convert from decimale to float64
  cpp/include/cudf/io/orc.hpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/_lib/cpp/io/orc.pxd
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/utils/ioutils.py
Due: clang-format, mypy

wip
  cpp/tests/copying/copy_tests.cu
Due: clang-format

add arrow 4.0.1 in cpu builds
  ci/cpu/build.sh
Due: none

wip
  cpp/tests/copying/copy_if_else_nested_tests.cpp
Due: clang-format

Use cmake 3.20.1 as it is now required by rmm (#8586)
  CONTRIBUTING.md
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/libcudf/meta.yaml
  conda/recipes/libcudf_kafka/meta.yaml
Due: none

Set cuco::static_multimap as default multimap
  cpp/src/join/join_common_utils.hpp
Due: clang-format

conda install
  ci/cpu/build.sh
Due: none

wip
  cpp/src/copying/copy.cu
Due: clang-format

Refactor join APIs: take cuco multimap view as argument
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
  cpp/src/join/join_kernels.cuh
Due: clang-format

Implement benchmarks
  cpp/benchmarks/string/repeat_strings_benchmark.cpp
Due: clang-format

gpu packages
  ci/cpu/build.sh
Due: none

Update docs
  cpp/src/join/join_kernels.cuh
Due: clang-format

non SFINAE impl
  cpp/include/cudf/utilities/type_checks.hpp
  cpp/src/utilities/type_checks.cpp
Due: clang-format

docs
  cpp/include/cudf/utilities/type_checks.hpp
Due: clang-format

excessive import
  cpp/include/cudf/utilities/type_checks.hpp
Due: clang-format

license
  cpp/include/cudf/utilities/type_checks.hpp
  cpp/src/utilities/type_checks.cpp
Due: clang-format

left scalar test
  cpp/tests/copying/copy_if_else_nested_tests.cpp
Due: clang-format

Implement separate overflow checking
  cpp/src/strings/repeat_strings.cu
Due: clang-format

-y
  ci/cpu/build.sh
Due: none

east const
  cpp/src/io/csv/reader_impl.hpp
Due: clang-format

use conda
  ci/cpu/build.sh
Due: none

Implement integrated overflow checking
  cpp/include/cudf/strings/detail/utilities.cuh
  cpp/src/strings/repeat_strings.cu
Due: clang-format

fixed style
  cpp/src/io/csv/reader_impl.hpp
Due: clang-format

fix
  ci/cpu/build.sh
Due: none

Apply suggestions from code review
  ci/cpu/build.sh
  ci/gpu/build.sh
Due: none
