Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

`fixed_point` `cudf::groupby` for `mean` aggregation (#9296)
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/tests/groupby/mean_tests.cpp
Due: clang-format

remove unneeded gather.cuh includes
  cpp/src/copying/scatter.cu
  cpp/src/groupby/sort/group_collect.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
  cpp/src/join/join.cu
  cpp/src/lists/copying/copying.cu
  cpp/src/partitioning/partitioning.cu
  cpp/src/quantiles/quantile.cu
  cpp/src/reshape/interleave_columns.cu
Due: clang-format

Use gather.hpp when gather-map exists in device memory
  cpp/include/cudf/detail/copy_if.cuh
  cpp/src/copying/copy.cu
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/group_nth_element.cu
  cpp/src/groupby/sort/group_replace_nulls.cu
  cpp/src/lists/combine/concatenate_list_elements.cu
  cpp/src/lists/drop_list_duplicates.cu
  cpp/src/lists/extract.cu
  cpp/src/replace/nulls.cu
  cpp/src/rolling/lead_lag_nested_detail.cuh
Due: clang-format

Support for using tdigests to compute approximate percentiles. (#8983)
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/copy.hpp
  cpp/include/cudf/detail/merge.cuh
  cpp/include/cudf/detail/quantiles.hpp
  cpp/include/cudf/detail/sorting.hpp
  cpp/include/cudf/detail/tdigest/tdigest.hpp
  cpp/include/cudf/quantiles.hpp
  cpp/include/cudf/sorting.hpp
  cpp/include/cudf_test/column_utilities.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/copying/slice.cu
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/src/groupby/sort/group_tdigest.cu
  cpp/src/quantiles/tdigest/tdigest.cu
  cpp/src/sort/sort.cu
  cpp/src/sort/stable_sort.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/groupby_test_util.hpp
  cpp/tests/groupby/tdigest_tests.cu
  cpp/tests/quantiles/percentile_approx_test.cu
  cpp/tests/utilities/column_utilities.cu
Due: clang-format

Improve javadoc
  java/src/main/java/ai/rapids/cudf/ColumnView.java
Due: none

fix doxygen wording
  cpp/include/cudf/strings/detail/copy_if_else.cuh
Due: clang-format

add comment to column-view wrapper
  cpp/src/lists/combine/concatenate_list_elements.cu
Due: clang-format

Python fix
  python/cudf/cudf/tests/test_decimal.py
Due: mypy

Code formatting
  java/src/main/native/src/AggregationJni.cpp
  java/src/main/native/src/ColumnViewJni.cpp
Due: clang-format

unused import
  python/cudf/cudf/tests/test_decimal.py
Due: mypy

Standardize implementation of sort_index.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy

Move implementation of replace to Frame.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy

Consolidate round in Frame.
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy

Deprecate reverse.
  python/cudf/cudf/core/series.py
Due: mypy

Standardize serialization of names so that Index serialization is now trivially equivalent to Frame serialization.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
Due: mypy

Start standardizing serialize/deserialize.
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
Due: mypy

Unify and clean up more of the serialization implementation.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
Due: mypy

Consolidate deserialization logic.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
Due: mypy

add test coverage (csv not passing yet)
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_parquet.py
Due: mypy

add missing include
  cpp/src/lists/drop_list_duplicates.cu
Due: clang-format

Mark parameter as unused.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Clarify comment
  cpp/CMakeLists.txt
Due: none

Pin mypy to 0.782 to match conda environment pinning.
  .pre-commit-config.yaml
Due: none

fixng datasource bug - requires code duplication for now
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/_lib/parquet.pyx
Due: none

Move _reindex to DataFrame since it doesn't actually work for arbitrary frames.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
Due: mypy

Java bindings for approx_percentile (#9094)
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/GroupByAggregation.java
  java/src/main/native/src/AggregationJni.cpp
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: clang-format

add s3-specific tests
  python/cudf/cudf/tests/test_s3.py
Due: mypy

expand C++ tests
  cpp/tests/io/orc_test.cpp
Due: clang-format

Various minor improvements.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Remove internal uses of method, leaving only the unused parameter in the public API.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/series.py
Due: mypy

add groupby correlation tests
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/correlation_tests.cpp
  cpp/tests/groupby/mean_tests.cpp
Due: clang-format

enable dict for sort groupby mean
  cpp/src/groupby/sort/aggregate.cpp
Due: clang-format

update group_corr for null support
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_corr.cu
  cpp/src/groupby/sort/group_reductions.hpp
Due: clang-format

rename group_corr to group_correlation
  cpp/CMakeLists.txt
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_correlation.cu
  cpp/src/groupby/sort/group_reductions.hpp
Due: clang-format

update doc
  cpp/src/groupby/sort/group_reductions.hpp
Due: clang-format

Pin mypy in .pre-commit-config.yaml to match conda environment pinning. (#9300)
  .pre-commit-config.yaml
Due: none

Add optional-iterator support to indexalator
  cpp/include/cudf/detail/indexalator.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/iterator/indexalator_test.cu
Due: clang-format

Refactor csv to_date_time
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/csv/datetime.cuh
  cpp/src/io/json/json_gpu.cu
Due: clang-format

Potential overflow of `decimal32` when casting to `int64_t` (#9287)
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/tests/unary/cast_tests.cpp
  python/cudf/cudf/tests/test_decimal.py
Due: clang-format, mypy

doc reorder mr, stream to stream, mr
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/include/cudf/detail/gather.cuh
  cpp/include/cudf/detail/gather.hpp
  cpp/include/cudf/detail/reduction_functions.hpp
  cpp/include/cudf/dictionary/detail/concatenate.hpp
  cpp/include/cudf/dictionary/detail/update_keys.hpp
  cpp/include/cudf/strings/detail/concatenate.hpp
  cpp/include/cudf/strings/detail/copy_if_else.cuh
  cpp/include/cudf/strings/detail/copy_range.cuh
  cpp/include/cudf/strings/detail/fill.hpp
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/include/cudf/strings/detail/merge.cuh
  cpp/include/cudf/strings/detail/scatter.cuh
  cpp/include/cudf/strings/detail/utilities.cuh
  cpp/include/nvtext/detail/tokenize.hpp
  cpp/src/binaryop/binaryop.cpp
  cpp/src/binaryop/compiled/binary_ops.hpp
  cpp/src/dictionary/remove_keys.cu
  cpp/src/dictionary/replace.cu
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/src/partitioning/round_robin.cu
  cpp/src/reductions/minmax.cu
  cpp/src/reductions/simple.cuh
  cpp/src/strings/find.cu
  cpp/src/strings/substring.cu
  cpp/src/unary/cast_ops.cu
Due: clang-format
