Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                # Added to simplify invocation of all other hooks
                # simultaneously (via any other hook stage).  This can be
                # removed if we also move to running clang-format entirely
                # through pre-commit.
                stages: [commit]
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

actually test unary ops in test_everything
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: mypy

libcudf/build.sh set CMAKE_INSTALL_LIBDIR to enforce conda layout (#9418)
  conda/recipes/libcudf/build.sh
Due: none

REL v21.10.01 release
  cpp/CMakeLists.txt
  cpp/doxygen/Doxyfile
  cpp/libcudf_kafka/CMakeLists.txt
  docs/cudf/source/conf.py
  java/src/main/native/CMakeLists.txt
Due: mypy

Skip Comparing Uniform Window Results in Var/std Tests (#9416)
  python/cudf/cudf/tests/test_rolling.py
Due: mypy

MD5 Python hash API (#9390)
  python/cudf/cudf/_lib/hash.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
Due: mypy

merge test funcs
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: mypy

Remove some unnecessary column method aliases.
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/series.py
Due: mypy

Various internal improvements to numerical.
  python/cudf/cudf/core/column/numerical.py
Due: mypy

Various minor improvements.
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
Due: mypy

Implement hash_circular_buffer.
  cpp/src/hash/md5_hash.cu
Due: clang-format

Add support to logical ops
  python/cudf/cudf/core/udf/_ops.py
  python/cudf/cudf/core/udf/lowering.py
  python/cudf/cudf/core/udf/typing.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: mypy

Implement public access for `segmented_sorted_order`
  cpp/src/sort/segmented_sort.cu
Due: clang-format

Add interface for `stable_segmented_sorted_order` and `stable_segmented_sort_by_key`
  cpp/include/cudf/detail/sorting.hpp
  cpp/include/cudf/sorting.hpp
Due: clang-format

Use pre-commit for CI (#9412)
  .pre-commit-config.yaml
  ci/checks/style.sh
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
Due: none

Remove unused reverse functions.
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/cpp/copying.pxd
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/frame.py
Due: mypy

More minor cleanup.
  python/cudf/cudf/core/column/string.py
Due: mypy

Remove unnecessary to_dlpack impl.
  python/cudf/cudf/core/column/column.py
Due: mypy

Various minor simplifications.
  python/cudf/cudf/core/column/column.py
Due: mypy

Inline _null_equals.
  python/cudf/cudf/core/column/column.py
Due: mypy

Remove support for Buffer objects from as_column.
  python/cudf/cudf/_lib/transpose.pyx
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
Due: mypy

updating docs
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
Due: mypy

Remove unnecessary binops and dlpack tests.
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_dlpack.py
Due: mypy

Fix formatting.
  python/cudf/cudf/core/column/datetime.py
Due: mypy

Fix fill_value.
  python/cudf/cudf/core/column/numerical.py
Due: mypy

Eliminate set_mask deprecation warnings
  python/cudf/cudf/core/frame.py
Due: mypy

Move handling of default cases to from _find_value to find_*_value.
  python/cudf/cudf/core/column/numerical.py
Due: mypy

JNI: Support nested types in ORC writer (#9334)
  java/src/main/java/ai/rapids/cudf/ColumnWriterOptions.java
  java/src/main/java/ai/rapids/cudf/CompressionMetadataWriterOptions.java
  java/src/main/java/ai/rapids/cudf/ORCWriterOptions.java
  java/src/main/java/ai/rapids/cudf/ParquetWriterOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: clang-format

Use single kernel to extract all groups in cudf::strings::extract (#9358)
  cpp/benchmarks/string/extract_benchmark.cpp
  cpp/src/strings/extract.cu
Due: clang-format

fixed failing tests, ready for review
  cpp/tests/io/csv_test.cpp
Due: clang-format

Remove redundant headers
  cpp/src/sort/segmented_sort.cu
Due: clang-format

Implement `stable_segmented_sorted_order` and `stable_segmented_sort_by_key`
  cpp/src/sort/segmented_sort.cu
Due: clang-format

extract_list_elements() with column_view indices (#9367)
  cpp/include/cudf/lists/extract.hpp
  cpp/src/lists/extract.cu
  cpp/tests/lists/extract_tests.cpp
Due: clang-format

Update python/cudf/cudf/core/index.py
  python/cudf/cudf/core/index.py
Due: mypy

address reviews
  python/cudf/cudf/core/index.py
Due: mypy

add tests for is_* methods
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_multiindex.py
Due: mypy

Update python/dask_cudf/dask_cudf/tests/test_sort.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
Due: mypy

move env GTEST_CUDF_RMM_MODE to gtest fixture
  cpp/include/cudf_test/base_fixture.hpp
  cpp/tests/CMakeLists.txt
Due: clang-format

style
  python/dask_cudf/dask_cudf/tests/test_sort.py
Due: mypy

Use optional-iterator for copy-if-else kernel (#9324)
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/copying/copy_if_else_benchmark.cpp
  cpp/benchmarks/replace/clamp_benchmark.cpp
  cpp/benchmarks/replace/nans_benchmark.cpp
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/src/copying/copy.cu
  cpp/src/copying/segmented_shift.cu
  cpp/src/dictionary/replace.cu
  cpp/src/replace/nans.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/copy_tests.cpp
Due: clang-format
