Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

enable result caching of child columns in correlation
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_corr.cu
  cpp/src/groupby/sort/group_reductions.hpp
Due: clang-format

fix duplicate {col, agg} request extract
  cpp/src/aggregation/result_cache.cpp
  cpp/src/groupby/common/utils.hpp
Due: clang-format

using as_column instead of to_cudf.
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

Add tests for descending sort
  python/dask_cudf/dask_cudf/tests/test_sort.py
Due: mypy

Sort partitions by value of ascending
  python/dask_cudf/dask_cudf/sorting.py
Due: mypy

Doc update
  cpp/include/cudf/quantiles.hpp
Due: clang-format

Skip dask-cudf tests on arm64
  conda/recipes/dask-cudf/run_test.sh
Due: none

minor comment update
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
Due: clang-format

correct null handling for ewm noadjust
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format

cleanup
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format

Address review comments: add docs + use make_counting_transform_iterator
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
Due: clang-format

moving logic for iso to one place.
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

fixing style issues.
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

Remove vestigial declarations in utils.hpp.
  cpp/src/groupby/common/utils.hpp
Due: clang-format

Minor updates + rename row_contains_null as row_is_valid
  cpp/src/join/hash_join.cu
  cpp/src/join/join_common_utils.hpp
Due: clang-format

switching to branch-21.10
  CHANGELOG.md
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  cpp/CMakeLists.txt
  cpp/doxygen/Doxyfile
  cpp/examples/basic/CMakeLists.txt
  cpp/libcudf_kafka/CMakeLists.txt
  docs/cudf/source/conf.py
  java/src/main/native/CMakeLists.txt
Due: mypy

Change to unsigned types for md5_chunk_size.
  cpp/src/hash/md5_hash.cu
Due: clang-format

Remove unused parameter names.
  cpp/src/hash/md5_hash.cu
Due: clang-format

Skip dask-cudf tests on arm64 (#9252)
  conda/recipes/dask-cudf/run_test.sh
Due: none

review changes
  cpp/src/io/avro/reader_impl.cu
Due: clang-format

Address review comments
  cpp/src/lists/drop_list_duplicates.cu
Due: clang-format

Small refactorings.
  cpp/src/hash/sha_hash.cu
Due: clang-format

avoid memory leaks in _read_byte_ranges
  python/cudf/cudf/utils/ioutils.py
Due: mypy

Use process_key function.
  cpp/src/hash/sha_hash.cu
Due: clang-format

Use process function for string data.
  cpp/src/hash/sha_hash.cu
Due: clang-format

Add comments to process function.
  cpp/src/hash/sha_hash.cu
Due: clang-format

Use constexpr.
  cpp/src/hash/sha_hash.cu
Due: clang-format

partial bias plumbing
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/cpp/aggregation.pxd
  python/cudf/cudf/core/window/ewm.py
Due: clang-format, mypy

Explicitly disable groupby on unsupported key types. (#9227)
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/groupby/common/utils.hpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/sort/sort_helper.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/lists_tests.cpp
  cpp/tests/groupby/structs_tests.cpp
Due: clang-format

Split sha1_hash_step.
  cpp/src/hash/sha_hash.cu
Due: clang-format

Move hash step functions above the SHA classes.
  cpp/src/hash/sha_hash.cu
Due: clang-format

little more plumbing
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format

Use east const, add comments.
  cpp/src/hash/sha_hash.cu
Due: clang-format

fix duplicate names issues in desearalization
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_multiindex.py
Due: mypy

Pass hash state by reference.
  cpp/src/hash/sha_hash.cu
Due: clang-format

Pass hash state by reference in operator and process functions.
  cpp/src/hash/sha_hash.cu
Due: clang-format

Remove debug printing
  cpp/tests/rolling/collect_ops_test.cpp
Due: clang-format

Update comment.
  cpp/src/hash/sha_hash.cu
Due: clang-format

avoid full-file transfer for read_csv with byte_range defined
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/utils/ioutils.py
Due: mypy

Fix null sort test, add more failures
  python/dask_cudf/dask_cudf/tests/test_sort.py
Due: mypy
