Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Update cudf_kafka buildsystem to use rapids-cmake
  cpp/libcudf_kafka/CMakeLists.txt
  cpp/libcudf_kafka/cmake/thirdparty/get_cudf.cmake
  cpp/libcudf_kafka/cmake/thirdparty/get_rdkafka.cmake
  cpp/libcudf_kafka/tests/CMakeLists.txt
Due: none

Use the new RAPIDS.cmake to fetch rapids-cmake
  cpp/libcudf_kafka/CMakeLists.txt
Due: none

make cat column creation more efficient and fix schema-missmatch test
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Due: mypy

Minor optimization of pair_equality
  cpp/src/join/join_common_utils.cuh
Due: clang-format

changelog
  CHANGELOG.md
Due: none

Update python/cudf/cudf/core/series.py
  python/cudf/cudf/core/series.py
Due: mypy

update stable version in readme
  README.md
Due: none

Inline copy logic.
  python/cudf/cudf/core/series.py
Due: mypy

Update stable version in readme (#9008)
  README.md
Due: none

Added Series.dt.is_month_end example in docstring
  python/cudf/cudf/core/series.py
Due: mypy

address review comments
  cpp/tests/datetime/datetime_ops_test.cpp
Due: clang-format

flake8
  python/cudf/cudf/core/series.py
Due: mypy

more changes
  cpp/include/cudf/io/datasource.hpp
Due: clang-format

Add groupby first and last aggregations (#9004)
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/cpp/aggregation.pxd
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

final style edits in cython
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/io/datasource.pxd
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/utils/ioutils.py
Due: mypy

changed return type
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

change api to date_range_month and date_range_nanosecond
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/detail/date_offsets.cuh
  cpp/include/cudf/detail/datetime.hpp
  cpp/src/datetime/date_offsets.cu
Due: clang-format

change cython to match libcudf api change
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/datetime.pyx
Due: none

Removed end value coersion and ceil cast periods
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

Use CuPy for the case (start, end, periods)
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

updated files
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

Remove cpp date_range_nanosecond and punt to cupy for fixed date offsets
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/detail/date_offsets.cuh
  cpp/include/cudf/detail/datetime.hpp
  cpp/src/datetime/date_offsets.cu
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/tools/datetimes.py
Due: clang-format, mypy

Implement interleave_columns for structs
  cpp/src/reshape/interleave_columns.cu
Due: clang-format

Implement unit tests
  cpp/tests/reshape/interleave_columns_tests.cpp
Due: clang-format

Fix typo
  cpp/src/reshape/interleave_columns.cu
Due: clang-format

Cleanup tests
  cpp/tests/reshape/interleave_columns_tests.cpp
Due: clang-format

Python binding for quarters (#8862)
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

Add documentation of `span<T const>`
  cpp/docs/DEVELOPER_GUIDE.md
Due: none

Add spans and more include guidelines to libcudf developer guide (#8931)
  cpp/docs/DEVELOPER_GUIDE.md
Due: none

Rewrite SFINAE
  cpp/src/reshape/interleave_columns.cu
Due: clang-format

Rename variables
  cpp/tests/reshape/interleave_columns_tests.cpp
Due: clang-format

parquet map support
  cpp/src/io/parquet/writer_impl.cu
  java/pom.xml
  java/src/main/java/ai/rapids/cudf/ParquetColumnWriterOptions.java
  java/src/main/java/ai/rapids/cudf/ParquetWriterOptions.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: clang-format

Fix memory read/write error in concatenate_lists_ignore_null (#8978)
  cpp/src/lists/combine/concatenate_list_elements.cu
Due: clang-format

Support int32_t for scalar and column input
  cpp/src/datetime/datetime_ops.cu
  cpp/tests/datetime/datetime_ops_test.cpp
Due: clang-format

some changes for crosstab
  python/cudf/cudf/core/reshape.py
Due: mypy

using copy_if_else for speed up and series column.
  python/cudf/cudf/core/series.py
Due: mypy
