Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Use latest branch and configure auto update
  ci/release/update-version.sh
  cpp/examples/basic/CMakeLists.txt
Due: none

removed empty lines
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
Due: none

Example to build custom application and link to libcudf (#7671)
  ci/gpu/build.sh
  ci/release/update-version.sh
  cpp/examples/README.md
  cpp/examples/basic/4stock_5day.csv
  cpp/examples/basic/CMakeLists.txt
  cpp/examples/basic/README.md
  cpp/examples/basic/src/process_csv.cpp
  cpp/examples/build.sh
Due: clang-format

Refactor index construction (#8485)
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
Due: mypy

handle display.max_rows = None in repr
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_repr.py
Due: mypy

disable tests
  cpp/tests/io/arrow_io_source_test.cpp
Due: clang-format

Enable window lead/lag test on struct
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

Rename some copying_test source files .cu to .cpp (#8527)
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/gather_list_tests.cpp
  cpp/tests/copying/gather_str_tests.cpp
  cpp/tests/copying/gather_struct_tests.cpp
  cpp/tests/copying/gather_tests.cpp
  cpp/tests/copying/pack_tests.cpp
Due: clang-format

create new PR
  python/cudf/cudf/_lib/string_casting.pyx
Due: none

enable window lead/lag test on struct (#8548)
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

wip
  cpp/src/copying/copy.cu
  cpp/tests/copying/copy_if_else_nested_tests.cpp
  cpp/tests/copying/copy_tests.cu
Due: clang-format

disable arrow test
  cpp/tests/io/csv_test.cpp
Due: clang-format

Warn when downscaling decimal columns (#8492)
  python/cudf/cudf/core/column/decimal.py
Due: mypy

Fix debug compile error in gather_struct_tests.cpp
  cpp/tests/copying/gather_struct_tests.cpp
Due: clang-format

commited wrong file change
  cpp/tests/copying/gather_struct_tests.cpp
Due: clang-format

Rename concatenate_tests.cu to .cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/concatenate_tests.cpp
Due: clang-format

concat, melt
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_concat.py
Due: mypy

addressed review comments
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/Table.java
Due: none

removed empty lines
  java/rmm_log.txt
  java/src/main/java/ai/rapids/cudf/ColumnView.java
Due: none

Fix size passed to column constructors in _with_type_metadata (#8539)
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/tests/test_indexing.py
Due: mypy

removed the rmm_log.txt
  java/rmm_log.txt
Due: none

close vectors when there is an exception
  java/src/main/java/ai/rapids/cudf/ColumnView.java
Due: none

test_index
  python/cudf/cudf/core/column/categorical.py
Due: mypy

Add Java methods to split and write column views (#8546)
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/ColumnViewJni.cpp
Due: clang-format

Use parse_string to explicitly and safely handle strings inside of extract_element(). Add proper support for valid JSON escape sequences to parse_string.
  cpp/src/strings/json/json_path.cu
  cpp/tests/strings/json_tests.cpp
Due: clang-format

Doc change.
  cpp/src/strings/json/json_path.cu
Due: clang-format

Modify reprog_device::extract to return groups in a single pass (#8460)
  cpp/CMakeLists.txt
  cpp/src/strings/contains.cu
  cpp/src/strings/extract.cu
  cpp/src/strings/regex/regex.cuh
  cpp/src/strings/regex/regex.inl
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/replace/backref_re.cuh
  cpp/src/strings/replace/backref_re_large.cu
  cpp/src/strings/replace/backref_re_medium.cu
  cpp/src/strings/replace/multi_re.cu
  cpp/tests/strings/replace_regex_tests.cpp
Due: clang-format

Basic multi-threaded GDS reading working
  cpp/src/io/utilities/file_io_utilities.cpp
Due: clang-format

use the threaded reader for both types of read calls
  cpp/src/io/utilities/file_io_utilities.cpp
Due: clang-format

Apply metadata to keys before returning in _encode
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_reshape.py
Due: mypy

Remove superfluous test
  python/cudf/cudf/tests/test_reshape.py
Due: mypy

Finish implementation
  cpp/src/strings/repeat_strings.cu
Due: clang-format

Add doxygen
  cpp/include/cudf/strings/repeat_strings.hpp
Due: clang-format

Finish unit tests
  cpp/tests/strings/repeat_strings_tests.cpp
Due: clang-format

Fix merge conflicts
  cpp/tests/strings/repeat_strings_tests.cpp
Due: clang-format

addressed review comments
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/utils/dtypes.py
Due: mypy

Relocate serialization functions to correpsonding column tests
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_decimal.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_serialize.py
Due: mypy

Fix byteRle issue with null mask
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stripe_data.cu
Due: clang-format

Fix `__repr__` output with `display.max_rows` is `None` (#8547)
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_repr.py
Due: mypy

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
