Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

address review comments
  cpp/src/rolling/rolling_detail.cuh
Due: clang-format

Remove some more includes.
  cpp/src/ast/transform.cu
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join_kernels.cuh
Due: clang-format

replace table_metadata and table_metadata_with_nullability; update tests
  cpp/include/cudf/io/orc.hpp
  cpp/include/cudf/io/types.hpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/tests/io/orc_test.cpp
  python/cudf/cudf/_lib/cpp/io/orc.pxd
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/orc.pyx
Due: clang-format

style updates + testing
  python/cudf/cudf/_lib/cpp/strings/repeat.pxd
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/_lib/strings/repeat.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Due: mypy

spacing update
  python/cudf/cudf/_lib/strings/repeat.pyx
Due: none

cleanup whitespaces
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Due: mypy

Move all node APIs requiring components of detail out of public header to recompilation of AST-consuming code when AST internals change.
  cpp/CMakeLists.txt
  cpp/include/cudf/ast/detail/linearizer.hpp
  cpp/include/cudf/ast/detail/nodes.hpp
  cpp/include/cudf/ast/nodes.hpp
  cpp/src/ast/linearizer.cpp
  cpp/src/ast/nodes.cpp
Due: clang-format

fix multibyte_split aggregation strategy to avoid assuming T{} is an identity value
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

Move public-facing operators to nodes.hpp and remove operators header.
  cpp/benchmarks/join/conditional_join_benchmark.cu
  cpp/include/cudf/ast/detail/evaluator.cuh
  cpp/include/cudf/ast/detail/linearizer.hpp
  cpp/include/cudf/ast/detail/operators.hpp
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/include/cudf/ast/nodes.hpp
  cpp/include/cudf/ast/operators.hpp
  cpp/src/ast/linearizer.cpp
  cpp/tests/ast/transform_tests.cpp
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

Rename nodes to expressions.
  cpp/benchmarks/join/conditional_join_benchmark.cu
  cpp/include/cudf/ast/detail/evaluator.cuh
  cpp/include/cudf/ast/detail/expressions.hpp
  cpp/include/cudf/ast/detail/linearizer.hpp
  cpp/include/cudf/ast/detail/operators.hpp
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/include/cudf/ast/expressions.hpp
  cpp/include/cudf/ast/transform.hpp
  cpp/include/cudf/join.hpp
  cpp/src/ast/linearizer.cpp
  cpp/src/ast/nodes.cpp
  cpp/src/ast/transform.cu
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join.cuh
  cpp/src/join/conditional_join.hpp
  cpp/tests/ast/transform_tests.cpp
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

Rename linearizer to expression_parser.
  cpp/CMakeLists.txt
  cpp/include/cudf/ast/detail/evaluator.cuh
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/include/cudf/ast/detail/expressions.hpp
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/include/cudf/ast/expressions.hpp
  cpp/src/ast/expression_parser.cpp
  cpp/src/ast/expressions.cpp
  cpp/src/ast/transform.cu
  cpp/src/join/conditional_join_kernels.cuh
Due: clang-format

Combine ast_plan and expression_parser.
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/src/ast/transform.cu
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join.cuh
Due: clang-format

Remove some now unnecessary APIs.
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/src/ast/expression_parser.cpp
  cpp/src/ast/transform.cu
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join.cuh
Due: clang-format

Fix expression_parser's check of widest data type fitting in intermediate shared mem story to account for nullability.
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/src/ast/expression_parser.cpp
Due: clang-format

More changes, 10+ files
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/include/cudf/fixed_point/temporary.hpp
  cpp/include/cudf/scalar/scalar.hpp
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/reductions/scan/scan.cuh
  cpp/src/reductions/simple.cuh
  cpp/src/transform/row_bit_count.cu
  cpp/src/unary/cast_ops.cu
Due: clang-format

Rename plan variables to parser.
  cpp/src/ast/transform.cu
  cpp/src/join/conditional_join.cuh
Due: clang-format

Make expression data variable names constant.
  cpp/include/cudf/ast/detail/evaluator.cuh
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/src/ast/transform.cu
  cpp/src/join/conditional_join.cuh
  cpp/src/join/conditional_join_kernels.cuh
Due: clang-format

Add missing docstrings.
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/include/cudf/ast/detail/expressions.hpp
  cpp/src/ast/expression_parser.cpp
Due: clang-format

add second host buffer to istream_data_chunk_reader to facilitate overlapping h2d copies~
  cpp/include/cudf/io/text/data_chunk_source_factories.hpp
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

actually add second buffer to istream_data_chunk_reader
  cpp/include/cudf/io/text/data_chunk_source_factories.hpp
Due: clang-format

Move evaluator.cuh to expression_evaluator.cuh for consistency in naming.
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/src/ast/transform.cu
  cpp/src/join/conditional_join.cuh
  cpp/src/join/conditional_join_kernels.cuh
Due: clang-format

Update JNI.
  java/src/main/native/src/CompiledExpression.cpp
Due: clang-format

simplify table creation in orc tests
  cpp/tests/io/orc_test.cpp
Due: clang-format

replace auto with auto& ref for cast<&> (#8866)
  cpp/include/cudf/detail/indexalator.cuh
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/src/column/column_factories.cu
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/reductions/simple.cuh
  cpp/src/replace/nulls.cu
  cpp/src/rolling/rolling_detail.cuh
Due: clang-format

Removed test case with nonexistent field - need to design another test for this
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Due: mypy

fixeS
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_joining.py
Due: mypy

Implemented f-string to make error message code more concise
  python/cudf/cudf/core/column/struct.py
Due: mypy

Minor cleanups in common utils
  cpp/src/join/join_common_utils.hpp
Due: clang-format

Use cuco host bulk function instead of cudf multimap
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
Due: clang-format

Rename linearizer to expression_parser.
  cpp/CMakeLists.txt
  cpp/include/cudf/ast/detail/evaluator.cuh
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/include/cudf/ast/nodes.hpp
  cpp/src/ast/expression_parser.cpp
  cpp/src/ast/transform.cu
  cpp/src/join/conditional_join_kernels.cuh
Due: clang-format

Combine ast_plan and expression_parser.
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/src/ast/transform.cu
  cpp/src/join/conditional_join.cuh
Due: clang-format

Fix tests
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

Add missing docstrings.
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/ast/expression_parser.cpp
Due: clang-format

Fix for TRANSFORM_TEST
  cpp/tests/transform/row_bit_count_test.cu
Due: clang-format

try reformatting
  python/dask_cudf/dask_cudf/io/parquet.py
Due: mypy

ENH Replace gpuci_conda_retry with gpuci_mamba_retry (#8770)
  ci/gpu/build.sh
Due: none
