Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Use table references to indicate which table to use as input.
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/tests/join/join_tests.cpp
Due: clang-format

Add comparison to hash join for all join types and fix counting bug for semi joins.
  cpp/src/join/join_kernels.cuh
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

Enable nulls for compute_column.
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/ast/transform.cu
Due: clang-format

Add nullable benchmarks for transform, and verify that the current issue that's cropping up for large nullable join benchmarks is strictly caused by nullability.
  cpp/benchmarks/ast/transform_benchmark.cpp
  cpp/benchmarks/join/conditional_join_benchmark.cu
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

Convert default value_container to be an owning type.
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/join/join_kernels.cuh
Due: clang-format

Remove sizes and pointers from ast_plan and make them constructor-local.
  cpp/include/cudf/ast/detail/transform.cuh
Due: clang-format

Capture value type by reference rather than pointer to make it more transparent to the user.
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/ast/transform.cu
  cpp/src/join/join_kernels.cuh
Due: clang-format

Construct linearizer as part of ast_plan.
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/ast/transform.cu
  cpp/src/join/join_kernels.cuh
  cpp/src/join/nested_loop_join.cuh
Due: clang-format

Add new code paths for expression-based joining to follow.
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/join/join_kernels.cuh
  cpp/src/join/nested_loop_join.cuh
Due: clang-format

Rename evaluate_row_expression and evaluate_join_expression to overloads of evaluate.
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/ast/transform.cu
  cpp/src/join/join_kernels.cuh
Due: clang-format

Create new container for output in the AST evaluation.
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/ast/transform.cu
  cpp/src/join/join_kernels.cuh
Due: clang-format

Template the behavior of resolve_output.
  cpp/include/cudf/ast/detail/transform.cuh
Due: clang-format

Enable unary operators.
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/tests/join/join_tests.cpp
Due: clang-format

Convert the evaluate functions into methods of the evaluator.
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/ast/transform.cu
  cpp/src/join/join_kernels.cuh
Due: clang-format

Pass a memory resource around where appropriate.
  cpp/src/join/join.cu
  cpp/src/join/nested_loop_join.cuh
Due: clang-format

Add appropriate filtering for all types of joins throughout the code.
  cpp/src/join/join_kernels.cuh
  cpp/src/join/nested_loop_join.cuh
Due: clang-format

Clean up a few TODO items.
  cpp/include/cudf/ast/detail/transform.cuh
Due: clang-format

Fix bug in replace_with_backrefs when group has greedy quantifier (#8575)
  cpp/src/strings/extract.cu
  cpp/src/strings/regex/regex.cuh
  cpp/src/strings/regex/regex.inl
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/replace/backref_re.cuh
  cpp/tests/strings/replace_regex_tests.cpp
Due: clang-format

dataframe abs functionality
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

add exclusive scan and cleaning
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

review
  cpp/src/copying/copy.cu
  cpp/tests/copying/copy_if_else_nested_tests.cpp
Due: clang-format

towards the rowgroup size fix
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/utilities/hostdevice_vector.hpp
Due: clang-format

add rank and dense rank to group by scan and aggregation classes
  cpp/CMakeLists.txt
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/groupby/sort_helper.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/group_dense_rank_scan.cu
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/groupby/sort/group_scan.hpp
  cpp/src/groupby/sort/scan.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/rank_scan_tests.cpp
Due: clang-format

multibyte-split scaffolding
  cpp/CMakeLists.txt
  cpp/include/cudf/io/text/multibyte_split.hpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

cudf::io::text::input_stream
  cpp/CMakeLists.txt
  cpp/include/cudf/io/text/host_input_stream.hpp
  cpp/include/cudf/io/text/input_stream.hpp
  cpp/include/cudf/io/text/multibyte_split.hpp
  cpp/src/io/text/host_input_stream.cpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

Remove duplicate line
  cpp/.clang-format
Due: none

Remove temporary CI fix
  ci/checks/style.sh
Due: none

Add some TODOs
  cpp/include/cudf/io/datasource.hpp
  cpp/src/io/utilities/file_io_utilities.cpp
  cpp/src/io/utilities/file_io_utilities.hpp
Due: clang-format

Remove device debug symbols from cmake CUDF_CUDA_FLAGS (#8584)
  CONTRIBUTING.md
  cpp/cmake/Modules/ConfigureCUDA.cmake
Due: none

Add sequence_type parameter to cudf::strings::title function (#8602)
  cpp/include/cudf/strings/capitalize.hpp
  cpp/include/cudf/strings/char_types/char_types.hpp
  cpp/src/strings/capitalize.cu
  cpp/src/strings/char_types/char_types.cu
  cpp/tests/strings/case_tests.cpp
Due: clang-format

style fixes
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/tests/test_list.py
Due: mypy

User specified decimal columns to float64 (#8587)
  cpp/include/cudf/io/orc.hpp
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/_lib/cpp/io/orc.pxd
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/utils/ioutils.py
Due: clang-format, mypy

revert local arrow installs
  ci/cpu/build.sh
  ci/gpu/build.sh
Due: none

Insert using cuco multimap
  cpp/src/join/hash_join.cu
  cpp/src/join/join_kernels.cuh
Due: clang-format

Add NVBench in CMake
  cpp/CMakeLists.txt
Due: none

Propagate **kwargs through to as_*_column methods
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Add delimiter parameter to cudf::strings::capitalize()
  cpp/include/cudf/strings/capitalize.hpp
  cpp/src/strings/capitalize.cu
  cpp/tests/strings/case_tests.cpp
Due: clang-format

typo
  python/cudf/cudf/core/column/decimal.py
Due: mypy

Change default datetime index resolution to ns to match pandas (#8611)
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
Due: mypy

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
