Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

fixing removing extra test.
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

Use a proper reverse iterator
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

what?
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/reductions/scan/scan.cuh
  cpp/src/reductions/scan/scan_inclusive.cu
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/cpp/aggregation.pxd
Due: clang-format

fixing style issue.
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

Apply suggestions from code review
  python/cudf/cudf/core/series.py
Due: mypy

adding code for columns and index.
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/reshape.py
Due: mypy

fix failing test
  python/cudf/cudf/utils/dtypes.py
Due: mypy

move stuff around
  cpp/CMakeLists.txt
  cpp/include/cudf/transform.hpp
  cpp/src/reductions/scan/scan_inclusive.cu
  python/cudf/cudf/_lib/cpp/transform.pxd
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/core/window/ewm.py
Due: clang-format, mypy

Support Nulls in Timeseries Generator (#8925)
  python/cudf/cudf/datasets.py
  python/cudf/cudf/tests/test_datasets.py
Due: mypy

Rewrite null mask generation
  cpp/src/reshape/interleave_columns.cu
Due: clang-format

refactor
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/src/transform/ewm.cu
Due: clang-format

Rewrite children columns collector
  cpp/src/reshape/interleave_columns.cu
Due: clang-format

swap conditionals
  python/cudf/cudf/core/_internals/where.py
Due: mypy

remove unused imports
  python/cudf/cudf/core/_internals/where.py
Due: mypy

Added Series.dt.is_month_end (#8989)
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

header cleanups
  cpp/src/datetime/datetime_ops.cu
  cpp/tests/datetime/datetime_ops_test.cpp
Due: clang-format

added testcases
  cpp/include/cudf/datetime.hpp
  cpp/tests/datetime/datetime_ops_test.cpp
Due: clang-format

FIX Catch any possible edge cases that may occur from second regex test
  build.sh
Due: none

Progress
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/utils/dtypes.py
Due: mypy

added testcases
  cpp/tests/datetime/datetime_ops_test.cpp
Due: clang-format

Skip overflow test cases
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/tests/test_decimal.py
Due: mypy

Reformat regex to look more readable
  build.sh
Due: none

implementing tables.
  python/cudf/cudf/core/reshape.py
Due: mypy

adding style changes.
  python/cudf/cudf/core/series.py
Due: mypy

Addressed review comments
  cpp/src/io/parquet/writer_impl.cu
  java/src/main/java/ai/rapids/cudf/ParquetColumnWriterOptions.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: clang-format

More fix
  python/cudf/cudf/core/dtypes.py
Due: mypy

FIX Fix formatting not being recognized when --cmake-args is the last argument given
  build.sh
Due: none

FIX Move cmakeArgs option into validArgs function
  build.sh
Due: none

Early returns
  python/cudf/cudf/core/dtypes.py
Due: mypy

FIX Correct indentation/spacing
  build.sh
Due: none

More tests
  python/cudf/cudf/tests/test_dtypes.py
Due: mypy

FIX Indentation fixes
  build.sh
Due: none

Use correct index keys for series groupby output
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Due: mypy

initial
  python/cudf/cudf/core/column/categorical.py
Due: mypy

troubleshooting type_id
  cpp/tests/interop/from_arrow_test.cpp
Due: clang-format

FIX Handle multiple --cmake-args options
  build.sh
Due: none

FIX Indentation...
  build.sh
Due: none

Use `dtype` and with_type_metadata to carry orderings
  python/cudf/cudf/core/column/categorical.py
Due: mypy

Cmake review changes
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/CUDF_GetcuCollections.cmake
  cpp/src/io/parquet/chunk_dict.cu
Due: clang-format

Get some reordering to work
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_categorical.py
Due: mypy
