Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

revert setup.py changes
  python/cudf/setup.py
Due: mypy

updated ttestcase
  python/dask_cudf/dask_cudf/tests/test_struct.py
Due: mypy

update
  docs/cudf/source/index.rst
Due: none

update gitignore
  .gitignore
Due: none

remove cp.array check from is_list_like
  python/cudf/cudf/api/types.py
Due: mypy

Partial fix for incorrect metadata in struct accessor field method
  python/dask_cudf/dask_cudf/accessors.py
Due: mypy

Adding async reads to ORC reader
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

magic numbers
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Fix `cudf.Series` constructor to handle list of sequences (#8735)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_series.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

updated documentation
  cpp/include/cudf/datetime.hpp
Due: clang-format

add list coverage to ORC benchmarks
  cpp/benchmarks/io/orc/orc_reader_benchmark.cpp
  cpp/benchmarks/io/orc/orc_writer_benchmark.cpp
Due: clang-format

WIP
  java/src/main/java/ai/rapids/cudf/ColumnView.java
Due: none

Add new APIs to benchmark
  cpp/benchmarks/string/repeat_strings_benchmark.cpp
Due: clang-format

update type support spreadsheet
  docs/cudf/source/io-supported-types.rst
Due: none

Add pair_equality callable
  cpp/src/join/join_common_utils.hpp
Due: clang-format

update UDFs notebook
  docs/cudf/source/guide-to-udfs.ipynb
Due: none

Handle sliced struct/list columns properly in concatenate() bounds checking. (#8760)
  cpp/src/copying/concatenate.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/concatenate_tests.cu
  python/cudf/cudf/core/column/column.py
Due: clang-format, mypy

fix ymls
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
Due: none

add info on the GDS-enabled formats
  docs/cudf/source/io-gds-integration.rst
Due: none

forgot CSV writer
  docs/cudf/source/io-gds-integration.rst
Due: none

Add `strings::repeat_strings` API that can repeat each string a different number of times (#8561)
  cpp/include/cudf/strings/repeat_strings.hpp
  cpp/src/strings/repeat_strings.cu
  cpp/tests/strings/repeat_strings_tests.cpp
  java/src/main/native/src/ScalarJni.cpp
Due: clang-format

Add `struct.explode()` method (#8729)
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_struct.py
Due: mypy

Removal of device_storage_type_id, formatting and more
  cpp/include/cudf/detail/iterator.cuh
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/include/cudf/utilities/traits.hpp
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/src/aggregation/aggregation.cu
Due: clang-format

Reverse debug modification
  cpp/include/cudf/strings/detail/utilities.cuh
Due: clang-format

Formatting
  cpp/include/cudf/column/column_device_view.cuh
  cpp/src/aggregation/aggregation.cu
  cpp/src/io/json/json_gpu.cu
  cpp/src/quantiles/quantile.cu
  cpp/src/round/round.cu
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/src/unary/math_ops.cu
Due: clang-format

Set CMake vars for python/parquet support in libarrow builds.
  cpp/cmake/cudf-build-config.cmake.in
Due: none

Update cudf java bindings to 21.10.0-SNAPSHOT
  java/ci/README.md
  java/pom.xml
Due: none

initial
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/rolling/rolling_detail.cuh
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/core/window/rolling.py
Due: clang-format, mypy

`cudf::round` support for `__int128_t`
  cpp/src/round/round.cu
Due: clang-format

Enable tests & fixes
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/include/cudf_test/type_lists.hpp
  cpp/tests/reductions/scan_tests.cpp
Due: clang-format

java id reassignment and example improvements
  cpp/include/cudf/aggregation.hpp
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/native/src/AggregationJni.cpp
Due: clang-format

Update cpp/CMakeLists.txt
  cpp/CMakeLists.txt
Due: none

address reviews
  docs/cudf/source/guide-to-udfs.ipynb
Due: none

added new-line in header name to gtest
  cpp/tests/io/csv_test.cpp
Due: clang-format

fiix concat
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_concat.py
Due: mypy

undo deletion to test_concat.py
  python/cudf/cudf/tests/test_concat.py
Due: mypy

Fix concatenating structs (#8811)
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_concat.py
Due: mypy

Set CMake vars for python/parquet support in libarrow builds (#8808)
  cpp/cmake/cudf-build-config.cmake.in
Due: none

Move common utilities from the kernels file into common utils.
  cpp/src/join/join_common_utils.cuh
  cpp/src/join/join_kernels.cuh
Due: clang-format

Delete lots of unused includes.
  cpp/include/cudf/ast/detail/linearizer.hpp
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/ast/transform.cu
  cpp/src/join/join_kernels.cuh
  cpp/src/join/nested_loop_join.cuh
Due: clang-format
