Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Moved return statement out of try/catch block
  python/dask_cudf/dask_cudf/accessors.py
Due: mypy

Initial Cython bindings
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/detail/date_offsets.cuh
  cpp/src/datetime/date_offsets.cu
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/datetime.pyx
Due: clang-format

Separated handling of IndexError and KeyError
  python/cudf/cudf/core/column/struct.py
Due: mypy

repeat functionality with scalar values
  python/cudf/cudf/_lib/cpp/strings/repeat.pxd
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/_lib/strings/repeat.pyx
  python/cudf/cudf/core/column/string.py
Due: mypy

fix SCALAR_TEST memory errors
  cpp/src/scalar/scalar.cpp
  cpp/src/structs/utilities.cpp
Due: clang-format

fix MERGE_TEST memory errors
  cpp/src/dictionary/detail/merge.cu
Due: clang-format

fix part of COPYING_TEST memory errors
  cpp/tests/copying/concatenate_tests.cu
Due: clang-format

Change cudf::scalar copy and move constructors to protected (#8857)
  cpp/include/cudf/scalar/scalar.hpp
  cpp/tests/binaryop/binop-fixture.hpp
Due: clang-format

full repeat functionality
  python/cudf/cudf/_lib/cpp/strings/repeat.pxd
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/_lib/strings/repeat.pyx
  python/cudf/cudf/core/column/string.py
Due: mypy

Read all when columns=[]
  cpp/src/io/parquet/reader_impl.cu
Due: clang-format

Use new API in gtests
  cpp/tests/io/parquet_test.cpp
Due: clang-format

Template on the number of warps instead of threads
  cpp/src/strings/convert/convert_urls.cu
Due: clang-format

Remove max version pin for `dask` & `distributed` on development branch (#8881)
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/custreamz/dev_requirements.txt
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Due: mypy

Add Java bindings for AST transform (#8846)
  java/src/main/java/ai/rapids/cudf/MemoryCleaner.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/ast/AstNode.java
  java/src/main/java/ai/rapids/cudf/ast/BinaryExpression.java
  java/src/main/java/ai/rapids/cudf/ast/BinaryOperator.java
  java/src/main/java/ai/rapids/cudf/ast/ColumnReference.java
  java/src/main/java/ai/rapids/cudf/ast/CompiledExpression.java
  java/src/main/java/ai/rapids/cudf/ast/Expression.java
  java/src/main/java/ai/rapids/cudf/ast/Literal.java
  java/src/main/java/ai/rapids/cudf/ast/TableReference.java
  java/src/main/java/ai/rapids/cudf/ast/UnaryExpression.java
  java/src/main/java/ai/rapids/cudf/ast/UnaryOperator.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/CompiledExpression.cpp
  java/src/test/java/ai/rapids/cudf/ast/CompiledExpressionTest.java
Due: clang-format

Add Java bindings for conditional joins
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/ast/CompiledExpression.java
  java/src/main/native/src/CompiledExpression.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/main/native/src/jni_compiled_expr.hpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: clang-format

need to jump to something else
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/core/window/rolling.py
Due: mypy

Add stream and memory-resource parameters to struct-scalar copy ctor
  cpp/include/cudf/scalar/scalar.hpp
  cpp/src/scalar/scalar.cpp
Due: clang-format

Change name block_size to char_block_size
  cpp/src/strings/convert/convert_urls.cu
Due: clang-format

Add pandas index
  cpp/src/io/parquet/reader_impl.cu
  cpp/tests/io/parquet_test.cpp
Due: clang-format

Add JNI for extract_quarter, add_calendrical_months, and is_leap_year (#8863)
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/TimestampColumnVectorTest.java
Due: clang-format

enable struct columns on the python layer; enable stream creation for struct columns
  cpp/src/io/orc/writer_impl.cu
  python/cudf/cudf/io/orc.py
Due: clang-format, mypy

tests and impl
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/utils/dtypes.py
Due: mypy

DateOffset struct, compiles
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/detail/date_offsets.cuh
  cpp/include/cudf/detail/datetime_ops.cuh
  cpp/src/datetime/date_offsets.cu
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

address reviews
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/utils/dtypes.py
Due: mypy

numeric_limits / temporary cleanup
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/include/cudf/fixed_point/temporary.hpp
Due: clang-format

Clarify halo cells in comments
  cpp/src/strings/convert/convert_urls.cu
Due: clang-format

move input metadata types to types.hpp
  cpp/include/cudf/io/parquet.hpp
  cpp/include/cudf/io/types.hpp
  python/cudf/cudf/_lib/cpp/io/parquet.pxd
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/parquet.pyx
Due: clang-format

Address reviewer's suggestions further
  cpp/src/strings/convert/convert_urls.cu
Due: clang-format

Refactor conditional joins (#8815)
  cpp/CMakeLists.txt
  cpp/include/cudf/ast/detail/linearizer.hpp
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/include/cudf/join.hpp
  cpp/include/cudf/table/table_view.hpp
  cpp/src/ast/transform.cu
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join.cuh
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
  cpp/src/join/join.cu
  cpp/src/join/join_common_utils.cuh
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/join_kernels.cuh
Due: clang-format

Use cudf::util::div_rounding_up_unsafe for round up division
  cpp/src/strings/convert/convert_urls.cu
Due: clang-format

cpp impl, cpp tests
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf_test/timestamp_utilities.cuh
  cpp/src/datetime/datetime_ops.cu
  cpp/tests/datetime/datetime_ops_test.cpp
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/series.py
Due: clang-format, mypy

python test
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

cleanup and docs
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf_test/timestamp_utilities.cuh
  cpp/src/datetime/datetime_ops.cu
  cpp/tests/datetime/datetime_ops_test.cpp
  python/cudf/cudf/core/series.py
Due: clang-format, mypy

fix `abac` pattern matching test, introduce new bug :(
  cpp/include/cudf/io/text/multistate.hpp
  cpp/include/cudf/io/text/trie.hpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

Update cpp/src/rolling/rolling_detail.cuh
  cpp/src/rolling/rolling_detail.cuh
Due: clang-format

Move evaluator into separate header.
  cpp/include/cudf/ast/detail/evaluator.cuh
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/ast/transform.cu
  cpp/src/join/conditional_join.cuh
  cpp/src/join/conditional_join_kernels.cuh
Due: clang-format

Move plan to linearizer from transform.
  cpp/include/cudf/ast/detail/linearizer.hpp
  cpp/include/cudf/ast/detail/transform.cuh
Due: clang-format

Move single_dispatch_binary_operator closer to the only call site.
  cpp/include/cudf/ast/detail/operators.hpp
  cpp/include/cudf/ast/detail/transform.cuh
Due: clang-format

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
