Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Adding fix for skip_rows and crash in orc reader (#8700)
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/tests/data/orc/TestOrcFile.timestamp.issue.orc
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

printf offsets in multibyte_split
  cpp/benchmarks/io/orc/orc_reader_benchmark.cpp
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

add match-length to trie to adjust for output offset in multibyte_split
  cpp/include/cudf/io/text/trie.hpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

adjust multibyte_split test case to expect delimiters to be retained in output
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

printf match_begin and match_end for multibyte_split
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

initial, libcudf
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/detail/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
  cpp/tests/datetime/datetime_ops_test.cpp
Due: clang-format

path variable passthrough
  conda/recipes/libcudf_example/meta.yaml
Due: none

multibyte_split test passing
  cpp/include/cudf/io/text/multibyte_split.hpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

style
  cpp/tests/datetime/datetime_ops_test.cpp
Due: clang-format

minor change
  python/cudf/cudf/core/column/column.py
Due: mypy

error for cuda<11.1
  python/cudf/cudf/core/dataframe.py
Due: mypy

remove CI debugging
  ci/gpu/build.sh
Due: none

Reduce preprocessing to match that of mean()
  python/dask_cudf/dask_cudf/groupby.py
Due: mypy

Fix orc reader assert on create data_type in debug (#8706)
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

Add post-processing steps to `dask_cudf.groupby.CudfSeriesGroupby.aggregate` (#8694)
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

add multibyte_split comments, break test intentionally to work on multi-block scaling
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

Address PR comments.
  docs/cudf/source/groupby.rst
  docs/cudf/source/internals.rst
Due: none

move triats _impl to detail namespace
  cpp/include/cudf/utilities/traits.hpp
Due: clang-format

ambiguous struct fix, style fix
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/table/table_device_view.cu
Due: clang-format

skip testing cuda 11.0
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: mypy

Revert "Better rank examples and documentation"
  cpp/include/cudf/aggregation.hpp
Due: clang-format

Revert "switch to static java scan method"
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Due: clang-format

Revert "Enable scan with no input column"
  cpp/include/cudf/reduction.hpp
  cpp/src/reductions/scan/scan.cpp
  cpp/tests/reductions/scan_tests.cpp
Due: clang-format

Revert "Revert "Better rank examples and documentation""
  cpp/include/cudf/aggregation.hpp
Due: clang-format

reuse apply-datetime-op scaffolding, w/o materializing year column.
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

Apply suggestions from code review
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/detail/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

Cleanup some variable declarations and type usage.
  cpp/tests/utilities/column_utilities.cu
Due: clang-format

fixed slicing from struct columnsand accessing struct columns
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_struct.py
Due: mypy

Translate Markdown documentation to rST and remove recommonmark (#8698)
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  docs/cudf/source/conf.py
  docs/cudf/source/dask-cudf.md
  docs/cudf/source/dask-cudf.rst
  docs/cudf/source/groupby.md
  docs/cudf/source/groupby.rst
  docs/cudf/source/index.rst
  docs/cudf/source/internals.md
  docs/cudf/source/internals.rst
Due: mypy

Initial, groupby shift
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Due: mypy

Fix min/max inclusive cudf::scan for strings column (#8705)
  cpp/include/cudf/strings/string_view.cuh
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/tests/reductions/scan_tests.cpp
Due: clang-format

Fix a crash in pack() when being handed tables with no columns. (#8697)
  cpp/include/cudf/copying.hpp
  cpp/src/copying/pack.cpp
  cpp/tests/copying/pack_tests.cpp
Due: clang-format

missed a file in merge
  cpp/src/io/orc/orc_gpu.h
Due: clang-format

Add `datetime::is_leap_year` (#8711)
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/detail/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
  cpp/tests/datetime/datetime_ops_test.cpp
Due: clang-format

tests
  python/cudf/cudf/tests/test_orc.py
Due: mypy

rename flat_index
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

rename d_orc_columns (type already device_span, no need for prefix)
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stripe_enc.cu
Due: clang-format

style; renames
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

bit more renaming
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Due: clang-format

Fix instructions for running cuDF/dask-cuDF tests in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none
