Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Update conditional join benchmarks to use the common API
  cpp/benchmarks/join/conditional_join_benchmark.cu
Due: clang-format

Make copies when exploding a struct column
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/tests/test_struct.py
Due: mypy

sig and docstring updates
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy

Serialize/deserialize buffer
  python/cudf/cudf/_lib/copying.pyx
Due: none

Fix issue in slice() where columns with a positive offset were computing null counts incorrectly. (#8738)
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/null_mask.cuh
  cpp/src/bitmask/null_mask.cu
  cpp/src/copying/slice.cu
  cpp/tests/copying/slice_tests.cpp
Due: clang-format

ENH Replace gpuci_conda_retry with gpuci_mamba_retry
  ci/gpu/build.sh
Due: none

Pass serialized type to header
  python/cudf/cudf/_lib/copying.pyx
Due: none

enable null handling
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
Due: mypy

Only build memoryview if metadata is non-null
  python/cudf/cudf/_lib/copying.pyx
Due: none

Change the substring python uses to check for concatenation bounds errors.
  cpp/src/copying/concatenate.cu
  python/cudf/cudf/core/column/column.py
Due: clang-format, mypy

PR formatting changes.
  cpp/src/copying/concatenate.cu
Due: clang-format

Fix isort errors in utils.pyx
  python/cudf/cudf/_lib/utils.pyx
Due: none

Small isort fix
  python/cudf/cudf/_lib/utils.pyx
Due: none

Fix links for dask.dataframe API docs reorg
  docs/cudf/source/10min.ipynb
  docs/cudf/source/dask-cudf.rst
Due: none

Formatting changes from PR review.
  cpp/include/cudf_test/column_utilities.hpp
Due: clang-format

.
  python/cudf/cudf/core/column/categorical.py
Due: mypy

fix style
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format

Implemented StructMethods struct accessor
  python/dask_cudf/dask_cudf/accessors.py
  python/dask_cudf/dask_cudf/core.py
Due: mypy

Address review comments, fixing doxygen and some code improvements
  cpp/include/cudf/strings/repeat_strings.hpp
  cpp/src/strings/repeat_strings.cu
  cpp/tests/strings/repeat_strings_tests.cpp
Due: clang-format

add tests
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_replace.py
Due: mypy

Fixed example to use dask_cudf in field method comments
  python/dask_cudf/dask_cudf/accessors.py
Due: mypy

Additional handling for the empty-inputs corner case for presliced columns.
  cpp/src/copying/contiguous_split.cu
  cpp/tests/copying/pack_tests.cpp
  cpp/tests/copying/split_tests.cpp
Due: clang-format

scan entire list
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_series.py
Due: mypy

add cudf validation too
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

Fix isort error in utils.pyx (#8771)
  python/cudf/cudf/_lib/utils.pyx
Due: none

refactor tests
  python/cudf/cudf/tests/test_orc.py
Due: mypy

limit reduction ot valid count
  cpp/src/io/statistics/column_statistics.cuh
Due: clang-format

Fix issues with `_CPackedColumns.serialize()` handling of host and device data (#8759)
  python/cudf/cudf/_lib/copying.pyx
Due: none

noexcept + formatting
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

move to lists and support Sequence
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/lists.py
Due: mypy

Update python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/lists.py
Due: mypy

Allow cudf to be built without libcuda.so existing (#8751)
  cpp/CMakeLists.txt
Due: none

Fix styles
  cpp/src/io/utilities/datasource.cpp
  cpp/src/io/utilities/thread_pool.hpp
Due: clang-format

Review fixes
  cpp/src/io/utilities/file_io_utilities.cpp
  cpp/src/io/utilities/thread_pool.hpp
Due: clang-format

Remove inner join benchmarks in google bench
  cpp/benchmarks/join/join_benchmark.cu
Due: clang-format

Add more tests
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

Reverse back changes in enum values
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/native/src/AggregationJni.cpp
Due: clang-format

use _data
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/string.py
Due: mypy

Add left join and full join benchmarks
  cpp/benchmarks/join/join_nvbench.cu
Due: clang-format

added extract_quarter
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/detail/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
  cpp/tests/datetime/datetime_ops_test.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
