Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Update python/cudf/cudf/core/index.py
  python/cudf/cudf/core/index.py
Due: mypy

Update python/cudf/cudf/core/series.py
  python/cudf/cudf/core/series.py
Due: mypy

Remove zlib from libcudf public CMake dependencies (#9204)
  cpp/CMakeLists.txt
Due: none

minor cleanup
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format

fix import bug
  python/cudf/cudf/tests/test_extension_compilation.py
Due: mypy

clarify exec context
  python/cudf/cudf/core/udf/pipeline.py
Due: mypy

First pass at descending sort_values
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/sorting.py
Due: mypy

rework unmasked kernels slightly
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/udf/pipeline.py
Due: mypy

Fix call to thrust::reduce_by_key in argmin/argmax groupby
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
Due: clang-format

fix doxygen comment for ArgMin and ArgMax
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
Due: clang-format

Python/Cython bindings for multibyte_split (#8998)
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_lib/__init__.py
  python/cudf/cudf/_lib/cpp/io/text.pxd
  python/cudf/cudf/_lib/text.pyx
  python/cudf/cudf/io/__init__.py
  python/cudf/cudf/io/text.py
  python/cudf/cudf/tests/data/text/chess.pgn
  python/cudf/cudf/tests/test_text.py
  python/cudf/cudf/utils/ioutils.py
Due: mypy

Add more tests. Make floating point precision ulp level a parameter to cudf_expect_columns_equivalent.
  cpp/include/cudf_test/column_utilities.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/groupby_test_util.hpp
  cpp/tests/groupby/tdigest_tests.cu
  cpp/tests/quantiles/percentile_approx_test.cu
  cpp/tests/utilities/column_utilities.cu
Due: clang-format

factor out null_roll_up
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format

Add grouped tests to percentile_approx tests.
  cpp/tests/quantiles/percentile_approx_test.cu
Due: clang-format

Reverse change for default case of `has_negative_nans_dispatch`
  cpp/src/lists/drop_list_duplicates.cu
Due: clang-format

Update tests
  cpp/tests/lists/drop_list_duplicates_tests.cpp
Due: clang-format

binary op changes
  cpp/cmake/Modules/JitifyPreprocessKernels.cmake
  cpp/src/binaryop/binaryop.cpp
  cpp/tests/binaryop/binop-integration-test.cpp
Due: clang-format

add checks to jit binary op
  cpp/src/binaryop/binaryop.cpp
Due: clang-format

enable multi-rowgroup borrow even without pushdown masks
  cpp/src/io/orc/writer_impl.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

Use nvcomp's snappy decompression in ORC reader (#9235)
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stripe_init.cu
Due: clang-format

review changes mostly
  cpp/include/cudf/io/types.hpp
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Update cudf java bindings to 21.12.0-SNAPSHOT
  java/ci/README.md
  java/pom.xml
  java/src/main/native/CMakeLists.txt
Due: none

experimental
  cpp/include/cudf/io/orc.hpp
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/utils/ioutils.py
Due: clang-format, mypy

list_struct_buff as module fixture
  python/cudf/cudf/tests/test_orc.py
Due: mypy

add boost license for hash_combine, move to diff header
  cpp/include/cudf/detail/hashing.hpp
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/include/cudf/types.hpp
  cpp/src/column/column_view.cpp
Due: clang-format

Apply suggestions from code review (jake)
  cpp/include/cudf/column/column_view.hpp
Due: clang-format

include cleanup
  cpp/include/cudf/detail/hashing.hpp
  cpp/src/column/column_view.cpp
Due: clang-format

add missing include due to reorg
  cpp/include/cudf/detail/aggregation/result_cache.hpp
Due: clang-format

update groupby corr to use hashed result cache
  cpp/src/groupby/sort/aggregate.cpp
Due: clang-format

Revert "set STRUCT_AGGS to CORRELATION"
  python/cudf/cudf/_lib/groupby.pyx
Due: none

Revert "added ctypedef correlation_type. need to add tests"
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/cpp/aggregation.pxd
Due: none

Revert "added definition of correlation() in cython"
  Untitled.ipynb
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/cpp/aggregation.pxd
Due: none

Fixed bug with min/max values in tdigest generation from decimal. Fixed percentile_approx -> decimal output conversion. Add templated Input and Output type conversion tests to percentile approx tests.
  cpp/src/groupby/sort/group_tdigest.cu
  cpp/src/quantiles/tdigest/tdigest.cu
  cpp/tests/quantiles/percentile_approx_test.cu
Due: clang-format

Tweak some parameters to speed up percentile approx tests. Removed a check that I accidentally deleted.
  cpp/tests/quantiles/percentile_approx_test.cu
Due: clang-format

Apply suggestions from code review (jake)
  cpp/src/aggregation/result_cache.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
