Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

remove incorrect (unused) rowgroup logic
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Fix test failures
  ci/gpu/build.sh
  ci/gpu/java.sh
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/strings/capitalize.hpp
  cpp/src/strings/capitalize.cu
  cpp/tests/strings/case_tests.cpp
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/cpp/lists/combine.pxd
  python/cudf/cudf/_lib/cpp/scalar/scalar.pxd
  python/cudf/cudf/_lib/gpuarrow.pyx
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/methods.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_string.py
Due: clang-format, mypy

addressing review changes
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
Due: clang-format

trie test scaffolding
  cpp/include/cudf/io/text/trie.hpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/io/text/trie_test.cpp
Due: clang-format

Pin `pyarrow` to use `*cuda` in `run`
  conda/recipes/cudf/meta.yaml
Due: none

Return single bool rather than array.
  python/cudf/cudf/testing/testing.py
Due: mypy

Pin `arrow-cpp` to use `*cuda` in `run`
  conda/recipes/libcudf/meta.yaml
Due: none

fix doxygen example output
  cpp/include/cudf/strings/detail/copying.hpp
Due: clang-format

fix column naming with nested columns
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

fix rowgroup size for nested string columns
  cpp/src/io/orc/dict_enc.cu
Due: clang-format

ungrouped rank scan
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/reductions/scan/scan.cuh
  cpp/src/reductions/scan/scan_exclusive.cu
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/tests/groupby/rank_scan_tests.cpp
  cpp/tests/reductions/scan_tests.cpp
Due: clang-format

JNI support for group and ungrouped rank scan
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/native/src/AggregationJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: clang-format

review changes to add 2d span
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/utilities/hostdevice_vector.hpp
Due: clang-format

Update GDS lib version to 1.0.0
  java/ci/Dockerfile.centos7
Due: none

Update GDS lib version to 1.0.0 (#8654)
  java/ci/Dockerfile.centos7
Due: none

comment
  cpp/tests/io/csv_test.cpp
Due: clang-format

replace statically sized str dict indices
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

add unit test for repeated column names
  python/cudf/cudf/tests/test_csv.py
Due: mypy

review changes
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

review changes
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_init.cu
Due: clang-format

Pin `*arrow` to use `*cuda` in `run` (#8651)
  conda/recipes/cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
Due: none

added tests
  python/cudf/cudf/tests/test_struct.py
Due: mypy

Support multi-char case conversion in capitalize function (#8647)
  cpp/src/strings/capitalize.cu
  cpp/tests/strings/case_tests.cpp
Due: clang-format

more tests
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/tests/test_struct.py
Due: mypy

Remove index nulling from test
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

fix import and address reviews
  python/cudf/cudf/core/udf/typing.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: mypy

Add packed serialization option for dataframes
  python/cudf/cudf/core/dataframe.py
Due: mypy

Rewrite the merge functor, adding `partial_result` struct to store intermediate merging result
  cpp/src/groupby/sort/group_merge_m2.cu
Due: clang-format

Rewrite doxygen
  cpp/include/cudf/aggregation.hpp
Due: clang-format

Add a unit test when the input column column is a structs column with number of children is not 3
  cpp/tests/groupby/merge_m2_tests.cpp
Due: clang-format

Add unit tests for the cases when the input values column has negative numbers
  cpp/tests/groupby/m2_tests.cpp
  cpp/tests/groupby/merge_m2_tests.cpp
Due: clang-format

Fix comments
  cpp/tests/groupby/m2_tests.cpp
  cpp/tests/groupby/merge_m2_tests.cpp
Due: clang-format

Add collect list to dask-cudf groupby aggregations (#8045)
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

Rewrite unit tests, separating multiple steps merging and one step merging
  cpp/tests/groupby/merge_m2_tests.cpp
Due: clang-format

Change `ResultType` to `result_type` to enforce name consistency
  cpp/src/groupby/sort/group_m2.cu
  cpp/src/groupby/sort/group_merge_m2.cu
Due: clang-format

namespace cudf::strings::detail
  cpp/src/strings/copying/shift.cu
Due: clang-format

Add ConfigureNVBench function to avoid concurrent main entry points
  cpp/benchmarks/CMakeLists.txt
Due: none

Adding support for list and struct type in ORC Reader (#8599)
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/utilities/hostdevice_vector.hpp
  python/cudf/cudf/_lib/io/utils.pxd
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

save some possible work aimed at uisng ParquetDatasetEngine
  python/dask_cudf/dask_cudf/io/parquet.py
Due: mypy

Remove unused cudf::strings::create_offsets
  cpp/include/cudf/strings/strings_column_view.hpp
  cpp/include/cudf/table/table_device_view.cuh
  cpp/include/cudf_test/column_utilities.hpp
  cpp/src/strings/strings_column_view.cu
  cpp/tests/strings/factories_test.cu
Due: clang-format
