Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Fix behavior of NULL_EQUAL.
  cpp/include/cudf/ast/detail/operators.hpp
Due: clang-format

Add struct accessor to dask-cudf (#8874)
  python/dask_cudf/dask_cudf/accessors.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Due: mypy

Fix docstrings
  python/cudf/cudf/core/frame.py
Due: mypy

use libcudf API and add tests
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_rolling.py
Due: mypy

add test
  python/cudf/cudf/tests/test_replace.py
Due: mypy

Import fix
  python/cudf/cudf/utils/cudautils.py
Due: mypy

update docstring
  python/cudf/cudf/core/window/rolling.py
Due: mypy

Add support for reading ORC file with no row group index (#9060)
  cpp/src/io/orc/reader_impl.cu
  python/cudf/cudf/tests/data/orc/TestOrcFile.NoIndStrm.IntWithNulls.orc
  python/cudf/cudf/tests/data/orc/TestOrcFile.NoIndStrm.StructAndIntWithNulls.TwoStripes.orc
  python/cudf/cudf/tests/data/orc/TestOrcFile.NoIndStrm.StructAndIntWithNulls.orc
  python/cudf/cudf/tests/data/orc/TestOrcFile.NoIndStrm.StructWithNoNulls.orc
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

Add null tolerant AND/OR operators.
  cpp/include/cudf/ast/detail/operators.hpp
  cpp/include/cudf/ast/expressions.hpp
  cpp/tests/ast/transform_tests.cpp
Due: clang-format

pushdown for struct - host side copmplete
  cpp/src/io/orc/orc_common.h
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Fix cudf::hash_join output size for struct joins
  cpp/src/join/hash_join.cu
  cpp/tests/join/join_tests.cpp
Due: clang-format

Final string changes
  cpp/include/cudf/strings/detail/convert/fixed_point.cuh
Due: clang-format

install dask and distributed v2021.07.1
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
Due: none

refactor
  python/cudf/cudf/core/window/rolling.py
Due: mypy

re-remove csv/reader_impl.hpp
  cpp/src/io/csv/reader_impl.hpp
Due: clang-format

refactor date_sequence into filling.hpp, add cpp test
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/debug_printers.hpp
  cpp/include/cudf/detail/date_sequence.cuh
  cpp/include/cudf/detail/datetime.hpp
  cpp/include/cudf/detail/sequence.hpp
  cpp/include/cudf/filling.hpp
  cpp/src/datetime/date_offsets.cu
  cpp/src/filling/date_sequence.cu
  cpp/tests/filling/sequence_tests.cpp
Due: clang-format

Update parquet writer to use nvcomp 2.1
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/CUDF_GetnvCOMP.cmake
  cpp/src/io/parquet/writer_impl.cu
Due: clang-format

One more cmake change related to updating nvcomp
  cpp/cmake/cudf-build-config.cmake.in
Due: none

Fetch cuco static multimap branch
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/CUDF_GetcuCollections.cmake
Due: none

Remove redundant CUDF_GetCUCO.cmake
  cpp/cmake/thirdparty/CUDF_GetCUCO.cmake
Due: none

Refactors python, adds docstring, raise when `freq` is specified with unsupported combinations
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/cpp/filling.pxd
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

Renames utility, handles unsupported arguments
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

Remove accidently added file
  cpp/include/cudf/debug_printers.hpp
Due: clang-format

multibyte_split (#8702)
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/io/cuio_benchmark_common.hpp
  cpp/benchmarks/io/text/multibyte_split_benchmark.cpp
  cpp/include/cudf/column/column_factories.hpp
  cpp/include/cudf/io/text/data_chunk_source.hpp
  cpp/include/cudf/io/text/data_chunk_source_factories.hpp
  cpp/include/cudf/io/text/detail/multistate.hpp
  cpp/include/cudf/io/text/detail/tile_state.hpp
  cpp/include/cudf/io/text/detail/trie.hpp
  cpp/include/cudf/io/text/multibyte_split.hpp
  cpp/src/io/text/multibyte_split.cu
  cpp/src/strings/strings_column_factories.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

Remove support for `freq` specified with `str`
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

Inline _scatter_scalars into _scatter_table.
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/core/column/column.py
Due: mypy

style
  python/dask_cudf/dask_cudf/accessors.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Due: mypy

Inline _scatter_table into scatter.
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/core/column/column.py
Due: mypy

Inline call to _scatter so that it can be removed.
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/frame.py
Due: mypy

Unify scalar and table paths as much as possible.
  python/cudf/cudf/core/column/column.py
Due: mypy

Add support for BaseIndexer in Rolling APIs (#9085)
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/tests/test_rolling.py
Due: mypy

Pass source as a column rather than a table.
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/core/column/column.py
Due: mypy

Update variable names, perform table check in each test case separately
  cpp/src/join/hash_join.cu
  cpp/tests/join/join_tests.cpp
Due: clang-format

Use structured binding to unpack pair of tables
  cpp/tests/join/join_tests.cpp
Due: clang-format

Update test_joining pytests: sort before compare
  python/cudf/cudf/tests/test_joining.py
Due: mypy

remove old code
  python/cudf/cudf/core/frame.py
Due: mypy

Change scatter to return the column.
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/core/column/column.py
Due: mypy

Pass column rather than table as argument.
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/core/column/column.py
Due: mypy

Use column_device_view and fix null handling
  cpp/src/strings/convert/convert_urls.cu
Due: clang-format

Remove redundant headers
  cpp/src/strings/convert/convert_urls.cu
Due: clang-format

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
