Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  stages:
  - commit
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Revert "Fix quantile division / partition handling for dask-cudf sort… (#9438)
  python/dask_cudf/dask_cudf/sorting.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
Due: mypy

Update python/dask_cudf/dask_cudf/tests/test_sort.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
Due: mypy

Make sure to sort multi-col quantiles by index
  python/dask_cudf/dask_cudf/sorting.py
Due: mypy

Fix repr.
  python/cudf/cudf/core/multiindex.py
Due: mypy

Fix dask_cudf regression
  python/cudf/cudf/core/reshape.py
Due: mypy

rename class attribute 'x' into 'buf'
  python/cudf/cudf/core/df_protocol.py
Due: mypy

Allow int-like objects for the `decimals` argument in `round` (#9428)
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_series.py
Due: mypy

Remove pyarrow import in `dask_cudf.io.parquet` (#9429)
  python/dask_cudf/dask_cudf/io/parquet.py
Due: mypy

Fix memcheck error in gtest SegmentedGatherTest/GatherSliced
  cpp/tests/copying/segmented_gather_list_tests.cpp
Due: clang-format

Adds Deprecation Warnings to `one_hot_encoding` and Implement `get_dummies` with Cython API (#9435)
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_onehot.py
Due: mypy

add column path
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.h
Due: clang-format

Add operator.invert
  python/cudf/cudf/core/udf/_ops.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: mypy

Improve naming.
  cpp/src/hash/md5_hash.cu
Due: clang-format

make test deterministic
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

simplify add_column; remove _has_nested_column
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
Due: clang-format

vector-vector nested struct comparison
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/groupby/sort/group_scan.hpp
  cpp/src/structs/utilities.cu
  cpp/src/structs/utilities.cuh
  cpp/src/structs/utilities.hpp
  cpp/tests/structs/utilities_tests.cpp
Due: clang-format

further simplify add_column
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

cast
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

Move Several Series Function to Frame (#9394)
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Push down parent nulls when flattening nested columns.
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/detail/groupby/sort_helper.hpp
  cpp/include/cudf/detail/structs/utilities.hpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/groupby/sort/scan.cpp
  cpp/src/groupby/sort/sort_helper.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
  cpp/src/join/semi_join.cu
  cpp/src/lists/drop_list_duplicates.cu
  cpp/src/reductions/scan/rank_scan.cu
  cpp/src/scalar/scalar.cpp
  cpp/src/search/search.cu
  cpp/src/sort/is_sorted.cu
  cpp/src/sort/sort_impl.cuh
  cpp/src/structs/copying/concatenate.cu
  cpp/src/structs/structs_column_factories.cu
  cpp/src/structs/utilities.cpp
  cpp/tests/join/join_tests.cpp
  cpp/tests/structs/utilities_tests.cpp
Due: clang-format

Implement and add docs
  python/dask_cudf/dask_cudf/io/orc.py
Due: mypy

add thorough tests for on '_CuDFcolumn' and '_CuDFBuffer' classes
  python/cudf/cudf/tests/test_df_protocol.py
Due: mypy

add cudf python groupby.diff
  python/cudf/cudf/core/groupby/groupby.py
Due: mypy

write 'dlpack' support tests
  python/cudf/cudf/tests/test_df_protocol.py
Due: mypy

dlpack support ok
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/tests/test_df_protocol.py
Due: mypy

add pytest for groupby.diff
  python/cudf/cudf/tests/test_groupby.py
Due: mypy

Update python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_groupby.py
Due: mypy

Update pre-commit hook URLs. (#9433)
  .pre-commit-config.yaml
Due: none

Re-order hooks to keep Python hooks together.
  .pre-commit-config.yaml
Due: none

Add __init__.py files to tests and benchmarks to satisfy mypy.
  python/cudf/cudf/benchmarks/__init__.py
  python/cudf/cudf/tests/__init__.py
Due: mypy

Use namedtuple name matching the variable _JoinKeys to satisfy mypy.
  python/cudf/cudf/core/join/join.py
Due: mypy

Add missing types-cachetools dependency.
  .pre-commit-config.yaml
Due: none

Remove six import (does not appear to be a dependency and is not needed for Python 3).
  python/cudf/cudf/utils/queryutils.py
Due: mypy

Use Generator instead of map to match mypy expectations.
  python/cudf/cudf/core/column_accessor.py
Due: mypy

Update black hook to 21.9b0.
  .pre-commit-config.yaml
Due: none

Preserve the decimal scale when creating a default scalar
  cpp/src/scalar/scalar_factories.cpp
  cpp/tests/reductions/reduction_tests.cpp
Due: clang-format

Implement actual caching
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/join.pyx
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/tests/test_joining.py
Due: mypy

impl
  python/cudf/cudf/core/udf/lowering.py
  python/cudf/cudf/core/udf/typing.py
Due: mypy

Addressed review comments, and reformated code
  cpp/src/scalar/scalar_factories.cpp
  cpp/tests/reductions/reduction_tests.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
