Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Use decimal precision metadata when reading from parquet files (#9162)
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/tests/test_parquet.py
Due: mypy

Minor correction on comment
  cpp/benchmarks/join/join_benchmark_common.hpp
Due: clang-format

Approximate overflow detection in ORC statistics (#9163)
  cpp/src/io/statistics/typed_statistics_chunk.cuh
  cpp/tests/io/orc_test.cpp
Due: clang-format

Add handling for null values in divisions
  python/dask_cudf/dask_cudf/sorting.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
Due: mypy

Add check that quantile divisions contains nulls
  python/dask_cudf/dask_cudf/tests/test_sort.py
Due: mypy

Use all for quantile divisions assertion
  python/dask_cudf/dask_cudf/tests/test_sort.py
Due: mypy

Use tuple, not list for params
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

tmp
  ci/gpu/build.sh
Due: none

Add support for single-digits in cudf::to_timestamps
  cpp/src/strings/convert/convert_datetime.cu
  cpp/tests/strings/datetime_tests.cpp
Due: clang-format

aggregations is_equal
  cpp/include/cudf/detail/aggregation/aggregation.hpp
Due: clang-format

Move things over to resample.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/resample.py
Due: mypy

Breakpoint
  python/cudf/cudf/core/resample.py
Due: mypy

Move `end_estim` compute up front to throw at overflow ts. Document unhandled corner cases.
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

Handle empty or otherwise unweighted data when creating and merging tdigests. Return null lists when calling percentile_approx on empty tdigests.
  cpp/include/cudf/detail/tdigest/tdigest.hpp
  cpp/src/groupby/sort/group_tdigest.cu
  cpp/src/quantiles/tdigest/tdigest.cu
Due: clang-format

masks are required for entry
  python/cudf/cudf/core/udf/pipeline.py
Due: mypy

Fix allocation size bug When writing statistics, there's not enough space allocated in chunk's compressed buffer. This results in the compressed buffer being written into another chunk's memory.
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/writer_impl.cu
Due: clang-format

Implement `interleave_columns` for lists with arbitrary nested type (#9130)
  cpp/src/lists/interleave_columns.cu
  cpp/tests/reshape/interleave_columns_tests.cpp
Due: clang-format

Use to_arrow and modified sort instead of dropna
  python/dask_cudf/dask_cudf/sorting.py
Due: mypy

Update backends.py
  python/dask_cudf/dask_cudf/backends.py
Due: mypy

Add proper mapping to offset alias. Fix a bug when sequence is decrementing, the extra items in the sequence were improperly trimmed.
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

Apply suggestions from code review
  cpp/include/cudf/detail/datetime_ops.cuh
  cpp/include/cudf/filling.hpp
Due: clang-format

nested struct support for rank using struct null pushdown
  cpp/src/groupby/sort/group_dense_rank_scan.cu
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/groupby/sort/scan.cpp
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/src/structs/utilities.cpp
  cpp/src/structs/utilities.hpp
  cpp/tests/groupby/rank_scan_tests.cpp
  cpp/tests/reductions/scan_tests.cpp
Due: clang-format

Get rid of MonthType typeparam
  cpp/include/cudf/detail/calendrical_month_sequence.cuh
  cpp/include/cudf/detail/datetime_ops.cuh
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

Update ci/gpu/build.sh
  ci/gpu/build.sh
Due: none

adding corr. func in python
  python/cudf/cudf/_lib/cpp/aggregation.pxd
  python/cudf/cudf/core/groupby/groupby.py
Due: mypy

more clarity changes
  cpp/src/io/orc/stripe_enc.cu
Due: clang-format

remove cyclic dependency import causing test issues
  python/cudf/cudf/_lib/text.pyx
Due: none

support returning a single number
  python/cudf/cudf/core/udf/pipeline.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: mypy

Move filtering inside non-fixed freqeuncy case.
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

style
  cpp/include/cudf/filling.hpp
Due: clang-format

Docs
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

finished tests and updated resolution
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

Add back missed return.
  cpp/src/join/conditional_join.cu
Due: clang-format

Add default cases for all switches to avoid warnings.
  cpp/src/join/conditional_join.cu
Due: clang-format

Minor improvement: insert_if predicate on the stencil sequence
  cpp/src/join/hash_join.cu
Due: clang-format

`dask_cudf` dispatch registering cleanup (#9160)
  python/dask_cudf/dask_cudf/backends.py
Due: mypy

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
