Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Fix `contains` check in string column (#8834)
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_categorical.py
Due: mypy

clean up
  cpp/src/rolling/rolling_detail.cuh
  cpp/tests/rolling/rolling_test.cpp
Due: clang-format

clean up
  cpp/tests/rolling/rolling_test.cpp
Due: clang-format

header cleanup
  cpp/src/rolling/rolling_detail.cuh
Due: clang-format

.
  cpp/src/rolling/rolling_detail.cuh
Due: clang-format

More cleanup
  cpp/src/rolling/rolling_detail.cuh
Due: clang-format

revert ptx changes
  cpp/tests/rolling/rolling_test.cpp
Due: clang-format

Support ${} syntax for backref-replace group index values
  cpp/include/cudf/strings/replace_re.hpp
  cpp/src/strings/replace/backref_re.cu
  cpp/tests/strings/replace_regex_tests.cpp
Due: clang-format

fix exception text
  cpp/src/strings/replace/backref_re.cu
Due: clang-format

add data_chunk_source factories, nvtx ranges to multibyte_split, use temp dir for benchmark files
  cpp/benchmarks/io/cuio_benchmark_common.hpp
  cpp/benchmarks/io/text/multibyte_split_benchmark.cpp
  cpp/include/cudf/io/text/data_chunk_source.hpp
  cpp/include/cudf/io/text/data_chunk_source_factories.hpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

use make_device_uvector_async in trie.hpp
  cpp/include/cudf/io/text/trie.hpp
Due: clang-format

Add multi-thread reading to GDS reads (#8752)
  cpp/include/cudf/io/datasource.hpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
  cpp/src/io/utilities/datasource.cpp
  cpp/src/io/utilities/file_io_utilities.cpp
  cpp/src/io/utilities/file_io_utilities.hpp
  cpp/src/io/utilities/thread_pool.hpp
Due: clang-format

rm device_istream
  cpp/include/cudf/io/text/data_chunk_source_factories.hpp
  cpp/include/cudf/io/text/device_istream.hpp
Due: clang-format

style
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_interpolate.py
Due: mypy

remove unnecessary older changes
  python/cudf/cudf/core/dataframe.py
Due: mypy

Small cleanup (unused headers / commented code removals) (#8799)
  cpp/src/copying/copy.cu
  cpp/tests/strings/fixed_point_tests.cpp
Due: clang-format

Update cudf java bindings to 21.10.0-SNAPSHOT (#8765)
  java/ci/README.md
  java/pom.xml
Due: none

Support header with embedded delimiter in csv writer (#8798)
  cpp/src/io/csv/writer_impl.cu
  cpp/tests/io/csv_test.cpp
Due: clang-format

Missing changes
  cpp/include/cudf/types.hpp
  cpp/include/cudf_test/column_wrapper.hpp
Due: clang-format

List GDS-enabled formats in the docs (#8805)
  docs/cudf/source/io-gds-integration.rst
Due: none

Scan, column_wrapper, orc, etc
  cpp/include/cudf_test/column_wrapper.hpp
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/reductions/scan/scan_exclusive.cu
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format

use new hex API in tests
  cpp/tests/io/csv_test.cpp
Due: clang-format

re-enable json tests that were accidentally disabled
  cpp/tests/io/json_test.cpp
Due: clang-format

Rename functions and variables
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Due: clang-format

add is_month_start with test
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

Fix typo
  java/src/main/native/src/ColumnViewJni.cpp
Due: clang-format

Rewrite javadoc and add public qualifier for class
  java/src/main/java/ai/rapids/cudf/ColumnView.java
Due: none

formatting and test updates
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

Static tests
  cpp/include/cudf_test/type_lists.hpp
  cpp/src/rolling/rolling_detail.cuh
  cpp/tests/rolling/rolling_test.cpp
Due: clang-format

multibyte_split add some docs, add more test cases
  cpp/include/cudf/io/text/data_chunk_source.hpp
  cpp/include/cudf/io/text/data_chunk_source_factories.hpp
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

revert CMakeLists ordering
  cpp/CMakeLists.txt
Due: none

undo python changes
  cpp/src/rolling/rolling_detail.cuh
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/core/window/rolling.py
Due: clang-format, mypy

Add Java bindings for AST transform
  java/src/main/java/ai/rapids/cudf/MemoryCleaner.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/ast/AstNode.java
  java/src/main/java/ai/rapids/cudf/ast/AstOperator.java
  java/src/main/java/ai/rapids/cudf/ast/BinaryExpression.java
  java/src/main/java/ai/rapids/cudf/ast/ColumnReference.java
  java/src/main/java/ai/rapids/cudf/ast/CompiledExpression.java
  java/src/main/java/ai/rapids/cudf/ast/Expression.java
  java/src/main/java/ai/rapids/cudf/ast/Literal.java
  java/src/main/java/ai/rapids/cudf/ast/TableReference.java
  java/src/main/java/ai/rapids/cudf/ast/UnaryExpression.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/CompiledExpression.cpp
  java/src/test/java/ai/rapids/cudf/ast/CompiledExpressionTest.java
Due: clang-format

.
  cpp/tests/rolling/rolling_test.cpp
Due: clang-format

docs
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/rolling.hpp
Due: clang-format

Java bindings for regex replace
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Due: clang-format

Binop changes
  cpp/src/binaryop/binaryop.cpp
Due: clang-format

small refactor to prepare for JSON API expansion
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
Due: clang-format

disable the xfail tests
  cpp/tests/io/json_test.cpp
Due: clang-format

extend JSON API (no tests)
  cpp/include/cudf/io/json.hpp
  cpp/src/io/csv/reader_impl.hpp
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
  cpp/tests/io/json_test.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
