Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

switch tests to new API
  cpp/tests/io/json_test.cpp
Due: clang-format

detail::to_string
  cpp/include/cudf/fixed_point/fixed_point.hpp
Due: clang-format

Aggregation changes
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/aggregation/aggregation.hpp
Due: clang-format

Small fix in fixed_point.hpp
  cpp/include/cudf/fixed_point/fixed_point.hpp
Due: clang-format

Enable quantile
  cpp/src/quantiles/quantile.cu
Due: clang-format

Update cpp/include/cudf/datetime.hpp
  cpp/include/cudf/datetime.hpp
Due: clang-format

convert trie storage from SOA to AOS
  cpp/include/cudf/io/text/trie.hpp
Due: clang-format

initial
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/rolling.pyx
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/testing/dataset_generator.py
  python/cudf/cudf/tests/test_rolling.py
Due: mypy

remove count==1 restriction
  cpp/src/rolling/rolling_detail.cuh
  cpp/tests/rolling/rolling_test.cpp
Due: clang-format

add ddof tests
  cpp/tests/rolling/rolling_test.cpp
Due: clang-format

make backref comments consistent
  cpp/src/strings/replace/backref_re.cu
Due: clang-format

use pytest.parametrize
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

select_dtypes list bug fix
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Comment update
  cpp/src/reductions/simple.cuh
Due: clang-format

REDUCTION_TEST working changes
  cpp/include/cudf/detail/utilities/device_operators.cuh
Due: clang-format

fix min version
  python/cudf/cudf/tests/test_cuda_array_interface.py
Due: mypy

docfix
  cpp/include/cudf/aggregation.hpp
Due: clang-format

Split AstOperator into UnaryOperator and BinaryOperator
  java/src/main/java/ai/rapids/cudf/ast/AstOperator.java
  java/src/main/java/ai/rapids/cudf/ast/BinaryExpression.java
  java/src/main/java/ai/rapids/cudf/ast/BinaryOperator.java
  java/src/main/java/ai/rapids/cudf/ast/UnaryExpression.java
  java/src/main/java/ai/rapids/cudf/ast/UnaryOperator.java
  java/src/main/native/src/CompiledExpression.cpp
  java/src/test/java/ai/rapids/cudf/ast/CompiledExpressionTest.java
Due: clang-format

FIX Allow consumers of libcudf to use driver link
  cpp/CMakeLists.txt
Due: none

Fix bug in generating a table from a scalar.
  python/cudf/cudf/_lib/scalar.pyx
Due: none

ROLLING_TEST changes
  cpp/src/aggregation/aggregation.cpp
  cpp/tests/rolling/rolling_test.cpp
Due: clang-format

Make TODO more informative.
  python/cudf/cudf/_lib/copying.pyx
Due: none

Remove TODOs.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
Due: mypy

add new APIs to cython defs
  python/cudf/cudf/_lib/cpp/io/csv.pxd
  python/cudf/cudf/_lib/cpp/io/json.pxd
Due: none

Improve docstring and clean up TODOs.
  python/cudf/cudf/_lib/utils.pyx
Due: none

changes and test cases
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

Add min `pytorch` version to `importorskip` in pytest (#8851)
  python/cudf/cudf/tests/test_cuda_array_interface.py
Due: mypy

Remove OUTPUT table reference, add test for invalid table reference
  java/src/main/java/ai/rapids/cudf/ast/CompiledExpression.java
  java/src/main/java/ai/rapids/cudf/ast/TableReference.java
  java/src/main/native/src/CompiledExpression.cpp
  java/src/test/java/ai/rapids/cudf/ast/CompiledExpressionTest.java
Due: clang-format

Fix suboptimal clang formatting
  java/src/main/native/src/CompiledExpression.cpp
Due: clang-format

Add test for mismatched data types
  java/src/test/java/ai/rapids/cudf/ast/CompiledExpressionTest.java
Due: none

Initial changes for STRINGS_TEST
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/src/strings/convert/utilities.cuh
Due: clang-format

add to last missing place
  python/cudf/cudf/_lib/cpp/io/csv.pxd
  python/cudf/cudf/_lib/cpp/io/json.pxd
Due: none

added initial function
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

style fix; missed rename
  python/cudf/cudf/_lib/cpp/io/csv.pxd
  python/cudf/cudf/_lib/cpp/io/json.pxd
Due: none

python bndings for quarter
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/series.py
Due: mypy

Change cudf::scalar copy and move constructors to protected
  cpp/include/cudf/scalar/scalar.hpp
Due: clang-format

docs fixes
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/csv/reader_impl.hpp
Due: clang-format

deprecate APIs
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/json.hpp
Due: clang-format

Implement JNI for `strings:repeat_strings` that repeats each string separately by different numbers of times (#8572)
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Due: clang-format

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
