Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Remove struct check when looking for nested lists.
  cpp/src/structs/utilities.cpp
Due: clang-format

Add support for BaseIndexer in Rolling APIs
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/window/rolling.py
Due: mypy

Docs and general cleanup. Removed code duplication in python from an odd merge.
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/quantiles.hpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_reductions.hpp
  python/cudf/cudf/_lib/groupby.pyx
Due: clang-format

removed deprecation and addressed review comments
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/ColumnView.java
Due: none

close device resource after copying to ColumnVector
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

Fetch rapids-cmake to work around cuCollection cmake issue (#9075)
  cpp/CMakeLists.txt
Due: none

Support "unflatten" of columns flattened via `flatten_nested_columns()`: (#8956)
  cpp/src/structs/utilities.cpp
  cpp/src/structs/utilities.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/structs/utilities_tests.cpp
Due: clang-format

replace json reader_impl::metadata_ with local variable
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
Due: clang-format

Add support for `STRUCT` input to `groupby`
  cpp/include/cudf/detail/groupby/sort_helper.hpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/sort/sort_helper.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/structs_tests.cpp
Due: clang-format

replace json reader_impl::data_ with local variable
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
  cpp/src/io/utilities/parsing_utils.cu
  cpp/src/io/utilities/parsing_utils.cuh
Due: clang-format

remove debug and add optimization flags for both build_ext and bdist_wheel
  python/cudf/setup.py
Due: mypy

fix lint
  python/cudf/setup.py
Due: mypy

fix typo
  python/cudf/setup.py
Due: mypy

initial
  python/dask_cudf/dask_cudf/accessors.py
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Due: mypy

Added method to remove null_masks if the column has no nulls (#9061)
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: clang-format

Include list and struct into basic.rst
  docs/cudf/source/basics/basics.rst
Due: none

count==0 case maps to invalid output.
  cpp/src/rolling/rolling_detail.cuh
  cpp/tests/rolling/rolling_test.cpp
Due: clang-format

pushdown mask different approach
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

replace json::reader_impl column_map members with local variables
  cpp/src/hash/concurrent_unordered_map.cuh
  cpp/src/io/json/json_gpu.cu
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
Due: clang-format

change json::reader_impl host buffer type from uint8_t to char
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
Due: clang-format

replace json::reader_impl uncomp data members with single span member
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
Due: clang-format

json::reader_impl simplify device data copy logic
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
Due: clang-format

review changes
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

remove json::reader_impl::decompress_input function and inline the logic
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
Due: clang-format

replace json::reader_impl::uncomp_data_ member with local variable
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
Due: clang-format

relocate json::reader_impl decompression code
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
Due: clang-format

remove unneccessary json::reader_impl class
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
Due: clang-format

remove deprected file header format
  cpp/src/io/json/reader_impl.cu
Due: clang-format

remove json_common.h
  cpp/src/io/json/json_common.h
  cpp/src/io/json/json_gpu.cu
  cpp/src/io/json/json_gpu.h
  cpp/src/io/json/reader_impl.cu
Due: clang-format

remove unncessary csv writer class
  cpp/include/cudf/io/detail/csv.hpp
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/csv/writer_impl.hpp
  cpp/src/io/functions.cpp
Due: clang-format

replace csv::writer_impl out_sink_ member with local variable
  cpp/include/cudf/io/detail/csv.hpp
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/csv/writer_impl.hpp
Due: clang-format

replace csv::writer_impl members with local variables
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/csv/writer_impl.hpp
Due: clang-format

remove unnecessary csv writer impl class
  cpp/include/cudf/io/detail/csv.hpp
  cpp/src/io/csv/writer_impl.cu
  cpp/src/io/csv/writer_impl.hpp
  cpp/src/io/functions.cpp
Due: clang-format

Update basics.rst
  docs/cudf/source/basics/basics.rst
Due: none

replace writer_impl.hpp with more appropriately named durations.hpp
  cpp/src/io/csv/durations.hpp
  cpp/src/io/csv/writer_impl.cu
Due: clang-format

remove unncessary avro reader class
  cpp/include/cudf/io/detail/avro.hpp
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/avro/reader_impl.hpp
  cpp/src/io/functions.cpp
Due: clang-format

replace avro::reader_impl mr member with local variable
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/avro/reader_impl.hpp
Due: clang-format

replace avro::reader_impl source member with local variable
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/avro/reader_impl.hpp
Due: clang-format

remove unneccessary avro::reader_impl _columns member
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/avro/reader_impl.hpp
Due: clang-format

replace avro::reader_impl metadata member with local variable
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/avro/reader_impl.hpp
Due: clang-format
