Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Import fix (#9104)
  python/cudf/cudf/utils/cudautils.py
Due: mypy

Apply review comments: div by zero result is valid element
  cpp/src/rolling/rolling_detail.cuh
  cpp/tests/rolling/rolling_test.cpp
Due: clang-format

Update JNI and corresponding Java APIs.
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/ast/BinaryOperator.java
  java/src/main/native/src/CompiledExpression.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: clang-format

Add test of EQUAL on input columns containing nulls.
  cpp/tests/ast/transform_tests.cpp
Due: clang-format

style
  python/cudf/cudf/core/dataframe.py
Due: mypy

Fix compile warnings found using nvcc 11.4 (#9101)
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/src/io/orc/reader_impl.cu
  cpp/src/merge/merge.cu
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

fix float16 issues.
  python/cudf/cudf/utils/dtypes.py
Due: mypy

read_avro: treat source and metadata as refernces, not raw pointers
  cpp/src/io/avro/reader_impl.cu
Due: clang-format

enforce constness on avro_decode_row dictionary argument
  cpp/src/io/avro/avro_gpu.cu
  cpp/src/io/avro/avro_gpu.h
  cpp/src/io/avro/reader_impl.cu
Due: clang-format

adjust copyright in avro.hpp
  cpp/include/cudf/io/detail/avro.hpp
Due: clang-format

read_avro: return out_buffers rather than mutating in function
  cpp/src/io/avro/reader_impl.cu
Due: clang-format

use device_span for block list in DecodeAvroColumnData
  cpp/src/io/avro/avro_gpu.cu
  cpp/src/io/avro/avro_gpu.h
  cpp/src/io/avro/reader_impl.cu
Due: clang-format

read_avro: style changes
  cpp/src/io/avro/reader_impl.cu
Due: clang-format

refactored
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

Fix read_csv C++ import
  python/cudf/cudf/_lib/cpp/io/csv.pxd
Due: none

update sort groupby to create base type column for dictionary type column
  cpp/src/groupby/sort/aggregate.cpp
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/min_tests.cpp
Due: clang-format

Fix variable names
  cpp/src/join/hash_join.cu
Due: clang-format

Use assert_join_results_equal instead of naive assert_eq
  python/cudf/cudf/tests/test_joining.py
Due: mypy

Fix cudf::hash_join output size for struct joins (#9107)
  cpp/src/join/hash_join.cu
  cpp/tests/join/join_tests.cpp
Due: clang-format

fix bad merge where changes in 9079 were deleted.
  cpp/src/io/csv/reader_impl.cu
Due: clang-format

re-delete json reader_impl.hpp
  cpp/src/io/json/reader_impl.hpp
Due: clang-format

fix bad merge where changes in 9079 were deleted.
  cpp/src/io/json/reader_impl.cu
Due: clang-format

Include missing source files from cudfjni that got dropped during merge resolution
  java/src/main/native/CMakeLists.txt
Due: none

Fix test case.
  java/src/test/java/ai/rapids/cudf/ast/CompiledExpressionTest.java
Due: none

Add JNI test of non-null equality.
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

Add Java tests of new nullable logical operators.
  java/src/test/java/ai/rapids/cudf/ast/CompiledExpressionTest.java
Due: none

Fix metadata reassignment.
  python/cudf/cudf/core/column/column.py
Due: mypy

returned default value ffor ceil
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

Update pytests: sort before compare
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_replace.py
Due: mypy

Update cpp/src/rolling/rolling_detail.cuh
  cpp/src/rolling/rolling_detail.cuh
Due: clang-format

initial
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: mypy

First attempt to check if nulls are present in an expression, but won't compile because we can't check scalar device view validity on the host.
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/include/cudf/ast/expressions.hpp
Due: clang-format

Add test that demonstrates failure and fix first issue.
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/tests/ast/transform_tests.cpp
Due: clang-format

Remove -g from cython compile commands (#9074)
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  python/cudf/setup.py
Due: mypy

Include list and struct into basics.rst update
  docs/cudf/source/basics/basics.rst
Due: none

Store the original scalar in the literal and use it to check validity.
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/include/cudf/ast/expressions.hpp
  cpp/src/ast/expression_parser.cpp
  cpp/src/transform/compute_column.cu
Due: clang-format

Review comments
  python/dask_cudf/dask_cudf/accessors.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Due: mypy

fix ewma noadjust
  cpp/src/reductions/scan/scan_inclusive.cu
  python/cudf/cudf/_lib/aggregation.pyx
Due: clang-format

Document why re-sort() on null_policy::EXCLUDE.
  cpp/src/groupby/sort/sort_helper.cu
Due: clang-format

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
