Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Update Java build instructions to mention Arrow S3 and Docker
  java/README.md
Due: none

Depend on `cudatoolkit` in `dask-cudf`
  conda/recipes/dask-cudf/meta.yaml
Due: none

DECIMAL128 custom reduction tests
  cpp/tests/reductions/reduction_tests.cpp
Due: clang-format

Update Java build instructions to mention Arrow S3 and Docker (#8867)
  java/README.md
Due: none

fix make_random_wrapped_scalar specialization for strings
  cpp/tests/binaryop/binop-fixture.hpp
Due: clang-format

adds explode() and tests
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_series.py
Due: mypy

Compiling...
  cpp/CMakeLists.txt
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/detail/date_offsets.cuh
  cpp/src/datetime/date_offsets.cu
Due: clang-format

Whitespace
  cpp/CMakeLists.txt
Due: none

fix const ptr, remove temp variable
  cpp/include/cudf/detail/indexalator.cuh
  cpp/src/replace/nulls.cu
Due: clang-format

Added testing of struct series creation and struct.field() method
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Due: mypy

style update
  python/cudf/cudf/tests/test_series.py
Due: mypy

remove thrust::reduce
  cpp/src/rolling/rolling_detail.cuh
Due: clang-format

Modified testing of accessor field method
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Due: mypy

Modified struct accessor testing further
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Due: mypy

trigger formatting
  python/dask_cudf/dask_cudf/io/parquet.py
Due: mypy

.
  cpp/src/rolling/rolling_detail.cuh
  cpp/tests/rolling/rolling_test.cpp
Due: clang-format

Another REDUCTION test
  cpp/tests/reductions/reduction_tests.cpp
Due: clang-format

Use uninitialized_fill instead of fill on uvectors and add comment regarding shuffle and warp syncs.
  cpp/src/join/join_common_utils.cuh
Due: clang-format

Use size_type and offset_type instead of int32_t
  cpp/src/strings/convert/convert_urls.cu
Due: clang-format

Address reviewer's suggestions
  cpp/src/strings/convert/convert_urls.cu
Due: clang-format

Create new pr
  python/cudf/cudf/core/dataframe.py
Due: mypy

Update python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/_lib/utils.pyx
Due: none

fix cufilejni build w/ c++17
  java/src/main/native/CMakeLists.txt
Due: none

Working deep select_columns
  cpp/src/io/parquet/parquet.cpp
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/reader_impl.cu
Due: clang-format

Change external API and switch over to new select_column
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/parquet/reader_impl.cu
  python/cudf/cudf/_lib/cpp/io/parquet.pxd
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/io/parquet.py
Due: clang-format, mypy

a few python updates
  python/cudf/cudf/core/window/ewm.py
  python/cudf/cudf/core/window/rolling.py
Due: mypy

fix cufilejni build w/ c++17 (#8877)
  java/src/main/native/CMakeLists.txt
Due: none

directly add and test unsorted index case
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_interpolate.py
Due: mypy

....but dont do it for RangeIndex based data
  python/cudf/cudf/core/frame.py
Due: mypy

Apply suggestions from code review
  python/cudf/cudf/core/algorithms.py
Due: mypy

fix minor bugs
  python/cudf/cudf/core/algorithms.py
Due: mypy

Update python/dask_cudf/dask_cudf/tests/test_accessor.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Due: mypy

address reviews
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
Due: mypy

more reviews
  python/cudf/cudf/core/algorithms.py
Due: mypy

Throw KeyError when accessing field from struct with nonexistent key - formatted
  python/cudf/cudf/core/column/struct.py
Due: mypy

just expose interpolate directly
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy

Series datetime is_month_start (#8844)
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

revert max dask pin
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/custreamz/dev_requirements.txt
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Due: mypy

style
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_interpolate.py
Due: mypy

Fix auto to reference casts
  java/src/main/native/src/CompiledExpression.cpp
Due: clang-format
