Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Apply suggestions from code review
  python/cudf/cudf/core/dataframe.py
Due: mypy

cleanup as_column
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_series.py
Due: mypy

Fix min/max sorted groupby aggregation on string column with nulls (argmin, argmax sentinel value missing on nulls) (#8731)
  cpp/src/groupby/sort/group_argmax.cu
  cpp/src/groupby/sort/group_argmin.cu
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/min_tests.cpp
Due: clang-format

replace map with vector
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Due: clang-format

Fixed the faulty test that let this bug slip through in the first place. Added some more tests.
  cpp/tests/copying/split_tests.cpp
Due: clang-format

use optional instead of `-1` flag
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Due: clang-format

tidy up orc_column_view
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Due: clang-format

scan_agg ordering
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Due: mypy

Created new PR
  cpp/tests/io/csv_test.cpp
Due: clang-format

use uint32_t for indexes; replace raw loops
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Due: clang-format

add bounds check to multibyte_split load and flag
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

multibyte_split benchmark scaffolding
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/io/text/multibyte_split_benchmark.cpp
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

fix a python cudf unit test error
  CONTRIBUTING.md
Due: none

Rearrange some logic in as_column
  python/cudf/cudf/core/column/column.py
Due: mypy

add experimental::detail::binary_operation
  cpp/include/cudf/detail/binaryop.hpp
  cpp/src/binaryop/binaryop.cpp
Due: clang-format

use experimental::detail::binary_operation in libcudf functions
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/unary/cast_ops.cu
Due: clang-format

use compiled experimental::binary_operation in python
  python/cudf/cudf/_lib/binaryop.pyx
  python/cudf/cudf/_lib/cpp/binaryop.pxd
Due: none

use compiled experimental::binary_operation in java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/main/native/src/ScalarJni.cpp
Due: clang-format

multibyte_split increase threads per block and adjust test case.
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

Refactor detail implementations of segmented_count_unset_bits() and segmented_count_set_bits() to take iterators for range indices.
  cpp/CMakeLists.txt
  cpp/include/cudf/detail/null_mask.cuh
  cpp/src/bitmask/null_mask.cu
  cpp/src/copying/slice.cu
Due: clang-format

Fix bad function name.
  cpp/include/cudf/detail/null_mask.cuh
Due: clang-format

Enable AST-based joining (#8214)
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/ast/transform_benchmark.cpp
  cpp/benchmarks/join/conditional_join_benchmark.cu
  cpp/include/cudf/ast/detail/linearizer.hpp
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/include/cudf/join.hpp
  cpp/src/ast/linearizer.cpp
  cpp/src/ast/transform.cu
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
  cpp/src/join/join.cu
  cpp/src/join/join_kernels.cuh
  cpp/src/join/nested_loop_join.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/ast/transform_tests.cpp
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

add logical_and logical_or to bool output type list
  python/cudf/cudf/core/column/numerical.py
Due: mypy

review
  cpp/src/copying/copy.cu
Due: clang-format

updates
  cpp/src/transform/transform.cpp
Due: clang-format

style
  cpp/src/transform/jit/masked_udf_kernel.cu
  cpp/src/transform/transform.cpp
Due: clang-format

review comment
  python/cudf/cudf/core/index.py
Due: mypy

Address review
  docs/cudf/source/_ext/PandasCompat.py
Due: mypy

xfail tests unstacking categorical index
  python/cudf/cudf/tests/test_reshape.py
Due: mypy

Remove code re-introduced by bad merge
  python/cudf/cudf/core/column/column.py
Due: mypy

PR review changes.
  cpp/tests/utilities/column_utilities.cu
Due: clang-format

Add more join test cases
  cpp/benchmarks/join/join_nvbench.cu
Due: clang-format

inital fixes to replace
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
Due: mypy

pin mimesis
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  python/cudf/requirements/cuda-11.0/dev_requirements.txt
  python/cudf/requirements/cuda-11.2/dev_requirements.txt
Due: none

Add `is_leap_year` to `DateTimeProperties` and `DatetimeIndex` (#8736)
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

remove markdown
  docs/cudf/source/api_docs/generated/pandas.Series.array.rst
  docs/cudf/source/conf.py
  docs/cudf/source/pandas.DataFrame.drop.rst
  docs/cudf/source/pandas.DataFrame.groupby.rst
Due: mypy

add more pages
  docs/cudf/source/api_docs/general_functions.rst
  docs/cudf/source/api_docs/general_utilities.rst
  docs/cudf/source/api_docs/groupby.rst
  docs/cudf/source/api_docs/index.rst
Due: none

fix where
  python/cudf/cudf/core/_internals/where.py
Due: mypy

add tests; minor clean up; fix for valid_mask logic
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy
