Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Intermediate work on SHA-256.
  cpp/src/hash/hashing.cu
  cpp/src/hash/sha_hash.cu
  cpp/tests/hashing/hash_test.cpp
Due: clang-format

Fix bug in message finalization.
  cpp/src/hash/sha_hash.cu
Due: clang-format

Draft of SHA-224, SHA-384.
  cpp/include/cudf/detail/hashing.hpp
  cpp/src/hash/hash_constants.hpp
  cpp/src/hash/hashing.cu
  cpp/src/hash/sha_hash.cu
Due: clang-format

Use explicit SHA word types, add implementations of SHA-224 and SHA-384.
  cpp/src/hash/sha_hash.cu
Due: clang-format

Enable SHA-224, SHA-384.
  cpp/src/hash/sha_hash.cu
Due: clang-format

Add tests for SHA-224, SHA-384.
  cpp/tests/hashing/hash_test.cpp
Due: clang-format

Added is_equality_comparable() trait.
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/groupby/groupby.cu
Due: clang-format

use hash_combine for shallow hash
  cpp/include/cudf/types.hpp
  cpp/src/column/column_view.cpp
Due: clang-format

Only run imports tests on x86_64
  conda/recipes/cudf/meta.yaml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
Due: none

remove unncessary BytesIO usage for optimized code path
  python/cudf/cudf/utils/ioutils.py
Due: mypy

Improve performance of expression evaluation (#9210)
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/transform/compute_column.cu
Due: clang-format

Use rmm::cuda_stream_view.
  cpp/include/cudf/detail/hashing.hpp
  cpp/src/hash/sha_hash.cu
Due: clang-format

REL v21.08.03 release
  cpp/CMakeLists.txt
  cpp/doxygen/Doxyfile
  cpp/libcudf_kafka/CMakeLists.txt
  docs/cudf/source/conf.py
  java/src/main/native/CMakeLists.txt
Due: mypy

addcudf_func_range for benchmark
  cpp/src/transform/one_hot_encode.cu
Due: clang-format

Working ORC writer with nvcomp
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Update python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/frame.py
Due: mypy

ewmvar nulls pass for adjust=True
  cpp/src/reductions/scan/scan.cuh
  cpp/src/reductions/scan/scan_inclusive.cu
  python/cudf/cudf/tests/test_ewm.py
Due: clang-format, mypy

Small cleanups. Device span instead of pointers
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

minor cleanup
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format

style
  python/cudf/cudf/core/frame.py
Due: mypy

Here you go: range for loop
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Add switch to control usage of nvcomp
  cpp/src/io/orc/stripe_enc.cu
Due: clang-format

DOC v21.12 Updates
  CHANGELOG.md
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  cpp/CMakeLists.txt
  cpp/doxygen/Doxyfile
  cpp/examples/basic/CMakeLists.txt
  cpp/libcudf_kafka/CMakeLists.txt
  docs/cudf/source/conf.py
  java/src/main/native/CMakeLists.txt
Due: mypy

have orc_column_device_view inherit from column_device_view
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Update cpp/include/cudf/transform.hpp
  cpp/include/cudf/transform.hpp
Due: clang-format

Apply suggestions from code review (jake)
  cpp/include/cudf/column/column_view.hpp
Due: clang-format

address reviews and style fixes
  cpp/include/cudf/transform.hpp
  python/cudf/cudf/core/series.py
Due: clang-format, mypy

update jni code and remove rmm_log.txt
  java/rmm_log.txt
  java/src/main/native/src/ColumnViewJni.cpp
Due: clang-format

`Dataframe.sort_index` optimizations (#9238)
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_sorting.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Due: mypy

Moved equality_comparable checks to after flattening:
  cpp/CMakeLists.txt
  cpp/src/groupby/common/utils.cpp
  cpp/src/groupby/common/utils.hpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/sort/sort_helper.cu
Due: clang-format

sliced table support
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/tests/io/orc_test.cpp
Due: clang-format

Fix `gather` for sliced input structs column (#9218)
  cpp/include/cudf/detail/gather.cuh
  cpp/tests/copying/gather_struct_tests.cpp
Due: clang-format

get_cucollections properly uses rapids_cpm_find (#9189)
  cpp/cmake/thirdparty/get_cucollections.cmake
Due: none

fix spacing issue
  cpp/CMakeLists.txt
Due: none

Minor update: double hashing moved to cuco::detail namespace
  cpp/src/join/join_common_utils.hpp
Due: clang-format

Move equality_comparable checks inline.
  cpp/CMakeLists.txt
  cpp/src/groupby/common/utils.cpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/sort/sort_helper.cu
Due: clang-format

address review comments
  cpp/include/cudf/column/column_view.hpp
  cpp/include/cudf/types.hpp
  cpp/src/column/column_view.cpp
Due: clang-format

update after PR #9185 updates
  cpp/include/cudf/detail/aggregation/result_cache.hpp
Due: clang-format

Update python/cudf/cudf/core/index.py
  python/cudf/cudf/core/index.py
Due: mypy
