Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Refactor implementation of column setitem (#9110)
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/frame.py
Due: mypy

start missing value supports + int missing value tests
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/tests/test_df_protocol.py
Due: mypy

reformulate requirement instructions in all subsections
  CONTRIBUTING.md
Due: none

remove language names
  CONTRIBUTING.md
Due: none

remove contributor label in libcudf_kafka section
  CONTRIBUTING.md
Due: none

reorganize C++ libraries' instructions
  CONTRIBUTING.md
Due: none

refactor subsection titles and remove redundant words
  CONTRIBUTING.md
Due: none

fix typo
  CONTRIBUTING.md
Due: none

DateOffset improvements
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

Add freq parameter to Grouper
  python/cudf/cudf/core/groupby/groupby.py
Due: mypy

First commit Many iterations already happened. I just realized late that I should commit
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/compare/comparator_benchmark.cu
  cpp/include/cudf/sort2.cuh
  cpp/include/cudf/table/row_operator2.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/sort/sort2_test.cu
Due: clang-format

Update python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/column.py
Due: mypy

inner_join_size return 0 if build table is empty
  cpp/src/join/hash_join.cu
Due: clang-format

Add backend for `percentile_lookup` dispatch (#9118)
  python/dask_cudf/dask_cudf/backends.py
Due: mypy

remove $ in all bash codes
  CONTRIBUTING.md
Due: none

Move type metadata apply to columnbase. Remove renames in struct.
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/struct.py
Due: mypy

Rewrite SFINAE
  cpp/src/lists/interleave_columns.cu
Due: clang-format

Add more unit tests for empty build table
  cpp/tests/join/join_tests.cpp
Due: clang-format

Preserve float16 upscaling (#9069)
  python/cudf/cudf/_fuzz_testing/csv.py
  python/cudf/cudf/_fuzz_testing/json.py
  python/cudf/cudf/_fuzz_testing/utils.py
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/binaryop.pyx
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/reduce.pyx
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/_lib/string_casting.pyx
  python/cudf/cudf/_lib/strings/convert/convert_fixed_point.pyx
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/_lib/types.pyx
  python/cudf/cudf/_lib/unary.pyx
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_dtypes.py
  python/cudf/cudf/tests/test_numerical.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/tests/test_repr.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/utils/dtypes.py
Due: mypy

fix test
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Add support for nested types
  cpp/src/lists/interleave_columns.cu
Due: clang-format

correct cases
  CONTRIBUTING.md
Due: none

make data chunk reader to return unique_ptr, allowing impl to determine ownership of data
  cpp/include/cudf/io/text/data_chunk_source.hpp
  cpp/include/cudf/io/text/data_chunk_source_factories.hpp
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

move alignment to separate function
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Due: clang-format

Missed STRINGS fixes
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/tests/strings/fixed_point_tests.cpp
Due: clang-format

Add some tests without null
  cpp/tests/reshape/interleave_columns_tests.cpp
Due: clang-format

Use insert instead of insert_if if row_bitmask is null
  cpp/src/join/hash_join.cu
Due: clang-format

Compare against nullptr to avoid implicit type conversion
  cpp/src/join/hash_join.cu
Due: clang-format

Reorder code
  cpp/src/lists/interleave_columns.cu
Due: clang-format

Add handling for nested dicts in dask-cudf groupby (#9054)
  python/cudf/cudf/core/dataframe.py
  python/dask_cudf/dask_cudf/groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

Enhance STRINGS_TEST
  cpp/tests/strings/fixed_point_tests.cpp
Due: clang-format

Add support for `STRUCT` input to `groupby` (#9024)
  cpp/include/cudf/detail/groupby/sort_helper.hpp
  cpp/src/groupby/groupby.cu
  cpp/src/groupby/sort/sort_helper.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/structs_tests.cpp
Due: clang-format

address initial PR feedback
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/GroupByAggregation.java
  java/src/main/native/src/ColumnViewJni.cpp
Due: clang-format

Enhance ROUND tests
  cpp/tests/round/round_tests.cpp
Due: clang-format

Fix FIXED_POINT_TESTs
  cpp/tests/fixed_point/fixed_point_tests.cpp
Due: clang-format

Restructuring `Contributing doc` (#9026)
  CONTRIBUTING.md
Due: none

Fix a bug: inner_join_size return zero if build table is empty (#9128)
  cpp/src/join/hash_join.cu
  cpp/tests/join/join_tests.cpp
Due: clang-format

add tests
  python/cudf/cudf/tests/test_struct.py
Due: mypy
