Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

updated scalar from_unique_ptr
  python/cudf/cudf/_lib/scalar.pyx
Due: none

small impl note
  cpp/src/utilities/type_checks.cpp
Due: clang-format

address c++ review comments
  cpp/include/cudf/io/orc.hpp
  cpp/src/io/orc/reader_impl.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

Use single dispatch
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/utilities/type_checks.cpp
Due: clang-format

cleaning
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

revert disabling of arrow tests
  cpp/tests/io/arrow_io_source_test.cpp
  cpp/tests/io/csv_test.cpp
Due: clang-format

partial review fix
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/reader_impl.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

Update cpp/include/cudf/utilities/type_checks.hpp
  cpp/include/cudf/utilities/type_checks.hpp
Due: clang-format

Rename concatenate_tests.cu to .cpp (#8555)
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/concatenate_tests.cpp
Due: clang-format

right scalar test
  cpp/tests/copying/copy_if_else_nested_tests.cpp
Due: clang-format

more tests
  cpp/tests/copying/get_value_tests.cpp
Due: clang-format

Fix uninitialized variable
  cpp/include/cudf/strings/detail/utilities.cuh
Due: clang-format

Update java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/java/ai/rapids/cudf/Aggregation.java
Due: none

Decimal support csv reader (#8511)
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/strings/detail/convert/fixed_point.cuh
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/csv/reader_impl.hpp
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/tests/io/csv_test.cpp
Due: clang-format

fix for gather_statistic_blobs w/ nested columns
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/statistics/statistics.cuh
Due: clang-format

adding storage options kwarg.
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/io/csv.py
Due: mypy

exposing storage_options to readers.
  myfile.csv
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/json.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/utils/ioutils.py
Due: mypy

removing my test csv file.
  myfile.csv
Due: none

style
  python/cudf/cudf/_lib/scalar.pyx
Due: none

address remaining review comments
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/reader_impl.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

address review comments
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/io/orc.py
Due: mypy

test
  conda/recipes/cudf_kafka/meta.yaml
Due: none

update to thrust::pair from std::pair
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

Remove unneeded includes from cudf::string_view headers
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/strings/string_view.hpp
Due: clang-format

remove unneeded stripe_idx_in_source variable
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

fix mypy errors
  python/cudf/cudf/core/column/numerical.py
Due: mypy

review updates
  cpp/include/cudf/io/orc.hpp
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/reader_impl.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

use assert_eq
  python/cudf/cudf/tests/test_orc.py
Due: mypy

compare gdf to pdf
  python/cudf/cudf/tests/test_orc.py
Due: mypy

update multiple input files python test to include num_rows as well
  python/cudf/cudf/tests/test_orc.py
Due: mypy

rev.
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/utilities/type_checks.cpp
  cpp/tests/utilities_tests/type_check_tests.cpp
Due: clang-format

Fix `mypy` errors surfacing because of `numpy-1.21.0` (#8595)
  python/cudf/cudf/core/column/numerical.py
Due: mypy

fixed CI tests
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy

fix doc typo
  python/cudf/cudf/tests/test_orc.py
Due: mypy

fix documentation typo
  cpp/include/cudf/io/orc.hpp
Due: clang-format

multi_level_nested test
  cpp/tests/copying/get_value_tests.cpp
Due: clang-format

scalar init debug
  cpp/tests/copying/copy_if_else_nested_tests.cpp
Due: clang-format

cleaning
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stripe_data.cu
Due: clang-format

Dask-CuDF: use default Dask Dataframe optimizer (#8581)
  python/dask_cudf/dask_cudf/core.py
Due: mypy

Convert comparison operators.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
