Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

add helper for RLE stream size
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Due: clang-format

use enums
  cpp/src/io/orc/orc_common.h
  cpp/src/io/orc/orc_gpu.h
Due: clang-format

don't reuse column stream len for chunk stream len
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

use full encoded column size in column streams, calc separately in chunk streams
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

wip
  cpp/src/copying/copy.cu
Due: clang-format

fix debug build
  cpp/tests/copying/gather_struct_tests.cpp
Due: clang-format

replace.py
  python/cudf/cudf/_lib/transpose.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/tests/test_repr.py
Due: mypy

restore _fill
  python/cudf/cudf/core/column/column.py
Due: mypy

dataframe.py
  python/cudf/cudf/core/column/categorical.py
Due: mypy

.
  python/cudf/cudf/core/index.py
Due: mypy

applying review comments
  ci/release/update-version.sh
  cpp/examples/basic/CMakeLists.txt
Due: none

wip
  cpp/src/copying/copy.cu
  cpp/tests/copying/copy_tests.cu
Due: clang-format

wip
  cpp/tests/copying/copy_tests.cu
Due: clang-format

addressed review comments
  cpp/src/io/csv/csv_gpu.cu
  cpp/tests/io/csv_test.cpp
Due: clang-format

Add back error reporting
  cpp/src/io/utilities/file_io_utilities.cpp
Due: clang-format

Update python/cudf/cudf/core/series.py
  python/cudf/cudf/core/series.py
Due: mypy

Rename parameter back to `input`
  cpp/include/cudf/strings/repeat_strings.hpp
  cpp/src/strings/repeat_strings.cu
Due: clang-format

Fix typo
  cpp/include/cudf/strings/repeat_strings.hpp
Due: clang-format

Add serialization methods for `List` and `StructDtype` (#8441)
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_decimal.py
  python/cudf/cudf/tests/test_list.py
  python/cudf/cudf/tests/test_serialize.py
  python/cudf/cudf/tests/test_struct.py
Due: mypy

Rewrite using type_dispatcher for different integer types
  cpp/src/strings/repeat_strings.cu
Due: clang-format

Fix comment typo
  cpp/src/strings/repeat_strings.cu
Due: clang-format

Remove input check for int32_t data type
  cpp/src/strings/repeat_strings.cu
Due: clang-format

Remove bool type from the expecting types for `repeat_times` data type
  cpp/src/strings/repeat_strings.cu
Due: clang-format

made the data_type interface a std::variant
  cpp/include/cudf/io/csv.hpp
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/csv/reader_impl.hpp
  cpp/tests/io/csv_test.cpp
Due: clang-format

make imports consistent
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/utils/dtypes.py
Due: mypy

added tests with scientific notation and using C++17 alias templates
  cpp/src/io/csv/csv_gpu.cu
  cpp/tests/io/csv_test.cpp
Due: clang-format

Implement Java binding for repeatStringsWithColumnRepeatTimes
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Due: none

Implement JNI for repeatStringsWithColumnRepeatTimes
  java/src/main/native/src/ColumnViewJni.cpp
Due: clang-format

Fix repeatString with scalar repeat times
  java/src/main/native/src/ScalarJni.cpp
Due: clang-format

Build libcudf examples after both project flash and regular path
  ci/gpu/build.sh
Due: none

.
  ci/gpu/build.sh
Due: none

Serialize dtypes of packed columns
  python/cudf/cudf/_lib/copying.pyx
Due: none

Add additional serialization tests
  python/cudf/cudf/tests/test_pickling.py
Due: mypy

Some docstring alterations
  python/cudf/cudf/_lib/copying.pyx
Due: none

initial progress, going back to look at scalar construction
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_list.py
Due: mypy

wip
  cpp/src/copying/copy.cu
  cpp/tests/copying/copy_tests.cu
  cpp/tests/copying/gather_struct_tests.cpp
Due: clang-format

Implement overflow check for the new API, as it can't be done outside of cudf
  cpp/src/strings/repeat_strings.cu
Due: clang-format
