Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Move conditional joins to a separate compilation unit.
  cpp/CMakeLists.txt
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join.cuh
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/join/join.cu
Due: clang-format

Add a new nullable function for table_views and address various minor outstanding PR comments from PR #8214.
  cpp/include/cudf/ast/detail/linearizer.hpp
  cpp/include/cudf/join.hpp
  cpp/include/cudf/table/table_view.hpp
  cpp/src/ast/transform.cu
  cpp/src/join/nested_loop_join.cuh
Due: clang-format

Move common join utilities to a single file.
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
  cpp/src/join/join_common_utils.cuh
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/nested_loop_join.cuh
Due: clang-format

Move conditional join kernels to a separate file.
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/join/join_kernels.cuh
  cpp/src/join/nested_loop_join.cuh
Due: clang-format

Rename nested_loop_join.cuh to conditional_loop_join.cuh.
  cpp/src/join/conditional_join.cuh
  cpp/src/join/join.cu
Due: clang-format

Rename variables
  cpp/benchmarks/string/repeat_strings_benchmark.cpp
Due: clang-format

Update Python UDFs notebook (#8810)
  docs/cudf/source/guide-to-udfs.ipynb
Due: none

return actual bytes from read
  cpp/src/io/utilities/file_io_utilities.cpp
Due: clang-format

updated testcases
  python/dask_cudf/dask_cudf/tests/test_struct.py
Due: mypy

Added better handling of key types in struct field() accessor method
  python/dask_cudf/dask_cudf/accessors.py
Due: mypy

remove not needed css file
  docs/cudf/source/conf.py
Due: mypy

typo fix
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

add window
  docs/cudf/source/api_docs/index.rst
  docs/cudf/source/api_docs/window.rst
Due: none

updated rounding aand added new testcases
  cpp/src/datetime/datetime_ops.cu
  cpp/tests/datetime/datetime_ops_test.cpp
Due: clang-format

Enable multi-file partitioning in dask_cudf.read_parquet (#8393)
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Due: mypy

Fixes for pyspark generated orc file reading
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

Even more delayed sync of read tasks
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/parquet/reader_impl.hpp
Due: clang-format

updated docs
  cpp/include/cudf/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

Handle empty child columns in row_bit_count() (#8791)
  cpp/src/transform/row_bit_count.cu
  cpp/tests/transform/row_bit_count_test.cu
Due: clang-format

updated tests
  cpp/tests/datetime/datetime_ops_test.cpp
Due: clang-format

Switch to struct flattening
  cpp/src/groupby/sort/group_dense_rank_scan.cu
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format

changes
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  python/cudf/cudf/tests/data/orc/TestOrcFile.testPySparkStruct.orc
Due: clang-format

add missing dataframe APIs
  docs/cudf/source/api_docs/dataframe.rst
Due: none

Add support for list type in ORC writer (#8723)
  cpp/benchmarks/io/orc/orc_reader_benchmark.cpp
  cpp/benchmarks/io/orc/orc_writer_benchmark.cpp
  cpp/include/cudf/utilities/span.hpp
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_common.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/timezone.cuh
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/statistics/column_statistics.cuh
  cpp/src/io/statistics/statistics.cuh
  cpp/src/io/statistics/statistics_type_identification.cuh
  cpp/src/io/statistics/typed_statistics_chunk.cuh
  cpp/src/io/utilities/hostdevice_vector.hpp
  docs/cudf/source/io-supported-types.rst
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

changes
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stripe_data.cu
Due: clang-format

Use conda-sourced cudf artifacts for libcudf example in CI (#8638)
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/recipes/libcudf_example/build.sh
  conda/recipes/libcudf_example/meta.yaml
  cpp/examples/build.sh
Due: none

Custom Sphinx Extension: `PandasCompat` (#8643)
  docs/cudf/source/PandasCompat.rst
  docs/cudf/source/_ext/PandasCompat.py
  docs/cudf/source/conf.py
  docs/cudf/source/index.rst
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/multiindex.py
Due: mypy

Compiles
  cpp/src/aggregation/aggregation.cpp
  cpp/src/rolling/rolling_detail.cuh
  cpp/tests/rolling/rolling_test.cpp
Due: clang-format

progress
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_interpolate.py
Due: mypy

Accessing struct columns from `dask_cudf` (#8675)
  python/cudf/cudf/core/column/column.py
  python/dask_cudf/dask_cudf/tests/test_struct.py
Due: mypy

add missing Series APIs
  docs/cudf/source/api_docs/series.rst
Due: none

code cleanup, comment fix, and ternary operators
  cpp/include/cudf/aggregation.hpp
  cpp/src/groupby/sort/group_dense_rank_scan.cu
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/groupby/sort/group_scan.hpp
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/tests/groupby/rank_scan_tests.cpp
  cpp/tests/reductions/scan_tests.cpp
Due: clang-format

Rewrite javadoc
  java/src/main/java/ai/rapids/cudf/ColumnView.java
Due: none

review changes
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

Provide a better error message when `CUDA::cuda_driver` not found (#8794)
  cpp/CMakeLists.txt
Due: none

Benchmark for `strings::repeat_strings` APIs (#8589)
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/string/repeat_strings_benchmark.cpp
Due: clang-format

review changes
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

multibyte_split tunable concurrency via stream pool
  cpp/benchmarks/io/text/multibyte_split_benchmark.cpp
  cpp/include/cudf/io/text/host_device_istream.hpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

Move error checking
  cpp/src/groupby/sort/scan.cpp
  cpp/src/reductions/scan/scan.cuh
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format
