Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Rework pickling and clean up remaining instances of source_data.
  python/cudf/cudf/core/multiindex.py
Due: mypy

style
  python/cudf/cudf/core/udf/pipeline.py
  python/cudf/cudf/utils/cudautils.py
Due: mypy

get_cucollections properly uses rapids_cpm_find
  cpp/cmake/thirdparty/get_cucollections.cmake
Due: none

Add Python link to reverse operators for reflect docstrings
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/frame.py
Due: mypy

Make nvcomp private in cmake and update get_nvcomp
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_nvcomp.cmake
Due: none

Support null literals in expressions (#9117)
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/include/cudf/ast/expressions.hpp
  cpp/src/join/conditional_join.cu
  cpp/src/transform/compute_column.cu
  cpp/tests/ast/transform_tests.cpp
  java/src/test/java/ai/rapids/cudf/ast/CompiledExpressionTest.java
Due: clang-format

Update docs
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

rapids-export correctly reference build code block and doc strings (#9186)
  cpp/CMakeLists.txt
Due: none

fix typo in the name of cudf-testing-targets.cmake
  cpp/CMakeLists.txt
Due: none

change temp fn str2int2 to parse_int
  cpp/src/strings/convert/convert_datetime.cu
Due: clang-format

add Arrow targets to build and install export sets after the ArrowCUDA_DIR has been populated
  cpp/cmake/thirdparty/get_arrow.cmake
Due: none

Stop passing source_data to constructor in from_pandas.
  python/cudf/cudf/core/multiindex.py
Due: mypy

Move source_data logic from constructor directly into from_frame.
  python/cudf/cudf/core/multiindex.py
Due: mypy

Remove all remaining references to _source_data.
  python/cudf/cudf/core/multiindex.py
Due: mypy

fix a few logic errors; at least one more to go
  cpp/src/io/orc/stripe_enc.cu
Due: clang-format

Initial
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/utils/dtypes.py
Due: mypy

documentation, comments
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/utils/dtypes.py
Due: mypy

skip cases where pandas null logic differs
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: mypy

style
  cpp/src/transform/transform.cpp
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: clang-format, mypy

implementation details
  python/cudf/cudf/_fuzz_testing/io.py
  python/cudf/cudf/_fuzz_testing/main.py
  python/cudf/cudf/_fuzz_testing/parquet.py
  python/cudf/cudf/_fuzz_testing/utils.py
  python/cudf/cudf/testing/dataset_generator.py
Due: mypy

Cleanup
  cpp/src/groupby/hash/groupby.cu
Due: clang-format

Fix gather for inputs with no nulls:
  cpp/include/cudf/detail/gather.cuh
  cpp/tests/copying/gather_struct_tests.cpp
Due: clang-format

fix rg alignment
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

update result_cache to use shallow_hash, shallow_equal
  cpp/include/cudf/detail/aggregation/result_cache.hpp
  cpp/src/aggregation/result_cache.cpp
  cpp/src/groupby/common/utils.hpp
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/functors.hpp
  cpp/src/groupby/sort/scan.cpp
Due: clang-format

Fix?
  cpp/src/groupby/hash/groupby.cu
Due: clang-format

Update cpp/include/cudf/column/column_view.hpp
  cpp/include/cudf/column/column_view.hpp
Due: clang-format

Update cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

Upgrade `pandas` version in `cudf` (#9147)
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/_compat.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_numerical.py
  python/cudf/cudf/tests/test_rank.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/tests/test_repr.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_string.py
  python/cudf/cudf/tests/test_timedelta.py
Due: mypy

add single-digit month and day test
  cpp/src/strings/convert/convert_datetime.cu
  cpp/tests/strings/datetime_tests.cpp
Due: clang-format

Add an env var flip switch to choose b/w nvcomp and inbuilt compressor
  cpp/src/io/parquet/writer_impl.cu
Due: clang-format

Add nvcomp env var switch in reader
  cpp/src/io/parquet/reader_impl.cu
Due: clang-format

Quotes
  python/cudf/cudf/core/frame.py
Due: mypy

update tests slightly
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: mypy

updates to pipeline.py
  python/cudf/cudf/core/udf/pipeline.py
Due: mypy

fix bad merge
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
Due: mypy

Add dot product binary op (#8909)
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_array_function.py
  python/cudf/cudf/tests/test_binops.py
Due: mypy

Fix out-of-bounds memory read in orc gpuEncodeOrcColumnData
  cpp/include/cudf/column/column_device_view.cuh
  cpp/src/io/orc/stripe_enc.cu
Due: clang-format

Address PR comments, further cleanup
  cpp/src/groupby/hash/groupby.cu
Due: clang-format

address spacing in except+
  python/cudf/cudf/_lib/cpp/io/text.pxd
  python/cudf/cudf/_lib/text.pyx
  python/cudf/cudf/io/text.py
Due: mypy
