Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Static linking nvcomp into libcudf
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_nvcomp.cmake
Due: none

Rewrite tests
  cpp/tests/lists/drop_list_duplicates_tests.cpp
Due: clang-format

Fix conditional joins with empty left table (#9146)
  cpp/src/join/conditional_join.cu
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

added definition of correlation() in cython
  Untitled.ipynb
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/cpp/aggregation.pxd
Due: none

Implement `has_negative_nans_fn` for structs
  cpp/src/lists/drop_list_duplicates.cu
Due: clang-format

Remove aliases of various api.types APIs from utils.dtypes.
  python/cudf/cudf/_lib/binaryop.pyx
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/reduce.pyx
  python/cudf/cudf/_lib/replace.pyx
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/_lib/transpose.pyx
  python/cudf/cudf/_lib/unary.pyx
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/interval.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/cut.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/json.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/utils/dtypes.py
Due: mypy

Fix style.
  python/cudf/cudf/_lib/scalar.pyx
Due: none

Fix style.
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
Due: mypy

Use fast pandas base offset for computation
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

Update DataFrame._align_to_index
  python/cudf/cudf/core/dataframe.py
Due: mypy

Implement `replace_negative_nans_fn` for structs
  cpp/src/lists/drop_list_duplicates.cu
Due: clang-format

Fix typo in the name of `cudf-testing-targets.cmake` (#9190)
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_arrow.cmake
Due: none

OOB fixes
  cpp/src/io/orc/stripe_enc.cu
Due: clang-format

read only 8 mask bits needed for valid calculation
  cpp/src/io/orc/stripe_enc.cu
Due: clang-format

Support `VARIANCE` and `STD` aggregation in rolling op (#8809)
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/rolling.hpp
  cpp/include/cudf_test/type_lists.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/rolling/rolling.cu
  cpp/src/rolling/rolling_detail.cuh
  cpp/tests/rolling/rolling_test.cpp
Due: clang-format

Better alignment logic
  python/cudf/cudf/core/resample.py
Due: mypy

update pandas version
  conda/recipes/cudf/meta.yaml
  python/cudf/requirements/cuda-11.0/dev_requirements.txt
  python/cudf/requirements/cuda-11.2/dev_requirements.txt
  python/cudf/setup.py
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Due: mypy

Add JNI support for drop_list_duplicates
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Due: clang-format

Use auto
  cpp/src/groupby/hash/groupby.cu
Due: clang-format

use pushdown masks in val encode
  cpp/src/io/orc/stripe_enc.cu
Due: clang-format

Use custom dataframe generator
  python/cudf/cudf/testing/dataset_generator.py
  python/cudf/cudf/tests/test_rolling.py
Due: mypy

Addressed review comments
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Due: clang-format

styles
  python/cudf/cudf/_lib/rolling.pyx
  python/cudf/cudf/tests/test_rolling.py
Due: mypy

Cleanup
  cpp/src/groupby/hash/groupby.cu
Due: clang-format

migrate methods to frame
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy

import fix
  python/cudf/cudf/core/frame.py
Due: mypy

basic type casting and error handling
  python/cudf/cudf/core/window/ewm.py
Due: mypy

Block group_by mean for decimal types
  cpp/include/cudf/detail/aggregation/aggregation.hpp
Due: clang-format

Update pandas versions in conda recipes and requirements.txt files (#9197)
  conda/recipes/cudf/meta.yaml
  python/cudf/requirements/cuda-11.0/dev_requirements.txt
  python/cudf/requirements/cuda-11.2/dev_requirements.txt
  python/cudf/setup.py
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Due: mypy

support cuda async memory resource in jni
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/java/ai/rapids/cudf/RmmAllocationMode.java
  java/src/main/native/src/RmmJni.cpp
Due: clang-format

Final Fix
  cpp/src/groupby/hash/groupby.cu
Due: clang-format

Implementation is working
  cpp/src/lists/drop_list_duplicates.cu
Due: clang-format

Add test
  cpp/tests/lists/drop_list_duplicates_tests.cpp
Due: clang-format

Minor C++17 cleanup of `groupby.cu`: structured bindings, more concise lambda, etc (#9193)
  cpp/src/groupby/hash/groupby.cu
Due: clang-format

Revert non-comprehensive fix
  cpp/include/cudf/detail/aggregation/aggregation.hpp
Due: clang-format

Adding MAP type support for ORC Reader (#9132)
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

account for pushdown masks in decimal column size
  cpp/include/cudf/utilities/bit.hpp
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

template differences between rank and dense rank
  cpp/CMakeLists.txt
  cpp/src/groupby/sort/group_dense_rank_scan.cu
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/src/structs/utilities.cpp
Due: clang-format

ewm allocates memory for pairs and reuses everything else
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format

switch to device_uvector and fix bugs
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
