Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Also compare with cuDF result
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

Fix memory read error in get_dremel_data in page_enc.cu
  cpp/src/io/parquet/page_enc.cu
Due: clang-format

Fix for #8890
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
Due: clang-format

Added leap day to tests
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

FIX Add cmake arg format testing and error msg
  build.sh
Due: none

FIX Add lookback to error logic
  build.sh
Due: none

Ensure JNI native libraries load when CompiledExpression loads
  java/src/main/java/ai/rapids/cudf/ast/CompiledExpression.java
Due: none

Python/Cython bindings for multibyte_split
  cpp/CMakeLists.txt
  cpp/include/cudf/io/text.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/text/reader_impl.cu
  python/cudf/cudf/_lib/cpp/io/text.pxd
  python/cudf/cudf/_lib/text.pyx
  python/cudf/cudf/io/text.py
Due: clang-format, mypy

Python/Cython bindings for multibyte_split
  python/cudf/cudf/_lib/text.pyx
Due: none

Update datetime.pyx
  python/cudf/cudf/_lib/datetime.pyx
Due: none

make table styling specific to tables only and not autosummary tables
  docs/cudf/source/_static/params.css
  docs/cudf/source/basics/basics.rst
  docs/cudf/source/basics/groupby.rst
  docs/cudf/source/basics/io-supported-types.rst
Due: none

Added better error handling and tests
  python/dask_cudf/dask_cudf/accessors.py
  python/dask_cudf/dask_cudf/tests/test_accessor.py
Due: mypy

make pivot, unstack top level accessible
  python/cudf/cudf/__init__.py
Due: mypy

Review cleanups
  cpp/src/io/parquet/chunk_dict.cu
  cpp/src/io/parquet/page_enc.cu
Due: clang-format

added rmm::exec_policy
  cpp/src/interop/to_arrow.cu
Due: clang-format

removed decimal.to_arrow implem. in python
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
Due: mypy

formatting updates and core s3 logic moved to csv.py
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/io/datasource.pxd
  python/cudf/cudf/_lib/io/datasource.pyx
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/utils/ioutils.py
Due: mypy

more changes
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/utils/ioutils.py
Due: mypy

Change the right table in the expression parser to an optional ref wrapper and validate that expressions evaluated on a single table don't reference the right table.
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/src/ast/expression_parser.cpp
Due: clang-format

Update Java test to check for an exception instead of validating UB.
  java/src/test/java/ai/rapids/cudf/ast/CompiledExpressionTest.java
Due: none

Document new behavior of compute_column.
  cpp/include/cudf/transform.hpp
Due: clang-format

Initial
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/tests/test_decimal.py
Due: mypy

docstring fix
  python/cudf/cudf/core/index.py
Due: mypy

Ensure JNI native libraries load when CompiledExpression loads (#8997)
  java/src/main/java/ai/rapids/cudf/ast/CompiledExpression.java
Due: none

Java bindings for conditional join output sizes
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: clang-format

up and running
  cpp/CMakeLists.txt
  cpp/include/cudf/transform.hpp
  cpp/src/transform/ewm.cu
  cpp/src/transform/transform.cpp
  python/cudf/cudf/_lib/cpp/transform.pxd
  python/cudf/cudf/_lib/transform.pyx
Due: clang-format

fix memory resource usage in rolling_collect_list utilities
  cpp/CMakeLists.txt
  cpp/src/rolling/rolling_collect_list.cu
  cpp/src/rolling/rolling_collect_list.cuh
Due: clang-format

Apply series name to result of `SeriesGroupby.apply()` (#8939)
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Due: mypy

style, use a functor
  cpp/include/cudf/transform.hpp
  cpp/src/transform/ewm.cu
  cpp/src/transform/transform.cpp
Due: clang-format

updates
  cpp/src/transform/ewm.cu
  cpp/src/transform/transform.cpp
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/window/ewm.py
  python/cudf/cudf/core/window/rolling.py
Due: clang-format, mypy

Fix concatenate empty structs (#8947)
  cpp/src/structs/copying/concatenate.cu
  cpp/tests/copying/concatenate_tests.cu
Due: clang-format

Make Java AstNode public (#8953)
  java/src/main/java/ai/rapids/cudf/ast/AstNode.java
Due: none

A small optimization for JNI copy column view to column vector (#8985)
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
Due: none

Java conditional joins should not require matching column counts (#8955)
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

Expose `days_in_month` function in libcudf and add python bindings (#8892)
  cpp/include/cudf/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
  cpp/tests/datetime/datetime_ops_test.cpp
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: clang-format, mypy

Move compute_column API out of ast namespace (#8957)
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/benchmarks/ast/transform_benchmark.cpp
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/include/cudf/ast/transform.hpp
  cpp/include/cudf/detail/transform.hpp
  cpp/include/cudf/transform.hpp
  cpp/src/join/conditional_join.cuh
  cpp/src/transform/compute_column.cu
  cpp/tests/ast/transform_tests.cpp
  java/src/main/native/src/CompiledExpression.cpp
Due: clang-format

Add deprecation warning for `Series.set_mask` API (#8943)
  python/cudf/cudf/core/series.py
Due: mypy

Series string repeat (#8882)
  python/cudf/cudf/_lib/cpp/strings/repeat.pxd
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/_lib/strings/repeat.pyx
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Due: mypy

Support bracket syntax for cudf::strings::replace_with_backrefs group index values (#8841)
  cpp/include/cudf/strings/replace_re.hpp
  cpp/src/strings/replace/backref_re.cu
  cpp/tests/strings/replace_regex_tests.cpp
Due: clang-format

Fix debug compile error for csv_test.cpp (#8981)
  cpp/tests/io/csv_test.cpp
Due: clang-format
