Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Convert reflected ops.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Remove now unnecessary global and move another to the one place that it's used.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
Due: mypy

Start switching over binops to new function.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Move _colwise_binop to Frame.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
Due: mypy

Reintroduce copy_construct to maintain fast construction for Series/Index.
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
Due: mypy

Initial version of classmethod for DataFrame to handle binops without dispatching to Series.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Switch series and index binops to use new framework.
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy

Remove bitwise binop wrapper.
  python/cudf/cudf/core/frame.py
Due: mypy

Remove now unnecessary _copy_construct method from everything except Series as well as unnecessary override of _binaryop in BaseIndex.
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Use faster indexers wherever possible.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Fix nan behavior when adding a DataFrame to a Series.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Minor comment.
  python/cudf/cudf/core/series.py
Due: mypy

Add support for bitwise operations.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
Due: mypy

Introduce unary operator API to DataFrame and remove now unnecessary _apply_op.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Fix truediv compatibility.
  python/cudf/cudf/core/dataframe.py
Due: mypy

More cleanup, move unaryop to parent.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
Due: mypy

Move all binop definitions to Frame.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
Due: mypy

Add support for fill_value, enable user-facing binop methods, and fix edge cases with reflection and filling.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Some cleanup and use standard method for checking scalars.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Remove now unused _normalize_binop_value.
  python/cudf/cudf/core/frame.py
Due: mypy

Use a single dict of pairs of operands.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Remove TODOs that have been addressed.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Sketch out new tests that need to be added based on bugs in existing implementation.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Some minor simplifications.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Add docstrings and do some cleanup.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy

Update cpp/src/transform/jit/masked_udf_kernel.cu
  cpp/src/transform/jit/masked_udf_kernel.cu
Due: clang-format

stop using freed memory
  cpp/tests/copying/copy_if_else_nested_tests.cpp
Due: clang-format

test
  conda/recipes/cudf_kafka/meta.yaml
Due: none

fix merge
  python/cudf/cudf/_lib/scalar.pyx
Due: none

afinished __getitem__ python side
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/column/struct.py
Due: mypy

Fix behavior of __mul__ for RangeIndex with ints.
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
Due: mypy

test to remove fixture and create dataset with 2 stripes
  python/cudf/cudf/tests/test_orc.py
Due: mypy

listcolumn updates
  python/cudf/cudf/core/column/lists.py
Due: mypy

stale breakpoint
  python/cudf/cudf/core/frame.py
Due: mypy

NA begets NA on scalar construction, cant set yet though
  python/cudf/cudf/core/scalar.py
Due: mypy

Add tests for new features.
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

.
  cpp/src/dictionary/set_keys.cu
Due: clang-format

remove force uninstall of arrow
  ci/cpu/build.sh
Due: none

Update cmake to 3.20.5 in the java docker image
  java/ci/Dockerfile.centos7
  java/ci/build-in-docker.sh
Due: none

Update cmake to 3.20.5 in the Java Docker image (#8593)
  java/ci/Dockerfile.centos7
  java/ci/build-in-docker.sh
Due: none
