Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

initial
  cpp/include/cudf/detail/replace/nulls.cuh
  cpp/tests/replace/replace_nulls_tests.cpp
Due: clang-format

python tests, includes fixes
  cpp/tests/replace/replace_nulls_tests.cpp
  python/cudf/cudf/tests/test_replace.py
Due: clang-format, mypy

disable dict encoding for columns with large rowgroups
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Due: clang-format

code changes and test cases
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

test file
  python/cudf/cudf/tests/data/orc/TestOrcFile.timestamp.issue.orc
Due: none

hot fix for testGetCudaRuntimeInfo
  java/src/test/java/ai/rapids/cudf/CudaTest.java
Due: none

Enable scan with no input column
  cpp/include/cudf/reduction.hpp
  cpp/src/reductions/scan/scan.cpp
  cpp/tests/reductions/scan_tests.cpp
Due: clang-format

JNI: Hotfix on testGetCudaRuntimeInfo (#8701)
  java/src/test/java/ai/rapids/cudf/CudaTest.java
Due: none

block-wide superstate matching
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

fix superstate constructor bug where only the first 8 states were initialized
  cpp/include/cudf/io/text/superstate.hpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

multibyte_split multiple delimeter support
  cpp/include/cudf/io/text/multibyte_split.hpp
  cpp/include/cudf/io/text/trie.hpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

switch to static java scan method
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Due: clang-format

rename _Pow tests to _FloatOps tests
  cpp/tests/binaryop/binop-compiled-test.cpp
Due: clang-format

update is_bool_result with invoke_result_t bool
  cpp/src/binaryop/compiled/binary_ops.cuh
Due: clang-format

reduce repitition in unit tests
  cpp/tests/binaryop/binop-compiled-test.cpp
Due: clang-format

add scalar tests to binops unit tests
  cpp/tests/binaryop/binop-compiled-test.cpp
Due: clang-format

add explicit operator value_type to fixed_point scalar
  cpp/include/cudf/scalar/scalar.hpp
  cpp/src/scalar/scalar.cpp
Due: clang-format

add string_scalar random generator for binops tests
  cpp/tests/binaryop/binop-fixture.hpp
Due: clang-format

Fix min/max inclusive cudf::scan for strings column
  cpp/include/cudf/strings/string_view.cuh
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/tests/reductions/scan_tests.cpp
Due: clang-format

Add strings support to cudf::shift function (#8648)
  cpp/CMakeLists.txt
  cpp/include/cudf/strings/detail/copying.hpp
  cpp/src/copying/shift.cu
  cpp/src/strings/copying/shift.cu
  cpp/tests/copying/shift_tests.cpp
Due: clang-format

Remove duplicate code
  cpp/src/strings/repeat_strings.cu
Due: clang-format

Add test for computing string output sizes that causes overflow
  cpp/tests/strings/repeat_strings_tests.cpp
Due: clang-format

Fix test build error
  cpp/tests/strings/repeat_strings_tests.cpp
Due: clang-format

Simple fix comment typo
  cpp/src/strings/repeat_strings.cu
Due: clang-format

Fix orc reader assert on create data_type again
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

Struct scalar from host dictionary (#8629)
  python/cudf/cudf/_lib/cpp/scalar/scalar.pxd
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/tests/test_struct.py
Due: mypy

Add proper support for tolerances in testing methods. (#8649)
  python/cudf/cudf/testing/testing.py
Due: mypy

fix wording in comments
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format

Support Scatter `struct_scalar` (#8630)
  cpp/include/cudf/detail/copy.hpp
  cpp/include/cudf/detail/null_mask.hpp
  cpp/src/copying/scatter.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/scatter_struct_scalar_tests.cpp
Due: clang-format

scalar scatter for copy_if_else (#1)
  cpp/src/copying/copy.cu
Due: clang-format

Translate dask-cudf and internals markdown to rst.
  docs/cudf/source/dask-cudf.md
  docs/cudf/source/dask-cudf.rst
  docs/cudf/source/index.rst
  docs/cudf/source/internals.md
  docs/cudf/source/internals.rst
Due: none

Remove recommonmark.
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  docs/cudf/source/conf.py
Due: mypy

Translate groupby markdown to rst with proper table formatting and fixed warning.
  docs/cudf/source/groupby.md
  docs/cudf/source/groupby.rst
  docs/cudf/source/index.rst
Due: none

review changes and doc
  cpp/src/io/orc/stripe_data.cu
Due: clang-format

style fix
  cpp/include/cudf_test/base_fixture.hpp
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/src/binaryop/compiled/binary_ops.cuh
Due: clang-format

Proposed RAII statistics resource wrapper
  cpp/benchmarks/fixture/benchmark_fixture.hpp
  cpp/benchmarks/io/parquet/parquet_writer_benchmark.cpp
Due: clang-format

Better rank examples and documentation
  cpp/include/cudf/aggregation.hpp
Due: clang-format

all_nulls
  cpp/tests/copying/copy_if_else_nested_tests.cpp
Due: clang-format

scan output-offsets in multibyte_split
  cpp/src/io/text/multibyte_split.cu
Due: clang-format
