Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Add docstrings for null_mask in functor
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

address reviews
  python/cudf/cudf/core/dataframe.py
Due: mypy

Update python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/multiindex.py
Due: mypy

black
  python/cudf/cudf/core/multiindex.py
Due: mypy

mypy
  python/cudf/cudf/core/dataframe.py
Due: mypy

Define kurt rather than aliasing so that it is inherited.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
Due: mypy

handle float16 upscaling.
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_series.py
Due: mypy

add strings column factory which takes device_uvectors
  cpp/include/cudf/column/column_factories.hpp
  cpp/src/io/text/multibyte_split.cu
  cpp/src/strings/strings_column_factories.cu
Due: clang-format

Apply suggestions from code review
  cpp/include/cudf/scalar/scalar_factories.hpp
  cpp/tests/reductions/reduction_tests.cpp
Due: clang-format

Various multiindex related fixes (#9036)
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_multiindex.py
Due: mypy

Add support for get_group
  python/cudf/cudf/core/groupby/groupby.py
Due: mypy

fix null_mask allocation
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
Due: clang-format

delete commented code
  cpp/tests/binaryop/binop-compiled-fixed_point-test.cpp
Due: clang-format

Parquet writer dictionary encoding refactor (#8476)
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/CUDF_GetcuCollections.cmake
  cpp/src/io/parquet/chunk_dict.cu
  cpp/src/io/parquet/page_dict.cu
  cpp/src/io/parquet/page_enc.cu
  cpp/src/io/parquet/parquet_gpu.hpp
  cpp/src/io/parquet/writer_impl.cu
  cpp/src/io/parquet/writer_impl.hpp
  cpp/tests/io/parquet_test.cpp
Due: clang-format

Add nested column selection to parquet reader (#8933)
  cpp/include/cudf/io/parquet.hpp
  cpp/src/io/parquet/parquet.cpp
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/tests/io/parquet_test.cpp
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_parquet.py
Due: clang-format, mypy

testing
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

testing
  cpp/src/column/column_view.cpp
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

dataframe protocol implementation, support only int, float, categorical without missing values
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/tests/test_df_protocol.py
Due: mypy

cudf now leverages rapids-cmake to reduce CMake boilerplate
  build.sh
  cpp/CMakeLists.txt
  cpp/cmake/Modules/ConfigureCUDA.cmake
  cpp/cmake/Modules/EvalGPUArchs.cmake
  cpp/cmake/Modules/SetGPUArchs.cmake
  cpp/cmake/cudf-build-config.cmake.in
  cpp/cmake/cudf-config.cmake.in
  cpp/cmake/install/FindThrust.cmake
  cpp/cmake/thirdparty/CUDF_GetCPM.cmake
  cpp/cmake/thirdparty/CUDF_GetDLPack.cmake
  cpp/cmake/thirdparty/CUDF_GetGTest.cmake
  cpp/cmake/thirdparty/CUDF_GetRMM.cmake
  cpp/cmake/thirdparty/get_arrow.cmake
  cpp/cmake/thirdparty/get_cucollections.cmake
  cpp/cmake/thirdparty/get_dlpack.cmake
  cpp/cmake/thirdparty/get_gtest.cmake
  cpp/cmake/thirdparty/get_jitify.cmake
  cpp/cmake/thirdparty/get_libcudacxx.cmake
  cpp/cmake/thirdparty/get_rmm.cmake
  cpp/cmake/thirdparty/get_thrust.cmake
  cpp/libcudf_kafka/CMakeLists.txt
  cpp/libcudf_kafka/cmake/thirdparty/get_cudf.cmake
  cpp/libcudf_kafka/cmake/thirdparty/get_rdkafka.cmake
  cpp/libcudf_kafka/tests/CMakeLists.txt
  java/src/main/native/CMakeLists.txt
  java/src/main/native/cmake/EvalGpuArchs.cmake
  java/src/main/native/cmake/Modules/ConfigureNvcomp.cmake
Due: none

refactor to call from_dataframe on cudf directly and __dataframe__() on the dataframe object
  python/cudf/cudf/__init__.py
  python/cudf/cudf/core/__init__.py
  python/cudf/cudf/core/dataframe.py
Due: mypy

Update JNI java CSV APIs to not use deprecated API (#9066)
  java/src/main/java/ai/rapids/cudf/DType.java
  java/src/main/java/ai/rapids/cudf/Schema.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
Due: clang-format

remove commented monkeypatch
  python/cudf/cudf/core/dataframe.py
Due: mypy

refactor test cases
  python/cudf/cudf/tests/test_df_protocol.py
Due: mypy

Added test in Java
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: clang-format

testing crosstab.
  python/cudf/cudf/core/reshape.py
Due: mypy

recode to replace reduce/fill/scatter/scan with fill/scatter-if/scan
  cpp/src/rolling/rolling_collect_list.cu
Due: clang-format

ran clang
  java/src/main/native/src/TableJni.cpp
Due: clang-format

Fix compilation errors in groupby benchmarks.
  cpp/benchmarks/groupby/group_nth_benchmark.cu
  cpp/benchmarks/groupby/group_sum_benchmark.cu
Due: clang-format

use correct namespace in cuio code examples (#9037)
  cpp/include/cudf/io/avro.hpp
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/json.hpp
  cpp/include/cudf/io/orc.hpp
  cpp/include/cudf/io/parquet.hpp
Due: clang-format

Apply suggestions from code review
  python/cudf/cudf/core/frame.py
Due: mypy

addressed review comments
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: clang-format

fix comments to match recoded function
  cpp/src/rolling/rolling_collect_list.cu
Due: clang-format

remove -g from cython compile lines
  python/cudf/setup.py
Due: mypy

Add support for pandas operands, update tests
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_binops.py
Due: mypy

fix lint
  python/cudf/setup.py
Due: mypy

add test to include all weekdays
  cpp/tests/strings/datetime_tests.cpp
Due: clang-format

add test to include all months
  cpp/tests/strings/datetime_tests.cpp
Due: clang-format

Fetch rapids-cmake to work around cuCollection cmake issue
  cpp/CMakeLists.txt
Due: none

add docs to cudf::io::text::detail::trie
  cpp/include/cudf/io/text/detail/multistate.hpp
  cpp/include/cudf/io/text/detail/trie.hpp
  cpp/src/io/text/multibyte_split.cu
Due: clang-format
