Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Use one CMake argument for both google and nvbench benchmarks
  cpp/CMakeLists.txt
Due: none

Add CUDF_GetNVBench.cmake config file
  cpp/cmake/thirdparty/CUDF_GetNVBench.cmake
Due: none

Use CUDF_GetNVBench.cmake logic
  cpp/CMakeLists.txt
Due: none

Minor cleanups
  cpp/CMakeLists.txt
Due: none

fix edge cases
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/indexing.py
Due: mypy

Add nvbench for linking
  cpp/benchmarks/CMakeLists.txt
Due: none

updated styling
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/indexing.py
Due: mypy

Propagate **kwargs through to as_*_column methods (#8618)
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Add large string test case and fix a bug
  cpp/src/strings/convert/convert_urls.cu
  cpp/tests/strings/urls_tests.cpp
Due: clang-format

reverted to infer_dtype_from_object
  python/cudf/cudf/utils/dtypes.py
Due: mypy

Python changes for adding `__getitem__` for `struct` (#8577)
  python/cudf/cudf/_lib/cpp/scalar/scalar.pxd
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_struct.py
Due: mypy

calc only string size for stripes
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Due: clang-format

JNI support for capitalize
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Due: clang-format

rowgroup segmentation POC
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

make the native mothed be private
  java/src/main/java/ai/rapids/cudf/ColumnView.java
Due: none

fix doxygen example for capitalize
  cpp/include/cudf/strings/capitalize.hpp
Due: clang-format

Remove unneeded includes from cudf::string_view headers (#8594)
  cpp/include/cudf/strings/string_view.cuh
  cpp/include/cudf/strings/string_view.hpp
Due: clang-format

Cleanup: no need to export nvbench
  cpp/cmake/thirdparty/CUDF_GetNVBench.cmake
Due: none

add back missing header
  cpp/src/transform/jit/masked_udf_kernel.cu
Due: clang-format

rename capitalize_utility to capitalizer
  cpp/src/strings/capitalize.cu
Due: clang-format

day_of_year bindings and additions to pytests
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

return type hints
  python/cudf/cudf/core/column/datetime.py
Due: mypy

docstrings for series and column
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
Due: mypy

ENH Add Java CI build script
  ci/gpu/java.sh
Due: none

Expose a Decimal32Dtype in cuDF Python (#8438)
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_lib/strings/convert/convert_fixed_point.pyx
  python/cudf/cudf/_lib/types.pyx
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/column/__init__.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_decimal.py
  python/cudf/cudf/utils/dtypes.py
Due: mypy

remove nop variable references
  cpp/src/copying/copy.cu
Due: clang-format

Add column type tests (#8505)
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/lists/detail/scatter.cuh
  cpp/include/cudf/lists/detail/scatter_helper.cuh
  cpp/include/cudf/utilities/type_checks.hpp
  cpp/src/lists/copying/scatter_helper.cu
  cpp/src/utilities/type_checks.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/utilities_tests/type_check_tests.cpp
Due: clang-format

recalc rowgroups and use them
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Add type hints.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy

Try fixing type ignore.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Initial
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

revise headers again
  cpp/src/transform/jit/masked_udf_kernel.cu
Due: clang-format

initial changes
  python/cudf/cudf/_lib/cpp/scalar/scalar.pxd
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/scalar.py
Due: mypy

initial changes
  python/cudf/cudf/_lib/scalar.pyx
Due: none

Address PR comments.
  cpp/include/cudf/ast/detail/linearizer.hpp
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/include/cudf/join.hpp
  cpp/src/ast/transform.cu
  cpp/src/join/join_kernels.cuh
  cpp/src/join/nested_loop_join.cuh
Due: clang-format

Run clang-format.
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/ast/transform.cu
Due: clang-format

update index docs
  docs/cudf/source/api_docs/index_objects.rst
Due: none

initial
  cpp/src/copying/scatter.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/scatter_struct_scalar_tests.cpp
Due: clang-format

use absolute imports
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/window/rolling.py
Due: mypy

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
