Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

initial changes for crosstab.;
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_reshape.py
Due: mypy

removed reader_impl that is no longer required after certain refactorings
  cpp/benchmarks/io/text/multibyte_split_benchmark.cpp
  cpp/include/cudf/io/detail/text.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/text/reader_impl.hpp
Due: clang-format

Remove vector of delimiters and only allow a single delimiter
  python/cudf/cudf/_lib/cpp/io/text.pxd
  python/cudf/cudf/_lib/text.pyx
  python/cudf/cudf/utils/ioutils.py
Due: mypy

Update nvcomp to version with fix for snappy decompressor
  cpp/cmake/thirdparty/CUDF_GetnvCOMP.cmake
Due: none

Update reader to use new nvcomp API
  cpp/src/io/parquet/reader_impl.cu
Due: clang-format

ewmvar up and running!
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format

add CORR aggregation to groupby, headers, classes, visitor(sort)
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_reductions.hpp
Due: clang-format

add group_corr.cu
  cpp/CMakeLists.txt
  cpp/src/groupby/sort/group_corr.cu
Due: clang-format

add unit test temporarily
  cpp/tests/groupby/mean_tests.cpp
Due: clang-format

add pytests
  python/cudf/cudf/tests/test_groupby.py
Due: mypy

add ewmstd
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/reductions/scan/scan.cuh
  cpp/src/reductions/scan/scan_inclusive.cu
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/cpp/aggregation.pxd
  python/cudf/cudf/core/window/ewm.py
  python/cudf/cudf/tests/test_ewm.py
Due: clang-format, mypy

Refactor Index hierarchy (#9039)
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/_typing.py
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/methods.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_index.py
Due: mypy

add docs
  python/cudf/cudf/core/groupby/groupby.py
Due: mypy

fix example
  python/cudf/cudf/core/groupby/groupby.py
Due: mypy

Support hash groupby decimal128 (by making is sort) - initial change
  cpp/src/groupby/hash/groupby.cu
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/min_tests.cpp
  cpp/tests/groupby/sum_tests.cpp
Due: clang-format

Special case for np.dot of two dataframes
  python/cudf/cudf/core/dataframe.py
Due: mypy

small prep clean up
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

more fixes
  python/cudf/cudf/core/_compat.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_series.py
Due: mypy

Import rapids-cmake modules using the correct cmake variable. (#9149)
  cpp/CMakeLists.txt
Due: none

remove pandas bug workarounds
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_rank.py
  python/cudf/cudf/tests/test_repr.py
  python/cudf/cudf/tests/test_series.py
  python/cudf/cudf/tests/test_string.py
Due: mypy

more cleanup
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_numerical.py
Due: mypy

Avoid unnecessary row_bitmask build
  cpp/src/join/hash_join.cu
Due: clang-format

Protyping
  cpp/CMakeLists.txt
  cpp/include/cudf/reshape.hpp
  cpp/src/reshape/one_hot_encoding.cu
  python/cudf/cudf/_lib/cpp/reshape.pxd
  python/cudf/cudf/_lib/reshape.pyx
Due: clang-format

more fixes
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Due: mypy

Add support for `get_group` in GroupBy (#9070)
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Due: mypy

has_atomic_support
  cpp/src/groupby/hash/groupby.cu
Due: clang-format

make operator constant
  cpp/src/rolling/rolling_detail.cuh
Due: clang-format

access table->view
  cpp/tests/io/csv_test.cpp
Due: clang-format

ready for review
  cpp/tests/io/csv_test.cpp
Due: clang-format

header cleanup
  cpp/src/rolling/rolling.cu
  cpp/src/rolling/rolling_detail.cuh
Due: clang-format

Add groupby var/std tests
  python/cudf/cudf/tests/test_rolling.py
Due: mypy

slowly refactoring
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format

further clean up, prep for null mask compacting
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Due: clang-format

encode_nested_null_mask placeholder
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Update basics.rst
  docs/cudf/source/basics/basics.rst
Due: none

Sort before assert_eq to avoid out-of-order comparison in pytests
  python/cudf/cudf/tests/test_multiindex.py
Due: mypy

using alias, created a function to fetch name for map child column name and other review changes
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

Update cuco cmake: use rapids_cpm_find instead of CPMFindPackage
  cpp/cmake/thirdparty/get_cucollections.cmake
Due: none

refactoring
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format

reformatting
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/transform.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/reductions/scan/scan.cuh
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
