Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Sort quantile divisions for multi column case
  python/dask_cudf/dask_cudf/sorting.py
Due: mypy

avoid seeking before beginning of file
  python/cudf/cudf/io/parquet.py
Due: mypy

Update test_multiindex.py
  python/cudf/cudf/tests/test_multiindex.py
Due: mypy

Add constructors for the functors and add comments for `has_negative_nans_dispatch`
  cpp/src/lists/drop_list_duplicates.cu
Due: clang-format

address review comments
  cpp/src/column/column_view.cpp
Due: clang-format

Fix duplicate names issue in `MultiIndex.deserialize ` (#9258)
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_multiindex.py
Due: mypy

Store sha_intermediate_data in Hasher instance.
  cpp/src/hash/sha_hash.cu
Due: clang-format

Add struct type support for `drop_list_duplicates` (#9202)
  cpp/include/cudf/lists/drop_list_duplicates.hpp
  cpp/src/lists/drop_list_duplicates.cu
  cpp/tests/lists/drop_list_duplicates_tests.cpp
  cpp/tests/rolling/collect_ops_test.cpp
Due: clang-format

Make sure values less than first quantile get mapped to the first resultant partition
  python/dask_cudf/dask_cudf/sorting.py
Due: mypy

Fixing empty input crashing
  java/src/main/native/src/map_lookup.cu
Due: clang-format

remove arrow_filesystem option from dask (for now)
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/utils/ioutils.py
  python/dask_cudf/dask_cudf/io/parquet.py
Due: mypy

save state
  python/cudf/cudf/utils/ioutils.py
Due: mypy

Final changes for binary ops
  cpp/src/binaryop/binaryop.cpp
  cpp/tests/binaryop/binop-compiled-test.cpp
Due: clang-format

Add more binop tests
  cpp/tests/binaryop/binop-compiled-test.cpp
Due: clang-format

fixing errors and removing extra branching
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

Fix call to thrust::reduce_by_key in argmin/argmax groupby
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
Due: clang-format

DOC v21.12 Updates
  CHANGELOG.md
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  cpp/CMakeLists.txt
  cpp/doxygen/Doxyfile
  cpp/examples/basic/CMakeLists.txt
  cpp/libcudf_kafka/CMakeLists.txt
  docs/cudf/source/conf.py
  java/src/main/native/CMakeLists.txt
Due: mypy

fix doxygen comment for ArgMin and ArgMax
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
Due: clang-format

minor comment update
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
Due: clang-format

Fix call to thrust::reduce_by_key in argmin/argmax libcudf groupby
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
Due: clang-format

strip nativefile changes from nativefile-parquet branch
  cpp/include/cudf/io/datasource.hpp
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/io/datasource.pxd
  python/cudf/cudf/_lib/io/datasource.pyx
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/utils/ioutils.py
Due: clang-format, mypy

fix byte_range bug in read_csv
  python/cudf/cudf/io/csv.py
Due: mypy

Drop const.
  cpp/src/hash/sha_hash.cu
Due: clang-format

Use underlying for hash_step calls.
  cpp/src/hash/sha_hash.cu
Due: clang-format

Add na_position to sort_values
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/sorting.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
Due: mypy

update test_s3 to exercise fsspec transfer optimization
  python/cudf/cudf/tests/test_s3.py
Due: mypy

add tests
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_multiindex.py
Due: mypy

multiindex union
  python/cudf/cudf/core/multiindex.py
Due: mypy

add parquet filter test with s3
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_s3.py
  python/cudf/cudf/utils/ioutils.py
Due: mypy

Update cpp/src/column/column_view.cpp
  cpp/src/column/column_view.cpp
Due: clang-format

PR review comments.
  cpp/src/quantiles/tdigest/tdigest.cu
Due: clang-format

use bytes again by default
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/utils/ioutils.py
Due: mypy

use BytesIO to be safe
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/utils/ioutils.py
Due: mypy

fix another copy-paste mistake
  python/cudf/cudf/utils/ioutils.py
Due: mypy

Use memcpy instead of std::memcpy.
  cpp/src/hash/sha_hash.cu
Due: clang-format

refactor tests
  python/cudf/cudf/tests/test_ewm.py
Due: mypy

partial bias cases
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format

Update Java enum.
  java/src/main/java/ai/rapids/cudf/HashType.java
Due: none

Update Cython enum.
  python/cudf/cudf/_lib/cpp/types.pxd
Due: none

Change strings copy_if_else to use optional-iterator instead of pair-iterator
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/include/cudf/strings/detail/copy_if_else.cuh
  cpp/src/copying/copy.cu
  cpp/src/copying/segmented_shift.cu
  cpp/src/replace/nans.cu
Due: clang-format
