Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

fix bug for no column or row-group selection
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/utils/ioutils.py
Due: mypy

extract_list_element() with column_view indices
  cpp/include/cudf/lists/extract.hpp
  cpp/src/lists/extract.cu
  cpp/tests/lists/extract_tests.cpp
Due: clang-format

add missing sync
  cpp/src/io/orc/stripe_enc.cu
Due: clang-format

Switch to `dataframe_generator`
  python/cudf/cudf/tests/test_rolling.py
Due: mypy

style
  python/cudf/cudf/tests/test_rolling.py
Due: mypy

fix null access when column has a pushdown mask but no null mask
  cpp/include/cudf/column/column_device_view.cuh
  cpp/src/io/orc/stripe_init.cu
Due: clang-format

Remove hardcoded Thrust include as it isn't needed
  cpp/CMakeLists.txt
Due: none

update aggregations
  cpp/include/cudf/detail/aggregation/aggregation.hpp
Due: clang-format

Remove unused functions for generating mutable table views.
  python/cudf/cudf/_lib/table.pxd
  python/cudf/cudf/_lib/table.pyx
Due: none

Remove unused index_view.
  python/cudf/cudf/_lib/table.pxd
  python/cudf/cudf/_lib/table.pyx
Due: none

Remove unused columns_from_ptr function.
  python/cudf/cudf/_lib/join.pyx
  python/cudf/cudf/_lib/table.pxd
  python/cudf/cudf/_lib/table.pyx
Due: none

Rename make_table_view to reflect appropriate arguments.
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/_lib/table.pxd
  python/cudf/cudf/_lib/table.pyx
Due: none

Inline the functions to make lists of table views for concat.
  python/cudf/cudf/_lib/concat.pyx
  python/cudf/cudf/_lib/utils.pxd
  python/cudf/cudf/_lib/utils.pyx
Due: none

Remove now unnecessary view functions.
  python/cudf/cudf/_lib/table.pxd
  python/cudf/cudf/_lib/table.pyx
Due: none

Replace all usage of view and data_view.
  python/cudf/cudf/_lib/concat.pyx
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/filling.pyx
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/_lib/hash.pyx
  python/cudf/cudf/_lib/interop.pyx
  python/cudf/cudf/_lib/join.pyx
  python/cudf/cudf/_lib/lists.pyx
  python/cudf/cudf/_lib/merge.pyx
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/partitioning.pyx
  python/cudf/cudf/_lib/quantiles.pyx
  python/cudf/cudf/_lib/reshape.pyx
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/_lib/search.pyx
  python/cudf/cudf/_lib/sort.pyx
  python/cudf/cudf/_lib/stream_compaction.pyx
  python/cudf/cudf/_lib/strings/combine.pyx
  python/cudf/cudf/_lib/table.pxd
  python/cudf/cudf/_lib/table.pyx
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/_lib/transpose.pyx
Due: none

Fix bug in orc modification.
  python/cudf/cudf/_lib/orc.pyx
Due: none

Revert "Remove hardcoded Thrust include as it isn't needed"
  cpp/CMakeLists.txt
Due: none

cudf enforce usage of custom thrust
  cpp/cmake/thirdparty/get_thrust.cmake
Due: none

Misc perf improvements
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/resample.py
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

partial non working commit - have to jump to something else
  cpp/src/reductions/scan/scan_inclusive.cu
  python/cudf/cudf/tests/test_ewm.py
Due: clang-format, mypy

plumbing
  python/cudf/cudf/core/udf/pipeline.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: mypy

Update python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/groupby/groupby.py
Due: mypy

Working orc reader with nvcomp
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stripe_init.cu
Due: clang-format

add arrow_filesystem flag for dask_cudf
  python/cudf/cudf/utils/ioutils.py
  python/dask_cudf/dask_cudf/io/parquet.py
Due: mypy

Explicitly store source min and max values when creating and merging digests to provide more accurate percentiles at the extreme edges for digests with large numbers of values in them.
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/tdigest/tdigest.hpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_tdigest.cu
  cpp/src/quantiles/tdigest/tdigest.cu
Due: clang-format

use cat_ranges when available
  python/cudf/cudf/utils/ioutils.py
Due: mypy

Updates: proper variable names + rename _empty
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
Due: clang-format

fix value count kernel
  cpp/src/io/orc/stripe_init.cu
Due: clang-format

expose arrow_filesystem and legacy_transfer
  python/cudf/cudf/utils/ioutils.py
Due: mypy

reset previously_borrowed when a rowgroup happens to be aligned
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

add py test
  python/cudf/cudf/tests/test_orc.py
Due: mypy

Add tests
  cpp/tests/copying/gather_struct_tests.cpp
Due: clang-format

Fix gather.cuh
  cpp/include/cudf/detail/gather.cuh
Due: clang-format

Fix comment
  cpp/include/cudf/detail/gather.cuh
Due: clang-format

Remove space
  cpp/tests/copying/gather_struct_tests.cpp
Due: clang-format

style fix
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
Due: none

rename test
  python/cudf/cudf/tests/test_orc.py
Due: mypy

pre-commit style fix
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/tests/test_orc.py
Due: mypy

python style fix and such
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/tests/test_orc.py
Due: mypy

include column offset in null mask access
  cpp/src/io/orc/stripe_enc.cu
  python/cudf/cudf/_lib/parquet.pyx
Due: clang-format

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
