Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

replacing erased else statement and fixing style issues.
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/series.py
Due: mypy

fxing style issues.
  python/cudf/cudf/core/series.py
Due: mypy

fix 11.0 NullMax, NullMin failure: change bool to bool&
  cpp/src/binaryop/compiled/binops_custom.cuh
Due: clang-format

Generalize testing to fixed-point types. All tests now unified.
  cpp/tests/reductions/scan_tests.cpp
Due: clang-format

Docs
  cpp/include/cudf_test/type_lists.hpp
Due: clang-format

changes before merge
  cpp/src/io/orc/reader_impl.cu
  cpp/tests/io/orc_test.cpp
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

Added optional flag for building Arrow with S3 filesystem support
  cpp/CMakeLists.txt
  cpp/cmake/cudf-build-config.cmake.in
  cpp/cmake/thirdparty/CUDF_GetArrow.cmake
  cpp/tests/CMakeLists.txt
  java/ci/build-in-docker.sh
Due: none

move variable location to be more inline with existing variables
  cpp/cmake/thirdparty/CUDF_GetArrow.cmake
Due: none

grouped_range_rolling_window always pass range_window_bounds as const ref
  cpp/src/rolling/grouped_rolling.cu
Due: clang-format

STRUCT column support for cudf::merge. (#8422)
  cpp/include/cudf/merge.hpp
  cpp/src/merge/merge.cu
  cpp/tests/merge/merge_test.cpp
Due: clang-format

add NullMax, NullMin, & other ops to benchmarks
  cpp/benchmarks/binaryop/compiled_binaryop_benchmark.cpp
  cpp/benchmarks/binaryop/jit_binaryop_benchmark.cpp
Due: clang-format

unpin dask
  ci/benchmark/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/dask-cudf/run_test.sh
Due: none

Small cleanup
  cpp/src/merge/merge.cu
Due: clang-format

Build Arrow S3 tests conditionally
  cpp/tests/CMakeLists.txt
  cpp/tests/io/arrow_io_source_test.cpp
Due: clang-format

cleaning
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
Due: clang-format

reverted c++ test in favor of python test
  cpp/tests/io/csv_test.cpp
Due: clang-format

use device_span and device_2dspan instead for extract interface
  cpp/src/strings/extract.cu
  cpp/src/strings/regex/regex.cuh
  cpp/src/strings/regex/regex.inl
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/replace/backref_re.cuh
Due: clang-format

Fixing macro syntax issue
  cpp/tests/io/arrow_io_source_test.cpp
Due: clang-format

checkstyle
  cpp/tests/io/arrow_io_source_test.cpp
Due: clang-format

fetch master branch for streamz
  ci/benchmark/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
Due: none

Minor clean up of various internal column and frame utilities (#8528)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
Due: mypy

reorder ops
  cpp/src/binaryop/compiled/operation.cuh
Due: clang-format

add NullEquals string test
  cpp/tests/binaryop/binop-compiled-test.cpp
Due: clang-format

Update README.md
  README.md
Due: none

Fix README.md (#8535)
  README.md
Due: none

Properly retrieve last column when `-1` is specified for column index (#8529)
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/tests/test_indexing.py
Due: mypy

fix typo
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

add comments
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

move dict len to RLE part of the streams
  cpp/src/io/orc/writer_impl.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

handle streamz installation correctly
  ci/gpu/build.sh
Due: none

Fix size passed to column constructors in _with_type_metadata
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/tests/test_indexing.py
Due: mypy

changes
  cpp/src/io/orc/reader_impl.cu
  cpp/src/table/table_view.cpp
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

Correct unused parameter warnings in transform and unary ops (#8521)
  cpp/src/transform/row_bit_count.cu
  cpp/src/unary/cast_ops.cu
  cpp/src/unary/math_ops.cu
Due: clang-format

Another instance of base_size->size
  python/cudf/cudf/core/column/struct.py
Due: mypy

Added optional flag for building Arrow with S3 filesystem support (#8531)
  cpp/CMakeLists.txt
  cpp/cmake/cudf-build-config.cmake.in
  cpp/cmake/thirdparty/CUDF_GetArrow.cmake
  cpp/tests/CMakeLists.txt
  cpp/tests/io/arrow_io_source_test.cpp
  java/ci/build-in-docker.sh
Due: clang-format

remove redundant code block
  python/cudf/cudf/tests/test_csv.py
Due: mypy

Unpin `dask` version in CI (#8533)
  ci/benchmark/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/dask-cudf/run_test.sh
Due: none

Change namespace contains_nulls to struct (#8523)
  cpp/include/cudf/column/column_device_view.cuh
Due: clang-format

Added documentation, extra test cases, and a change to ioutils for when an unknown file protocol is encountered
  python/cudf/cudf/io/json.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/utils/ioutils.py
Due: mypy

Correct the last warnings and issues when using newer cuda versions (#8525)
  cpp/src/replace/clamp.cu
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/rolling_detail.cuh
  cpp/tests/utilities/column_utilities.cu
Due: clang-format
