Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Remove make strings children with null mask (#8830)
  cpp/include/cudf/detail/reshape.hpp
  cpp/include/cudf/strings/detail/utilities.cuh
  cpp/src/lists/interleave_columns.cu
  cpp/src/reshape/interleave_columns.cu
  cpp/src/strings/combine/join_list_elements.cu
  cpp/src/transpose/transpose.cu
  cpp/tests/strings/combine/join_list_elements_tests.cpp
Due: clang-format

Expand CSV and JSON reader APIs to accept `dtypes` as a vector or map of `data_type` objects (#8856)
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/detail/utilities/visitor_overload.hpp
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/json.hpp
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/csv/reader_impl.hpp
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
  cpp/tests/io/csv_test.cpp
  cpp/tests/io/json_test.cpp
  python/cudf/cudf/_lib/cpp/io/csv.pxd
  python/cudf/cudf/_lib/cpp/io/json.pxd
  python/cudf/cudf/_lib/csv.pyx
Due: clang-format

Replace _copy_construct with _from_data in _binaryop.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
Due: mypy

Remove leftover _copy_construct method in Index.
  python/cudf/cudf/core/index.py
Due: mypy

updated s3 changes
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/io/datasource.pxd
  python/cudf/cudf/_lib/io/datasource.pyx
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/utils/ioutils.py
Due: mypy

Move template parameter to function parameter in cudf::detail::left_semi_anti_join (#8914)
  cpp/CMakeLists.txt
  cpp/src/join/join.cu
  cpp/src/join/join_common_utils.cuh
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/join_utils.cu
  cpp/src/join/semi_join.cu
Due: clang-format

adjust `scan_tile_state_view::get_prefix` to make the purpose of thread fence more obvious.
  cpp/include/cudf/io/text/detail/tile_state.hpp
Due: clang-format

Remove all uses of _copy_construct in Series.
  python/cudf/cudf/core/series.py
Due: mypy

Remove all but one remaining use of _copy_construct.
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/window/rolling.py
Due: mypy

clean-up s3 changes
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/io/datasource.pxd
  python/cudf/cudf/_lib/io/datasource.pyx
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/api/types.py
Due: mypy

Fix last copy_construct issue.
  python/cudf/cudf/core/indexing.py
Due: mypy

Remove _copy_construct.
  python/cudf/cudf/core/series.py
Due: mypy

Update cpp/src/structs/copying/concatenate.cu
  cpp/src/structs/copying/concatenate.cu
Due: clang-format

Remove TODOs
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/src/strings/convert/convert_fixed_point.cu
Due: clang-format

fix
  cpp/src/structs/copying/concatenate.cu
  cpp/tests/copying/concatenate_tests.cu
Due: clang-format

Use schema idx instead of SchemaElement&
  cpp/src/io/parquet/parquet.cpp
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/reader_impl.cu
Due: clang-format

Allow invalid paths to be passed
  cpp/src/io/parquet/reader_impl.cu
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/tests/test_parquet.py
Due: clang-format, mypy

Convert ORC function from recursive to iterative Adds a member to column_device_view to return children as a span Silences the warnings in orc/reader_impl.cu
  cpp/include/cudf/column/column_device_view.cuh
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Silence warning in stripe_enc.cu Change span to raw pointer
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Pass stream to insert_if function
  cpp/src/join/hash_join.cu
Due: clang-format

During overflow checking, if we are dealing with unsliced columns, don't read the offsets to compute size.
  cpp/src/copying/concatenate.cu
Due: clang-format

Apply suggestions from code review
  cpp/src/structs/copying/concatenate.cu
Due: clang-format

Handle disallowed numpy types
  python/cudf/cudf/api/types.py
  python/cudf/cudf/tests/test_dtypes.py
Due: mypy

Enable reductions for Index types.
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
Due: mypy

Use f-string for exception.
  python/cudf/cudf/core/frame.py
Due: mypy

fix concatenation of rangeIndex
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Due: mypy

Fix assertion.
  python/cudf/cudf/core/series.py
Due: mypy

Add first, last groupby aggs
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/cpp/aggregation.pxd
  python/cudf/cudf/core/groupby/groupby.py
Due: mypy

Enable first/last in dask_cudf
  python/dask_cudf/dask_cudf/groupby.py
Due: mypy

typing
  python/cudf/cudf/core/index.py
Due: mypy

Add groupby first/last tests
  python/cudf/cudf/tests/test_groupby.py
Due: mypy

Doc
  python/cudf/cudf/core/groupby/groupby.py
Due: mypy

Fix NaN handling for ColumnBase's any and all.
  python/cudf/cudf/core/column/column.py
Due: mypy

Add groupby first/last tests for dask_cudf
  python/cudf/cudf/tests/test_groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

Actually test
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

Update python/cudf/cudf/core/index.py
  python/cudf/cudf/core/index.py
Due: mypy

Flipped the logic on the is-unsliced check.
  cpp/src/copying/concatenate.cu
Due: clang-format

mypy
  python/cudf/cudf/core/index.py
Due: mypy
