Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Add exception propagating to thread pool
  cpp/src/io/utilities/file_io_utilities.cpp
  cpp/src/io/utilities/thread_pool.hpp
Due: clang-format

define word
  cpp/include/cudf/strings/capitalize.hpp
Due: clang-format

Fix orc_reader_benchmark.cpp compile error (#8609)
  cpp/benchmarks/io/orc/orc_reader_benchmark.cpp
Due: clang-format

Fixed issue I had previously introduced during manual merge conflict resolution
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

address review comments
  cpp/include/cudf/io/orc.hpp
Due: clang-format

remove pin
  conda/recipes/libcudf_kafka/meta.yaml
Due: none

Change default datetime index resolution to ns to match pandas (this is a breaking change).
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
Due: mypy

quantile-changes
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_stats.py
Due: mypy

Add `get_element` for struct column (#8578)
  cpp/src/copying/get_element.cu
  cpp/tests/copying/get_value_tests.cpp
Due: clang-format

Support constructing `cudf.Scalar` objects from host side lists (#8459)
  python/cudf/cudf/_lib/cpp/scalar/scalar.pxd
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/tests/test_list.py
Due: mypy

update struct.py
  python/cudf/cudf/core/column/struct.py
Due: mypy

Remove `MERGE_VARIANCES` and `MERGE_STDS`, add `MERGE_M2`
  cpp/CMakeLists.txt
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_merge_m2.cu
  cpp/src/groupby/sort/group_reductions.hpp
Due: clang-format

quantile-changes
  python/cudf/cudf/core/series.py
Due: mypy

Optimizing read chunk size For both cases: few large reads and many small reads
  cpp/src/io/utilities/file_io_utilities.cpp
Due: clang-format

fix failing test and cleaning
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

Clean up thread pool - Shortened license - Commenting more in line with libcudf - Added sxception propagating to both submits - Removed unnecessary extra classes
  cpp/src/io/utilities/file_io_utilities.hpp
  cpp/src/io/utilities/thread_pool.hpp
Due: clang-format

Redesign the API and update doxygen
  cpp/include/cudf/strings/repeat_strings.hpp
Due: clang-format

More formatting changes
  cpp/tests/copying/get_value_tests.cpp
Due: clang-format

fix typo
  python/cudf/cudf/tests/test_list.py
Due: mypy

Reorder template arguments to facilitate eventual deduction.
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/ast/transform.cu
  cpp/src/join/join_kernels.cuh
Due: clang-format

Refactor tests to use namespace constants for references to make it easier to test additional join APIs.
  cpp/tests/join/conditional_join_tests.cpp
Due: clang-format

Enable nullable columns in conditional joins.
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/join/join_kernels.cuh
  cpp/src/join/nested_loop_join.cuh
Due: clang-format

Rename predicate join to conditional join.
  cpp/include/cudf/join.hpp
  cpp/src/join/join.cu
  cpp/src/join/join_kernels.cuh
  cpp/src/join/nested_loop_join.cuh
  cpp/tests/join/conditional_join_tests.cpp
Due: clang-format

Stop passing extra indexes through.
  cpp/include/cudf/ast/detail/transform.cuh
Due: clang-format

Use AST to actually evaluate the join predicate.
  cpp/src/join/join_kernels.cuh
  cpp/src/join/nested_loop_join.cuh
  cpp/tests/join/join_tests.cpp
Due: clang-format

Remove unnecessary includes.
  cpp/tests/join/join_tests.cpp
Due: clang-format

Reroute evaluate_row_expression through evaluate_join expression and remove unnecessary operators.
  cpp/include/cudf/ast/detail/transform.cuh
Due: clang-format

Update benchmarks to run for all join types, restrict data sizes to feasible types for nested loop joins.
  cpp/benchmarks/join/conditional_join_benchmark.cu
Due: clang-format

Standardize IntermediateDataType type alias.
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/ast/transform.cu
  cpp/src/join/join_kernels.cuh
Due: clang-format

Use new container to assign output.
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/ast/transform.cu
  cpp/src/join/join_kernels.cuh
Due: clang-format

Add some tests of null transforms.
  cpp/tests/ast/transform_tests.cpp
Due: clang-format

Store a reference to the plan directly in the evaluator.
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/ast/transform.cu
  cpp/src/join/join_kernels.cuh
  cpp/src/join/nested_loop_join.cuh
Due: clang-format

Use CRTP to enforce a clear API for expression result types.
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/ast/transform.cu
  cpp/src/join/join_kernels.cuh
Due: clang-format

Standardize grid layout for computing output size.
  cpp/src/join/nested_loop_join.cuh
Due: clang-format

Add benchmarks for nullability.
  cpp/benchmarks/join/conditional_join_benchmark.cu
Due: clang-format

Some minor cleanup.
  cpp/src/join/nested_loop_join.cuh
Due: clang-format

Use compare_nulls in output resolution for the equality operator.
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/join/join_kernels.cuh
  cpp/src/join/nested_loop_join.cuh
Due: clang-format

Add scaffolding for new predicated join.
  cpp/include/cudf/join.hpp
  cpp/src/join/join.cu
  cpp/src/join/nested_loop_join.cuh
  cpp/tests/join/join_tests.cpp
Due: clang-format

Add thorough documentation.
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/ast/transform.cu
  cpp/src/join/join_kernels.cuh
Due: clang-format

Update AST evaluator infrastructure with copied classes that support two tables to operate on.
  cpp/include/cudf/ast/detail/transform.cuh
Due: clang-format

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
