Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

add documentation for device_data_chunk
  cpp/include/cudf/io/text/data_chunk_source.hpp
Due: clang-format

Rename cpp function into calendrical_month_sequence
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/debug_printers.hpp
  cpp/include/cudf/detail/calendrical_month_sequence.cuh
  cpp/include/cudf/detail/sequence.hpp
  cpp/include/cudf/filling.hpp
  cpp/src/filling/calendrical_month_sequence.cu
  cpp/src/filling/date_sequence.cu
  cpp/tests/filling/sequence_tests.cpp
  python/cudf/cudf/_lib/cpp/filling.pxd
  python/cudf/cudf/_lib/datetime.pyx
Due: clang-format

Add more tests with nulls and sliced input column
  cpp/tests/reshape/interleave_columns_tests.cpp
Due: clang-format

add groupby templated make_min_aggregation factory
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/min_tests.cpp
Due: clang-format

temporarily unblock while fixing to_arrow()
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_struct.py
Due: mypy

python changes
  python/cudf/cudf/tests/test_orc.py
Due: mypy

changes
  cpp/src/io/orc/reader_impl.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

per rg valid count stub
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

changes
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

set pd masks in d_column views
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

added cython bindings
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/datetime.pyx
Due: none

creating child columns first and then moving to parent and test cases
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/tests/test_orc.py
Due: mypy

Add initial groupby-freq implementation
  python/cudf/cudf/core/cut.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_groupby.py
Due: mypy

Remove _data property in favor of a simple type annotation in _BaseIndex.
  python/cudf/cudf/_lib/table.pyx
  python/cudf/cudf/core/_base_index.py
Due: mypy

Remove redundant docstring.
  python/cudf/cudf/core/index.py
Due: mypy

Undo modifications to cut
  python/cudf/cudf/core/cut.py
Due: mypy

missed test files
  python/cudf/cudf/tests/data/orc/TestOrcFile.NestedStructDataFrame.orc
Due: none

Enhance GROUPBY_TEST for decimal128
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/min_tests.cpp
  cpp/tests/groupby/sum_scan_tests.cpp
  cpp/tests/groupby/sum_tests.cpp
Due: clang-format

Delete commented out code
  cpp/tests/groupby/sum_scan_tests.cpp
Due: clang-format

fix spelling of "guarantee"
  cpp/include/cudf/io/text/data_chunk_source.hpp
Due: clang-format

make data chunk reader return unique_ptr (#9129)
  cpp/include/cudf/io/text/data_chunk_source.hpp
  cpp/include/cudf/io/text/data_chunk_source_factories.hpp
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

Apply type metadata after column is slice-copied (#9131)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/tests/test_struct.py
Due: mypy

Fixes missing child column name in dtype while reading ORC file. (#9134)
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/tests/data/orc/TestOrcFile.NestedStructDataFrame.orc
  python/cudf/cudf/tests/test_orc.py
Due: mypy

Enable merging on indexes with duplicate names
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_joining.py
Due: mypy

complete per rg valid counting
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/stripe_init.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Due: clang-format

Explain why we need names to be a tuple of unique values
  python/cudf/cudf/core/multiindex.py
Due: mypy

fix typos in comments
  cpp/include/cudf/strings/convert/convert_datetime.hpp
  cpp/src/strings/convert/convert_datetime.cu
Due: clang-format

Add test of RangeIndex.get_loc.
  python/cudf/cudf/tests/test_index.py
Due: mypy

Adding nested.rst and feedback incorporation for basic.rst
  docs/cudf/source/basics/basics.rst
  docs/cudf/source/basics/nested.rst
Due: none

Implement get_loc for RangeIndex.
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
Due: mypy

fix style error
  cpp/include/cudf/strings/convert/convert_datetime.hpp
Due: clang-format

Remove stale debugger file
  cpp/include/cudf/debug_printers.hpp
Due: clang-format

Update sort groupby to use non-atomic operation (#9035)
  cpp/benchmarks/groupby/group_sum_benchmark.cu
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_max.cu
  cpp/src/groupby/sort/group_min.cu
  cpp/src/groupby/sort/group_single_pass_reduction_util.cuh
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/min_tests.cpp
Due: clang-format

testing and profiling deep single hierarchy struct
  cpp/benchmarks/compare/comparator_benchmark.cu
  cpp/tests/sort/sort2_test.cu
Due: clang-format

Fix joining on indexes with duplicate level names (#9137)
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_joining.py
Due: mypy

added python bindings
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/series.py
Due: mypy

basic logic bit borrowing
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

more efficient code for crosstab.
  python/cudf/cudf/core/reshape.py
Due: mypy

Special-case 'M' and 'W' labeing in groupby-freq
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/tests/test_groupby.py
Due: mypy

Optimize URL Decoding (#8622)
  cpp/benchmarks/string/url_decode_benchmark.cpp
  cpp/src/strings/convert/convert_urls.cu
  cpp/tests/strings/urls_tests.cpp
Due: clang-format
