Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

add API that takes a map of data_types
  cpp/include/cudf/io/csv.hpp
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/csv/reader_impl.hpp
  cpp/tests/io/csv_test.cpp
Due: clang-format

using
  cpp/tests/io/csv_test.cpp
Due: clang-format

Sync reads after a larger scope in ORC
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

added tests and updated docs
  cpp/include/cudf/datetime.hpp
  cpp/tests/datetime/datetime_ops_test.cpp
Due: clang-format

Fixed KeyError handling for field() method in Struct Accessor
  python/dask_cudf/dask_cudf/accessors.py
Due: mypy

Added pct_change to Series (#8650)
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_stats.py
Due: mypy

updated comments
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

Remove unused variable from row_bit_count_test.
  cpp/tests/transform/row_bit_count_test.cu
Due: clang-format

Address first review comments.
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join.cuh
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/join/join_common_utils.cuh
  cpp/src/join/join_kernels.cuh
Due: clang-format

undo delete
  cpp/include/cudf/datetime.hpp
Due: clang-format

Remove test
  cpp/tests/strings/fixed_point_tests.cpp
Due: clang-format

add declaration for cudf::detail::interleave_columns in detail/reshape.hpp
  cpp/include/cudf/detail/reshape.hpp
  cpp/src/reshape/interleave_columns.cu
  cpp/src/transpose/transpose.cu
Due: clang-format

Remove make_strings_children_with_null_mask utility
  cpp/include/cudf/strings/detail/utilities.cuh
  cpp/src/lists/interleave_columns.cu
  cpp/src/strings/combine/join_list_elements.cu
  cpp/tests/strings/combine/join_list_elements_tests.cpp
Due: clang-format

remove commented-out lines
  cpp/src/strings/combine/join_list_elements.cu
Due: clang-format

review changes
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

style
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/rolling/rolling_detail.cuh
  cpp/tests/rolling/rolling_test.cpp
Due: clang-format

documentation updates for clarity
  cpp/include/cudf/aggregation.hpp
Due: clang-format

review changes
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

review changes
  cpp/src/io/orc/stripe_data.cu
Due: clang-format

refactoring
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_interpolate.py
Due: mypy

TST Test gpuciskip
  ci/gpu/build.sh
Due: none

fixed point scalar to device_view fix mem access
  cpp/src/binaryop/compiled/binary_ops.cu
Due: clang-format

test index and values methods
  python/cudf/cudf/tests/test_interpolate.py
Due: mypy

forgot the index
  python/cudf/cudf/core/frame.py
Due: mypy

Optimize pair_equality callable
  cpp/src/join/join_common_utils.hpp
Due: clang-format

Add Java API for repeatStringsOutputSizes
  java/src/main/java/ai/rapids/cudf/ColumnView.java
Due: none

Rewrite tests
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Due: none

dtypes + selected columns fix
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/csv/reader_impl.hpp
  cpp/tests/io/csv_test.cpp
Due: clang-format

fix string contains issue
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_categorical.py
Due: mypy

convert tests to new API
  cpp/tests/io/csv_test.cpp
Due: clang-format

fix __contains__
  python/cudf/cudf/core/column/string.py
Due: mypy

Rewrite the output types for repeatStringsOutputSizes
  java/src/main/java/ai/rapids/cudf/ColumnView.java
Due: none

Rename functions
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
Due: clang-format

Add tests with pre-computed output string sizes
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Due: none

Remove unused variable from `row_bit_count_test`. (#8829)
  cpp/tests/transform/row_bit_count_test.cu
Due: clang-format

Fixes issue with null struct columns in ORC reader (#8819)
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/orc/stripe_init.cu
  python/cudf/cudf/tests/data/orc/TestOrcFile.testPySparkStruct.orc
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

Support for groupby/scan rank and dense_rank aggregations (#8652)
  cpp/CMakeLists.txt
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/include/cudf/detail/groupby/sort_helper.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/group_dense_rank_scan.cu
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/groupby/sort/group_scan.hpp
  cpp/src/groupby/sort/scan.cpp
  cpp/src/reductions/scan/scan.cuh
  cpp/src/reductions/scan/scan_exclusive.cu
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/rank_scan_tests.cpp
  cpp/tests/reductions/scan_tests.cpp
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/native/src/AggregationJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: clang-format

infer_date -> parse_date for consistency; add parse_hex to libcudf
  cpp/include/cudf/io/csv.hpp
  cpp/src/io/csv/reader_impl.cu
  python/cudf/cudf/_lib/cpp/io/csv.pxd
  python/cudf/cudf/_lib/csv.pyx
Due: clang-format

multibyte_split remove device_istream replace with data_chunk_reader
  cpp/CMakeLists.txt
  cpp/benchmarks/io/text/multibyte_split_benchmark.cpp
  cpp/include/cudf/io/text/data_chunk_source.hpp
  cpp/include/cudf/io/text/data_chunk_source_factories.hpp
  cpp/include/cudf/io/text/host_device_istream.hpp
  cpp/include/cudf/io/text/multibyte_split.hpp
  cpp/src/io/text/host_device_istream.cpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
  cpp/tests/io/text/trie_test.cpp
Due: clang-format

Update cudf java bindings to 21.10.0-SNAPSHOT
  java/ci/README.md
  java/pom.xml
Due: none

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
