Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

fix message in ioutils
  python/cudf/cudf/utils/ioutils.py
Due: mypy

Change output size to a size_t instead of size_type.
  cpp/include/cudf/join.hpp
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join.hpp
  cpp/src/join/conditional_join_kernels.cuh
Due: clang-format

Update copyright date
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
Due: clang-format

misc fixes
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/core/__init__.py
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_groupby.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_text.py
  python/cudf/cudf/utils/ioutils.py
  python/dask_cudf/dask_cudf/backends.py
Due: mypy

`cdef packed_columns` as `cppclass` instead of `struct` (#8936)
  python/cudf/cudf/_lib/cpp/copying.pxd
Due: none

Refactor and improve join benchmarks with nvbench (#8734)
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/fixture/rmm_pool_raii.hpp
  cpp/benchmarks/join/conditional_join_benchmark.cu
  cpp/benchmarks/join/join_benchmark.cu
  cpp/benchmarks/join/join_benchmark_common.hpp
  cpp/benchmarks/join/join_nvbench.cu
Due: clang-format

Apply series name to SeriesGroupby result
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Due: mypy

Throw KeyError when accessing field from struct with nonexistent key (#8880)
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/tests/test_struct.py
Due: mypy

Get rid of multimap unique_ptr
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
Due: clang-format

fix general functions
  docs/cudf/source/api_docs/general_functions.rst
Due: none

remove temporary build commands
  ci/cpu/build.sh
  ci/gpu/build.sh
  ci/gpu/java.sh
Due: none

test group_by for only decimal32/64
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/min_tests.cpp
  cpp/tests/groupby/sum_scan_tests.cpp
  cpp/tests/groupby/sum_tests.cpp
Due: clang-format

Tested with a few dtype combinations, summarized TODOs
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

Document that struct support in `read_orc` is experimental (#8932)
  cpp/include/cudf/io/orc.hpp
  python/cudf/cudf/utils/ioutils.py
Due: clang-format, mypy

create bad-case scenario benchmark
  cpp/benchmarks/io/text/multibyte_split_benchmark.cpp
  cpp/include/cudf/io/text/detail/multistate.hpp
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

Fix memcheck errors for cudf::strings::to_durations
  cpp/src/strings/convert/convert_durations.cu
Due: clang-format

Fix memcheck errors for nvtext::subword_tokenize
  cpp/src/text/subword/subword_tokenize.cu
Due: clang-format

Fix memcheck errors for csv reader
  cpp/src/io/csv/csv_gpu.cu
  cpp/src/io/utilities/parsing_utils.cuh
Due: clang-format

initial version
  cpp/include/cudf/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
  cpp/tests/datetime/datetime_ops_test.cpp
Due: clang-format

Use char as default alloactor data type
  cpp/src/join/join_common_utils.hpp
Due: clang-format

adds docs
  docs/cudf/source/api_docs/general_utilities.rst
  docs/cudf/source/index.rst
Due: none

add deprecation warning for Series.set_mask
  python/cudf/cudf/core/series.py
Due: mypy

Move logic for any/all down from Series into Column.
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/series.py
Due: mypy

Move sum_of_squares to Frame.
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy

Move most reductions up to the Frame level.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy

Simplify _apply_support_method for improved performance.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Standardize reduction operation argument handling.
  python/cudf/cudf/core/series.py
Due: mypy

Reimplement axis 0 reductions as column rather than Series ops.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Move median to Frame and add tests of both median and sum_of_squares for DataFrame.
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_reductions.py
Due: mypy

Revert "Optimize DataFrame-Series binop."
  python/cudf/cudf/core/dataframe.py
Due: mypy

Switch reductions to use a new helper method.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Optimize DataFrame-Series binop.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Revert "Simplify _apply_support_method for improved performance."
  python/cudf/cudf/core/dataframe.py
Due: mypy

Split axis 0 and axis 1 support methods into separate functions.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Replace asserts with exception handlers.
  python/cudf/cudf/core/series.py
Due: mypy

Fix behavior of bool_only to not fail for bool_only=False for DataFrame any/all and clean up Series any/all implementations.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Alias DataFrame.product as DataFrame.prod.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
Due: mypy

Move any and all into Frame.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy

move visitor_overload to utilities
  cpp/include/cudf/detail/utilities/visitor_overload.hpp
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/json/reader_impl.cu
Due: clang-format

Fix axis lookup logic.
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
Due: mypy
