Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Handle sliced structs properly in pack/contiguous_split. (#8739)
  cpp/src/copying/contiguous_split.cu
  cpp/tests/copying/pack_tests.cpp
  cpp/tests/copying/split_tests.cpp
Due: clang-format

Fix dask.dataframe API docs links after reorg (#8772)
  docs/cudf/source/10min.ipynb
  docs/cudf/source/dask-cudf.rst
Due: none

fix style error
  python/cudf/cudf/core/column/lists.py
Due: mypy

clean-up
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/structs/structs_column_factories.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

added test case and docs
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.hpp
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

Change back import
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

Revert "Remove cudf unneeded build time requirement of the cuda driver"
  cpp/CMakeLists.txt
Due: none

Fix `replace` to handle null values correctly (#8744)
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_replace.py
Due: mypy

Remove anonymous namespace from null_mask.cuh
  cpp/include/cudf/detail/null_mask.cuh
Due: clang-format

Handle arbitrarily different data in null list column rows when checking for equivalency. (#8666)
  cpp/include/cudf_test/column_utilities.hpp
  cpp/tests/ast/transform_tests.cpp
  cpp/tests/binaryop/binop-integration-test.cpp
  cpp/tests/copying/reverse_tests.cpp
  cpp/tests/copying/scatter_struct_scalar_tests.cpp
  cpp/tests/copying/scatter_struct_tests.cpp
  cpp/tests/datetime/datetime_ops_test.cpp
  cpp/tests/filling/repeat_tests.cpp
  cpp/tests/groupby/groupby_test_util.hpp
  cpp/tests/groupby/m2_tests.cpp
  cpp/tests/groupby/merge_lists_tests.cpp
  cpp/tests/groupby/merge_m2_tests.cpp
  cpp/tests/groupby/merge_sets_tests.cpp
  cpp/tests/hashing/hash_test.cpp
  cpp/tests/io/orc_test.cpp
  cpp/tests/lists/combine/concatenate_list_elements_tests.cpp
  cpp/tests/lists/combine/concatenate_rows_tests.cpp
  cpp/tests/reshape/interleave_columns_tests.cpp
  cpp/tests/search/search_struct_test.cpp
  cpp/tests/strings/combine/concatenate_tests.cpp
  cpp/tests/strings/combine/join_list_elements_tests.cpp
  cpp/tests/strings/floats_tests.cpp
  cpp/tests/strings/repeat_strings_tests.cpp
  cpp/tests/strings/substring_tests.cpp
  cpp/tests/utilities/column_utilities.cu
  cpp/tests/utilities_tests/column_utilities_tests.cpp
Due: clang-format

Initial changes
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/include/cudf/utilities/traits.hpp
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/tests/fixed_point/fixed_point_tests.cu
Due: clang-format

Fix slicing from struct columns and accessing struct columns (#8719)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_struct.py
Due: mypy

Implement JNI for groupby aggregations `M2` and `MERGE_M2` (#8763)
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/native/src/AggregationJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: clang-format

Revert "Remove cudf unneeded build time requirement of the cuda driver" (#8784)
  cpp/CMakeLists.txt
Due: none

Handle empty child columns in row_bit_count():
  cpp/src/transform/row_bit_count.cu
  cpp/tests/transform/row_bit_count_test.cu
Due: clang-format

More changes
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/copy_if.cuh
  cpp/include/cudf/detail/utilities/device_atomics.cuh
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/include/cudf/types.hpp
  cpp/include/cudf/utilities/traits.hpp
  cpp/include/cudf/utilities/type_dispatcher.hpp
  cpp/src/io/json/json_gpu.cu
  cpp/src/jit/type.cpp
  cpp/src/quantiles/quantile.cu
  cpp/src/round/round.cu
  cpp/src/scalar/scalar.cpp
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/src/unary/math_ops.cu
Due: clang-format

Small cleanup
  cpp/include/cudf/utilities/traits.hpp
Due: clang-format

Small cleanup
  cpp/include/cudf/detail/utilities/device_atomics.cuh
  cpp/include/cudf/utilities/traits.hpp
Due: clang-format

Refactor
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_binops.py
Due: mypy

Fix merge
  python/cudf/cudf/core/series.py
Due: mypy

Remove anonymous namespace from null_mask.cuh (#8786)
  cpp/include/cudf/detail/null_mask.cuh
Due: clang-format

review fixes
  cpp/include/cudf/io/datasource.hpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/utilities/file_io_utilities.cpp
Due: clang-format

enable decimal32 decimal64 conversions
  cpp/src/binaryop/compiled/binary_ops.cuh
  cpp/src/binaryop/compiled/util.cpp
Due: clang-format

Remove unused cudf::strings::create_offsets (#8663)
  cpp/include/cudf/strings/strings_column_view.hpp
  cpp/include/cudf/table/table_device_view.cuh
  cpp/include/cudf_test/column_utilities.hpp
  cpp/src/strings/strings_column_view.cu
  cpp/tests/strings/factories_test.cu
Due: clang-format

Provide a better error message when `CUDA::cuda_driver` not found
  cpp/CMakeLists.txt
Due: none

updates
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_interpolate.py
Due: mypy

Small changes
  cpp/src/copying/copy.cu
  cpp/tests/strings/fixed_point_tests.cpp
Due: clang-format

fix merge error
  java/src/main/native/src/ColumnViewJni.cpp
Due: clang-format

Move single_dispatch_binary_operator closer to the only call site.
  cpp/include/cudf/ast/detail/operators.hpp
  cpp/include/cudf/ast/detail/transform.cuh
Due: clang-format

Add a new nullable function for table_views and address various minor outstanding PR comments from PR #8214.
  cpp/include/cudf/ast/detail/linearizer.hpp
  cpp/include/cudf/join.hpp
  cpp/include/cudf/table/table_view.hpp
  cpp/src/ast/transform.cu
  cpp/src/join/nested_loop_join.cuh
Due: clang-format

Delete lots of unused includes.
  cpp/include/cudf/ast/detail/linearizer.hpp
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/ast/transform.cu
  cpp/src/join/join_kernels.cuh
  cpp/src/join/nested_loop_join.cuh
Due: clang-format

Move common join utilities to a single file.
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
  cpp/src/join/join_common_utils.cuh
  cpp/src/join/join_common_utils.hpp
  cpp/src/join/nested_loop_join.cuh
Due: clang-format

Move common utilities from the kernels file into common utils.
  cpp/src/join/join_common_utils.cuh
  cpp/src/join/join_kernels.cuh
Due: clang-format

Rename nested_loop_join.cuh to conditional_loop_join.cuh.
  cpp/src/join/conditional_join.cuh
  cpp/src/join/join.cu
Due: clang-format

Move conditional join kernels to a separate file.
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/join/join_kernels.cuh
  cpp/src/join/nested_loop_join.cuh
Due: clang-format

Move conditional joins to a separate compilation unit.
  cpp/CMakeLists.txt
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join.cuh
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/join/join.cu
Due: clang-format

Move plan to linearizer from transform.
  cpp/include/cudf/ast/detail/linearizer.hpp
  cpp/include/cudf/ast/detail/transform.cuh
Due: clang-format

Move evaluator into separate header.
  cpp/include/cudf/ast/detail/evaluator.cuh
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/ast/transform.cu
  cpp/src/join/conditional_join.cuh
  cpp/src/join/conditional_join_kernels.cuh
Due: clang-format

Move compute_column detail API to preexisting transform namespace.
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/include/cudf/detail/transform.hpp
  cpp/src/ast/transform.cu
Due: clang-format

Move compute_column API to preexisting transform namespace.
  cpp/benchmarks/ast/transform_benchmark.cpp
  cpp/include/cudf/ast/transform.hpp
  cpp/include/cudf/detail/transform.hpp
  cpp/include/cudf/transform.hpp
  cpp/src/ast/transform.cu
  cpp/tests/ast/transform_tests.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
