Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Initial work on config
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_config/__init__.py
  python/cudf/cudf/_config/config.py
  python/cudf/cudf/_lib/binaryop.pyx
  python/cudf/cudf/core/frame.py
Due: mypy

broken rudimentary thread read
  cpp/src/io/utilities/file_io_utilities.cpp
Due: clang-format

temporarily pin dask to 2021.06.0
  ci/benchmark/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/dask-cudf/run_test.sh
Due: none

Add tests for nulls compare as nans
  python/cudf/cudf/tests/test_binops.py
Due: mypy

Fix typo
  cpp/src/groupby/sort/group_reductions.hpp
Due: clang-format

temp commit
  ci/gpu/build.sh
  python/cudf/cudf/tests/test_cut.py
Due: mypy

Avoid a nvcc false positive 'unused variable' warning in grouped_rolling
  cpp/src/rolling/grouped_rolling.cu
Due: clang-format

Work around a nvcc compiler issue in clamp by using structured bindings
  cpp/src/replace/clamp.cu
Due: clang-format

Correct unused parameter warnings in testing utils
  cpp/tests/utilities/column_utilities.cu
Due: clang-format

Correct unused parameter warnings in rolling headers
  cpp/src/rolling/rolling_detail.cuh
Due: clang-format

Change namespace contains_nulls to struct
  cpp/include/cudf/column/column_device_view.cuh
Due: clang-format

add comments
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Move doxygen to detail implementation
  cpp/include/cudf/aggregation.hpp
  cpp/src/groupby/sort/aggregate.cpp
Due: clang-format

Remove underscore from option
  python/cudf/cudf/_config/config.py
  python/cudf/cudf/_lib/binaryop.pyx
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_binops.py
Due: mypy

Add `Index.get_loc` for Numerical, String Index support (#8489)
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/utils/utils.py
Due: mypy

Rename some copying_test source files .cu to .cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/gather_list_tests.cpp
  cpp/tests/copying/gather_str_tests.cpp
  cpp/tests/copying/gather_struct_tests.cpp
  cpp/tests/copying/gather_tests.cpp
  cpp/tests/copying/pack_tests.cpp
Due: clang-format

Correct formatting issues found by CI
  cpp/src/replace/clamp.cu
  cpp/tests/utilities/column_utilities.cu
Due: clang-format

Fix importing `apply` from `dask` (#8517)
  ci/benchmark/build.sh
  ci/gpu/build.sh
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/dask-cudf/run_test.sh
  python/dask_cudf/dask_cudf/core.py
  python/dask_cudf/dask_cudf/io/csv.py
Due: mypy

Remove extra type check
  python/cudf/cudf/core/column/decimal.py
Due: mypy

remove unneeded header include
  cpp/src/strings/extract.cu
Due: clang-format

reorder source test file names
  cpp/tests/CMakeLists.txt
Due: none

fix commented out line used for debug
  cpp/tests/copying/pack_tests.cpp
Due: clang-format

move clang-format off in pack_tests.cpp
  cpp/tests/copying/pack_tests.cpp
Due: clang-format

Some progress after merging from _with_dtype
  python/cudf/cudf/_lib/categories.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/utils/dtypes.py
Due: mypy

Remove workarounds for old numba APIs.
  python/cudf/cudf/core/column/column.py
Due: mypy

Remove unused function _get_dictionary_array.
  python/cudf/cudf/core/frame.py
Due: mypy

Some simplifications of DataFrame binop.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Delete unnecessary function and replace another with a direct dict lookup.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Don't unnecessarily construct objects when we're just accessing the classes.
  python/cudf/cudf/core/dataframe.py
Due: mypy

bug fixes
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/tests/test_indexing.py
Due: mypy

Add first-class dtype utilities (#8308)
  python/.flake8
  python/cudf/cudf/__init__.py
  python/cudf/cudf/api/__init__.py
  python/cudf/cudf/api/types.py
  python/cudf/cudf/api/types/__init__.py
  python/cudf/cudf/api/types/categoricals.py
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_api_types.py
  python/cudf/cudf/utils/dtypes.py
Due: mypy

Fix offset of the string dictionary length stream (#8515)
  cpp/src/io/orc/writer_impl.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

Implement reverse in libcudf (#8410)
  cpp/CMakeLists.txt
  cpp/include/cudf/copying.hpp
  cpp/src/copying/reverse.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/reverse_tests.cpp
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/cpp/copying.pxd
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/frame.py
Due: clang-format, mypy

Unify testing of string scan with arithmetic types
  cpp/include/cudf_test/type_lists.hpp
  cpp/tests/reductions/scan_tests.cpp
Due: clang-format

Remove unused code.
  cpp/tests/reductions/scan_tests.cpp
Due: clang-format

replace thrust::for_each with own for_each_kernel
  cpp/src/binaryop/compiled/binops_custom.cuh
  cpp/src/binaryop/compiled/comparison_ops.cu
  cpp/src/binaryop/compiled/equality_ops.cu
Due: clang-format

Update python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/categorical.py
Due: mypy

add python test for small zip files
  python/cudf/cudf/tests/test_csv.py
Due: mypy

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
