Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Ensure JNI native libraries load when CompiledExpression loads (#8997)
  java/src/main/java/ai/rapids/cudf/ast/CompiledExpression.java
Due: none

Refactor Frame reductions (#8944)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
  python/cudf/cudf/tests/test_reductions.py
Due: mypy

Fix concatenation of `cudf.RangeIndex` (#8970)
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_index.py
  python/dask_cudf/dask_cudf/tests/test_core.py
Due: mypy

Apply series name to result of `SeriesGroupby.apply()` (#8939)
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/tests/test_groupby.py
Due: mypy

Add groupby first/last tests
  python/cudf/cudf/tests/test_groupby.py
Due: mypy

???
  python/cudf/cudf/tests/test_groupby.py
Due: mypy

Enable first/last in dask_cudf
  python/dask_cudf/dask_cudf/groupby.py
Due: mypy

Add groupby first/last tests for dask_cudf
  python/cudf/cudf/tests/test_groupby.py
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

Doc
  python/cudf/cudf/core/groupby/groupby.py
Due: mypy

Actually test
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

Add first, last groupby aggs
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/cpp/aggregation.pxd
  python/cudf/cudf/core/groupby/groupby.py
Due: mypy

Add more tests in dask_cudf
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

Also compare with cuDF result
  python/dask_cudf/dask_cudf/tests/test_groupby.py
Due: mypy

Style
  python/cudf/cudf/api/types.py
Due: mypy

working solution
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
Due: clang-format

Update python/cudf/cudf/api/types.py
  python/cudf/cudf/api/types.py
Due: mypy

Multimap takes stream as argument
  cpp/src/join/hash_join.cu
Due: clang-format

fix dataframe setitem
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

thrustify prefix sum
  cpp/src/io/orc/reader_impl.cu
Due: clang-format

added test for decimal32 from_arrow in libcudf
  cpp/src/interop/from_arrow.cu
  cpp/tests/interop/from_arrow_test.cpp
Due: clang-format

test; clean up
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

move scan_null_counts out of decode
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
Due: clang-format

to_pandas should work with ordered categorical columns, with nullable columns
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
Due: mypy

Linear Interpolation of `nan`s via `cupy` (#8767)
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_interpolate.py
Due: mypy

Update python/dask_cudf/dask_cudf/io/tests/test_parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Due: mypy

Review comments:
  cpp/src/structs/utilities.cpp
Due: clang-format

Changed num_rows to const.
  cpp/src/structs/utilities.cpp
Due: clang-format

Restored num_rows calculation back to the top.
  cpp/src/structs/utilities.cpp
Due: clang-format

Fix a potential bug in dictionary creation where loop exits before syncthreads
  cpp/src/io/parquet/chunk_dict.cu
Due: clang-format

initial changes.
  python/cudf/cudf/core/reshape.py
Due: mypy

accounting for leap years.
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

adding changes and tests.
  python/cudf/cudf/core/series.py
Due: mypy

Review changes
  cpp/include/cudf/column/column_device_view.cuh
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

starting orc refactor
  python/dask_cudf/dask_cudf/io/orc.py
  python/dask_cudf/dask_cudf/io/tests/test_orc.py
Due: mypy

update so test_df_sr_mask_where passes again
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

style update
  python/cudf/cudf/core/_internals/where.py
Due: mypy

build cat column in a more efficient way
  python/dask_cudf/dask_cudf/io/parquet.py
Due: mypy

very basic test
  python/cudf/cudf/tests/test_ewm.py
Due: mypy

add tests and generalize over kwargs
  cpp/include/cudf/transform.hpp
  cpp/src/transform/ewm.cu
  python/cudf/cudf/_lib/cpp/transform.pxd
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/core/window/ewm.py
  python/cudf/cudf/tests/test_ewm.py
Due: clang-format, mypy
