Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

remove unused include
  cpp/src/binaryop/compiled/binary_ops.cu
Due: clang-format

Enable pytest that depended on #7561
  python/cudf/cudf/tests/test_parquet.py
Due: mypy

Fix test breakage in pyarrow engine columns should be a list of list only for cudf engine
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/io/parquet.py
Due: mypy

verify selected col name for stub (list) schema element
  cpp/src/io/parquet/reader_impl.cu
Due: clang-format

Cleanups: - Remove old code - Replace schema with get_schema
  cpp/src/io/parquet/reader_impl.cu
Due: clang-format

Group by aggregation file missed
  java/src/main/java/ai/rapids/cudf/GroupByAggregation.java
Due: none

Grouped Scan
  java/src/main/java/ai/rapids/cudf/GroupByScanAggregation.java
  java/src/main/java/ai/rapids/cudf/GroupByScanAggregationOnColumn.java
  java/src/main/java/ai/rapids/cudf/RollingAggregation.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

Refactor rolling aggregations to make it cleaner
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/java/ai/rapids/cudf/AggregationOverWindow.java
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/RollingAggregation.java
  java/src/main/java/ai/rapids/cudf/RollingAggregationOnColumn.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

ReductionAggregation
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/ReductionAggregation.java
  java/src/main/java/ai/rapids/cudf/ScanAggregation.java
  java/src/test/java/ai/rapids/cudf/ReductionTest.java
Due: none

Scan Aggregation
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/ScanAggregation.java
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Due: none

Group by aggregtion
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/java/ai/rapids/cudf/GroupByAggregationOnColumn.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

Allow `sort_values` to accept same `kind` values as Pandas (#8912)
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_sorting.py
Due: mypy

convert_alias and tests
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_column.py
Due: mypy

Add python bindings for new aggregation types. Fix JNI bindings and /examples.
  cpp/examples/basic/src/process_csv.cpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  java/src/main/native/src/TableJni.cpp
  python/cudf/cudf/_lib/aggregation.pxd
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/cpp/aggregation.pxd
  python/cudf/cudf/_lib/cpp/groupby.pxd
  python/cudf/cudf/_lib/groupby.pyx
Due: clang-format

remove argument type
  python/cudf/cudf/core/column/column.py
Due: mypy

address last review comment
  python/cudf/cudf/core/algorithms.py
  python/cudf/cudf/core/frame.py
Due: mypy

Formatting changes.
  java/src/main/native/src/TableJni.cpp
  python/cudf/cudf/_lib/aggregation.pxd
  python/cudf/cudf/_lib/cpp/groupby.pxd
  python/cudf/cudf/_lib/groupby.pyx
Due: clang-format

handle cudf.NA
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

provide support for cuda enhanced compatibility
  python/cudf/cudf/utils/gpu_utils.py
Due: mypy

move fix to scalar_broadcast_to
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/utils/utils.py
Due: mypy

use existing method
  python/cudf/cudf/utils/utils.py
Due: mypy

Addressed review comments
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/java/ai/rapids/cudf/AggregationOverWindow.java
  java/src/main/java/ai/rapids/cudf/GroupByAggregation.java
  java/src/main/java/ai/rapids/cudf/GroupByAggregationOnColumn.java
  java/src/main/java/ai/rapids/cudf/GroupByScanAggregation.java
  java/src/main/java/ai/rapids/cudf/GroupByScanAggregationOnColumn.java
  java/src/main/java/ai/rapids/cudf/ReductionAggregation.java
  java/src/main/java/ai/rapids/cudf/RollingAggregation.java
  java/src/main/java/ai/rapids/cudf/RollingAggregationOnColumn.java
  java/src/main/java/ai/rapids/cudf/ScanAggregation.java
Due: none

subtype footer
  cpp/src/io/orc/writer_impl.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

style adjustments and documentation update to multibyte_split
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/io/text/multistate.hpp
  cpp/include/cudf/io/text/trie.hpp
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

Skip verifying list's child's name Because parquet spec is flexible about it
  cpp/src/io/parquet/reader_impl.cu
Due: clang-format

move tile-scanning utilites to detail namespace
  conda/recipes/libcudf/meta.yaml
  cpp/include/cudf/io/text/detail/multistate.hpp
  cpp/include/cudf/io/text/detail/tile_state.hpp
  cpp/include/cudf/io/text/detail/trie.hpp
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

handle None
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Due: mypy

initial
  python/cudf/cudf/datasets.py
  python/cudf/cudf/tests/test_datasets.py
Due: mypy

doc fix
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/json.hpp
Due: clang-format

Apply suggestions from code review
  cpp/src/io/csv/reader_impl.hpp
Due: clang-format

Fixed doc typo. Removed unneeded declarations from GroupbyAggregation in python bindings.
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  python/cudf/cudf/_lib/aggregation.pyx
Due: clang-format

moved aliases to dtypes.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/utils/dtypes.py
Due: mypy

remove "inline" from constexpr members in cudf::io::text
  cpp/include/cudf/io/text/detail/multistate.hpp
  cpp/include/cudf/io/text/detail/trie.hpp
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

sort imports alphabetically
  python/cudf/cudf/core/column/column.py
Due: mypy

provide support for cuda enhanced compatibility (#8924)
  python/cudf/cudf/utils/gpu_utils.py
Due: mypy

allow repeats=None error
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/tests/test_string.py
Due: mypy

Combine linearizer and ast_plan (#8900)
  conda/recipes/libcudf/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/include/cudf/ast/detail/linearizer.hpp
  cpp/include/cudf/ast/detail/operators.hpp
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/include/cudf/ast/nodes.hpp
  cpp/src/ast/expression_parser.cpp
  cpp/src/ast/transform.cu
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join.cuh
  cpp/src/join/conditional_join_kernels.cuh
Due: clang-format

Move most conditional join implementation into source file from header.
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join.cuh
  cpp/src/join/conditional_join.hpp
Due: clang-format

Remove some more includes.
  cpp/src/ast/transform.cu
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join_kernels.cuh
Due: clang-format

Expose conditional join output size calculation.
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join.hpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
