Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Fix inconsistencies in _copy_type_metadata.
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
Due: mypy

Move drop_duplicates to avoid type issues.
  python/cudf/cudf/core/index.py
Due: mypy

Move Frame._concat to DataFrame._concat since it's a DataFrame-specific implementation.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
Due: mypy

Move iter method.
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
Due: mypy

Instantiate accessors explicitly in necessary classes.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
Due: mypy

Minor cleanup.
  python/cudf/cudf/core/index.py
Due: mypy

Force binding of binop arg.
  python/cudf/cudf/core/index.py
Due: mypy

Fix most errors.
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/multiindex.py
Due: mypy

Fix typo in monkey-patched operator.
  python/cudf/cudf/core/index.py
Due: mypy

Standardize RangeIndex->Int64Index conversion.
  python/cudf/cudf/core/index.py
Due: mypy

Add missing rmul operator.
  python/cudf/cudf/core/index.py
Due: mypy

Make as_index rely on _index_from_data when passed a column.
  python/cudf/cudf/core/index.py
Due: mypy

Standardize _from_data implementation and move the type-determining version out of the loop.
  python/cudf/cudf/_lib/groupby.pyx
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/multiindex.py
Due: mypy

Fix minor typo.
  python/cudf/cudf/core/index.py
Due: mypy

Fix handling for MultiIndex / index
  python/dask_cudf/dask_cudf/groupby.py
Due: mypy

Add back Series examples.
  python/cudf/cudf/core/frame.py
Due: mypy

Moved typedefs into unnamed namespace.
  cpp/src/structs/utilities.cpp
Due: clang-format

Update meta.yaml.
  conda/recipes/libcudf/meta.yaml
Due: none

Java bindings for conditional join output sizes (#9002)
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: clang-format

Added Series.dt.is_quarter_start and Series.dt.is_quarter_end
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

flake8
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

Support additional format specifiers in from_timestamps
  cpp/include/cudf/strings/convert/convert_datetime.hpp
  cpp/include/cudf/strings/detail/converters.hpp
  cpp/src/io/csv/writer_impl.cu
  cpp/src/strings/convert/convert_datetime.cu
  cpp/tests/strings/datetime_tests.cpp
Due: clang-format

don't use valid_buf as null_mask; remove a redundant syncthreads
  cpp/src/io/orc/stripe_enc.cu
Due: clang-format

remove using string set_dtype API
  python/cudf/cudf/_lib/csv.pyx
Due: none

remove redundant test case
  python/cudf/cudf/tests/test_orc.py
Due: mypy

use @see doxygen tag for .cu file definitions
  cpp/src/rolling/rolling_collect_list.cu
Due: clang-format

optimized is_quarter_start/end
  python/cudf/cudf/core/series.py
Due: mypy

minor fix
  python/cudf/cudf/core/series.py
Due: mypy

Update cpp/src/interop/detail/arrow_allocator.cpp
  cpp/src/interop/detail/arrow_allocator.cpp
Due: clang-format

black
  python/cudf/cudf/core/series.py
Due: mypy

remove using string set_dtype APIs
  python/cudf/cudf/_lib/cpp/io/csv.pxd
  python/cudf/cudf/_lib/cpp/io/json.pxd
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_json.py
Due: mypy

Allow index binops to return different output than input data type and make RangeIndex.__mul__ convert to Int64Index when necessary.
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
Due: mypy

Change test to verify that the correct exceptions are thrown.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Minor typo fix.
  cpp/include/cudf/ast/expressions.hpp
Due: clang-format

Update Java AST API bindings.
  java/src/main/native/src/CompiledExpression.cpp
  java/src/main/native/src/jni_compiled_expr.hpp
Due: clang-format

header
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

sync with dask change
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Due: mypy

Fix ORC reading of files with struct columns that have null values (#9005)
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

remove filepath-related logic from csv and json readers
  cpp/include/cudf/io/csv.hpp
  cpp/include/cudf/io/json.hpp
  cpp/src/io/comp/io_uncomp.h
  cpp/src/io/comp/uncomp.cpp
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/csv/reader_impl.hpp
  cpp/src/io/functions.cpp
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
  cpp/src/io/utilities/parsing_utils.cu
  cpp/src/io/utilities/parsing_utils.cuh
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/tests/test_csv.py
Due: clang-format, mypy

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
