Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

make improvements
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/indexing.py
  python/dask_cudf/dask_cudf/io/parquet.py
Due: mypy

Add JNI support for drop_list_duplicates (#9198)
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Due: clang-format

Make AST operators nullable (#9096)
  cpp/benchmarks/join/conditional_join_benchmark.cu
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/include/cudf/ast/detail/operators.hpp
  cpp/include/cudf/ast/expressions.hpp
  cpp/include/cudf/join.hpp
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join.hpp
  cpp/src/join/conditional_join_kernels.cuh
  cpp/tests/ast/transform_tests.cpp
  cpp/tests/join/conditional_join_tests.cu
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/java/ai/rapids/cudf/ast/BinaryOperator.java
  java/src/main/native/src/CompiledExpression.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/test/java/ai/rapids/cudf/TableTest.java
  java/src/test/java/ai/rapids/cudf/ast/CompiledExpressionTest.java
Due: clang-format

Remove invalid and unnecessary operator SFINAE overload.
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
Due: clang-format

Remove zlib from public CMake dependencies
  cpp/CMakeLists.txt
Due: none

Pass device data references, inputs, and computed results by reference wherever possible.
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
Due: clang-format

Change argument parameters to actually use CRTP to enforce the input type.
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
Due: clang-format

Make the shared memory intermediate storage a parameter for evaluate rather than the constructor and forward it along.
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/src/join/conditional_join_kernels.cuh
  cpp/src/transform/compute_column.cu
Due: clang-format

Move device_data_references and a few traits to new file.
  cpp/include/cudf/ast/detail/device_data_references.hpp
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/include/cudf/ast/detail/expression_parser.hpp
Due: clang-format

Add support for the cuda_async_memory_resource
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/java/ai/rapids/cudf/RmmAllocationMode.java
  java/src/main/native/src/RmmJni.cpp
Due: clang-format

Fix some returns and compiler warnings in the CRTP.
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
Due: clang-format

Revert "Move device_data_references and a few traits to new file."
  cpp/include/cudf/ast/detail/device_data_references.hpp
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/include/cudf/ast/detail/expression_parser.hpp
Due: clang-format

Consistently use CUDA_DEVICE_CALLABLE rather than __device__.
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
Due: clang-format

Only install thrust when using a non 'system' version
  cpp/cmake/thirdparty/get_thrust.cmake
Due: none

Remove now unnecessary member variable.
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
Due: clang-format

Comments and error checking
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/native/src/RmmJni.cpp
Due: clang-format

save work related to byte-range collection
  cpp/include/cudf/io/datasource.hpp
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/io/datasource.pxd
  python/cudf/cudf/_lib/io/datasource.pyx
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/utils/ioutils.py
Due: clang-format, mypy

review feedback
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/java/ai/rapids/cudf/RmmAllocationMode.java
  java/src/main/native/src/RmmJni.cpp
  java/src/test/java/ai/rapids/cudf/RmmTest.java
Due: clang-format

Corner case to support both NaN/Null equal
  cpp/include/cudf/reshape.hpp
  cpp/src/reshape/one_hot_encoding.cu
  python/cudf/cudf/_lib/cpp/reshape.pxd
  python/cudf/cudf/_lib/reshape.pyx
  python/cudf/cudf/core/series.py
Due: clang-format, mypy

Review changes
  cpp/src/io/parquet/writer_impl.cu
Due: clang-format

Fix multi hive-partition parquet reading in dask-cudf (#9122)
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Due: mypy

update test
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

Improve javadocs as per PR comments
  java/src/main/java/ai/rapids/cudf/ColumnView.java
Due: none

fix cython merge error; YOLO
  cpp/src/io/orc/stripe_enc.cu
  python/cudf/cudf/_lib/orc.pyx
Due: clang-format

Fix JNI code for left semi and anti joins
  java/src/main/native/src/TableJni.cpp
Due: clang-format

Add ASYNC to the limit test
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/test/java/ai/rapids/cudf/RmmTest.java
Due: none

Add test that shows managed + async throws
  java/src/test/java/ai/rapids/cudf/RmmTest.java
Due: none

code cleanup, remove redundent contains_list operator
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/groupby/sort/scan.cpp
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/src/structs/utilities.cpp
  cpp/src/structs/utilities.hpp
Due: clang-format

Move shmem_per_thread to parser since it's not needed on device.
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/src/join/conditional_join.cu
  cpp/src/transform/compute_column.cu
Due: clang-format

Go back to using auto.
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
Due: clang-format

Fix seeds for rngs.
  python/cudf/cudf/tests/test_rolling.py
Due: mypy

Doc for dataframe gen
  python/cudf/cudf/tests/test_rolling.py
Due: mypy

add hard limit
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/native/src/RmmJni.cpp
  java/src/test/java/ai/rapids/cudf/RmmTest.java
Due: clang-format

add mix max bounds for random dataframe generator numeric types
  python/cudf/cudf/testing/dataset_generator.py
Due: mypy

Improve comments and naming.
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/src/hash/md5_hash.cu
Due: clang-format

Remove unused seed from MD5Hash constructor.
  cpp/include/cudf/detail/utilities/hash_functions.cuh
Due: clang-format

Expand detail namespace.
  cpp/src/hash/md5_hash.cu
Due: clang-format

Remove seed and default constructors.
  cpp/include/cudf/detail/utilities/hash_functions.cuh
Due: clang-format

Move MD5 implementations from hash_functions.cuh to md5_hash.cu because they are only used in that file.
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/src/hash/md5_hash.cu
Due: clang-format

enable byte_ranges optimization for open file-like
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/utils/ioutils.py
Due: mypy
