Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

refactor
  python/cudf/cudf/testing/_utils.py
  python/cudf/cudf/tests/test_binops.py
  python/cudf/cudf/tests/test_joining.py
  python/cudf/cudf/tests/test_string.py
Due: mypy

pin
  conda/recipes/libcudf_kafka/meta.yaml
Due: none

Bypass binop for all null output.
  python/cudf/cudf/core/frame.py
Due: mypy

Add in JNI APIs for scan, replace_nulls, group_by.scan, and group_by.replace_nulls (#8503)
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/NullEquality.java
  java/src/main/java/ai/rapids/cudf/NullPolicy.java
  java/src/main/java/ai/rapids/cudf/ReplacePolicy.java
  java/src/main/java/ai/rapids/cudf/ReplacePolicyWithColumn.java
  java/src/main/java/ai/rapids/cudf/ScanType.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/main/native/src/TableJni.cpp
  java/src/main/native/src/prefix_sum.cu
  java/src/main/native/src/prefix_sum.hpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: clang-format

fixed failing tests-- infer_dtype
  python/cudf/cudf/utils/dtypes.py
Due: mypy

cleaning
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  cpp/src/table/table_view.cpp
  python/cudf/cudf/_lib/io/utils.pxd
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
Due: clang-format

Update python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/_lib/utils.pyx
Due: none

fix NA cases and add tests
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/cpp/scalar/scalar.pxd
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/tests/test_list.py
Due: mypy

cleanup
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/scalar.pyx
Due: none

move debug instructions into CONTRIBUTING.md
  CONTRIBUTING.md
  cpp/docs/DEVELOPER_GUIDE.md
Due: none

fix wording in .md file
  CONTRIBUTING.md
Due: none

added DeprecationWarning
  python/cudf/cudf/core/column/string.py
Due: mypy

Adding new aggregations: M2, MERGE_VARIANCES, MERGE_STDS
  cpp/CMakeLists.txt
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_merge_variances.cu
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/src/groupby/sort/group_std.cu
Due: clang-format

fix typo
  python/cudf/cudf/core/column/string.py
Due: mypy

cleanup logic
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/indexing.py
Due: mypy

review updates, and move _ensure_filesystem to ioutils.py
  python/cudf/cudf/io/json.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/utils/ioutils.py
Due: mypy

revert traits, use explicit specialization
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/utilities/type_checks.cpp
Due: clang-format

Optimize integrated overflow checking
  cpp/src/strings/repeat_strings.cu
Due: clang-format

Add a parameter to allow turning on/off overflow checking
  cpp/include/cudf/strings/repeat_strings.hpp
  cpp/src/strings/repeat_strings.cu
Due: clang-format

.
  python/cudf/cudf/core/column/string.py
Due: mypy

.
  python/cudf/cudf/_lib/types.pyx
Due: none

Added cp check for list like feature
  python/cudf/cudf/api/types.py
Due: mypy

conda recipe update
  conda/recipes/libcudf/meta.yaml
Due: none

footer
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Due: clang-format

quantile-changes
  python/cudf/cudf/core/column/numerical_base.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_stats.py
Due: mypy

ORC - Support reading multiple orc files/buffers in a single operation (#8142)
  cpp/examples/basic/CMakeLists.txt
  cpp/include/cudf/io/orc.hpp
  cpp/src/io/orc/orc.cpp
  cpp/src/io/orc/orc.h
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/tests/io/orc_test.cpp
  python/cudf/cudf/_lib/cpp/io/orc.pxd
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/io/json.py
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/utils/ioutils.py
Due: clang-format, mypy

add confluent-kafka
  ci/gpu/build.sh
Due: none

Implement overflow checking
  cpp/src/strings/repeat_strings.cu
Due: clang-format

.
  python/cudf/cudf/core/column/categorical.py
Due: mypy

review.
  cpp/src/utilities/type_checks.cpp
Due: clang-format

.
  cpp/src/utilities/type_checks.cpp
Due: clang-format

clean ups
  cpp/src/copying/get_element.cu
  cpp/tests/copying/get_value_tests.cpp
Due: clang-format

cleanup includes
  cpp/src/binaryop/compiled/binary_ops.cu
Due: clang-format

reoorg code, remove binops_custom.cu
  cpp/CMakeLists.txt
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/src/binaryop/compiled/binary_ops.hpp
  cpp/src/binaryop/compiled/binops_custom.cu
Due: clang-format

rename binops_custom.cuh to binary_ops.cuh
  cpp/src/binaryop/compiled/ATan2.cu
  cpp/src/binaryop/compiled/Add.cu
  cpp/src/binaryop/compiled/BitwiseAnd.cu
  cpp/src/binaryop/compiled/BitwiseOr.cu
  cpp/src/binaryop/compiled/BitwiseXor.cu
  cpp/src/binaryop/compiled/Div.cu
  cpp/src/binaryop/compiled/FloorDiv.cu
  cpp/src/binaryop/compiled/Greater.cu
  cpp/src/binaryop/compiled/GreaterEqual.cu
  cpp/src/binaryop/compiled/Less.cu
  cpp/src/binaryop/compiled/LessEqual.cu
  cpp/src/binaryop/compiled/LogBase.cu
  cpp/src/binaryop/compiled/LogicalAnd.cu
  cpp/src/binaryop/compiled/LogicalOr.cu
  cpp/src/binaryop/compiled/Mod.cu
  cpp/src/binaryop/compiled/Mul.cu
  cpp/src/binaryop/compiled/NullMax.cu
  cpp/src/binaryop/compiled/NullMin.cu
  cpp/src/binaryop/compiled/PMod.cu
  cpp/src/binaryop/compiled/Pow.cu
  cpp/src/binaryop/compiled/PyMod.cu
  cpp/src/binaryop/compiled/ShiftLeft.cu
  cpp/src/binaryop/compiled/ShiftRight.cu
  cpp/src/binaryop/compiled/ShiftRightUnsigned.cu
  cpp/src/binaryop/compiled/Sub.cu
  cpp/src/binaryop/compiled/TrueDiv.cu
  cpp/src/binaryop/compiled/binary_ops.cuh
  cpp/src/binaryop/compiled/equality_ops.cu
Due: clang-format

merge conflict updates
  cpp/src/io/orc/reader_impl.cu
  python/cudf/cudf/_lib/orc.pyx
Due: clang-format

Fix orc_reader_benchmark.cpp compile error
  cpp/benchmarks/io/orc/orc_reader_benchmark.cpp
Due: clang-format

It is amazing how much chaos two ']' can cause in python
  python/cudf/cudf/_lib/orc.pyx
Due: none

rev.
  cpp/src/utilities/type_checks.cpp
Due: clang-format

Add read_sync that returns a future to wait on.
  cpp/include/cudf/io/datasource.hpp
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/utilities/datasource.cpp
  cpp/src/io/utilities/file_io_utilities.cpp
  cpp/src/io/utilities/file_io_utilities.hpp
Due: clang-format
