Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Add support for passing a known join size to the detail API and improve default argument handling.
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join.hpp
Due: clang-format

Inserting a `cudf.NA` into a DataFrame (#8923)
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/utils/utils.py
Due: mypy

Add public size-estimation APIs.
  cpp/include/cudf/join.hpp
Due: clang-format

Fix some erroneous documentation.
  cpp/include/cudf/join.hpp
Due: clang-format

Add implementation of size-estimation APIs.
  cpp/src/join/conditional_join.cu
Due: clang-format

s3 via pyarrow
  cpp/include/cudf/io/datasource.hpp
  python/cudf/cudf/_lib/cpp/io/types.pxd
  python/cudf/cudf/_lib/csv.pyx
  python/cudf/cudf/_lib/io/utils.pyx
  python/cudf/cudf/utils/ioutils.py
Due: clang-format, mypy

Switch to using an optional for the output size parameter.
  cpp/include/cudf/join.hpp
  cpp/src/join/conditional_join.cu
  cpp/src/join/conditional_join.hpp
Due: clang-format

Support casting with Pandas dtype aliases (#8920)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_column.py
  python/cudf/cudf/utils/dtypes.py
Due: mypy

Add a check for join output sizes that exceed cudf limits.
  cpp/src/join/conditional_join.cu
Due: clang-format

updates
  python/cudf/cudf/datasets.py
Due: mypy

Move evaluator into separate header.
  cpp/include/cudf/ast/detail/evaluator.cuh
  cpp/include/cudf/ast/detail/transform.cuh
  cpp/src/ast/transform.cu
  cpp/src/join/conditional_join_kernels.cuh
Due: clang-format

Move evaluator.cuh to expression_evaluator.cuh for consistency in naming.
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
  cpp/src/ast/transform.cu
  cpp/src/join/conditional_join_kernels.cuh
Due: clang-format

Fix a possible cause of UB.
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
Due: clang-format

fix autosummary with workarounds
  docs/cudf/source/_templates/autosummary/class_with_autosummary.rst
  docs/cudf/source/api_docs/series.rst
  docs/cudf/source/conf.py
Due: mypy

refactor init docs
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/datetimes.py
  python/cudf/cudf/core/window/rolling.py
Due: mypy

refactor init docs
  python/cudf/cudf/core/buffer.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/scalar.py
Due: mypy

Fix copy_docstring calls
  python/cudf/cudf/core/series.py
Due: mypy

fix docs
  docs/cudf/source/api_docs/dataframe.rst
  docs/cudf/source/api_docs/index_objects.rst
  docs/cudf/source/conf.py
  python/cudf/cudf/core/dataframe.py
Due: mypy

fix large input bug in multibyte_split where offsets were not accounted for correctly
  cpp/include/cudf/io/text/data_chunk_source.hpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

improve data_chunk_reader docs
  cpp/include/cudf/io/text/data_chunk_source.hpp
Due: clang-format

make multibyte_split accept data_chunk_source as a const& arg
  cpp/include/cudf/io/text/data_chunk_source.hpp
  cpp/include/cudf/io/text/data_chunk_source_factories.hpp
  cpp/include/cudf/io/text/multibyte_split.hpp
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

Add spans and more include guidance
  cpp/docs/DEVELOPER_GUIDE.md
Due: none

add tile_state.hpp to meta.yaml
  conda/recipes/libcudf/meta.yaml
Due: none

add notes to read_orc APIs
  cpp/include/cudf/io/orc.hpp
  python/cudf/cudf/utils/ioutils.py
Due: clang-format, mypy

addressed review comments
  cpp/tests/copying/concatenate_tests.cu
  cpp/tests/utilities/column_utilities.cu
Due: clang-format

Add pytests for select columns
  python/cudf/cudf/tests/test_parquet.py
Due: mypy

Add stream and memory-resource parameters to struct-scalar copy ctor (#8901)
  cpp/include/cudf/scalar/scalar.hpp
  cpp/src/scalar/scalar.cpp
  cpp/src/strings/copying/concatenate.cu
  cpp/tests/scalar/scalar_test.cpp
Due: clang-format

include cpack
  cpp/CMakeLists.txt
Due: none

removed fillna
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
Due: mypy

added example
  python/cudf/cudf/core/series.py
Due: mypy

Use JoinNoneValue as empty value sentinel
  cpp/src/join/hash_join.cu
Due: clang-format

Code formatting
  cpp/src/join/hash_join.cu
Due: clang-format

Revert "Add a check for join output sizes that exceed cudf limits."
  cpp/src/join/conditional_join.cu
Due: clang-format

Fix arrow source test with new API
  cpp/tests/io/arrow_io_source_test.cpp
Due: clang-format

More descriptive naming: row_contains_null instead of build_predicate
  cpp/src/join/hash_join.cu
Due: clang-format

Use cppclass for packed_columns cdef
  python/cudf/cudf/_lib/cpp/copying.pxd
Due: none

Apply suggestions from code review
  cpp/include/cudf/io/json.hpp
  cpp/src/io/csv/reader_impl.cu
  cpp/src/io/csv/reader_impl.hpp
Due: clang-format

add missing empty line
  cpp/include/cudf/io/json.hpp
Due: clang-format

review suggestion
  cpp/include/cudf/io/orc.hpp
Due: clang-format
