Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Add tests of null literals.
  java/src/test/java/ai/rapids/cudf/ast/CompiledExpressionTest.java
Due: none

Add null literal support to conditional joins.
  cpp/src/join/conditional_join.cu
Due: clang-format

make cudf.dtype return only cudf supported types
  python/cudf/cudf/_fuzz_testing/csv.py
  python/cudf/cudf/_fuzz_testing/json.py
  python/cudf/cudf/_fuzz_testing/utils.py
  python/cudf/cudf/_lib/types.pyx
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/numerical.py
  python/cudf/cudf/core/column/timedelta.py
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_dtypes.py
  python/cudf/cudf/tests/test_numerical.py
  python/cudf/cudf/tests/test_replace.py
  python/cudf/cudf/tests/test_repr.py
  python/cudf/cudf/utils/dtypes.py
Due: mypy

Fix parameter checking for `normalize`
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

Add missing detail API docs
  cpp/include/cudf/detail/sequence.hpp
Due: clang-format

ewmvar plumbed to return ewma as a placeholder
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/reductions/scan/scan.cuh
  cpp/src/reductions/scan/scan_inclusive.cu
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/cpp/aggregation.pxd
  python/cudf/cudf/core/window/ewm.py
Due: clang-format, mypy

Fix typo
  cpp/include/cudf/datetime.hpp
Due: clang-format

Corrections: use sort_values()
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_multiindex.py
  python/cudf/cudf/tests/test_replace.py
Due: mypy

Multiple header fixes from Chris
  cpp/include/cudf/detail/date_sequence.cuh
  cpp/src/filling/date_sequence.cu
  cpp/tests/filling/sequence_tests.cpp
Due: clang-format

Implement timestamp ceil (#8942)
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/wrappers/durations.hpp
  cpp/src/datetime/datetime_ops.cu
  cpp/tests/datetime/datetime_ops_test.cpp
Due: clang-format

Enhance casting tests for decimal128
  cpp/tests/unary/cast_tests.cpp
Due: clang-format

Move static array into datetime_ops.cu
  cpp/include/cudf/detail/datetime_ops.cuh
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

Fix cudf::strings::is_fixed_point checking of overflow for decimal32 (#9093)
  cpp/include/cudf/strings/detail/convert/fixed_point.cuh
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/tests/strings/fixed_point_tests.cpp
Due: clang-format

Use direct months type initialization, not alias
  cpp/include/cudf/detail/datetime_ops.cuh
Due: clang-format

Remove stale comments
  cpp/include/cudf/detail/date_sequence.cuh
Due: clang-format

add test for merge t-digest
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

another test
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: none

Minor corrections
  python/cudf/cudf/tests/test_indexing.py
  python/cudf/cudf/tests/test_replace.py
Due: mypy

Update cpp/src/ast/expression_parser.cpp
  cpp/src/ast/expression_parser.cpp
Due: clang-format

Refactoring add calendrical month into a function; header cleanups
  cpp/include/cudf/detail/date_sequence.cuh
  cpp/include/cudf/detail/datetime_ops.cuh
  cpp/src/datetime/datetime_ops.cu
Due: clang-format

Removing helper struct
  cpp/include/cudf/detail/date_sequence.cuh
Due: clang-format

add support for percentile lookup
  python/dask_cudf/dask_cudf/backends.py
Due: mypy

fix read_partition for multi-piece hive reading
  python/dask_cudf/dask_cudf/io/parquet.py
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Due: mypy

Update python/dask_cudf/dask_cudf/backends.py
  python/dask_cudf/dask_cudf/backends.py
Due: mypy

handle pyarrow/np/pd inputs.
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_series.py
Due: mypy

add test coverage
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Due: mypy

rename np<->libcudf type map
  python/cudf/cudf/_lib/aggregation.pyx
  python/cudf/cudf/_lib/binaryop.pyx
  python/cudf/cudf/_lib/column.pyx
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/reduce.pyx
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/_lib/string_casting.pyx
  python/cudf/cudf/_lib/strings/convert/convert_fixed_point.pyx
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/_lib/types.pyx
  python/cudf/cudf/_lib/unary.pyx
  python/cudf/cudf/core/dtypes.py
  python/cudf/cudf/utils/dtypes.py
Due: mypy

misc
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/reduce.pyx
Due: none

Merge conflict fixes
  cpp/include/cudf/strings/detail/convert/fixed_point.cuh
  cpp/src/strings/convert/convert_fixed_point.cu
Due: clang-format

add back read_csv impl function get_data_types_from_column_names
  cpp/src/io/csv/reader_impl.cu
Due: clang-format

read_json: fix missing visitor_overload include
  cpp/src/io/json/reader_impl.cu
Due: clang-format

read_avro: update const positions
  cpp/src/io/avro/avro_gpu.cu
  cpp/src/io/avro/reader_impl.cu
Due: clang-format

adjust const positions
  cpp/src/io/avro/avro_gpu.cu
Due: clang-format

adjust const positions
  cpp/src/io/avro/avro_gpu.h
Due: clang-format

null mask row group alignment - lists only
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stripe_enc.cu
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

remove `requirements` in cudf installation
  CONTRIBUTING.md
Due: none

remove folder specification in cudf installation
  CONTRIBUTING.md
Due: none

remove contributor label in C++ libcudf install instructions
  CONTRIBUTING.md
Due: none

remove contributor label in dask-cudf install instructions
  CONTRIBUTING.md
Due: none

add `installing` in cudf section title
  CONTRIBUTING.md
Due: none

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
