Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Update ci/gpu/build.sh
  ci/gpu/build.sh
Due: none

formatting
  python/cudf/cudf/core/udf/pipeline.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: mypy

Cleanups: remove unnecessary nullptr check + insert_if instead of insert_if_n
  cpp/src/join/hash_join.cu
Due: clang-format

bugfix
  python/cudf/cudf/core/udf/pipeline.py
Due: mypy

remove header
  cpp/src/transform/transform.cpp
Due: clang-format

fix bool typing
  python/cudf/cudf/core/udf/lowering.py
  python/cudf/cudf/core/udf/typing.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: mypy

parameterized resolutions
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

renamed functions
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/series.py
Due: mypy

Reorg
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/resample.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

template kernels
  python/cudf/cudf/core/udf/pipeline.py
Due: mypy

switch back to forall
  python/cudf/cudf/core/udf/pipeline.py
Due: mypy

implement construct_signature
  python/cudf/cudf/core/udf/pipeline.py
Due: mypy

Update cmake to find nvcomp in new manner
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_nvcomp.cmake
Due: none

Update build.sh
  ci/gpu/build.sh
Due: none

support offsets
  python/cudf/cudf/core/udf/pipeline.py
Due: mypy

.
  cpp/src/io/csv/writer_impl.cu
  cpp/tests/io/csv_test.cpp
Due: clang-format

cache kernels
  python/cudf/cudf/core/udf/pipeline.py
  python/cudf/cudf/utils/cudautils.py
Due: mypy

refactored tests
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

tmp
  ci/gpu/build.sh
Due: none

Update doxygen
  cpp/include/cudf/lists/drop_list_duplicates.hpp
Due: clang-format

Change preconditioning
  cpp/src/lists/drop_list_duplicates.cu
Due: clang-format

Some dateoffset/date_range fixes
  python/cudf/cudf/core/tools/datetimes.py
Due: mypy

Add s test
  python/cudf/cudf/tests/test_groupby.py
Due: mypy

pd bits scan
  cpp/src/io/orc/stripe_enc.cu
Due: clang-format

Implemented bindings for `ceil` timestamp operation (#9141)
  python/cudf/cudf/_lib/cpp/datetime.pxd
  python/cudf/cudf/_lib/datetime.pyx
  python/cudf/cudf/core/column/datetime.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

remove unnecessary code
  python/cudf/cudf/tests/test_groupby.py
Due: mypy

misc doc fixes
  python/cudf/cudf/core/groupby/groupby.py
Due: mypy

copyright
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/window/rolling.py
  python/cudf/cudf/tests/test_multiindex.py
Due: mypy

add initial datagenerator struct support
  python/cudf/cudf/testing/dataset_generator.py
Due: mypy

Revert "create new PR for pearson groupby correlation"
  python/cudf/cudf/_lib/cpp/aggregation.pxd
Due: none

Revert "adding corr. func in python"
  python/cudf/cudf/_lib/cpp/aggregation.pxd
  python/cudf/cudf/core/groupby/groupby.py
Due: mypy

Fix and properly comment early return.
  cpp/src/join/conditional_join.cu
Due: clang-format

Implement new may_evaluate_null method.
  cpp/include/cudf/ast/expressions.hpp
Due: clang-format

Remove contains_null_literal function and replace its use with may_evaluate_null.
  cpp/include/cudf/ast/detail/expression_parser.hpp
  cpp/include/cudf/ast/expressions.hpp
  cpp/src/ast/expression_parser.cpp
  cpp/src/join/conditional_join.cu
  cpp/src/transform/compute_column.cu
Due: clang-format

Address PR comments.
  cpp/include/cudf/ast/detail/operators.hpp
  cpp/tests/ast/transform_tests.cpp
  cpp/tests/join/conditional_join_tests.cu
Due: clang-format

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
