Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Update doxygen
  cpp/include/cudf/strings/repeat_strings.hpp
Due: clang-format

Add typed tests for various types of `repeat_times` column
  cpp/tests/strings/repeat_strings_tests.cpp
Due: clang-format

Fix bug in replace_with_backrefs when group has greedy quantifier
  cpp/src/strings/extract.cu
  cpp/src/strings/regex/regex.cuh
  cpp/src/strings/regex/regex.inl
  cpp/src/strings/replace/backref_re.cu
  cpp/src/strings/replace/backref_re.cuh
  cpp/tests/strings/replace_regex_tests.cpp
Due: clang-format

Fix doxygen
  cpp/include/cudf/strings/repeat_strings.hpp
Due: clang-format

adding test cases
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/column_accessor.py
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

Simplify overflow checking
  cpp/src/strings/repeat_strings.cu
Due: clang-format

.
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/tests/test_categorical.py
Due: mypy

Remove strings_count parameter from create_chars_child_column
  cpp/include/cudf/strings/detail/copy_if_else.cuh
  cpp/include/cudf/strings/detail/copy_range.cuh
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/include/cudf/strings/detail/merge.cuh
  cpp/include/cudf/strings/detail/strings_column_factories.cuh
  cpp/include/cudf/strings/detail/utilities.cuh
  cpp/include/cudf/strings/detail/utilities.hpp
  cpp/src/hash/md5_hash.cu
  cpp/src/io/csv/durations.cu
  cpp/src/replace/clamp.cu
  cpp/src/replace/nulls.cu
  cpp/src/replace/replace.cu
  cpp/src/reshape/interleave_columns.cu
  cpp/src/strings/combine/join.cu
  cpp/src/strings/convert/convert_booleans.cu
  cpp/src/strings/convert/convert_datetime.cu
  cpp/src/strings/convert/convert_durations.cu
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/src/strings/convert/convert_floats.cu
  cpp/src/strings/convert/convert_integers.cu
  cpp/src/strings/convert/convert_ipv4.cu
  cpp/src/strings/convert/convert_urls.cu
  cpp/src/strings/filling/fill.cu
  cpp/src/strings/padding.cu
  cpp/src/strings/repeat_strings.cu
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/utilities.cu
  cpp/src/text/detokenize.cu
  cpp/src/text/generate_ngrams.cu
  cpp/src/text/ngrams_tokenize.cu
Due: clang-format

fix non nested case
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/tests/test_list.py
Due: mypy

Fix debug compile error in gather_struct_tests.cpp (#8554)
  cpp/tests/copying/gather_struct_tests.cpp
Due: clang-format

Make `cudf.api.types` imports consistent (#8571)
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/utils/dtypes.py
Due: mypy

Just re-order code
  cpp/src/strings/repeat_strings.cu
Due: clang-format

.
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/cut.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/utils/utils.py
Due: mypy

wip
  cpp/src/copying/copy.cu
Due: clang-format

initial changes
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/scalar.py
Due: mypy

re-add flag for decimal to float64
  cpp/include/cudf/io/orc.hpp
  cpp/src/io/orc/orc_gpu.h
Due: clang-format

changed struct return result
  python/cudf/cudf/_lib/cpp/scalar/scalar.pxd
  python/cudf/cudf/_lib/scalar.pyx
Due: none

wip
  cpp/src/copying/copy.cu
  cpp/tests/copying/copy_if_else_nested_tests.cpp
Due: clang-format

use rowgroup boundaries in gather_stripes pt 1
  cpp/include/cudf/utilities/span.hpp
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Due: clang-format

add utility call to json_path and concatenate
  cpp/src/strings/copying/concatenate.cu
  cpp/src/strings/json/json_path.cu
  cpp/src/strings/utilities.cu
Due: clang-format

Implement groupby `MERGE_LISTS` and `MERGE_SETS` aggregates (#8436)
  cpp/CMakeLists.txt
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_merge_lists.cu
  cpp/src/groupby/sort/group_reductions.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/groupby/merge_lists_tests.cpp
  cpp/tests/groupby/merge_sets_tests.cpp
Due: clang-format

Modernize libcudf basic example CMakeFile; updates CI build tests (#8568)
  ci/gpu/build.sh
  ci/release/update-version.sh
  cpp/examples/basic/CMakeLists.txt
Due: none

initial
  cpp/src/copying/get_element.cu
  cpp/tests/copying/get_value_tests.cpp
Due: clang-format

Modified read_orc to accept a single stripes list and expand it
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_orc.py
Due: mypy

Remove strings_count parameter from cudf::strings::detail::create_chars_child_column (#8576)
  cpp/include/cudf/strings/detail/copy_if_else.cuh
  cpp/include/cudf/strings/detail/copy_range.cuh
  cpp/include/cudf/strings/detail/gather.cuh
  cpp/include/cudf/strings/detail/merge.cuh
  cpp/include/cudf/strings/detail/strings_column_factories.cuh
  cpp/include/cudf/strings/detail/utilities.cuh
  cpp/include/cudf/strings/detail/utilities.hpp
  cpp/src/hash/md5_hash.cu
  cpp/src/io/csv/durations.cu
  cpp/src/replace/clamp.cu
  cpp/src/replace/nulls.cu
  cpp/src/replace/replace.cu
  cpp/src/reshape/interleave_columns.cu
  cpp/src/strings/combine/join.cu
  cpp/src/strings/convert/convert_booleans.cu
  cpp/src/strings/convert/convert_datetime.cu
  cpp/src/strings/convert/convert_durations.cu
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/src/strings/convert/convert_floats.cu
  cpp/src/strings/convert/convert_integers.cu
  cpp/src/strings/convert/convert_ipv4.cu
  cpp/src/strings/convert/convert_urls.cu
  cpp/src/strings/copying/concatenate.cu
  cpp/src/strings/filling/fill.cu
  cpp/src/strings/json/json_path.cu
  cpp/src/strings/padding.cu
  cpp/src/strings/repeat_strings.cu
  cpp/src/strings/replace/replace.cu
  cpp/src/strings/utilities.cu
  cpp/src/text/detokenize.cu
  cpp/src/text/generate_ngrams.cu
  cpp/src/text/ngrams_tokenize.cu
Due: clang-format

Replace auto, work around CUDA compiler warning, clean up printing.
  cpp/include/cudf_test/type_lists.hpp
  cpp/tests/reductions/scan_tests.cpp
Due: clang-format

finish gather_stripes
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

More different tests
  cpp/tests/utilities_tests/type_check_tests.cpp
Due: clang-format

Fix exclusive scan when including nulls and improve testing (#8478)
  cpp/include/cudf_test/type_lists.hpp
  cpp/src/reductions/scan/scan.cuh
  cpp/src/reductions/scan/scan_exclusive.cu
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/tests/reductions/scan_tests.cpp
Due: clang-format

remove last wrong use of row_index_stride_
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stats_enc.cu
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Due: clang-format

Remove checking if an unsigned value is less than zero
  cpp/src/aggregation/result_cache.cpp
Due: clang-format

Added thread pool
  cpp/src/io/utilities/file_io_utilities.cpp
  cpp/src/io/utilities/file_io_utilities.hpp
  cpp/src/io/utilities/thread_pool.hpp
Due: clang-format

Use default Dask optimizer
  python/dask_cudf/dask_cudf/core.py
Due: mypy

replace String compiled binary_ops with experiemntal::binary_operation
  cpp/src/binaryop/binaryop.cpp
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/src/binaryop/compiled/binary_ops.hpp
  cpp/src/binaryop/compiled/binops_custom.cu
Due: clang-format

Move pickle to top level imports
  python/cudf/cudf/_lib/copying.pyx
Due: none

use std::iota instead of thrust::sequence
  cpp/tests/copying/concatenate_tests.cpp
Due: clang-format

Add flags for converting decimal to float64
  cpp/include/cudf/io/orc.hpp
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/reader_impl.hpp
  cpp/src/io/orc/stripe_data.cu
  python/cudf/cudf/_lib/cpp/io/orc.pxd
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

Remove checking if an unsigned value is less than zero (#8579)
  cpp/src/aggregation/result_cache.cpp
Due: clang-format
