Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

init orc_column_view members >: (
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Add tests for structs
  cpp/tests/lists/drop_list_duplicates_tests.cpp
Due: clang-format

Fix test for structs
  cpp/tests/rolling/collect_ops_test.cpp
Due: clang-format

Only install thrust when using a non 'system' version (#9206)
  cpp/cmake/thirdparty/get_thrust.cmake
Due: none

Add min and max bounds for random dataframe generator numeric types (#9211)
  python/cudf/cudf/testing/dataset_generator.py
Due: mypy

ignore data, nullmask, offset if parent size is empty
  cpp/include/cudf/column/column_view.hpp
  cpp/src/column/column_view.cpp
  cpp/tests/column/column_view_shallow_test.cpp
Due: clang-format

apply protocol update changes
  python/cudf/cudf/core/df_protocol.py
Due: mypy

Fix JNI code for left semi and anti joins (#9207)
  java/src/main/native/src/TableJni.cpp
Due: clang-format

address many reviews
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/udf/lowering.py
  python/cudf/cudf/core/udf/pipeline.py
  python/cudf/cudf/core/udf/typing.py
  python/cudf/cudf/utils/cudautils.py
Due: mypy

cleanup
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: mypy

support CUDA async memory resource in JNI (#9201)
  java/src/main/java/ai/rapids/cudf/Rmm.java
  java/src/main/java/ai/rapids/cudf/RmmAllocationMode.java
  java/src/main/native/src/RmmJni.cpp
  java/src/test/java/ai/rapids/cudf/RmmTest.java
Due: clang-format

minor updtes
  python/cudf/cudf/core/udf/pipeline.py
Due: mypy

Use _named_columns instead
  python/cudf/cudf/core/window/rolling.py
Due: mypy

Merge changes from nvcomp -fPIC
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_nvcomp.cmake
Due: none

Fix some libcudf calls not passing the stream parameter
  cpp/src/groupby/sort/group_nunique.cu
  cpp/src/groupby/sort/group_replace_nulls.cu
  cpp/src/lists/combine/concatenate_list_elements.cu
  cpp/src/lists/copying/gather.cu
  cpp/src/merge/merge.cu
  cpp/src/replace/clamp.cu
  cpp/src/replace/replace.cu
  cpp/src/rolling/grouped_rolling.cu
  cpp/src/rolling/rolling_detail.cuh
  cpp/src/strings/filling/fill.cu
Due: clang-format

missing values support for int, float and categorical
  python/cudf/cudf/core/df_protocol.py
  python/cudf/cudf/tests/test_df_protocol.py
Due: mypy

change check_value to return pair
  cpp/src/strings/convert/convert_datetime.cu
Due: clang-format

most tests passing with reasonable defaults - arrow_filesystem=True not stable
  python/cudf/cudf/io/parquet.py
  python/cudf/cudf/utils/ioutils.py
  python/dask_cudf/dask_cudf/io/parquet.py
Due: mypy

Update python/cudf/cudf/_lib/sort.pyx
  python/cudf/cudf/_lib/sort.pyx
Due: none

Update names.
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
Due: clang-format

fix bug
  python/cudf/cudf/io/parquet.py
Due: mypy

pushdown list null masks
  cpp/src/io/orc/writer_impl.cu
Due: clang-format

Fix comments.
  cpp/include/cudf/ast/detail/expression_evaluator.cuh
Due: clang-format

Review changes
  cpp/src/io/parquet/reader_impl.cu
Due: clang-format

add missing stream parm in internal copy.cu fn
  cpp/src/copying/copy.cu
Due: clang-format

optimize concat
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_concat.py
  python/cudf/cudf/tests/test_csv.py
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_orc.py
  python/cudf/cudf/tests/test_query.py
Due: mypy

Update dataframe.py
  python/cudf/cudf/core/dataframe.py
Due: mypy

Reviews: Using directives, and or.
  cpp/include/cudf/detail/gather.cuh
  cpp/tests/copying/gather_struct_tests.cpp
Due: clang-format

is_shallow_equal ignore children states for empty column. (not children type)
  cpp/include/cudf/column/column_view.hpp
  cpp/src/column/column_view.cpp
  cpp/tests/column/column_view_shallow_test.cpp
Due: clang-format

Fix all but one case where index name duplication could fail.
  python/cudf/cudf/core/multiindex.py
Due: mypy

Add backwards compatibility layer for pickled objects.
  python/cudf/cudf/core/multiindex.py
Due: mypy

Add support for single-digits in cudf::to_timestamps (#9173)
  cpp/src/strings/convert/convert_datetime.cu
  cpp/tests/strings/datetime_tests.cpp
Due: clang-format

updates to read_text
  python/cudf/cudf/io/text.py
  python/cudf/cudf/tests/data/text/chess.pgn
  python/cudf/cudf/tests/test_text.py
  python/cudf/cudf/utils/ioutils.py
Due: mypy

Pass ignore_index by keyword everywhere.
  python/cudf/cudf/_lib/copying.pyx
  python/cudf/cudf/_lib/hash.pyx
  python/cudf/cudf/_lib/interop.pyx
  python/cudf/cudf/_lib/orc.pyx
  python/cudf/cudf/_lib/parquet.pyx
  python/cudf/cudf/_lib/quantiles.pyx
  python/cudf/cudf/_lib/reshape.pyx
  python/cudf/cudf/_lib/search.pyx
  python/cudf/cudf/_lib/sort.pyx
  python/cudf/cudf/_lib/strings/combine.pyx
  python/cudf/cudf/_lib/transform.pyx
  python/cudf/cudf/_lib/transpose.pyx
Due: none

Update parquet.py
  python/dask_cudf/dask_cudf/io/parquet.py
Due: mypy

Fix `gather()` for `STRUCT` inputs with no nulls in members. (#9194)
  cpp/include/cudf/detail/gather.cuh
  cpp/tests/copying/gather_struct_tests.cpp
Due: clang-format

Rename structs
  cpp/src/lists/drop_list_duplicates.cu
Due: clang-format

Updated python and cuda versions
  ci/cpu/build.sh
  ci/cpu/prebuild.sh
  ci/cpu/upload.sh
  conda/recipes/cudf/meta.yaml
  conda/recipes/cudf_kafka/meta.yaml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  conda/recipes/libcudf/meta.yaml
Due: none

Fix imports.
  python/cudf/cudf/__init__.py
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/core/column/categorical.py
Due: mypy

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
