Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

upper pin dask
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  conda/recipes/custreamz/meta.yaml
  conda/recipes/dask-cudf/meta.yaml
  python/custreamz/dev_requirements.txt
  python/dask_cudf/dev_requirements.txt
  python/dask_cudf/setup.py
Due: mypy

Add quarters to libcudf datetime (#8779)
  cpp/include/cudf/datetime.hpp
  cpp/include/cudf/detail/datetime.hpp
  cpp/src/datetime/datetime_ops.cu
  cpp/tests/datetime/datetime_ops_test.cpp
Due: clang-format

fixed_point fix
  cpp/src/rolling/rolling_detail.cuh
  cpp/tests/rolling/rolling_test.cpp
Due: clang-format

docs
  cpp/src/rolling/rolling_detail.cuh
  cpp/tests/rolling/rolling_test.cpp
Due: clang-format

docfix
  cpp/include/cudf/aggregation.hpp
Due: clang-format

fix spelling mistakes
  cpp/include/cudf/io/text/multibyte_split.hpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

Re-enable JSON tests (#8843)
  cpp/tests/io/json_test.cpp
Due: clang-format

Update python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

break multibyte_split by adding queue/multistate support
  cpp/include/cudf/io/text/trie.hpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

STRINGS changes
  cpp/include/cudf/detail/utilities/integer_utils.hpp
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/include/cudf/fixed_point/temporary.hpp
  cpp/src/strings/convert/convert_fixed_point.cu
  cpp/src/strings/convert/utilities.cuh
Due: clang-format

fix RLE stream size for timestamp columns; add test
  cpp/src/io/orc/writer_impl.cu
  python/cudf/cudf/tests/data/orc/TestOrcFile.largeTimestamps.orc
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

Clean up
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/include/cudf/fixed_point/temporary.hpp
  cpp/src/unary/math_ops.cu
Due: clang-format

Use returned references from emplace_back because c++17
  cpp/src/io/parquet/reader_impl.cu
Due: clang-format

Merge input path in schema
  cpp/src/io/parquet/parquet.cpp
  cpp/src/io/parquet/parquet.hpp
  cpp/src/io/parquet/reader_impl.cu
Due: clang-format

Fix `select_dtypes` to work when non-class dtypes present in dataframe (#8849)
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

add torch minversion="1.6.0"
  python/cudf/cudf/tests/test_cuda_array_interface.py
Due: mypy

initial
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/window/__init__.py
  python/cudf/cudf/core/window/ewm.py
Due: mypy

Refactor build_hash_table and compute_join_output_size to use cuco multimap
  cpp/src/join/hash_join.cu
  cpp/src/join/hash_join.cuh
  cpp/src/join/join_kernels.cuh
Due: clang-format

simplify kernel logic
  cpp/src/strings/combine/join_list_elements.cu
Due: clang-format

std::is_same_v
  cpp/include/cudf/column/column_device_view.cuh
  cpp/include/cudf/detail/aggregation/aggregation.cuh
  cpp/include/cudf/detail/copy_if.cuh
  cpp/include/cudf/detail/utilities/device_operators.cuh
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/include/cudf/fixed_point/temporary.hpp
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/reductions/scan/scan_exclusive.cu
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/src/round/round.cu
Due: clang-format

Use is_same_v instead of is_same<>::value + minor cleanups
  cpp/benchmarks/join/conditional_join_benchmark.cu
  cpp/benchmarks/join/join_benchmark.cu
  cpp/benchmarks/join/join_benchmark_common.hpp
  cpp/benchmarks/join/join_nvbench.cu
Due: clang-format

Fix typo in documentation.
  cpp/include/cudf/join.hpp
Due: clang-format

Remove unused headers
  cpp/benchmarks/join/join_benchmark_common.hpp
Due: clang-format

added test for quarter
  python/cudf/cudf/core/index.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

is_integral & is_arithmetic
  cpp/include/cudf/fixed_point/fixed_point.hpp
  cpp/include/cudf/fixed_point/temporary.hpp
  cpp/include/cudf/utilities/traits.hpp
  cpp/src/reductions/scan/scan_exclusive.cu
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/src/round/round.cu
Due: clang-format

Clean up
  cpp/src/round/round.cu
Due: clang-format

JIN addCalendricalMonths
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/TimestampColumnVectorTest.java
Due: clang-format

JNI isLeapYear
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/TimestampColumnVectorTest.java
Due: clang-format

Get rid of redundant logic
  cpp/benchmarks/join/join_benchmark_common.hpp
Due: clang-format

JNI quarterOfYear
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/TimestampColumnVectorTest.java
Due: clang-format

Add missing include<optional> in binops
  cpp/src/binaryop/compiled/util.cpp
Due: clang-format

docfix
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/rolling.hpp
Due: clang-format

Format update
  java/src/main/native/src/ColumnViewJni.cpp
Due: clang-format

Fixes / cleanup
  cpp/src/quantiles/quantiles_util.hpp
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/src/round/round.cu
Due: clang-format

Java bindings for regex replace (#8847)
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Due: clang-format

replace auto with auto& ref for cast<&>
  cpp/include/cudf/detail/indexalator.cuh
  cpp/src/binaryop/compiled/binary_ops.cu
  cpp/src/column/column_factories.cu
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/reductions/simple.cuh
  cpp/src/replace/nulls.cu
  cpp/src/rolling/rolling_detail.cuh
Due: clang-format

remove commented code
  python/dask_cudf/dask_cudf/io/parquet.py
Due: mypy

initial testings
  python/cudf/cudf/testing/dataset_generator.py
  python/cudf/cudf/tests/test_rolling.py
Due: mypy

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
