Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

Small cleanup (#8534)
  cpp/src/merge/merge.cu
Due: clang-format

re-enable orc tests
  cpp/src/io/orc/reader_impl.cu
  cpp/tests/io/orc_test.cpp
Due: clang-format

supporting NA scalars
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/tests/test_list.py
Due: mypy

.
  python/cudf/cudf/utils/dtypes.py
Due: mypy

flush after writing second JSON line
  cpp/tests/io/arrow_io_source_test.cpp
Due: clang-format

.
  python/cudf/cudf/_lib/types.pyx
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/reshape.py
  python/cudf/cudf/tests/test_categorical.py
  python/cudf/cudf/utils/utils.py
Due: mypy

.
  python/cudf/cudf/core/_internals/where.py
Due: mypy

added to/from arrow tests for decimal32
  python/cudf/cudf/core/column/__init__.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/decimal.py
  python/cudf/cudf/tests/test_decimal.py
Due: mypy

Fix all usages of the iterator utilities functions
  cpp/tests/copying/copy_if_else_nested_tests.cpp
  cpp/tests/copying/get_value_tests.cpp
  cpp/tests/copying/scatter_struct_tests.cpp
  cpp/tests/groupby/argmax_tests.cpp
  cpp/tests/groupby/argmin_tests.cpp
  cpp/tests/groupby/count_scan_tests.cpp
  cpp/tests/groupby/count_tests.cpp
  cpp/tests/groupby/groups_tests.cpp
  cpp/tests/groupby/keys_tests.cpp
  cpp/tests/groupby/max_scan_tests.cpp
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/mean_tests.cpp
  cpp/tests/groupby/median_tests.cpp
  cpp/tests/groupby/min_scan_tests.cpp
  cpp/tests/groupby/min_tests.cpp
  cpp/tests/groupby/nth_element_tests.cpp
  cpp/tests/groupby/nunique_tests.cpp
  cpp/tests/groupby/product_tests.cpp
  cpp/tests/groupby/quantile_tests.cpp
  cpp/tests/groupby/replace_nulls_tests.cpp
  cpp/tests/groupby/std_tests.cpp
  cpp/tests/groupby/sum_of_squares_tests.cpp
  cpp/tests/groupby/sum_scan_tests.cpp
  cpp/tests/groupby/sum_tests.cpp
  cpp/tests/groupby/var_tests.cpp
  cpp/tests/lists/combine/concatenate_list_elements_tests.cpp
  cpp/tests/lists/combine/concatenate_rows_tests.cpp
  cpp/tests/replace/replace_nulls_tests.cpp
  cpp/tests/reshape/interleave_columns_tests.cpp
  cpp/tests/rolling/collect_ops_test.cpp
  cpp/tests/rolling/lead_lag_test.cpp
  cpp/tests/search/search_struct_test.cpp
  cpp/tests/strings/combine/join_list_elements_tests.cpp
  cpp/tests/strings/repeat_strings_tests.cpp
Due: clang-format

Change the iterator utility functions
  cpp/include/cudf_test/iterator_utilities.hpp
Due: clang-format

Make single/plural names consistent
  cpp/include/cudf_test/iterator_utilities.hpp
  cpp/tests/copying/copy_if_else_nested_tests.cpp
  cpp/tests/copying/get_value_tests.cpp
  cpp/tests/copying/scatter_struct_tests.cpp
  cpp/tests/groupby/argmax_tests.cpp
  cpp/tests/groupby/argmin_tests.cpp
  cpp/tests/groupby/count_scan_tests.cpp
  cpp/tests/groupby/count_tests.cpp
  cpp/tests/groupby/groups_tests.cpp
  cpp/tests/groupby/keys_tests.cpp
  cpp/tests/groupby/max_scan_tests.cpp
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/mean_tests.cpp
  cpp/tests/groupby/median_tests.cpp
  cpp/tests/groupby/min_scan_tests.cpp
  cpp/tests/groupby/min_tests.cpp
  cpp/tests/groupby/nth_element_tests.cpp
  cpp/tests/groupby/nunique_tests.cpp
  cpp/tests/groupby/product_tests.cpp
  cpp/tests/groupby/quantile_tests.cpp
  cpp/tests/groupby/replace_nulls_tests.cpp
  cpp/tests/groupby/std_tests.cpp
  cpp/tests/groupby/sum_of_squares_tests.cpp
  cpp/tests/groupby/sum_scan_tests.cpp
  cpp/tests/groupby/sum_tests.cpp
  cpp/tests/groupby/var_tests.cpp
  cpp/tests/lists/combine/concatenate_list_elements_tests.cpp
  cpp/tests/lists/combine/concatenate_rows_tests.cpp
  cpp/tests/replace/replace_nulls_tests.cpp
  cpp/tests/reshape/interleave_columns_tests.cpp
  cpp/tests/rolling/collect_ops_test.cpp
  cpp/tests/rolling/lead_lag_test.cpp
  cpp/tests/search/search_struct_test.cpp
  cpp/tests/strings/combine/join_list_elements_tests.cpp
  cpp/tests/strings/repeat_strings_tests.cpp
Due: clang-format

Fix test failures by copying the input vector into lambda
  cpp/include/cudf_test/iterator_utilities.hpp
Due: clang-format

revert unrelated changes
  python/cudf/cudf/tests/test_csv.py
Due: mypy

start refactoring stream creation
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Due: clang-format

Fixes out-of-bounds access for small files in unzip (#8498)
  cpp/src/io/comp/uncomp.cpp
  python/cudf/cudf/tests/test_csv.py
Due: clang-format, mypy

Fix offset of the string dictionary length stream (#8538)
  cpp/src/io/orc/writer_impl.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

KeyError
  python/cudf/cudf/_config/config.py
Due: mypy

REL v21.06.01 release
  cpp/CMakeLists.txt
  cpp/doxygen/Doxyfile
  cpp/libcudf_kafka/CMakeLists.txt
  docs/cudf/source/conf.py
  java/src/main/native/CMakeLists.txt
Due: mypy

add back xml output
  ci/gpu/build.sh
Due: none

cudf_kafka explicitly search for a matching cudf of the same patch version
  cpp/libcudf_kafka/cmake/thirdparty/CUDF_KAFKA_GetCUDF.cmake
Due: none

Updates for filter files and stripes when multiple input sources are specified as well as test changes to accomodate those changes
  python/cudf/cudf/io/orc.py
  python/cudf/cudf/tests/test_orc.py
Due: mypy

Support multiple input files/buffers for read_json (#8403)
  cpp/src/io/json/reader_impl.cu
  cpp/src/io/json/reader_impl.hpp
  cpp/tests/io/json_test.cpp
  python/cudf/cudf/_lib/json.pyx
  python/cudf/cudf/io/json.py
  python/cudf/cudf/tests/test_json.py
  python/cudf/cudf/utils/ioutils.py
Due: clang-format, mypy

cudf_kafka explicitly search for a matching cudf of the same patch version (#8543)
  cpp/libcudf_kafka/cmake/thirdparty/CUDF_KAFKA_GetCUDF.cmake
Due: none

a bit more tests
  cpp/include/cudf/lists/detail/scatter.cuh
  cpp/tests/utilities_tests/type_check_tests.cpp
Due: clang-format

styles
  cpp/tests/utilities_tests/type_check_tests.cpp
Due: clang-format

add tests
  python/cudf/cudf/tests/test_list.py
Due: mypy

Optimizations
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/Table.java
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/ColumnViewJni.cpp
Due: clang-format

style
  python/cudf/cudf/core/scalar.py
Due: mypy

all the previous tests pass
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/orc/stripe_data.cu
  cpp/src/io/utilities/column_buffer.cpp
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

code cleanup
  java/src/main/native/CMakeLists.txt
  java/src/main/native/src/ColumnViewJni.cpp
Due: clang-format

Update python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/column.py
Due: mypy

address reviewsA
  cpp/src/transform/jit/masked_udf_kernel.cu
Due: clang-format

fix typing for NA
  python/cudf/cudf/core/udf/typing.py
Due: mypy

minor name change
  cpp/src/transform/transform.cpp
Due: clang-format

Refactor `tests/iterator_utilities.hpp` functions (#8540)
  cpp/include/cudf_test/iterator_utilities.hpp
  cpp/tests/copying/copy_if_else_nested_tests.cpp
  cpp/tests/copying/get_value_tests.cpp
  cpp/tests/copying/scatter_struct_tests.cpp
  cpp/tests/groupby/argmax_tests.cpp
  cpp/tests/groupby/argmin_tests.cpp
  cpp/tests/groupby/count_scan_tests.cpp
  cpp/tests/groupby/count_tests.cpp
  cpp/tests/groupby/groups_tests.cpp
  cpp/tests/groupby/keys_tests.cpp
  cpp/tests/groupby/max_scan_tests.cpp
  cpp/tests/groupby/max_tests.cpp
  cpp/tests/groupby/mean_tests.cpp
  cpp/tests/groupby/median_tests.cpp
  cpp/tests/groupby/min_scan_tests.cpp
  cpp/tests/groupby/min_tests.cpp
  cpp/tests/groupby/nth_element_tests.cpp
  cpp/tests/groupby/nunique_tests.cpp
  cpp/tests/groupby/product_tests.cpp
  cpp/tests/groupby/quantile_tests.cpp
  cpp/tests/groupby/replace_nulls_tests.cpp
  cpp/tests/groupby/std_tests.cpp
  cpp/tests/groupby/sum_of_squares_tests.cpp
  cpp/tests/groupby/sum_scan_tests.cpp
  cpp/tests/groupby/sum_tests.cpp
  cpp/tests/groupby/var_tests.cpp
  cpp/tests/lists/combine/concatenate_list_elements_tests.cpp
  cpp/tests/lists/combine/concatenate_rows_tests.cpp
  cpp/tests/replace/replace_nulls_tests.cpp
  cpp/tests/reshape/interleave_columns_tests.cpp
  cpp/tests/rolling/collect_ops_test.cpp
  cpp/tests/rolling/lead_lag_test.cpp
  cpp/tests/search/search_struct_test.cpp
  cpp/tests/strings/combine/join_list_elements_tests.cpp
  cpp/tests/strings/repeat_strings_tests.cpp
Due: clang-format

WIP
  cpp/tests/groupby/merge_lists_tests.cpp
  cpp/tests/groupby/merge_sets_tests.cpp
Due: clang-format

Addressed review comments
  java/src/main/java/ai/rapids/cudf/ColumnVector.java
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/java/ai/rapids/cudf/Table.java
Due: none

Fix unit tests
  cpp/tests/groupby/merge_lists_tests.cpp
  cpp/tests/groupby/merge_sets_tests.cpp
Due: clang-format

temp commit
  cpp/tests/io/arrow_io_source_test.cpp
Due: clang-format

Fix headers
  cpp/tests/groupby/merge_lists_tests.cpp
  cpp/tests/groupby/merge_sets_tests.cpp
Due: clang-format
