Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

Use nvcomp's snappy decompressor in avro reader (#9181)
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/utilities/hostdevice_vector.hpp
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
  python/cudf/requirements/cuda-11.0/dev_requirements.txt
  python/cudf/requirements/cuda-11.2/dev_requirements.txt
  python/cudf/setup.py
Due: clang-format, mypy

Add shallow hash function and shallow equality comparison for column_view (#9312)
  cpp/include/cudf/column/column_view.hpp
  cpp/include/cudf/detail/hashing.hpp
  cpp/include/cudf/detail/utilities/hash_functions.cuh
  cpp/include/cudf_test/type_lists.hpp
  cpp/src/column/column_view.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/column/column_view_shallow_test.cpp
Due: clang-format

Remove table from __init__.
  python/cudf/cudf/_lib/__init__.py
Due: mypy

Rename intermediate data to hash state.
  cpp/src/hash/sha_hash.cu
Due: clang-format

Use HashDispatcher for type dispatch.
  cpp/src/hash/sha_hash.cu
Due: clang-format

Consolidate more methods in Frame (#9305)
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/multiindex.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_search.py
Due: mypy

Cleanup of templates and class/variable names.
  cpp/src/hash/sha_hash.cu
Due: clang-format

Reorganize headers, update error message.
  cpp/src/hash/sha_hash.cu
Due: clang-format

Generate null mask for all hash values.
  cpp/src/hash/sha_hash.cu
Due: clang-format

Refactor to_clockrate using type dispatcher
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/utilities/time_utils.cuh
Due: clang-format

Update tests for new null behavior.
  cpp/tests/hashing/hash_test.cpp
Due: clang-format

Optionally nullify out-of-bounds indices in segmented_gather().
  cpp/include/cudf/lists/detail/gather.cuh
  cpp/include/cudf/lists/gather.hpp
  cpp/src/lists/copying/segmented_gather.cu
  cpp/tests/copying/segmented_gather_list_tests.cpp
Due: clang-format

Prevent Numba Performance Warnings in cuDF
  python/cudf/cudf/__init__.py
Due: mypy

fix doxygen copydoc ref
  cpp/include/cudf/detail/gather.hpp
Due: clang-format

remove unneeded capture vars
  cpp/tests/iterator/indexalator_test.cu
Due: clang-format

Fix default cuda version in prebuild.sh for arm64
  ci/cpu/prebuild.sh
Due: none

string format to cython.
  .pre-commit-config.yaml
  python/cudf/cudf/_lib/string_casting.pyx
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update __init__.py
  python/cudf/cudf/__init__.py
Due: mypy

pin transformers
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  python/cudf/requirements/cuda-11.0/dev_requirements.txt
  python/cudf/requirements/cuda-11.2/dev_requirements.txt
  python/cudf/setup.py
Due: mypy

Update __init__.py
  python/cudf/cudf/_lib/__init__.py
Due: mypy

Update __init__.py
  python/cudf/cudf/core/udf/__init__.py
Due: mypy

address reviews
  python/cudf/cudf/core/udf/lowering.py
  python/cudf/cudf/core/udf/pipeline.py
  python/cudf/cudf/core/udf/typing.py
  python/cudf/cudf/tests/test_udf_masked_ops.py
Due: mypy

Minor updates to to_clockrate
  cpp/src/io/orc/reader_impl.cu
  cpp/src/io/utilities/time_utils.cuh
Due: clang-format

add benchmarks for copy-if-else and replace-nans
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/copying/copy_if_else_benchmark.cpp
  cpp/benchmarks/replace/clamp_benchmark.cpp
  cpp/benchmarks/replace/nans_benchmark.cpp
Due: clang-format

split up copy_tests into cu and cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/copying/copy_tests.cpp
  cpp/tests/copying/detail_copy_tests.cu
Due: clang-format

Use optional-iterator for copy-if-else kernel
  cpp/include/cudf/detail/copy_if_else.cuh
  cpp/include/cudf/detail/indexalator.cuh
  cpp/src/copying/copy.cu
  cpp/src/copying/segmented_shift.cu
  cpp/src/dictionary/replace.cu
  cpp/src/replace/nans.cu
  cpp/tests/copying/copy_tests.cu
Due: clang-format

Convert from_py_table to a def function.
  python/cudf/cudf/_lib/copying.pxd
  python/cudf/cudf/_lib/copying.pyx
Due: none

clang-format.
  cpp/src/hash/md5_hash.cu
Due: clang-format

Replace magic number with named constant.
  cpp/src/hash/md5_hash.cu
Due: clang-format

Remove unused method parameter.
  python/cudf/cudf/core/dataframe.py
Due: mypy

Use f-string in warning message.
  python/cudf/cudf/core/join/_join_helpers.py
Due: mypy

use uvector resize to avoid creating a temp column_view
  cpp/src/copying/copy.cu
  cpp/src/rolling/lead_lag_nested_detail.cuh
Due: clang-format

Fix some unused variable warnings in libcudf
  cpp/src/groupby/sort/group_tdigest.cu
  cpp/src/lists/drop_list_duplicates.cu
Due: clang-format

remove temporary commented out code
  cpp/src/groupby/sort/group_tdigest.cu
Due: clang-format

Update tests to skip unused method argument.
  python/cudf/cudf/tests/test_joining.py
Due: mypy

Always initialize is_range_index regardless of the value of json_str.
  python/cudf/cudf/_lib/parquet.pyx
Due: none

Rewrite expression to ensure that c_inclusive is initialized by Cython.
  python/cudf/cudf/_lib/reduce.pyx
Due: none

Use a size_type for iteration index instead of a signed int to avoid signed/unsigned comparison warning.
  python/cudf/cudf/_lib/utils.pyx
Due: none

Use size_t because cudf::size_type is signed.
  python/cudf/cudf/_lib/utils.pyx
Due: none

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
