Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

.pre-commit-config.yaml:

repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.6.4
        hooks:
              - id: isort
                alias: isort-cudf
                name: isort-cudf
                args: ["--settings-path=python/cudf/setup.cfg"]
                files: python/cudf/.*
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
              - id: isort
                alias: isort-cudf-kafka
                name: isort-cudf-kafka
                args: ["--settings-path=python/cudf_kafka/setup.cfg"]
                files: python/cudf_kafka/.*
                types: [text]
                types_or: [python, cython]
              - id: isort
                alias: isort-custreamz
                name: isort-custreamz
                args: ["--settings-path=python/custreamz/setup.cfg"]
                files: python/custreamz/.*
              - id: isort
                alias: isort-dask-cudf
                name: isort-dask-cudf
                args: ["--settings-path=python/dask_cudf/setup.cfg"]
                files: python/dask_cudf/.*
      - repo: https://github.com/ambv/black
        rev: 19.10b0
        hooks:
              - id: black
                files: python/.*
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.3
        hooks:
              - id: flake8
                alias: flake8
                name: flake8
                args: ["--config=python/.flake8"]
                files: python/.*\.py$
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=python/.flake8.cython"]
                types: [cython]
      - repo: local
        hooks:
              - id: clang-format
                name: clang-format
                description: Format files with ClangFormat.
                entry: clang-format -i
                language: system
                files: \.(cu|cuh|h|hpp|cpp|inl)$
                args: ['-fallback-style=none']
      - repo: local
        hooks:
              - id: mypy
                name: mypy
                description: mypy
                pass_filenames: false
                entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
                language: system
                types: [python]
      -   repo: https://github.com/pycqa/pydocstyle
          rev: 6.0.0
          hooks:
              - id: pydocstyle
                args: ["--config=python/.flake8"]


default_language_version:
      python: python3

pandas dtype handling parquet writer Writing pandas extension types to parquet file Prevents nullable columns to be read as float columns with NaNs
  python/cudf/cudf/_lib/utils.pyx
  python/cudf/cudf/tests/test_parquet.py
Due: mypy

Refactor ColumnMethods and its subclasses to remove `column` argument and require `parent` argument (#8306)
  python/cudf/cudf/_lib/strings/__init__.py
  python/cudf/cudf/_lib/strings/combine.pyx
  python/cudf/cudf/_lib/transpose.pyx
  python/cudf/cudf/_typing.py
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/column/__init__.py
  python/cudf/cudf/core/column/categorical.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/column/lists.py
  python/cudf/cudf/core/column/methods.py
  python/cudf/cudf/core/column/string.py
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/join/_join_helpers.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/core/tools/numeric.py
  python/cudf/cudf/io/csv.py
  python/cudf/cudf/testing/testing.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Don't accept an `index` argument
  python/cudf/cudf/core/dataframe.py
Due: mypy

Alias numpy issubdtype.
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/frame.py
Due: mypy

Implement `__setitem__` for `StructColumn` (#8737)
  python/cudf/cudf/_lib/scalar.pyx
  python/cudf/cudf/core/column/struct.py
  python/cudf/cudf/core/indexing.py
  python/cudf/cudf/core/scalar.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_struct.py
Due: mypy

Rearrange some logic in as_column
  python/cudf/cudf/core/column/column.py
Due: mypy

Pin `mimesis` to `<4.1` (#8745)
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  python/cudf/requirements/cuda-11.0/dev_requirements.txt
  python/cudf/requirements/cuda-11.2/dev_requirements.txt
Due: none

add NullMax, NullMin string unit tests
  cpp/tests/binaryop/binop-compiled-test.cpp
Due: clang-format

Add `DataFrame.to_struct()` method to convert a DataFrame to a struct Series (#8728)
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/tests/test_struct.py
Due: mypy

add test
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Remove cudf unneeded build time requirement of the cuda driver
  cpp/CMakeLists.txt
Due: none

fix an issue with valid_buf in columns encode
  cpp/src/io/orc/stripe_enc.cu
  python/cudf/cudf/tests/test_orc.py
Due: clang-format, mypy

use table_view const&
  cpp/include/cudf/transform.hpp
  cpp/src/transform/transform.cpp
  python/cudf/cudf/_lib/cpp/transform.pxd
Due: clang-format

DOC v21.10 Updates
  CHANGELOG.md
  conda/environments/cudf_dev_cuda11.0.yml
  conda/environments/cudf_dev_cuda11.2.yml
  cpp/CMakeLists.txt
  cpp/doxygen/Doxyfile
  cpp/examples/basic/CMakeLists.txt
  cpp/libcudf_kafka/CMakeLists.txt
  docs/cudf/source/conf.py
  java/src/main/native/CMakeLists.txt
Due: mypy

switch to a lambda
  cpp/src/transform/transform.cpp
Due: clang-format

make an optimization
  python/cudf/cudf/core/_internals/where.py
Due: mypy

Rewrite binary operations for improved performance and additional type support (#8598)
  python/cudf/cudf/api/types.py
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_binops.py
Due: mypy

branch out logic into internal method
  python/cudf/cudf/core/column/column.py
Due: mypy

review suggestions pt1
  cpp/src/io/orc/dict_enc.cu
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/writer_impl.cu
  cpp/src/io/orc/writer_impl.hpp
Due: clang-format

review
  cpp/src/copying/copy.cu
Due: clang-format

return doxygen
  cpp/src/copying/copy.cu
Due: clang-format

use circular buffer in multibyte_split to allow for stream inputs
  cpp/CMakeLists.txt
  cpp/include/cudf/io/text/device_istream.hpp
  cpp/include/cudf/io/text/host_device_istream.hpp
  cpp/include/cudf/io/text/multibyte_split.hpp
  cpp/src/io/text/host_device_istream.cpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
  cpp/tests/io/text/trie_test.cpp
Due: clang-format

Apply metadata to keys before returning in `Frame._encode` (#8560)
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_reshape.py
Due: mypy

Fix `where` to handle `DataFrame` & `Series` input combination (#8747)
  python/cudf/cudf/core/_internals/where.py
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Bug fix: `replace_nulls_policy` functor not returning correct indices for gathermap (#8699)
  cpp/include/cudf/detail/replace/nulls.cuh
  cpp/tests/replace/replace_nulls_tests.cpp
  python/cudf/cudf/tests/test_replace.py
Due: clang-format, mypy

Update cpp/src/transform/transform.cpp
  cpp/src/transform/transform.cpp
Due: clang-format

updates
  cpp/src/transform/transform.cpp
Due: clang-format

fix multiIndex issues
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_reshape.py
Due: mypy

update multibyte_split to work with streaming inputs
  cpp/include/cudf/io/text/device_istream.hpp
  cpp/include/cudf/io/text/host_device_istream.hpp
  cpp/src/io/text/host_device_istream.cpp
  cpp/src/io/text/multibyte_split.cu
  cpp/tests/io/text/multibyte_split_test.cpp
Due: clang-format

consolidate two passes of stream-scanning to a single function
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

aggregate arg to input struct rank refactor
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/sort/group_dense_rank_scan.cu
  cpp/src/groupby/sort/group_rank_scan.cu
  cpp/src/groupby/sort/group_scan.hpp
  cpp/src/groupby/sort/scan.cpp
  cpp/src/reductions/scan/scan.cuh
  cpp/src/reductions/scan/scan_inclusive.cu
  cpp/tests/groupby/rank_scan_tests.cpp
  cpp/tests/reductions/scan_tests.cpp
  java/src/main/java/ai/rapids/cudf/Aggregation.java
  java/src/main/native/src/AggregationJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
  java/src/test/java/ai/rapids/cudf/TableTest.java
Due: clang-format

Remove isort overrides
  ci/checks/style.sh
  python/cudf/cudf/__init__.py
  python/dask_cudf/dask_cudf/io/tests/test_json.py
Due: mypy

add tile_state partial to multibyte_split but dont use yet
  cpp/include/cudf/io/text/trie.hpp
  cpp/src/io/text/multibyte_split.cu
Due: clang-format

Use buffer in pack serialization
  python/cudf/cudf/_lib/copying.pyx
Due: none

add test coverage
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Due: mypy

trigger format
  python/dask_cudf/dask_cudf/io/tests/test_parquet.py
Due: mypy

Move BM_join to a new join_benchmark_common header file
  cpp/benchmarks/join/join_benchmark_common.hpp
Due: clang-format

Cleanups. Moved exception to read_slice Started reported actual read size in device_read_async New clang format rules
  cpp/src/io/parquet/reader_impl.cu
  cpp/src/io/utilities/file_io_utilities.cpp
Due: clang-format

header and comment cleanup
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/groupby/sort/group_scan.hpp
  cpp/src/reductions/scan/scan_inclusive.cu
Due: clang-format
