Repository rapidsai/cudf: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, mypy

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format -i
  language: system
  args:
  - -fallback-style=none

mypy:
  name: mypy
  description: mypy
  pass_filenames: false
  entry: mypy --config-file=python/cudf/setup.cfg python/cudf/cudf
  language: system

rename CORR to CORRELATION, added correlation_type as arg
  cpp/include/cudf/aggregation.hpp
  cpp/include/cudf/detail/aggregation/aggregation.hpp
  cpp/src/aggregation/aggregation.cpp
  cpp/src/groupby/hash/groupby.cu
  cpp/src/groupby/sort/aggregate.cpp
  cpp/src/groupby/sort/group_corr.cu
  cpp/tests/groupby/mean_tests.cpp
Due: clang-format

Improvements
  python/cudf/cudf/core/resample.py
Due: mypy

Add closed, label
  python/cudf/cudf/core/groupby/groupby.py
Due: mypy

Handle `label` and `closed` parameters in groupby-resample
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/resample.py
  python/cudf/cudf/tests/test_groupby.py
Due: mypy

Update the resample method
  python/cudf/cudf/core/frame.py
Due: mypy

Add first resampling test
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_resampling.py
Due: mypy

Remove source_data usage outside of multiindex.py.
  python/cudf/cudf/core/dataframe.py
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/index.py
Due: mypy

Fix test names.
  python/cudf/cudf/tests/test_repr.py
Due: mypy

First pass at removing uses of source_data in multiindex code.
  python/cudf/cudf/core/multiindex.py
Due: mypy

Add additional resampling methods
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/resample.py
  python/cudf/cudf/tests/test_resampling.py
Due: mypy

First commit to add nvcomp snappy decomp to avro Decompression works and newly added pytest passes. Needs cleanup and benchmarking
  cpp/src/io/avro/reader_impl.cu
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
Due: clang-format, mypy

Cleanups
  cpp/src/io/avro/reader_impl.cu
Due: clang-format

compact null masks - complete
  cpp/src/io/orc/stripe_enc.cu
Due: clang-format

Update read_orc_statistics to read sum only if exists (defaults to 0 without the check)
  python/cudf/cudf/io/orc.py
Due: mypy

Add test for reading orc data with empty sum statistics
  python/cudf/cudf/tests/test_orc.py
Due: mypy

Add begin and end accessors to hd_vec. And more cleanups
  cpp/src/io/avro/reader_impl.cu
  cpp/src/io/utilities/hostdevice_vector.hpp
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
Due: clang-format, mypy

Collect deflate decomp code into a single branch and add pytest for deflate codec
  cpp/src/io/avro/reader_impl.cu
  python/cudf/cudf/tests/test_avro_reader_fastavro_integration.py
Due: clang-format, mypy

removing astype and adding more tests.
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
  python/cudf/cudf/tests/test_datetime.py
Due: mypy

fixing style issues.
  python/cudf/cudf/core/index.py
  python/cudf/cudf/core/series.py
Due: mypy

Update build.sh
  ci/gpu/build.sh
Due: none

Add handling for nulls in `dask_cudf.sorting.quantile_divisions` (#9171)
  python/dask_cudf/dask_cudf/sorting.py
  python/dask_cudf/dask_cudf/tests/test_sort.py
Due: mypy

Fix for joining with MultiIndex columns
  python/cudf/cudf/core/join/join.py
  python/cudf/cudf/tests/test_joining.py
Due: mypy

More resample + tests
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/tests/test_resampling.py
Due: mypy

address reviews
  python/cudf/cudf/tests/test_dataframe.py
  python/cudf/cudf/tests/test_index.py
Due: mypy

Some reorg
  python/cudf/cudf/core/groupby/groupby.py
  python/cudf/cudf/core/resample.py
Due: mypy

add comment
  python/cudf/cudf/tests/test_dataframe.py
Due: mypy

Standardize comments for operators with libcudf consumer-specific behaviors.
  java/src/main/java/ai/rapids/cudf/ast/BinaryOperator.java
Due: none

make `kind` an optional param.
  python/cudf/cudf/core/_base_index.py
  python/cudf/cudf/core/column/column.py
  python/cudf/cudf/core/index.py
Due: mypy

Remove non-detail header
  cpp/src/reshape/one_hot_encoding.cu
Due: clang-format

add shallow_hash(column_view)
  cpp/include/cudf/column/column_view.hpp
  cpp/include/cudf/types.hpp
  cpp/src/column/column_view.cpp
Due: clang-format

Handle the on parameter
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/resample.py
  python/cudf/cudf/tests/test_resampling.py
Due: mypy

add CompoundTypes to type_lists
  cpp/include/cudf_test/type_lists.hpp
Due: clang-format

add shallow_hash tests
  cpp/tests/CMakeLists.txt
  cpp/tests/column/column_view_shallow_test.cpp
Due: clang-format

Second round of PR reviews.
  cpp/include/cudf/ast/expressions.hpp
  java/src/main/java/ai/rapids/cudf/ast/BinaryOperator.java
Due: clang-format

cudf-config now hold the correct documentation
  cpp/CMakeLists.txt
Due: none

The build dir cudf-config correctly injects the final code block
  cpp/CMakeLists.txt
Due: none

Handle by/level
  python/cudf/cudf/core/frame.py
  python/cudf/cudf/core/resample.py
  python/cudf/cudf/tests/test_resampling.py
Due: mypy

add column copy test
  cpp/tests/column/column_view_shallow_test.cpp
Due: clang-format

add shallow_equal(column_view) and tests
  cpp/include/cudf/column/column_view.hpp
  cpp/src/column/column_view.cpp
  cpp/tests/column/column_view_shallow_test.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(cu|cuh|h|hpp|cpp|inl)$
  mypy: any of: \.py$
